.faq__accordion-box {
	position: relative;
	background: #fff;
	border-left: 1.4rem solid #fff;
	border-radius: .6rem;
	padding: 1.4rem 1.8rem;
	overflow: hidden;
	transition: all .6s 1.8s;
	& + .faq__accordion-box {
		margin-top: 2.4rem;
	}
	&::after {
		@include myMask();
		transition: all 1s .8s;
	}
	&.lazyloaded {
		border-left: 1.4rem solid $red;
		&::after {
			transform: translateX(-100%);
		}
	}
}
.faq__question,
.faq__answer {
	dt {
		display: flex;
		font-size: 1.4rem;
		width: 2.4rem;
		height: 2.4rem;
		align-items: center;
		justify-content: center;
		line-height: 1;
		border-radius: 100%;
		color: #fff;
		opacity: 0;
		transform: translateY(1rem);
		transition: all 1s 2s;
	}
	dd {
		width: calc(100% - 2.4rem);
		padding-left: .8rem;
		line-height: 1.4;
		padding-top: .2rem;
		text-align: justify;
	}
}
.lazyloaded .faq__question,
.lazyloaded .faq__answer {
	dt {
		opacity: 1;
		transform: translateY(0);
	}
}
.faq__question {
	margin-bottom: 1.4rem;
	dt {
		background: $red;
	}
	dd {
		font-size: 1.6rem;
		font-weight: bold;
	}
}
.faq__answer {
	dt {
		background: $navy;
	}
	dd {
		position: relative;
		font-weight: normal;
		overflow: hidden;
		transition: height .6s;
		word-break: break-all;
		opacity: 0;
		br {
			display: none;
		}
	}
	b,
	strong {
		font-weight: bold;
	}
	i {
		font-style: italic;
	}
	a {
		color: $blue-link;
		text-decoration: underline;
	}
}
.accordion__more {
	padding-top: .7rem;
}
.accordion__more-button {
	font-size: 1rem;
	appearance: none;
	border: none;
	margin-left: auto;
	background: transparent;
	padding-right: .4rem;
	.icon {
		width: 1.4rem;
		fill: currentColor;
		margin-left: .7rem;
		margin-top: -.1rem;
		transform-origin: center center;
		transition: all .6s;
	}
	&.-active {
		color: $red;
		.icon {
			transform: rotate(180deg);
		}
	}
}

// Mobile ( Large )
@media screen and (min-width: $mobile-large) {
	.faq__accordion-box {
		border-radius: 1rem;
		border-left-width: 1.8rem;
		padding: 2.4rem 2.8rem 2.4rem 1.8rem;
		& + .faq__accordion-box{
			margin-top: 2.8rem;
		}
	}
	.faq__question,
	.faq__answer {
		dt {
			font-size: 1.6rem;
			width: 2.8rem;
			height: 2.8rem;
		}
		dd {
			width: calc(100% - 2.8rem);
			padding-left: 2rem;
			padding-top: .3rem;
		}
	}
	.faq__question {
		margin-bottom: 2rem;
		dd {
			font-size: 2.2rem;
			padding-top: 0;
		}
	}
	.faq__answer {
		dd {
			font-size: 1.8rem;
		}
	}
	.accordion__more {
		padding-top: 2rem;
	}
	.accordion__more-button {
		font-size: 1.2rem;
		.icon {
			width: 1.8rem;
			margin-left: .9rem;
			margin-top: 0;
		}
	}
}
// Tablet ( Small )
@media screen and (min-width: $tablet-small) {
	.faq__accordion-box {
		& + .faq__accordion-box {
			margin-top: 3.4rem;
		}
	}
	.faq__answer {
		dd {
			br {
				display: block;
			}
		}
	}
}
// Tablet ( Medium )
@media screen and (min-width: $tablet-medium) {
	div.faq__accordion-box {
		padding: 2.2rem 3rem;
		border-left-width: 2.6rem;
		border-radius: 1.4rem;
		& + .faq__accordion-box{
			margin-top: 6rem;
		}
	}
	.faq__question,
	.faq__answer {
		padding-left: 1.8rem;
		dd {
			padding-left: 2.6rem;
		}
	}
	.faq__question {
		margin-bottom: 2.8rem;
		dd {
			font-size: 2.8rem;
			padding-top: 0;
			transform: translateY(-.4rem);
		}
	}
	.faq__answer {
		dd {
			font-size: 2rem;
			transform: translateY(-.2rem);
		}
	}
	.accordion__more {
		padding-top: 1rem;
	}
	.accordion__more-button {
		font-size: 1.4rem;
		.icon {
			width: 2.2rem;
			margin-left: 1.1rem;
			margin-top: -.15rem;
		}
	}
}
// // Tablet ( Large )
// @media screen and (min-width: $tablet-largev) {
// }