.aside {
	padding: 4rem 0 4rem;
	opacity: 0;
	transform: translateY(20rem);
	transition: all 1s .8s;
	&.lazyloaded {
		opacity: 1;
		transform: translateY(0);
	}
}
.aside__inner {
	border-bottom: .3rem solid $navy;
}
.aside__pagefeed {
	padding-bottom: 4rem;
	li {
		& + li {
			margin-left: auto;
		}
	}
}
.aside__title {
	font-size: 1.6rem;
	span {
		display: inline-block;
		position: relative;
		&::before {
			display: block;
			content: "";
			position: absolute;
			left: 0;
			bottom: -.3rem;
			width: 100%;
			height: .3rem;
			background: $red;
		}
	}
}
// Mobile ( Large )
@media screen and(min-width: $mobile-large) {
	.aside__pagefeed {
		padding-bottom: 4.8rem;
	}
	.aside__title {
		font-size: 1.8rem;
	}
}
// Tablet ( Small )
@media screen and(min-width: $tablet-medium) {
	.aside {
		padding: 6.8rem 0;
	}
	.aside__pagefeed {
		padding-bottom: 6.8rem;
		font-size: 1.6rem;
	}
	.aside__title {
		width: 94%;
		font-size: 2.4rem;
		margin: 0 auto;
		padding: 0 2.4rem;
		span {
			padding-bottom: .4rem;
		}
	}
}
// Tablet ( Small )
@media screen and(min-width: $tablet-large) {
	.aside {
		padding: 8.8rem 0;
	}
	.aside__pagefeed {
		padding-bottom: 8.8rem;
		font-size: 2rem;
	}
	.aside__title {
		font-size: 2.6rem;
		padding: 0 2.6rem;
	}
}
// Tablet ( Small )
@media screen and(min-width: $pc-small) {
	.aside {
		padding: 10.8rem 0;
		.aside__pagefeed {
			padding-bottom: 12.8rem;
		}
		.aside__title {
			font-size: 3rem;
			padding: 0 6rem;
		}
	}
}