.breadcrumb {
	padding: 1rem 0 2.8rem;
}
.breadcrumb__list {
	font-size: 1rem;
	flex-wrap: wrap;
	li {
		& + li {
			&::before {
				display: inline-block;
				content: "";
				width: .5rem;
				height: .5rem;
				border-width: .1rem;
				border-style: solid;
				border-color: #676767 #676767 transparent transparent;
				transform: rotate(45deg);
				margin: 0 .4rem 0 .2rem;
			}
		}
	}
	a {
		color: #676767;
	}
}
@media screen and (min-width: $tablet-small) {
	.breadcrumb {
		padding: 1.2rem 0 4.8rem;
	}
}
// Tablet ( Medium )
@media screen and (min-width: $tablet-medium) {
	.breadcrumb__list {
		font-size: 1.2rem;
		li {
			& + li {
				&::before {
					width: .6rem;
					height: .6rem;
					margin: 0 .8rem 0 .4rem;
				}
			}
		}
	}
}

// Tablet ( Large )
@media screen and (min-width: $tablet-large) {
	div.breadcrumb {
		padding: 2.4rem 0 6.8rem;
	}
}

// PC ( Small )
@media screen and (min-width: $pc-small) {
	div.breadcrumb {
		.breadcrumb__list {
			font-size: 1.4rem;
			li {
				& + li {
					&::before {
						width: .7rem;
						height: .7rem;
						margin: 0 1.2rem 0 .5rem;
					}
				}
			}
			}
	}
}