.button {
	display: inline-block;
	position: relative;
	width: 27.6rem;
	font-size: 1.6rem;
	line-height: 1;
	font-weight: bold;
	padding: 2.2rem 0;
	text-align: center;
	&.-white {
		color: #fff;
		.button__line {
			background: #fff;
		}
	}
	&.-black {
		color: $navy;
		.button__line {
			background: $navy;
		}
	}
}
button.button {
	appearance: none;
	background: #fff;
	border: none;
}
.button__text {
	display: inline-block;
	transform: scale(0);
	transition: transform 1s 2s cubic-bezier(.7,.68,.26,1.61);
}
.button__line {
	display: block;
	position: absolute;
	transition: width 1s 1s cubic-bezier(.7,.68,.26,1.61), height 1s 1.1s cubic-bezier(.7,.68,.26,1.61);
	&.-top,
	&.-bottom {
		width: 0;
		height: .2rem;
	}
	&.-right,
	&.-left {
		width: .2rem;
		height: 0;
	}
	&.-top {
		top: 0;
		left: 0;
	}
	&.-right {
		top: 0;
		right: 0;
	}
	&.-bottom {
		bottom: 0;
		right: 0;
	}
	&.-left {
		top: 0;
		left: 0;
	}
}
.button.lazyloaded {
	.button__text {
		transform: scale(1);
	}
	.button__line {
		&.-top,
		&.-bottom {
			width: 100%;
		}
		&.-right,
		&.-left {
			height: 100%;
		}
	}
}
// Mobile ( Large )
@media screen and (min-width: $mobile-large) {
	.button {
		width: 29.3rem;
		font-size: 2rem;
	}
}

// PC ( Small )
@media screen and (min-width: $pc-small) {
	.button {
		width: 38.9rem;
		font-size: 2.4rem;
		padding: 2.35rem 0;
	}
}