.card-wrapper {
	padding-bottom: 6.8rem;
}
.card {
	& +.card {
		margin-top: 6.8rem;
	}
}
.card__content {
	position: relative;
	border: .3rem solid #000;
	border-radius: .6rem;
	padding: 1.4rem 1.4rem 3.2rem;
}
.card__link {
	display: block;
	position: relative;
}
.card__small-text {
	position: relative;
	margin-top: 1.4rem;
	padding-bottom: .7rem;
	transition: all .4s .4s;
	&::before {
		display: block;
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: .1rem;
		background: $red;
	}
}
.card__title {
	position: relative;
	font-size: 1.8rem;
	font-weight: bold;
	line-height: 1.4;
	word-break: break-all;
	margin-top: .7rem;
	margin-bottom: 1.4rem;
	transition: all .4s .4s;
}
.card__tag {
	max-height: 5.2rem;
	overflow: hidden;
}
.card__date {
	display: flex;
	position: absolute;
	bottom: -7rem;
	right: 1.4rem;
	z-index: 2;
	width: 7rem;
	height: 7rem;
	font-size: 1rem;
	justify-content: center;
	align-items: center;
	border: .3rem solid #000;
	background: #fff;
	border-radius: 100%;
	overflow: hidden;
	transform: translateY(-3.5rem);
}
.swiper-container {
	.card {
		& +.card {
			margin-top: 0;
		}
	}
	.card__content {
		border-color: #ddd;
		transition: all .6s .6s;
	}
	.card__image {
		transform: scale(.5);
		transform-origin: center center;
		transition: all .6s .2s cubic-bezier(.7,.68,.26,1.61);
		background: #fff;
		overflow: hidden;
	}
	.card__small-text,
	.card__title,
	.card__tag {
		overflow: hidden;
		&::after {
			@include myMask();
		}
	}
	.card__small-text,
	.card__tag {
		&:after {
			transition: all .6s 1s;
		}
	}
	.card__title {
		&:after {
			transition: all .6s .8s;
		}
	}
	.card__date {
		background: #faf8f5;
		color: #ddd;
		border-color: currentColor;
		transition: all 1.2s 1.4s;
	}
}
.card[class *= "active"] {
	.card__content {
		border-color: #000;
	}
	.card__image {
		transform: scale(1);
		box-shadow: .4rem .4rem 1rem 0 rgba(0, 0, 0, .3);
	}
	.card__small-text,
	.card__title,
	.card__tag {
		&::after {
			transform: translateX(100%);
		}
	}
	.card__date {
		color: #000;
	}
}
.tag-header {
	text-align: center;
	padding-bottom: 2.8rem;
}
.tag-header__ttile {
	position: relative;
	font-size: 2.6rem;
	line-height: 1;
}
.tag-header__sub {
	font-size: 1.2rem;
	line-height: 1;
	padding-top: .6rem;
}
.list-tab {
	max-width: 98rem;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 1.4rem;
	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		li {
			margin-bottom: 1rem;
			& + li {
				margin-left: 1rem;
			}
		}
		a {
			padding: 0 .7rem .4rem;
			border-bottom-color: #000;
		}
	}
}
// Mobile ( Large )
@media screen and (min-width: $mobile-large) {
	.card__content {
		border-radius: 1rem;
	}
	.card__small-text {
		font-size: 1.6rem;
		margin-top: 2rem;
		padding-bottom: 1.3rem;
	}
	.card__title {
		font-size: 2.2rem;
		margin-top: 2rem;
		margin-bottom: 3.2rem;
	}
	.card__tag {
		height: 5.8rem;
		max-height: none;
	}
	.card__date {
		bottom: -7.6rem;
		width: 7.6rem;
		height: 7.6rem;
	}
	.swiper-container {
		.card__content {
			padding: 2.2rem 2.2rem 4rem;
		}
	}
	.tag-header__ttile {
		font-size: 3rem;
	}
	.tag-header__sub {
		font-size: 1.4rem;
		padding-top: 1rem;
	}
	.list-tab {
		ul {
			li {
				margin-bottom: 1.4rem;
				& + li {
					margin-left: 1.4rem;
				}
			}
		}
	}
}
// Tablet ( Small )
@media screen and (min-width: $tablet-small) {
	.swiper-container {
		.card__content {
			padding: 2.2rem 2.2rem 4rem;
		}
	}
}
// Tablet ( Medium )
@media screen and (min-width: $tablet-medium) {
	.swiper-container {
		.swiper-wrapper {
			.card__content {
				padding: 3rem 3rem 6rem;
			}
		}
	}
	.card {
		& +.card {
			margin-top: 0;
		}
	}
	.card-wrapper {
		padding-bottom: 14.8rem;
		.card {
			width: 49%;
			margin-right: 2%;
			&:nth-of-type(n+3) {
				margin-top: 8rem;
			}
			&:nth-of-type(2n) {
				margin-right: 0;
			}
		}
		.card__image {
			position: relative;
			padding-top: 60%;
			overflow: hidden;
			img {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
			}
		}
		.card__title {
			font-size: 2.2rem;
			height: 4.2em;
			margin-top: 2rem;
			margin-bottom: 3.2rem;
			overflow: hidden;
		}
	}
	.tag-header__ttile {
		font-size: 3.2rem;
	}
	.tag-header__sub {
		font-size: 1.6rem;
	}
	.list-tab {
		padding-bottom: 2.8rem;
		ul {
			li {
				margin-bottom: 2rem;
				& + li {
					margin-left: 2rem;
				}
			}
		}
	}
	.tag-header {
		padding-bottom: 4rem;
	}
	.tag-header__ttile {
		font-size: 3.6rem;
	}
	.list-tab {
		padding-bottom: 4rem;
		ul {
			a {
				font-size: 1.8rem;
				padding: 0 1rem .6rem;
			}
		}
	}
}
// Tablet ( Large )
@media screen and (min-width: $tablet-large) {
	.swiper-container {
		.swiper-wrapper {
			.card {
				position: relative;
				transform: translate(21rem, 0);
				padding-top: 3.8rem;
			}
			.card__content {
				position: static;
				width: calc(100% - 21rem);
				padding: 0 0 0;
			}
			.card__image {
				position: absolute;
				top: 2rem;
				left: -21rem;
				width: 42rem;
				transition: all .6s .8s;
				img {
					filter: grayscale(100%);
					transition: filter .6s .8s;
				}
			}
			.card__small-text,
			.card__title,
			.card__tag {
				margin-left: 23rem;
				margin-right: 2rem;
			}
			.card__small-text {
				margin-top: 3rem;
				padding-bottom: 1rem;
			}
			.card__title {
				margin-top: 1rem;
				margin-bottom: 2rem;
			}
			.card__tag {
				margin-bottom: 1.5rem;
			}
			.card__small-text,
			.card__tag {
				&:after {
					transition: all 1s 1s;
				}
			}
			.card__title {
				&:after {
					transition: all 1s .8s;
				}
			}
			.card__tag {
				&:after {
					z-index: 2;
				}
			}
			.card__date {
				top: 3.8rem;
				right: 21rem;
				bottom: auto;
				width: 7.6rem;
				height: 7.6rem;
				margin-right: 4rem;
			}
		}
	}
	.card[class *= "active"] {
		.card__image {
			img {
				filter: grayscale(0);
			}
		}
	}
	.card-wrapper[class *= "flex"] {
		padding-bottom: 16.8rem;
		.card {
			width: 32%;
			max-width: 39.8rem;
			&:nth-of-type(3) {
				margin-top: 0;
			}
			&:nth-of-type(n+4) {
				margin-top: 8rem;
			}
			&:nth-of-type(2n) {
				margin-right: 2%;
			}
			&:nth-of-type(3n) {
				margin-right: 0;
			}
		}
		.card__small-text {
			margin-top: 3rem;
		}
		.card__title {
			margin-top: 1.5rem;
			margin-bottom: 4.4rem;
		}
	}
	.tag-header {
		position: relative;
		text-align: left;
		padding-bottom: 6.8rem;
		&::before {
			display: block;
			content: "";
			position: absolute;
			top: 1rem;
			left: -50%;
			width: 100%;
			height: .4rem;
			background: $red;
		}
	}
	.tag-header__content {
		position: relative;
		background: #fff;
		z-index: 2;
		margin-left: 4rem;
		padding-left: 1.6rem;
	}
	p.tag-header__sub {
		padding-top: 2rem;
	}
	div.list-tab {
		padding-bottom: 6.6rem;
		ul {
			li {
				margin-bottom: 2.4rem;
				& + li {
					margin-left: 4rem;
				}
			}
			a {
				font-size: 2rem;
			}
		}
	}
	@media (hover) {
		.swiper-container {
			.card__date {
				transition: color .6s;
			}
			.card__content {
				transition: border-color .6s;
				&:hover {
					border-color: $red;
					.card__date {
						color: $red;
					}
				}
			}
			a.card__link,
			a.card__date {
				&:hover {
					opacity: 1;
				}
			}
		}
		div.list-tab {
			a:hover {
				opacity: 1;
				border-bottom-color: $red;
			}
		}
	}
}
// PC ( small )
@media screen and (min-width: $pc-small) {
	div.swiper-container {
		.swiper-wrapper {
			.card {
				transform: translate(28.7rem, 0);
				padding-top: 5.8rem;
			}
			.card__content {
				width: calc(100% - 28.7rem);
				padding: 0 0 0;
			}
			.card__image {
				top: 5rem;
				left: -28.7rem;
				width: 57.4rem;
			}
			.card__small-text,
			.card__title,
			.card__tag {
				margin-left: 31.5rem;
				margin-right: 2.8rem;
			}
			.card__small-text {
				font-size: 2rem;
				margin-top: 6rem;
				padding-bottom: 1.4rem;
			}
			.card__title {
				font-size: 2.8rem;
				margin-top: 1.8rem;
				margin-bottom: 4rem;
			}
			.card__tag {
				margin-bottom: 4.5rem;
			}
			.card__date {
				top: 4.2rem;
				right: 28.7rem;
				width: 10.6rem;
				height: 10.6rem;
				font-size: 1.4rem;
				margin-right: 5.6rem;
			}
		}
	}
	div.card-wrapper[class *= "flex"] {
		padding-bottom: 18.8rem;
		.card {
			&:nth-of-type(n+4) {
				margin-top: 8.6rem;
			}
		}
		.card__title {
			height: 2.8em;
		}
		.card__content {
			padding: 2.8rem 2.8rem 4rem;
		}
	}
	h3.tag-header__ttile {
		font-size: 3.6rem;
	}
	p.tag-header__sub {
		font-size: 1.8rem;
		padding-top: 2.4rem;
	}
	.tag-header + div.list-tab.tab {
		padding-top: 0;
	}
	div.list-tab.tab {
		padding-bottom: 4.6rem;
		li {
			margin-bottom: 4rem;
		}
	}
}