.carousel {
	padding-top: 1.6rem;
	.swiper-pagination-bullet	{
		&.swiper-pagination-bullet-active {
			background: $red;
		}
	}
}
.column .carousel {
	.swiper-pagination-bullet	{
		background: #fff;
		&.swiper-pagination-bullet-active {
			background: $red;
		}
	}
}
.column__slide {
	position: relative;
}
.carousel__link {
	position: relative;
}
.carousel-image {
	position: relative;
	border-radius: .6rem .6rem 0 0;
	overflow: hidden;
	padding-top: 60%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	transition: all 1s 1.2s;
}
.carousel-content,
.carousel-tag {
	border-style: solid;
	border-color: #000;
	padding-right: 1.4rem;
	padding-left: 1.4rem;
}
.carousel-content {
	border-width: 0 .3rem;
	background: #fff;
}
.carousel-tag {
	border-width: 0 .3rem .3rem;
	border-radius: 0 0 .6rem .6rem;
}
.carousel-info {
	display: flex;
	position: relative;
	border-bottom: .1rem solid transparent;
	padding-top: 1.4rem;
	align-items: center;
	transition: all 1s .8s;
}
.carousel-date {
	position: relative;
	font-size: 1.2rem;
}
.carousel-category {
	position: relative;
	margin-left: auto;
}
.carousel-title {
	position: relative;
	font-size: 1.8rem;
	font-weight: bold;
	line-height: 1.4;
	word-break: break-all;
	margin-top: .7rem;
	transition: all .4s .4s;
}
.carousel-tag {
	position: relative;
	background: #fff;
	padding-top: 1.4rem;
	padding-bottom: 1.4rem;
	.tag {
		height: 5.2rem;
		overflow: hidden;
	}
}
.carousel-date,
.carousel-category,
.carousel-title,
.carousel-tag {
	overflow: hidden;
	&::after {
		@include myMask();
		z-index: 2;
	}
}
.carousel-date,
.carousel-tag {
	&:after {
		transition: all .6s 1s;
	}
}
.carousel-category,
.carousel-title {
	&:after {
		transition: all .6s .8s;
	}
}
.carousel {
	[class *= "active"] {
		.carousel-image {
			opacity: 1;
		}
		.carousel-info {
			border-color: $red;
		}
		.carousel-date,
		.carousel-category,
		.carousel-title,
		.carousel-tag {
			&::after {
				transform: translateX(100%);
			}
		}
	}
}
// Mobile ( Large )
@media screen and(min-width: $mobile-large) {
	.carousel {
		padding-top: 3.2rem;
	}
	.carousel-image {
		border-radius: 2rem 2rem 0 0;
	}
	.carousel-content,
	.carousel-tag {
		padding-right: 2.2rem;
		padding-left: 2.2rem;
	}
	.carousel-info {
		padding: 2rem 0 .8rem;
	}
	.carousel-date {
		font-size: 1.4rem;
	}
	.carousel-category {
		font-size: 1.6rem;
	}
	.carousel-title {
		font-size: 2.2rem;
		margin-top: 2rem;
	}
	.carousel-tag {
		padding-top: 3.2rem;
		padding-bottom: 2.2rem;
		border-radius: 0 0 2rem 2rem;
		.tag {
			height: 5.8rem;
		}
	}
}
// Tablet ( Small )
@media screen and(min-width: $tablet-small) {
	.carousel {
		[class *= "active"] + .swiper-slide {
			.carousel-image {
				opacity: 1;
			}
			.carousel-info {
				border-color: $red;
			}
			.carousel-date,
			.carousel-category,
			.carousel-title,
			.carousel-tag {
				&::after {
					transform: translateX(100%);
				}
			}
		}
	}
	.carousel-title {
		height: 4em;
		overflow: hidden;
	}
}
// Tablet ( Medium )
@media screen and (min-width: $tablet-medium) {
	.carousel {
		width: 94%;
		max-width: 113.6rem;
		margin-right: auto;
		margin-left: auto;
		padding-top: 5rem;
	}
}
// Tablet ( Large )
@media screen and (min-width: $tablet-large) {
	.carousel-content,
	.carousel-tag {
		padding-right: 2.4rem;
		padding-left: 2.4rem;
	}
	.carousel-tag {
		padding-bottom: 2.4rem;
	}
	.carousel-info {
		position: relative;
		margin-bottom: 1.2rem;
	}
	div.carousel-title {
		height: 2.8em;
	}
	.carousel-date {
		position: absolute;
		bottom: -1.2rem;
		background: #fff;
		padding-right: 1.4rem;
	}
	.column__detail {
		padding-top: 6rem;
	}

	@media (hover) {
		.carousel__slide:hover {
			opacity: .5;
			transition: all .6s;
			.carousel-content,
			.carousel-tag {
				border-color: $red;
			}
		}
	}
}
// PC ( Small )
@media screen and (min-width: $pc-small) {
	.carousel {
		padding-top: 7rem;
	}
	.carousel-image {
		border-radius: 4rem 4rem 0 0;
	}
	.carousel-info {
		padding: 2.2rem 0 1rem;
	}
	.carousel-date {
		padding-right: 2.8rem;
	}
	div.carousel-title {
		font-size: 2.8rem;
	}
	.carousel-content,
	.carousel-tag {
		padding-right: 3.8rem;
		padding-left: 3.8rem;
	}
	.carousel-tag {
		padding-top: 2.8rem;
		padding-bottom: 3.8rem;
		border-radius: 0 0 4rem 4rem;
	}
}