// Colors
$red: #E60000;
$red-dark: #b10303;
$navy: #081927;
$yellow: #fff03e;
$blue-link: #26b7ff;
$gray-light: #efece8;
$gray-ultra-light: #faf8f5;
$border-navy: $navy;
$border-gray-light: $gray-light;
$background-gray: #707070;
$background-gray-light: #faf8f5;

// Breakpoints
$mobile-medium: 375px;
$mobile-large: 414px;
$tablet-small: 600px;
$tablet-medium: 768px;
$tablet-large: 1024px;
$pc-small: 1280px;
$pc-medium: 1400px;
$pc-large: 1600px;
$pc-large-ex: 1900px;


@keyframes fadeIn {
  0% {
		opacity: 0
	}
  100% {
		opacity: 1
	}
}
@keyframes cluody {
	0% {transform:translate(0, 0);}
	50% {transform:translate(0, -6px);}
	100% {transform:translate(0, 0);}
}
@keyframes blank {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes pulse {
	100% {
		opacity: 0;
		transform: scale(2);
		background: none;
	}
}
@keyframes fukidashi-left-turn {
	0% {
		opacity: 0;
		transform: rotate(0) scale(.6);
	}
	50% {
		opacity: 1;
		transform: rotate(10deg) scale(1);
	}
	100% {
		opacity: 0;
		transform: rotate(0) scale(.6);
	}
}
@keyframes people-left-move {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(-1rem);
	}
	100% {
		transform: translateX(0);
	}
}
@keyframes fukidashi-right-turn {
	0% {
		opacity: 0;
		transform: rotate(0) scale(.6);
	}
	50% {
		opacity: 1;
		transform: rotate(-10deg) scale(1);
	}
	100% {
		opacity: 0;
		transform: rotate(0) scale(.6);
	}
}
@keyframes people-right-move {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(1rem);
	}
	100% {
		transform: translateX(0);
	}
}

// Mixin
@mixin font-face($name, $path, $weight: null, $style: null, $exts: otf ttf) {
  $src: null;

  $formats: (
    otf: "opentype",
    ttf: "truetype"
  );

  @each $ext in $exts {
    $format: map-get($formats, $ext);
    $src: append($src, url(quote($path)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style:  $style;
    font-weight: $weight;
    src: $src;
  }
}
@mixin myMask() {
	display: block;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
}
@mixin TA-F1blockline {
	font-family: ta-f1blockline, sans-serif;
	font-weight: 400;
	font-style: normal;
}
@mixin indexSectionTitle($device: null) {
	font-family: 'Mkinas 4 Square';
	@if $device == pc-small {
		font-size: 4.8rem;
	}@else if $device == mobile-large {
		font-size: 3.6rem;
	}@else{
		font-size: 2.6rem;
	}
}
@mixin button($borderColor: null, $backgroundColor: null) {

}
@mixin myBackgroundCircle ($position: null, $height: null, $margin: null, $padding: null) {
	@if $position == top {
		border-top-right-radius: 100% $height;
		border-top-left-radius: 100% $height;
	}@else{
		border-bottom-right-radius: 100% $height;
		border-bottom-left-radius: 100% $height;
	}
	margin-right: $margin;
	margin-left: $margin;
	padding-right: $padding;
	padding-left: $padding;
}

@mixin myCalc($margin: null, $count: null){
	width: calc((100% - ((#{$count} - 1) * #{$margin})) / #{$count});
}

@mixin myTransition($time: null){
	@if $time != null {
		transition: $time;
	}@else{
		transition: .4s;
	}
}

@mixin myWrapper($maxWidth: null, $adjust: null){
	width: 100%;
	@if $adjust != null {
		max-width: calc(#{$maxWidth} - #{$adjust});
	}@else{
		max-width: $maxWidth;
	}
	margin-right: auto;
	margin-left: auto;
}

@mixin myFontAwesome($content: null) {
	font-family: "Font Awesome 5 Free";
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	content: $content;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-size: inherit;
	font-display: swap;
}
@mixin myLato() {
	font-family: 'Lato', sans-serif;
}