.footer {
	background: $navy;
	.nav {
		padding: 6rem 0;
		.nav__main {
			display: none;
		}
		.nav__external {
			display: block;
			text-align: center;
		}
		.nav__external-title {
			font-size: 1.8rem;
		}
		.nav__external-list {
			padding-top: 4rem;
			li + li {
				margin-top: 3rem;
			}
		}
		.nav__sport {
			font-size: 1.6rem;
			font-weight: bold;
			padding-top: 4rem;
			line-height: 1;
			a {
				display: flex;
				align-items: center;
			}
		}
		.nav__sport-image {
			width: 3.2rem;
			margin-right: .8rem;
		}
		.nav__sns {
			padding: 4rem 2rem 0;
		}
		.nav__info {
			display: block;
			text-align: center;
			padding-top: 4rem;
		}
		.nav__info-logo {
			display: inline-block;
			width: 20rem;
		}
		.nav__info-copyright {
			font-size: 1.1rem;
			padding-top: 1.4rem;
		}
	}
}
.is-menu-open {
	.footer {
		.nav__external-list {
			a {
				&::after {
					position: relative;
					z-index: -1;
				}
			}
		}
	}
}
// Mobile ( Large )
@media screen and (min-width: $mobile-large) {
	.footer {
		.nav {
			padding: 12rem 0;
		}
		.nav__external-title {
			font-size: 2.2rem;
		}
		.nav__external-list {
			padding-top: 5.4rem;
			li {
				& + li {
					margin-top: 4rem;
				}
			}
		}
		.nav__sport {
			font-size: 2rem;
			padding-top: 8rem;
		}
		.nav__sport-text {
			padding-top: .1rem;
		}
		.nav__sns {
			padding-top: 8rem;
		}
		.nav__info {
			padding-top: 8.9rem;
		}
		.nav__info-copyright {
			font-size: 1.4rem;
			padding-top: 7.3rem;
		}
	}
}
// Tablet ( Medium )
@media screen and (min-width: $tablet-medium) {
	.footer {
		.nav {
			.nav__main {
				display: flex;
				padding-top: 0;
			}
			.nav__sub {
				display: block;
			}
			.nav__external-list {
				li {
					& + li {
						margin-top: 0;
					}
					&:nth-last-of-type(-n+4) {
						margin-top: 3.6rem;
					}
				}
			}
			.nav__sport {
				font-size: 2.4rem;
				padding-top: 12rem;
			}
			.nav__sport-image {
				width: 3.4rem;
				margin-right: 1.2rem;
			}
			.nav__sns {
				padding-top: 10rem;
			}
		}
	}
}
// Tablet ( Large )
@media screen and (min-width: $tablet-large) {
	.footer {
		.nav {
			.nav__main {
				li {
					padding: 0 0;
					& + li {
						margin-left: 4.8rem;
					}
				}
			}
			.nav__sport {
				font-size: 2.6rem;
				padding-top: 14rem;
			}
			.nav__sns {
				display: flex;
				padding-top: 12rem;
			}
		}
	}
}
// PC ( Small )
@media screen and (min-width: $pc-small) {
	.footer {
		.nav {
			padding: 14.2rem 0 28.8rem;
			margin-left: 0;
			ul.nav__main {
				width: 116rem;
				justify-content: flex-start;
				> li {
					font-size: 1.6rem;
					padding: 0 0;
					& + li {
						margin-left: 8.8rem;
					}
				}
			}
			.nav__external {
				width: 101.2rem;
				max-width: 100%;
				padding-top: 19rem;
			}
			.nav__external-title {
				font-size: 1.8rem;
				font-weight: bold;
			}
			.nav__external-list {
				font-size: 1.4rem;
				padding-top: 5.6rem;
				li {
					&:nth-of-type(1),
					&:nth-of-type(2),
					&:nth-of-type(3) {
						padding-top: 1.1rem;
					}
					&:nth-of-type(1),
					&:nth-of-type(5) {
						width: 22.8rem;
					}
					&:nth-of-type(2),
					&:nth-of-type(6) {
						width: 16.4rem;
						margin-left: 4rem;
					}
					&:nth-of-type(3),
					&:nth-of-type(7) {
						width: 10rem;
						margin-left: 4rem;
					}
					&:nth-of-type(4),
					&:nth-of-type(8) {
						width: 27.4rem;
						margin-left: 4rem;
					}
					&:nth-of-type(4) {
						a {
							&::after {
								transform: translateY(.4rem);
							}
						}
					}
					&:nth-last-of-type(-n+4) {
						margin-top: 2.4rem;
					}
				}
				a {
					@include myTransition();
					&::after {
						width: 2rem;
						height: 2rem;
						margin-left: 1rem;
						transform: translateY(.5rem);
						@include myTransition();
					}
				}
				.small-text {
					text-indent: 0;
					padding-top: 0;
					transform: translateY(-.4rem);
				}
			}
			.nav__sns {
				display: flex;
				width: 40rem;
				padding-top: 31.4rem;
			}
			.nav__info {
				padding-top: 8.4rem;
			}
			.nav__info-logo {
				width: 21.4rem;
			}
			.nav__info-copyright {
				padding-top: 4.4rem;
			}
		}
	}
}