.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	width: 100vw;
	background: $red;
	@include myTransition(.28s);
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
}
.header__inner {
	@include myWrapper(128rem);
	padding: 1.6rem;
}
.header__logo {
	position: relative;
	width: 14.5rem;
	line-height: 1;
	z-index: 101;
	a {
		.-large {
			display: none;
		}
	}
}
.header__tel {
	width: calc(100% - 2rem);
	max-width: 34.2rem;
	margin: 0 auto;
	padding: .8rem;
	border: .1rem solid #fff;
	img {
		width: 80%;
	}
}
.header__contact {
	width: calc(100% - 2rem);
	max-width: 34.2rem;
	padding: .5rem;
	border: .1rem solid #fff;
	margin: 1.2rem auto 0;
	text-align: center;
}
.header__form,
.header__line {
	width: 50%;
	font-size: 1.1rem;
	font-weight: bold;
	padding: .2rem 0;
	dt {
		display: inline-block;
		width: 2.4rem;
		height: 2.4rem;
	}
	dd {
		font-size: 0.8rem;
		letter-spacing: -.03rem;
	}
}
.header__form {
	border-right: .1rem solid #fff;
	dt {
		line-height: 2.8rem;
	}
	dd {
		padding-top: .4rem;
		text-indent: -.5rem;
	}
}
.header__line {
	dd {
		padding-top: .4rem;
		text-indent: 1rem;
	}
}
.header__burger {
	position: relative;
	width: 2.4rem;
	height: 2.2rem;
	z-index: 101;
	margin-left: auto;
	transform: translate(0, -.5rem);
}
.header__burger-button {
	position: relative;
	width: 100%;
	height: 100%;
	background: transparent;
	appearance: none;
	border: none;
	&::before,
	&::after {
		display: block;
		content: " ";
		position: absolute;
		width: 100%;
		height: .3rem;
		left: 0;
		border-radius: 3px;
		transform-origin: center center;
		@include myTransition(.6s);
	}
	&::before {
		top: 0;
		background: #fff;
	}
	&::after {
		bottom: 0;
		background: #fff;
	}
}
.header__burger-line {
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: .3rem;
	background: #fff;
	transform: translate(0, -50%);
	@include myTransition(.4s);
}
.is-menu-open {
	.header__burger-button {
		transform: scale(-1);
		&::before {
			top: 50%;
			transform: translateY(-50%) rotate(45deg) scale(-1);
		}
		&::after {
			bottom: 50%;
			transform: translateY(50%) rotate(-45deg) scale(-1);
		}
	}
	.header__burger-line {
		width: 0;
		opacity: 0;
	}
}
// Mobile ( Medium )
@media screen and (min-width: $mobile-medium) {
	.header__tel {
		width: calc(100% - 4rem);
		margin-bottom: 2rem;
		padding: 1.2rem;
	}
	.header__contact {
		width: calc(100% - 4rem);
		padding: 1rem;
		margin-top: 1.4rem;
	}
	.header__form,
	.header__line {
		font-size: 1.2rem;
	}
}
// Mobile ( Large )
@media screen and (min-width: $mobile-large) {
	.header__form,
	.header__line {
		font-size: 1.2rem;
	}
}
// Tablet ( Medium )
@media screen and (min-width: $tablet-medium) {
	.header__tel,
	.header__contact {
		display: none;
	}
}
// Tablet ( Large )
@media screen and (min-width: $tablet-large) {
	.header__inner {
		height: 7.4rem;
		padding: 2.4rem 0;
	}
	.header__logo {
		width: 14rem;
		margin-left: 1.6rem;
		a {
			display: block;
			position: absolute;
			top: -2rem;
			width: 100%;
			height: 14rem;
			&::before {
				display: block;
				content: " ";
				width: 100%;
				height: 100%;
				background: #fff;
				border-radius: 100%;
			}
			.-small {
				display: none;
			}
			.-large {
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				width: 8rem;
				transform: translate(-50%, -50%);
			}
		}
	}
	.not-small-logo .header__logo {
		.-small {
			display: block;
		}
		.-large {
			display: none;
		}
	}
	.header__burger {
		width: 3rem;
		height: 2.6rem;
		margin-left: 1.6rem;
		margin-right: 3rem;
		transform: translate(0, 0);
	}
	.is-small-logo:not(.is-menu-open),
	.not-small-logo:not(.is-menu-open) {
		.header__logo {
			position: relative;
			a {
				position: static;
				width: auto;
				height: auto;
				img {
					width: 100%;
				}
				&::before {
					display: none;
				}
			}
		}
	}
	.is-menu-open {
		.header__logo {
			a {
				&::before {
					background: transparent;
				}
			}
		}
		.header__burger {
			top: 2rem;
			margin-left: auto;
		}
	}
	@media (hover) {
		.header__logo a {
			&:hover {
				opacity: 1;
			}
		}
	}
}
// PC ( Small )
@media screen and (min-width: $pc-small) {
	.header__inner {
		padding: 5.1rem 0;
	}
	.header__logo {
		width: 17.4rem;
		margin-left: 2rem;
		a {
			top: -3rem;
			height: 17.4rem;
			img {
				width: 8.8rem;
			}
		}
	}
	.header__burger {
		margin-left: 3.4rem;
		margin-right: 5.6rem;
	}
	.is-menu-open {
		.header__burger {
			width: 3.8rem;
			height: 3.8rem;
		}
	}
}