.inquiry {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	background: #fff;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, .2);
}
.inquiry__person {
	position: absolute;
	bottom: -20rem;
	left: .4rem;
	width: 12.4rem;
	transition: bottom .68s 1.68s linear;
}
.inquiry__list-small {
	text-align: center;
	padding: .5rem 0;
	margin-left: auto;
	opacity: 0;
	transition: all .4s 1.4s ease;
	a {
		padding: 0 1.8rem;
	}
	a:not(:last-of-type) {
		border-right: .1rem solid $navy;
	}
	dt {
		height: 3rem;
	}
	dd {
		font-size: 1rem;
		font-weight: bold;
	}
	.inquiry__form {
		img {
			width: 3rem;
		}
	}
	.inquiry__tel {
		img {
			width: 2rem;
		}
	}
	.inquiry__line {
		img {
			width: 2.8rem;
		}
	}
}
.inquiry__list-medium {
	display: none;
}
.gotop {
	position: fixed;
	bottom: -12rem;
	right: .7rem;
	z-index: 2;
	width: 8rem;
	transition: all .6s;
	&.is-inview {
		bottom: 6.6rem;
	}
}
.gotop__button {
	display: block;
	width: 100%;
	appearance: none;
	border: none;
	background: transparent;
}
.is-loaded {
	.inquiry__person {
		bottom: 0;
	}
	.inquiry__list-small {
		opacity: 1;
	}
}
// Mobile ( Large )
@media screen and (min-width: $mobile-large) {
	.inquiry__person {
		left: 1rem;
		width: 14rem;
	}
	.inquiry__list-small {
		padding: 1.2rem 0;
		a {
			padding: 0 2.8rem;
		}
		dt {
			height: 3.4rem;
		}
		.inquiry__form {
			img {
				width: 3.5rem;
			}
		}
		.inquiry__tel {
			img {
				width: 2.4rem;
			}
		}
		.inquiry__line {
			img {
				width: 3.2rem;
			}
		}
	}
	.gotop {
		bottom: -20rem;
		&.is-inview {
			bottom: 6.4rem;
		}
	}
}
// Tablet ( Medium )
@media screen and (min-width: $tablet-medium) {
	.inquiry__person {
		width: 17rem;
	}
	.gotop {
		bottom: -20rem;
		right: 1.4rem;
		width: 8.4rem;
		&.is-inview {
			bottom: 10rem;
		}
	}
}
// PC ( Small )
@media screen and (min-width: $pc-small) {
	.inquiry {
		width: 52.6rem;
		height: 6.6rem;
		bottom: -30rem;
		left: auto;
		margin-left: 2.6rem;
		background: transparent url(../img/common/bg-inquiry-small.png) no-repeat left top;
		background-size: 100%;
		transition: bottom 1s 2.5s cubic-bezier(.62,.85,.69,1.09);
		box-shadow: none;
	}
	.inquiry__person {
		bottom: 0;
		left: -2.7rem;
		opacity: 1;
	}
	.inquiry__list-small {
		display: none;
	}
	.inquiry__list-medium {
		display: flex;
		justify-content: flex-start;
		width: 100%;
		padding-top: 1.2rem;
		img {
			width: 100%;
		}
		.inquiry__form {
			display: flex;
			position: relative;
			width: 20.8rem;
			padding-right: 2rem;
			margin-left: 6rem;
			&::after {
				display: block;
				content: "";
				position: absolute;
				top: .4rem;
				right: 0;
				width: .1rem;
				height: 3.2rem;
				background: $navy;
			}
		}
		.inquiry__tel {
			display: inline-block;
			width: 19.4rem;
			padding-left: 2rem;
		}
	}
	div.gotop {
		bottom: -15rem;
		right: auto;
		margin-left: 116rem;
		width: 12.6rem;
		&.is-inview {
			bottom: .5rem;
		}
	}
	.is-loaded {
		.inquiry {
			bottom: 2rem;
		}
		.inquiry__person {
			img {
				animation: cluody 1.4s linear 3.8s 6 alternate;
			}
		}
	}
	@media (hover) {
		.inquiry__person a {
			&:hover {
				opacity: 1;
			}
		}
	}
}
