.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 3;
	background: rgba(28, 46, 80, .9);
}
.modal__close-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.modal__inner {
	position: absolute;
	top: 5%;
	left: 50%;
	width: 90%;
	max-width: 44rem;
	max-height: 75%;
	background: #fff;
	padding: 1rem;
	overflow-y: scroll;
	border-radius: 1rem;
	transform: translate(-50%, 0);
}
.modal__box {
	display: none;
}
.modal__close-button {
	position: absolute;
	right: 1rem;
	width: 2.4rem;
	height: 2.2rem;
	z-index: 101;
	margin-left: auto;
	background: transparent;
	border: none;
	border-radius: 0;
	appearance: none;
	&::before,
	&::after {
		display: block;
    content: " ";
    position: absolute;
    width: 100%;
    height: .3rem;
		left: 0;
		background: $navy;
    border-radius: .3rem;
    transform-origin: center center;
		transition: .6s;
	}
	&::before {
		top: 50%;
		transform: translateY(-50%) rotate(45deg) scale(-1);
	}
	&::after {
		bottom: 50%;
		transform: translateY(50%) rotate(-45deg) scale(-1);
	}
}
.modal__title {
	text-align: center;
	padding-top: 2.8rem;
	padding-bottom: 1.4rem;
	span {
		font-size: 2rem;
		font-weight: bold;
		padding: 0 2rem .4rem;
		border-bottom: .2rem solid $red;
	}
}
.modal__overview {
	width: 65%;
	margin-left: 17.5%;
	dl + dl {
		margin-top: .4rem;
	}
	dt {
		background: $yellow;
		font-weight: bold;
		padding: .2rem .7rem 0;
	}
	dd {
		padding-left: .7rem;
	}
}
.modal__content {
	margin-top: 1.4rem;
	border-top: .1rem solid #000;
	border-bottom: .1rem solid #000;
	padding: 1rem 0;
}
.modal__section {
	& + .modal__section {
		margin-top: 2rem;
	}
}
.modal__section-title {
	font-size: 1.6rem;
	font-weight: bold;
}
.modal__section-content {
	font-size: 1.2rem;
	padding-left: 1em;
}
.modal__price {
	font-size: 2rem;
	text-align: center;
	line-height: 1;
	padding: 2rem 0 1rem;
}
// Mobile ( Large )
@media screen and (min-width: $mobile-large) {
	.modal__title {
		padding-bottom: 2rem;
		span {
			font-size: 2rem;
		}
	}
	.modal__overview {
		font-size: 1.6rem;
	}
	.modal__content {
		margin-top: 2rem;
		padding: 2rem 2rem;
	}
	.modal__section-content {
		font-size: 1.4rem;
	}
}
// Tablet ( Medium )
@media screen and (min-width: $tablet-medium) {
	.modal__inner {
		max-width: 66rem;
		padding: 3.6rem;
	}
	.modal__close-button {
		top: 1rem;
		right: 1rem;
	}
	.modal__title {
		padding-bottom: 2.4rem;
		span {
			font-size: 2.4rem;
		}
	}
	.modal__content {
		margin-top: 2.4rem;
		padding: 2.4rem 4rem;
	}
	.modal__overview {
		font-size: 2rem;
		width: 50%;
		margin-left: 25%;
	}
	.modal__section {
		& + .modal__section {
			margin-top: 2.4rem;
		}
	}
	.modal__section-title {
		font-size: 2rem;
	}
	.modal__section-content {
		font-size: 1.8rem;
	}
	.modal__price {
		font-size: 2.4rem;
		padding: 3.6rem 0 0;
	}
}