.nav {
	color: #fff;
	transition: .6s;
}
.header {
	.nav {
		position: fixed;
		top: 0;
		left: 100%;
		z-index: 100;
		width: 100%;
		height: 100%;
		background: $navy;
		background-size: 100%;
		padding: 19vh 1.6rem 0;
		overflow: auto;
	}
}
.nav__main {
	font-size: 2.2rem;
	font-weight: bold;
	text-align: center;
	line-height: 1;
	> li {
		& + li {
			margin-top: 3.5vh;
		}
		&:last-of-type {
			display: none;
		}
	}
}
.nav__sns {
	@include myWrapper(38.2rem);
	padding: 3.5vh 0;
	li {
		& + li {
			margin-left: auto;
		}
	}
	a {
		display: block;
		width: 3.2rem;
		height: 3.2rem;
	}
}
.nav__sub,
.nav__external,
.nav__info {
	display: none;
}
.nav__external-list {
	li {
		&:nth-of-type(4) {
			span:not(.small-text) {
				border-bottom: none;
			}
		}
	}
	a {
		display: block;
		line-height: 1;
		&::after {
			display: inline-block;
			content: url(../img/common/icon-external-link-white.svg);
			width: 1.2rem;
			height: 1.2rem;
			margin-left: .4rem;
			transform: translateY(.1rem);
		}
	}
	span {
		padding-bottom: .4rem;
		border-bottom: .1rem dashed #fff;
	}
	.small-text {
		display: inline-block;
		font-size: 1rem;
		text-indent: -.5em;
		padding-top: .4rem;
		line-height: 1;
	}
}
.nav__info-copyright {
	a {
		text-decoration: underline;
	}
}

.is-menu-open {
	.header {
		.nav {
			transform: translate(-100%, 0);
		}
	}
}
// Mobile ( Medium )
@media screen and (min-width: $mobile-medium) {
	.header {
		.nav {
			padding-top: 12vh;
		}
	}
}
// Mobile ( Large )
@media screen and (min-width: $mobile-large) {
	.nav__main {
		> li {
			& + li {
				margin-top: 4vh;
			}
		}
	}
	.nav__sns {
		padding: 4vh 0;
	}
}
// Tablet ( Small )
@media screen and (min-width: $tablet-small) {
	.nav__main {
		> li {
			& + li {
				margin-top: 5vh;
			}
		}
	}
	.nav__sns {
		padding: 5vw 0;
	}
}
// Tablet ( Medium )
@media screen and (min-width: $tablet-medium) {
	.nav {
		padding-top: 0;
		.nav__main {
			display: flex;
			@include myWrapper(74rem);
			height: auto;
			justify-content: center;
			padding-top: 10rem;
			text-align: left;
			> li {
				font-size: 1.4rem;
				& + li {
					margin-top: 0;
					margin-left: auto;
				}
				&:last-of-type {
					display: block;
				}
			}
		}
		.nav__sub,
		.nav__external {
			display: block;
		}
		.nav__sub {
			font-size: 1.2rem;
			padding: 2.8rem 0;
		}
		.nav__external {
			@include myWrapper(74rem);
			padding-top: 10rem;
		}
		.nav__external-list {
			display: flex;
			font-size: 1.3rem;
			padding-top: 3.6rem;
			flex-wrap: wrap;
			justify-content: center;
			li {
				text-align: center;
				&:nth-of-type(1),
				&:nth-of-type(2),
				&:nth-of-type(3) {
					padding-top: 1.4rem;
				}
				&:nth-of-type(1),
				&:nth-of-type(5) {
					width: 20rem;
				}
				&:nth-of-type(2),
				&:nth-of-type(6) {
					width: 14rem;
					margin-left: 1.5rem;
				}
				&:nth-of-type(3),
				&:nth-of-type(7) {
					width: 8.8rem;
					margin-left: 1.5rem;
				}
				&:nth-of-type(4),
				&:nth-of-type(8) {
					width: 26rem;
					margin-left: 1.5rem;
				}
				&:nth-of-type(4) {
					span:not(.small-text) {
						border-bottom: none;
					}
				}
				&:nth-last-of-type(-n+4) {
					margin-top: 3.6rem;
				}
			}
		}
		.nav__external-title {
			width: 100%;
			font-size: 1.6rem;
			text-align: center;
		}
		.nav__sns {
			width: 30rem;
			padding-top: 10rem;
		}
		.nav__info {
			display: block;
			text-align: center;
			padding-top: 3rem;
		}
		.nav__info-logo {
			display: inline-block;
			width: 21.4rem;
		}
		.nav__info-address {
			padding-top: 2.8rem;
		}
		.nav__info-copyright {
			padding-top: 4.4rem;
		}
	}

}
// Tablet ( Large )
@media screen and (min-width: $tablet-large) {
	.header {
		.nav {
			position: relative;
			top: 0;
			left: 0;
			width: auto;
			height: auto;
			background: transparent;
			padding: 0;
			opacity: 1;
			margin: 0 auto;
			transition: width .6s, height .6s;
		}
	}
	.nav {
		.nav__main {
			max-width: 100%;
			padding-top: 0;
			> li {
				font-size: 1.6rem;
				& + li {
					margin-left: 2.4rem;
				}
				&.-current {
					a {
						&::after {
							width: 100%;
						}
					}
				}
				> a {
					display: inline-block;
					position: relative;
					margin-top: 1rem;
					padding-bottom: 1rem;
					&::after {
						display: block;
						position: absolute;
						content: "";
						width: 0;
						height: .3rem;
						bottom: 0;
						left: 0;
						background: rgba(255, 255, 255, 1);
						transition: width .24s;
					}
				}
			}
		}
		.nav__sub {
			display: none;
		}
		.nav__external {
			display: none;
		}
		.nav__sns {
			display: none;
		}
		.nav__info {
			display: none;
		}
	}

	.is-menu-open {
		.header {
			.nav {
				position: fixed;
				width: 100%;
				height: 100%;
				background: $navy;
				padding: 0 2rem 2rem;
				transform: translate(0, 0);
			}
			.nav__main {
				padding-top: 18rem;
				> li {
					font-size: 2rem;
					padding: 0 0;
					& + li {
						margin-left: 3rem;
					}
				}
			}
			.nav__sub {
				display: block;
				padding-top: 1rem;
				> li {
					> a {
						display: inline-block;
						position: relative;
						margin-top: 1rem;
						padding-bottom: 1rem;
						&::after {
							display: block;
							position: absolute;
							content: "";
							width: 0;
							height: .1rem;
							bottom: 0;
							left: 0;
							background: #fff;
							transition: width .24s;
						}
					}
				}
			}
			.nav__external {
				display: block;
				width: 100%;
				max-width: 101.2rem;
				padding-top: 4rem;
			}
			.nav__external-title {
				font-size: 2rem;
			}
			.nav__external-list {
				font-size: 1.4rem;
				padding-top: 2.4rem;
				li {
					&:nth-of-type(1),
					&:nth-of-type(2),
					&:nth-of-type(3) {
						padding-top: 1.1rem;
					}
					&:nth-of-type(1),
					&:nth-of-type(5) {
						width: 22.8rem;
					}
					&:nth-of-type(2),
					&:nth-of-type(6) {
						width: 16.4rem;
						margin-left: 4rem;
					}
					&:nth-of-type(3),
					&:nth-of-type(7) {
						width: 10.4rem;
						margin-left: 4rem;
					}
					&:nth-of-type(4),
					&:nth-of-type(8) {
						width: 27.4rem;
						margin-left: 4rem;
					}
					&:nth-of-type(4) {
						a {
							&::after {
								transform: translateY(.7rem);
							}
						}
					}
					&:nth-last-of-type(-n+4) {
						margin-top: 2.4rem;
					}
				}
				a {
					@include myTransition();
					&::after {
						width: 2rem;
						height: 2rem;
						margin-left: 1rem;
						transform: translateY(.5rem);
						@include myTransition();
					}
				}
				.small-text {
					text-indent: 0;
					padding-top: 0;
					transform: translateY(-.4rem);
				}
			}
			.nav__sns {
				display: flex;
				padding-top: 5rem;
				padding-bottom: 0;
				a {
					@include myTransition();
				}
			}
			.nav__info {
				display: block;
				padding-top: 4rem;
				a {
					@include myTransition();
				}
			}
			.nav__info-address {
				padding-top: 2rem;
			}
			.nav__info-copyright {
				padding-top: .7rem;
			}
		}
	}
	@media (hover) {
		.nav__main,
		.nav__sub,
		.nav__external-list,
		.nav__sns {
			a {
				@include myTransition();
			}
		}
		.nav__info {
			a:hover {
				text-decoration: none;
			}
		}
	}
}
// Tablet ( Large )
@media screen and (min-width: $tablet-large) and (min-height: 768px){
	.is-menu-open {
		.header {
			.nav__main {
				padding-top: 20rem;
			}
			.nav__sub {
				padding-top: 2rem;
			}
			.nav__external {
				padding-top: 6rem;
			}
			.nav__sns {
				padding-top: 8rem;
			}
			.nav__info {
				padding-top: 6rem;
			}
			.nav__info-address {
				padding-top: 2.4rem;
			}
			.nav__info-copyright {
				padding-top: 1.4rem;
			}
		}
	}
}
// PC ( Small )
@media screen and (min-width: $pc-small) {
	.wrapper {
		.nav {
			margin-left: 4.8rem;
			.nav__main {
				padding-top: 0;
				> li {
					padding: 0 0;
					font-size: 1.8rem;
					& + li {
						margin-left: 4.4rem;
					}
				}
			}
		}
	}
	.is-menu-open {
		.header {
			.nav {
				padding-right: 0;
				padding-left: 0;
				margin-left: 0;
				padding-bottom: 2rem;
			}
			ul.nav__main {
				@include myWrapper(106.4rem);
				font-size: 1.8rem;
				padding: 20rem 0 0 0;
				justify-content: flex-start;
				> li {
					padding: 0 0;
					& + li {
						margin-left: auto;
					}
				}
			}
			.nav__external {
				padding-top: 8rem;
			}
			.nav__external-list {
				li {
					font-size: 1.4rem;
					&:nth-of-type(2),
					&:nth-of-type(6),
					&:nth-of-type(3),
					&:nth-of-type(7),
					&:nth-of-type(4),
					&:nth-of-type(8) {
						margin-left: 8rem;
					}
				}
			}
		}
	}
}
// PC ( Small )
@media screen and (min-width: $pc-small) and (min-height: 901px){
	.is-menu-open {
		.header {
			.nav__main {
				padding-top: 24rem;
			}
			.nav__sub {
				padding-top: 2.4rem;
			}
			.nav__external {
				padding-top: 8rem;
			}
			.nav__sns {
				padding-top: 7rem;
			}
			.nav__info {
				padding-top: 5rem;
			}
			.nav__info-copyright {
				padding-top: 2rem;
			}
		}
	}
}