.page-header {
	background-repeat: no-repeat;
	background-position: center top;
	background-image: url(../img/common/bg-page-header-medium.jpg);
	background-size: cover;
}
.page-header__inner {
	height: 13.4rem;
	background: rgba(8, 25, 39, .6);
	color: #fff;
	text-align: center;
	padding-top: 2rem;
}
.page-header__content {
  transform: translate3d(0, 0, 0);
}
.page-header__icon {
	img {
		width: .7rem;
		margin-left: .4rem;
	}
}
.page-header__slug {
	width: 11rem;
	font-size: 1rem;
	margin: 0 auto;
	padding: .6rem 0 .4rem;
	line-height: 1;
	border-bottom: .2rem solid $red;
	margin-bottom: .4rem;
}
.page-header__title {
	display: inline-block;
	min-width: 18rem;
	background: #fff;
	font-family: 'Mkinas 4 Square';
	color: $navy;
	line-height: 1;
	padding: 1rem 0 .7rem;
	transform: perspective(20px) rotateX(2.5deg);
	outline: 1px solid transparent;
}
.page-header__title-text {
	font-size: 2.2rem;
	transform: perspective(20px) rotateX(-2.5deg);
}
.-column {
	.page-header__title {
		width: 30.8rem;
		background: transparent;
		padding: 0;
		transform: perspective(0) rotateX(0);
		img {
			background: #fff;
		}
	}
	.page-header__title-text {
		font-size: 1.3rem;
		font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
		color: #fff;
		padding-top: .7rem;
		transform: perspective(0) rotateX(0);
	}
}
// Mobile ( Large )
@media screen and (min-width: $mobile-large) {
	.page-header__inner {
		height: 15rem;
	}
	.page-header__title {
		min-width: 18.8rem;
	}
	.page-header__title-text {
		font-size: 2.4rem;
	}
	.-column {
		.page-header__title {
			width: 34.8rem;
		}
		.page-header__title-text {
			font-size: 1.4rem;
		}
	}
}
// Tablet ( Small )
@media screen and (min-width: $tablet-small) {
	.page-header__inner {
		height: 18rem;
		padding-top: 4rem;
	}
	.-column {
		.page-header__title {
			width: 40rem;
		}
	}
}
// Tablet ( Medium )
@media screen and (min-width: $tablet-medium) {
	.page-header {
		background-image: url(../img/common/bg-page-header-large.jpg);
	}
	div.page-header__inner {
		height: 26rem;
		padding-top: 6.8rem;
	}
	.page-header__icon {
		img {
			width: 1.4rem;
		}
	}
	.page-header__title {
		min-width: 30.8rem;
	}
	.page-header__title-text {
		font-size: 3.4rem;
	}
	.-column {
		div.page-header__title {
			width: 48rem;
		}
		.page-header__title-text {
			font-size: 1.8rem;
			padding-top: 1.8rem;
		}
	}
}
// Tablet ( Large )
@media screen and (min-width: $tablet-large) {
	div.page-header__inner {
		height: 30rem;
		padding-top: 8.6rem;
	}
	.page-header__slug {
		font-size: 1.4rem;
		padding: .8rem 0 .8rem;
		margin-bottom: .8rem;
	}
	.page-header__title {
		min-width: 36.8rem;
		padding: 1.4rem 0 1rem;
	}
	.page-header__title-text {
		font-size: 4rem;
	}
	.-column {
		div.page-header__title {
			width: 54rem;
		}
	}
}
// PC ( Small )
@media screen and (min-width: $pc-small) {
	.page-header {
		div.page-header__inner {
			height: 38rem;
			padding-top: 10.8rem;
		}
	}
	.page-header__icon {
		img {
			width: 1.6rem;
		}
	}
	.page-header__slug {
		width: 26rem;
		font-size: 1.6rem;
		padding: .8rem 0 .8rem;
		border-bottom-width: .3rem;
		margin-bottom: .8rem;
	}
	div.page-header__title {
		min-width: 42.8rem;
		padding: 1.8rem 0 1.2rem;
		.page-header__title-text {
			font-size: 5rem;
		}
	}
	.page-header.-column {
		div.page-header__title {
			width: 60rem;
		}
		.page-header__title-text {
			font-size: 2.2rem;
		}
	}
}
// PC ( Medium )
@media screen and (min-width: $pc-medium) {
	.page-header {
		div.page-header__inner {
			height: 40rem;
			padding-top: 12rem;
		}
		&.-column {
			div.page-header__inner {
				padding-top: 13rem;
			}
		}
	}
	.page-header__slug {
		padding: 1rem 0 1rem;
		margin-bottom: 1.4rem;
	}
	.page-header__title {
		padding: 1.4rem 10rem 1rem;
		.page-header__title-text {
			font-size: 6rem;
		}
	}
}