.pagination {
	width: 100%;
	font-size: 1.6rem;
	padding-bottom: 6.8rem;
	li {
		& + li {
			margin-left: .5rem;
		}
		&.-prev,
		&.-next {
			a {
				position: relative;
				width: 2rem;
				font-size: 0;
				border: none;
				&::before {
					display: block;
					content: "";
					position: absolute;
					top: 50%;
					left: 50%;
					width: 1.4rem;
					height: 1.4rem;
					border-top: .1rem solid #000;
				}
			}
			&.-prev {
				a {
					&::before {
						border-left: .1rem solid #000;
						margin-left: .7rem;
						transform: translate(-50%, -50%) rotate(-45deg);
					}
				}
			}
			&.-next {
				a {
					&::before {
						border-right: .1rem solid #000;
						margin-left: -.7rem;
						transform: translate(-50%, -50%) rotate(45deg);
					}
				}
			}
		}
	}
	a,
	span,
	b {
		display: block;
		width: 3.4rem;
		height: 3.4rem;
		text-align: center;
		line-height: 3.4rem;
		border-radius: 100%;
		border: .1rem solid #000;
	}
	b {
		background: $red;
		border-color: $red;
		color: #fff;
	}
	span {
		width: 2rem;
		border-color: transparent;
	}
}
// Mobile ( Large )
@media screen and (min-width: $mobile-large) {
	.pagination {
		li {
			& + li {
				margin-left: .8rem;
			}
			a,
			span,
			b {
				width: 4rem;
				height: 4rem;
				line-height: 4rem;
			}
		}
	}
}
// Tablet ( Medium )
@media screen and (min-width: $tablet-medium) {
	.wrapper {
		.pagination {
			padding-bottom: 14.8rem;
			li {
				& + li {
					margin-left: 1.8rem;
				}
				&.-prev {
					a {
						width: 4.4rem;
						&::before {
							margin-left: .5rem;
						}
					}
				}
				&.-next {
					a {
						width: 4.4rem;
						&::before {
							margin-left: -.5rem;
						}
					}
				}
			}
			a,
			span,
			b {
				width: 4.4rem;
				height: 4.4rem;
				line-height: 4.4rem;
			}
			span {
				width: 2.4rem;
			}
		}
	}
}
// Tablet ( Large )
@media screen and (min-width: $tablet-large) {
	.wrapper {
		.pagination {
			font-size: 2rem;
			padding-bottom: 14.8rem;
			li {
				& + li {
					margin-left: 2.4rem;
				}
				&.-prev,
				&.-next {
					a {
						width: 5rem;
						&::before {
							display: block;
							content: "";
							position: absolute;
							width: 2rem;
							height: 2rem;
						}
					}
				}
			}
			a,
			span,
			b {
				width: 5rem;
				height: 5rem;
				line-height: 5rem;
			}
			span {
				width: 3rem;
			}
		}
	}
}
// PC ( Small )
@media screen and (min-width: $pc-small) {
	.wrapper {
		.pagination {
			padding-bottom: 18.8rem;
		}
	}
}