.parts-contact {
	display: block;
	position: relative;
	background: $gray-light;
	padding: 1.4rem;
	border-radius: .6rem;
	margin-bottom: 2.8rem;
	opacity: 0;
	transform: translateY(20rem);
	transition: transform 1s .8s, opacity .4s .2s;
	&.lazyloaded {
		opacity: 1;
		transform: translateY(0);
	}
	a {
		color: #000;
		text-decoration: none;
	}
}
.parts-contact__logo {
	display: flex;
	width: 14rem;
	height: 14rem;
	background: #fff;
	border-radius: 100%;
	padding: 3.4rem;
	margin-right: auto;
	margin-left: auto;
	align-items: center;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, .18);
}
.parts-contact__message {
	text-align: center;
	font-size: 1.4rem;
	padding: 1.4rem 0 2.8rem;
}
.parts-contact__lead {
	text-align: center;
	line-height: 1;
	b {
		display: block;
		font-size: 3rem;
		padding-top: .7rem;;
	}
}
.parts-contact__how {
	max-width: 26.8rem;
	margin-right: auto;
	margin-left: auto;
	padding-top: 2.8rem;
}
.parts-contact__online {
	display: flex;
	dl {
		width: 49%;
		padding-top: 2rem;
		& + dl {
			margin-left: auto;
		}
	}
	dt {
		width: 3.4rem;
	}
	dd {
		width: 9rem;
		padding-left: 0;
		span {
			display: block;
			font-size: 1.2rem;
			line-height: 1.3;
			text-align: center;
		}
	}
}
.writer {
	position: relative;
	max-width: 48rem;
	background: $gray-light;
	padding: 1.4rem;
	margin: 8rem auto 4rem;
	border-radius: .6rem;
}
.writer__cloud {
	position: absolute;
	top: -4rem;
	left: 50%;
	width: 18rem;
	margin-left: 4rem;
	opacity: 0;
	transform-origin: center bottom;
	transform: translateX(-50%) scale(0);
	transition: all .6s .8s cubic-bezier(.7,.68,.26,1.61);
}
.writer__image {
	width: 10rem;
	height: 10rem;
	overflow: hidden;
	border-radius: 100%;
	opacity: 0;
	transform-origin: center center;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
	transform: scale(0);
	transition: all .6s 1s cubic-bezier(.7,.68,.26,1.61);
}
.writer__text {
	text-align: center;
	padding-left: 1.4rem;
}
.writer__catchcopy {
	font-size: 1.2rem;
	border-bottom: .1rem solid $red;
	padding: 1rem .6rem .4rem;
}
.writer__name {
	font-size: 2rem;
}
.writer.lazyloaded {
	.writer__cloud {
		opacity: 1;
		transform: translateX(-50%) scale(1);
	}
	.writer__image {
		opacity: 1;
		transform: scale(1);
	}
}
// Mobile ( Large )
@media screen and (min-width: $mobile-large) {
	.parts-contact {
		padding: 2.8rem;
	}
	.parts-contact__lead {
		b {
			display: block;
			font-size: 3.4rem;
		}
	}
	.writer {
		margin-top: 10rem;
		margin-bottom: 8rem;
		padding: 2.8rem 0;
	}
	.writer__cloud {
		top: -5rem;
		width: 22rem;
		margin-left: 6rem;
	}
	.writer__image {
		width: 12.8rem;
		height: 12.8rem;
	}
	.writer__catchcopy {
		font-size: 1.4rem;
		padding: 2.6rem .7rem 1rem;
	}
	.writer__name {
		font-size: 2.6rem;
		padding-top: .4rem;
	}
}
// Tablet ( Small )
@media screen and (min-width: $tablet-small) {
	.parts-contact {
		border: .3rem solid $red;
		margin-top: 9.8rem;
		margin-bottom: 4rem;
	}
	.parts-contact__logo {
		position: absolute;
		top: -7rem;
		left: 50%;
		transform: translate(-50%);
		border: .3rem solid $red;
	}
	.parts-contact__message {
		font-size: 1.6rem;
		padding-top: 6rem;
	}
	.parts-contact__how {
		padding-top: 2rem;
	}
	.writer__image {
		width: 14rem;
		height: 14rem;
	}
	.writer__catchcopy {
		font-size: 1.4rem;
		padding: 2.6rem .7rem .8rem;
	}
	.writer__name {
		font-size: 3rem;
		padding-top: .4rem;
	}
}
// Tablet ( Large )
@media screen and (min-width: $tablet-large) {
	.main {
		.parts-contact {
			border-width: .5rem;
			padding: 4rem;
			margin-top: 9.8rem;
			margin-bottom: 6.8rem;
			border-radius: 1.2rem;
			.parts-contact__logo {
				position: absolute;
				top: -6rem;
				left: -6rem;
				width: 12rem;
				height: 12rem;
				transform: translate(0);
				padding: 2.8rem;
				border: none;
			}
			.parts-contact__message {
				font-size: 2rem;
				padding-top: 0;
				padding-bottom: 1.8rem;
				br {
					display: none;
				}
			}
			.parts-contact__content {
				display: flex;
				justify-content: center;
			}
			.parts-contact__lead {
				font-size: 2.4rem;
				padding-top: 2.4rem;
				b {
					font-size: 4.6rem;
					padding-top: 2rem;;
				}
			}
			.parts-contact__how {
				max-width: 100%;
				width: 34rem;
				padding-top: 0;
				margin: 0 0 0 6rem;
			}
			.parts-contact__tel {
				img {
					width: 100%;
				}
			}
			.parts-contact__online {
				padding-left: .4rem;
				dt {
					width: 4rem;
				}
				dd {
					width: calc(100% - 4rem);
					span {
						font-size: 1.6rem;
					}
				}
			}
		}
	}
	.writer {
		max-width: 58rem;
		.writer__cloud {
			top: -5.4rem;
			width: 26rem;
			margin-left: 8rem;
		}
		.writer__image {
			width: 16rem;
			height: 16rem;
		}
		.writer__text {
			padding-left: 4rem;
		}
		.writer__catchcopy {
			font-size: 1.6rem;
		}
		.writer__name {
			font-size: 3.4rem;
		}
	}
}
@media (hover) {
	.parts-contact {
		&:hover {
			opacity: 1;
			background: #f7f4f0;
			a {
				opacity: 1;
			}
			.parts-contact__logo {
				box-shadow: 0 0 4px 0 rgba(0, 0, 0, .18);
			}
		}
	}
}
// PC ( Small )
@media screen and (min-width: $pc-small) {
	.main {
		div.parts-contact {
			margin-top: 10.8rem;
			margin-bottom: 10.8rem;
			.parts-contact__logo {
				position: absolute;
				top: -6.5rem;
				left: -6.5rem;
				width: 13rem;
				height: 13rem;
				padding: 3rem;
			}
		}
	}
}