.post-header {
	position: relative;
	border: .3rem solid #000;
	border-radius: .6rem;
	padding: 1.4rem;
}
.post-header__date {
	display: flex;
	position: absolute;
	top: 0;
	right: 1.4rem;
	z-index: 2;
	width: 7rem;
	height: 7rem;
	font-size: 1rem;
	justify-content: center;
	align-items: center;
	border: .3rem solid #000;
	background: #fff;
	border-radius: 100%;
	overflow: hidden;
	transform: translateY(-3.5rem);
}
.post-header__small-text {
	position: relative;
	padding-bottom: .7rem;
	transition: all .4s .4s;
	&::before {
		display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: .1rem;
    background: $red;
	}
}
.post-header__title {
	position: relative;
	font-size: 1.8rem;
	font-weight: bold;
	line-height: 1.4;
	word-break: break-all;
	padding-top: .7rem;
	transition: all .4s .4s;
}
.post-header__tag {
	margin-top: 1.4rem;
}
.post__button {
	padding-top: 2.8rem;
	padding-bottom: 1.6rem;
}
// Mobile ( Large )
@media screen and (min-width: $mobile-large) {
	.post-header__small-text {
		font-size: 1.6rem;
		padding-bottom: 1.3rem;
	}
	.post-header__title {
		font-size: 2.2rem;
		padding-top: 2rem;
	}
	.post-header__tag {
		max-height: 5.8rem;
		margin-top: 3.2rem;
	}
	.post-header__date {
		width: 7.6rem;
		height: 7.6rem;
	}
	.post__button {
		padding-bottom: 2rem;
	}
}
// Tablet ( Small )
@media screen and (min-width: $tablet-small) {
	.post-header {
		padding: 2.2rem;
	}
}
// Tablet ( Medium )
@media screen and (min-width: $tablet-medium) {
	div.post-header {
		padding: 3rem;
	}
	.post-header__title {
		font-size: 2.6rem;
	}
}
// Tablet ( Large )
@media screen and (min-width: $tablet-large) {
	.post-header__title {
		font-size: 3rem;
	}
	.post-header__tag {
		margin-top: 2rem;
	}
	.post__button {
		padding-top: 0;
		padding-bottom: 4rem;
	}
}
// PC ( Small )
@media screen and (min-width: $pc-small) {
	.main div.post-header {
		padding-right: 6rem;
		padding-left: 6rem;
		margin-bottom: -2.8rem;
		.post-header__date {
			top: -1.8rem;
			right: 6rem;
			width: 10.6rem;
			height: 10.6rem;
			font-size: 1.4rem;
		}
		.post-header__small-text {
			font-size: 2rem;
		}
		.post-header__title {
			font-size: 3.4rem;
		}
	}
}