.section__header {
	text-align: center;
}
.department__person-cloud {
	display: none;
}
.section__header-text {
	display: inline-block;
	font-size: 2.4rem;
	background: url(../img/staff/flag-small-red-gray.svg) no-repeat .8rem top;
	background-size: 4.4rem;
	font-weight: bold;
	border-bottom: .3rem solid $red;
	padding: 3.6rem 1rem 1rem;
	line-height: 1;
}
.section__header-lead {
	padding: 1.4rem 0 4rem;
	line-height: 1;
}
// Tablet ( Medium )
@media screen and(min-width: $tablet-medium) {
	.section__header-text {
		background-position: left top;
		font-size: 3rem;
		padding: 3.6rem 1.6rem 1rem;
	}
	.section__header-lead {
		font-size: 1.6rem;
		padding: 2.8rem 0 6.4rem;
	}
}
// Tablet ( large )
@media screen and(min-width: $tablet-large) {
	.section__header-text {
		font-size: 4.2rem;
		background-size: 6.8rem;
		padding: 5rem 2.8rem 1.8rem;
	}
	.section__header-lead {
		font-size: 2.4rem;
		padding: 4rem 0 10rem;
	}
}
// PC ( Small )
@media screen and(min-width: $pc-small) {
	.section__header-lead {
		padding-bottom: 12rem;
	}
}