// Slider
.swiper-container {
	padding-bottom: 4.8rem;
	transform: translateY(20rem);
	transition: all 1s .5s;
	opacity: 0;
	&.lazyloaded {
		transform: translateY(0);
		opacity: 1;
	}
}
.swiper-container-horizontal > .swiper-pagination-bullets {
	height: 1rem;
	line-height: 0;
	bottom: 0;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 .75rem;
}
.swiper-pagination-bullet {
	width: 1rem;
	height: 1rem;
	background: #e8e8e8;
	opacity: 1;
	&.swiper-pagination-bullet-active {
		background: $red;
	}
}
// Tablet ( Large )
@media screen and (min-width: $tablet-large) {
	// Slider
	.swiper-container {
		padding-bottom: 10.8rem;
		transform: translateY(50rem);
	}
}
// PC ( Small )
@media screen and (min-width: $pc-small) {
	// Slider
	.swiper-container {
		padding-bottom: 14rem;
	}
}
// PC ( Medium )
@media screen and (min-width: $pc-medium) {
	// Slider
	.swiper-container {
		padding-bottom: 16rem;
	}
}