.tab {
	font-size: 1.4rem;
	a {
		border-bottom: .1rem solid $red;
		padding-bottom: .4rem;
	}
}
// Tablet ( Medium )
@media screen and (min-width: $tablet-medium) {
	.tab {
		display: block;
		font-size: 2rem;
		li + li {
			margin-left: 2rem;
		}
	}
}
// Tablet ( large )
@media screen and (min-width: $tablet-large) {
	.tab {
		li + li {
			margin-left: 2.8rem;
		}
		a {
			border-bottom-width: .2rem;
		}
		}
}
// PC ( Small )
@media screen and (min-width: $pc-small) {
	.tab {
		li + li {
			margin-left: 3.2rem;
		}
		a {
			font-size: 2.2rem;
		}
	}
}