.tag {
	font-size: 0;
	position: relative;
	li {
		display: inline-block;
		font-size: 1.4rem;
		margin-right: .7rem;
		margin-bottom: .4rem;
		white-space: nowrap;
	}
}
.tag-all {
	background: $background-gray-light;
	a {
		color: $navy;
	}
}
.tag-all__inner {
	padding: 2.8rem 0 1.8rem;
	text-align: center;
	li {
		margin-bottom: 1rem;
	}
}

// Mobile ( Large )
@media screen and (min-width: $mobile-large) {
	.tag {
		li {
			font-size: 1.6rem;
			margin-right: 1rem;
		}
	}
	.tag-all__inner {
		padding: 3.2rem 0 1.6rem;
		li {
			margin-bottom: 1.6rem;
		}
	}
}
// Tablet ( Small )
@media screen and (min-width: $tablet-small) {
	.tag-all__inner {
		padding: 4rem 1.6rem 2.4rem;
	}
}
// Tablet ( Small )
@media screen and (min-width: $tablet-small) {
	.tag-all__inner {
		padding: 5.4rem 1.8rem 3.6rem;
		li {
			font-size: 1.8rem;
			margin-bottom: 1.8rem;
		}
	}
}
// Tablet ( Large )
@media screen and (min-width: $tablet-large) {
	.tag {
		a {
			display: inline-block;
			position: relative;
			line-height: 1;
			padding: .4rem .4rem;
			span {
				position: relative;
				z-index: 2;
			}
			&::before {
				display: block;
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
				width: 0;
				height: 100%;
				background: $yellow;
				transition: width .4s .1s;
			}
		}
	}
	div.tag-all__inner {
		padding: 9rem 1.8rem 7rem;
		li {
			font-size: 2rem;
			margin-bottom: 2rem;
		}
	}
	@media (hover) {
		.tag {
			a {
				opacity: 1;
				color: #555;
				&:hover {
					&::before {
						width: 100%;
					}
				}
			}
		}
		.tag-all {
			a {
				color: $navy;
			}
		}
	}
}