body.login {
	background: url(./bg-login.jpg) repeat left top;
	background-size: cover;
}
body.login #login {
  padding-top: 5%
}
body.login #login h1 a {
	width: 100%;
	height: 120px;
	background: url(../src/img/common/logo-large.svg) no-repeat center center;
	background-size: contain;
}
body.login p#nav {
	text-align: center;
}
body.login p#nav a {
	color: #fff;
	text-decoration: underline;
}
body.login p#backtoblog {
	display: none;
}
body.login form,
body.login .message,
body.login #login_error {
	background: rgba(255, 255, 255, .8);
}
body.login form {
	border-radius: 4px;
}
body.login #backtoblog a:hover,
body.login #nav a:hover,
body.login h1 a:hover {
	color: #fff;
}
body.login .privacy-policy-page-link {
  display: none;
}