@function get_vw($size, $viewport:1280){
    $rate: 100 / $viewport;
    @return $rate * $size * 1vw;
}

html{
    font-size: 62.5%;
}

body{
}
.kv_area{
    background: #6FBBD8;
    padding-top: 105px;
    padding-bottom: 72px;
    margin-bottom: 80px;
    text-align: center;
    @media (max-width: 768px) {
        padding-top: 50vw;
        padding-bottom: get_vw(50,375);
        margin-bottom: 0;
    }
    &--wrap{
        .title{
            font-size: 6.5rem;
            line-height: 1.44;
            font-weight: 700;
            font-family: 'Noto Sans JP', sans-serif;
            @media (max-width: 768px) {
                font-size: 4rem;
            }
        }
        .title-en{
            font-family: din-2014, sans-serif;  
            font-weight: bold;
            font-size: 2rem;
            letter-spacing: 0.03em;
            @media (max-width: 768px) {
                font-size: 1.6rem;
            }
        }
        .pic{
            width: 3.98%;
            margin: 26px auto 30px;
            @media (max-width: 768px) {
                width: 10.6%;
            }
        }
        .text{
            width: 28.75%;
            margin:  auto;
            max-width: 368px;
            font-weight: 500;
            font-size: 1.4rem;
            letter-spacing: 0.03em;
            line-height: 1.571;
            @media (max-width: 768px) {
                width: 69.8%;
            }
        }
    }
}

.titleArea{
    display: flex;
    align-items: center;
    width: 92%;
    max-width: 1080px;
    margin: 80px auto;
    color: #222;
    @media (max-width: 768px) {
        margin: get_vw(50, 375) auto;
    }
    &__title{
        font-size: 4.6rem;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 700;
        @media (max-width: 768px) {
            font-size: 3.2rem;
        }
    }
    p{
        font-family: din-2014, sans-serif;  
        font-size: 1.6rem;
        margin-left: 1.6%;
        font-weight: bold;
        @media (max-width: 768px) {
            margin-left: 2.5%;
        }
    }
}

.mailArea{
    position: fixed;
    right: 20px;
    top: 100px;
    z-index: 10;
    width: 108px;
    &_circle_text{
        position: absolute;
        top:50%;
        left:50%;
        width:130%;
        animation: rotateAnim 10s linear infinite;
    }
    @keyframes rotateAnim{
        0% {
            transform: translate(-50%,-50%) rotate(0);
        }
        100% {
            transform: translate(-50%,-50%) rotate(360deg);
        }
    }
    img{
        width: 100%;
    }
}

.category{
    width: 92%;
    margin: 0 auto get_vw(20, 375);
    position: relative;
    &_title{
        p{
            font-family: din-2014, sans-serif;
            font-size: 1.8rem;
            font-weight: bold;
            letter-spacing: 0.03em;
            line-height: 1.88;
        }
    }
    select{
        width: 100%;
        line-height: 52px;
        text-align: center;
        border-radius: 26px;
        border: 1px solid #ccc;
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 1.5rem;
        font-weight: bold;
        outline: none;
    }
    .select::after{
        content: '';
        width: 6px;
        height: 6px;
        border-top: solid 2px #111;
        border-right: solid 2px #111;
        -ms-transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
        position: absolute;
        bottom: 27%;
        right: 6%;
    }
}

.contents{
    width: 92%;
    max-width: 1080px;
    margin: 0 auto 120px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px) {
        display: block;
        width: 100%;
    }
    img{
        width: 100%;
        vertical-align: middle;
    }
    .contents__left{
        width: 74.07%;
        @media (max-width: 768px) {
            width: 86.6%;
        }
            .contents__left--category{
                margin-bottom: 30px;
                .title{
                    font-family: din-2014, sans-serif;  
                    font-weight: bold;
                    font-size: 1.8rem;
                    letter-spacing: 0.03em;
                    margin-bottom: 20px;
                    line-height: 34px;
                    color: #222;
                    text-transform: uppercase;
                }
                ul{
                    li{
                        border: 1px solid #CCC;
                        border-radius: 20px;
                        display: inline-block;
                        padding-left: 3%;
                        padding-right: 3%;
                        margin-left: 10px;
                        margin-bottom: 10px;
                        cursor: pointer;
                        .wrap{
                            font-family: 'Noto Sans JP', sans-serif;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            font-size: 1.3rem;
                            line-height: 40px;
                            letter-spacing: 0.01em;
                            font-weight: bold;
                            color: #222;
                            line-height: 40px;
                            text-decoration: none;
                            .pic{
                                width: 20px;
                                margin-right: 6px;
                            }
                            p{
                                font-size: 1.3rem;
                                letter-spacing: 0.01em;
                                font-weight: bold;
                                color: #222;
                                font-family: 'Noto Sans JP', sans-serif;
                            }
                        }
                        &.on{
                            background: #EBEBEB;
                        }
                    }
                }
            }
            .contents__left--sort{
                margin-bottom: 80px;
                .title{
                    font-family: din-2014, sans-serif;  
                    font-weight: bold;
                    font-size: 1.8rem;
                    letter-spacing: 0.03em;
                    margin-bottom: 20px;
                    line-height: 34px;
                    color: #222;
                    text-transform: uppercase;
                }
                div{
                    font-family: 'Noto Sans JP', sans-serif;
                    font-size: 1.3rem;
                    font-weight: bold;
                    letter-spacing: 0.01em;
                    color: #222;
                    margin-left: 3%;
                    text-decoration: none;
                    position: relative;
                    text-align: center;
                    display: inline-block;
                    cursor: pointer;
                    &.on:after{
                        content: "";
                        position: absolute;
                        bottom: -5px;
                        left: 47%;
                        transform: translateX(-50%);
                        -webkit-transform: translateX(-50%);
                        -ms-transform: translateX(-50%);
                        background: #222;
                        width: 90%;
                        height: 3px;
                        border-radius: 3px;
                    }
                }
            }
            .contents__left--wrap{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                @media (max-width: 768px) {
                    display: block;
                    margin-top: get_vw(80, 375);
                }
                .block{
                    width: 47.7%;
                    margin-bottom: 40px;
                    border-radius: 10px;
                    box-shadow: 15px 20px 20px rgba(85, 85, 85, 0.2);
                    @media (max-width: 768px) {
                        width: 100%;
                    }
                    .pic{
                        display: block;
                        position: relative;
                        .tag{
                            width: 24%;
                            position: absolute;
                            top: 6%;
                            left: 0;
                            font-size: 1.4rem;
                            line-height: 30px;
                            color: #222;
                            border-radius: 0px 8px 8px 0px;
                            p{
                                font-family: din-2014, sans-serif;
                                font-size: 1.4rem;
                                font-weight: bold;
                                text-align: center;
                            }
                        }
                    }
                    .wrap{
                        width: 84%;
                        margin: 20px auto 0;
                        @media (max-width: 768px) {
                            width: 87.6%;
                        }
                        .c-wrap{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            margin-bottom: 20px;
                            .category{
                                display: flex;
                                width: fit-content;
                                justify-content: center;
                                align-items: center;
                                line-height: 28px;
                                border: 1px solid #CCC;
                                border-radius: 20px;
                                padding-left: 3%;
                                padding-right: 3%;
                                margin-left: 10px;
                                text-decoration: none;
                                .pic{
                                    width: 20px;
                                    margin-right: 6px;
                                }
                                p{
                                    font-size: 1.1rem;
                                    letter-spacing: 0.01em;
                                    font-weight: bold;
                                    color: #222;
                                    font-family: 'Noto Sans JP', sans-serif;
                                }
                            }
                            .date{
                                font-weight: 300;
                                font-size: 1.2rem;
                                letter-spacing: 0.06em;
                                line-height: 20px;
                                color: #222;
                                line-height: 1.667;
                                font-family: 'Noto Sans JP', sans-serif;
                            }
                        }
                        .hashtag{
                            margin-bottom: 26px;
                            ul{
                                li{
                                    display: inline;
                                    a{
                                        font-weight: 300;
                                        font-size: 1.2rem;
                                        line-height: 1.5;
                                        color: #222;
                                        text-decoration: none;
                                    }
                                }
                            }
                        }
                        .title{
                            font-family: 'Noto Sans JP', sans-serif;
                            font-weight: bold;
                            margin-bottom: 26px;
                            a{
                                font-size: 2.2rem;
                                line-height: 1.5;
                                color: #222;
                                text-decoration: none;
                                @media (max-width: 768px) {
                                    font-size: 2rem;
                                }
                            }
                        }
                        .name,.num{
                            font-family: 'Noto Sans JP', sans-serif;
                            font-size: 1.2rem;
                            line-height: 1.66;
                            color: #222;
                            font-weight: 300;
                            span{
                                font-family: 'Noto Sans JP', sans-serif;
                                font-size: 1.2rem;
                                font-weight: 500;
                                font-size: 1.2rem;
                            }
                        }
                        .resArea{
                            margin-top: 30px;
                            margin-bottom: 40px;
                            border-radius: 8px;
                            padding: 26px 0;
                            &-wrap{
                                width: 86.88%;
                                margin: 0 auto;
                                position: relative;
                                .resArea-title{
                                    font-family: "Noto Sans JP";
                                    font-weight: bold;
                                    font-size: 1.5rem;
                                    letter-spacing: 0.03em;
                                    line-height: 1.53;
                                    color: #111;
                                    position: absolute;
                                    top: -30%;
                                    left: 0;
                                }
                                .resArea-text{
                                    width: 90%;
                                    margin: 0 auto;
                                    font-family: "Noto Sans JP";
                                    margin-bottom: 11px;
                                    font-size: 1.2rem;
                                    font-weight: 300;
                                    line-height: 1.5;
                                    position: relative;
                                }
                                .resArea-text:before{
                                    content: "・";
                                    position: absolute;
                                    left: -5%;
                                    top: 0;
                                }
                                .resArea-text:last-of-type{
                                    margin-bottom: 0;
                                }
                            }
                        }
                        .more{
                            width: 46%;
                            font-family: din-2014, sans-serif;  
                            font-weight: bold;
                            font-size: 1.3rem;
                            letter-spacing: 0.03em;
                            line-height: 34px;
                            text-align: center;
                            color: #222;
                            display: block;
                            border: 1px solid #222222;
                            border-radius: 20px;
                            margin: 0 auto 43px;
                            text-decoration: none;
                            @media (max-width: 768px) {
                                width: 50.8%;
                            }
                        }
                    }
                }
                .online{
                    border: 8px solid #eadf67;
                    .resArea{
                        background: #E6D33B;
                    }
                    .pic{
                        .tag{
                            background: #e6d33b;
                        }
                    }
                }
                .offline{
                    border: 8px solid #6fbbd8;
                    .resArea{
                        background: #6fbbd8;
                    }
                    .pic{
                        .tag{
                            background: #6fbbd8;
                        }
                    }
                }
                .onoffline{
                    border: 8px solid #70b260;
                    .resArea{
                        background: #70b260;
                    }
                    .pic{
                        .tag{
                            background: #70b260;
                        }
                    }
                }
            }
        }
        .contents__right{
                width: 22.2%;
                @media (max-width: 768px) {
                    width: 91.7%;
                    margin: 0 auto 80px;
                }
                &--hashlist{
                        background: #F5F5F5;
                        border-radius: 10px;
                        padding-top: 35px;
                        padding-bottom: 35px;
                        @media (max-width: 768px) {
                            padding-top: get_vw(35,375);
                            padding-bottom: get_vw(50,375);
                        }
                        .inner{
                            width: 70.833%;
                            margin: 0 auto;
                        .title{
                            font-family: din-2014, sans-serif;  
                            font-weight: bold;
                            font-size: 1.5rem;
                            letter-spacing: 0.03em;
                            line-height: 1.875;
                            color: #222;
                            margin-bottom: 10px;
                        }
                        .wrap{
                            li{
                                display: inline;
                                a{
                                    font-family: "Noto Sans JP";
                                    font-size: 1.4rem;
                                    line-height: 1.857;
                                    letter-spacing: 0.03em;
                                    color: #222;
                                    text-decoration: none;
                                }
                            }
                        }
                }
            }
        }

    .min_footer{
        position: relative;
    }
}