html {
  font-size: 62.5%;
}

.min_header {
  z-index: 6;
}

.kv_area {
  background: #6FBBD8;
  padding-top: 105px;
  padding-bottom: 72px;
  margin-bottom: 80px;
  text-align: center;
}

@media (max-width: 768px) {
  .kv_area {
    padding-top: 50vw;
    padding-bottom: 13.33333vw;
    margin-bottom: 0;
  }
}

.kv_area.column_kv {
  background: #51A54A;
}

.kv_area--wrap .title {
  font-size: 6.5rem;
  line-height: 1.44;
  font-weight: 700;
  font-family: 'Noto Sans JP', sans-serif;
}

@media (max-width: 768px) {
  .kv_area--wrap .title {
    font-size: 4rem;
  }
}

.kv_area--wrap .title-en {
  font-family: din-2014, sans-serif;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 0.03em;
}

@media (max-width: 768px) {
  .kv_area--wrap .title-en {
    font-size: 1.6rem;
  }
}

.kv_area--wrap .pic {
  width: 3.98%;
  margin: 26px auto 30px;
}

@media (max-width: 768px) {
  .kv_area--wrap .pic {
    width: 10.6%;
  }
}

.kv_area--wrap .text {
  width: 28.75%;
  margin: auto;
  max-width: 368px;
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 0.03em;
  line-height: 1.571;
}

@media (max-width: 768px) {
  .kv_area--wrap .text {
    width: 69.8%;
  }
}

.titleArea {
  width: 92%;
  max-width: 1080px;
  margin: 80px auto;
  color: #222;
}

.titleArea.detail_area {
  display: block;
}

@media (max-width: 768px) {
  .titleArea {
    max-width: 100%;
    width: 100%;
    padding: 0 1.5rem;
    margin: 5.46rem 0 3.74rem;
  }
}

.titleArea__title {
  font-size: 4.6rem;
  font-family: 'Noto Sans JP', sans-serif;
}

@media (max-width: 768px) {
  .titleArea__title {
    font-size: 3.2rem;
  }
}

.titleArea .titleArea__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .titleArea .titleArea__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.titleArea .titleArea__top .category__link {
  border: 1px solid #CCC;
  border-radius: 20px;
  display: inline-block;
  padding-left: 3%;
  padding-right: 3%;
  margin-left: 10px;
  margin-bottom: 10px;
  font-family: 'Noto Sans JP', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3rem;
  line-height: 40px;
  letter-spacing: 0.01em;
  font-weight: bold;
  color: #222;
  line-height: 40px;
  text-decoration: none;
}

@media (max-width: 768px) {
  .titleArea .titleArea__top .category__link {
    margin-top: 3.17rem;
    margin-right: auto;
  }
}

.titleArea .titleArea__top .category__link .pic {
  width: 20px;
  margin-right: 6px;
}

@media (max-width: 768px) {
  .titleArea .titleArea__top .category__link .pic {
    width: 19px;
  }
}

.titleArea .titleArea__top .category__link .pic img {
  width: 100%;
  vertical-align: middle;
}

.titleArea .titleArea__top .category__link p {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 1.3rem;
  line-height: 13px;
  margin: 0;
  letter-spacing: 0.01em;
  font-weight: bold;
  color: #222;
  font-family: 'Noto Sans JP', sans-serif;
}

@media (max-width: 768px) {
  .titleArea .titleArea__top .category__link p {
    font-size: 1.2rem;
  }
}

.titleArea .titleArea__top .date__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.titleArea .titleArea__top .date__wrap p {
  font-size: 1.4rem;
  letter-spacing: 0.06rem;
  color: #222;
  font-family: 'Noto Sans JP', sans-serif;
}

@media (max-width: 768px) {
  .titleArea .titleArea__top .date__wrap p {
    font-size: 3.73333vw;
  }
}

.titleArea .titleArea__top .date__wrap .release__date {
  margin-right: 1.7rem;
}

.titleArea .titleArea__title {
  font-size: 4rem;
  line-height: 1.4;
  font-family: 'Noto Sans JP', sans-serif;
  color: #222;
}

@media (max-width: 768px) {
  .titleArea .titleArea__title {
    margin-top: 3rem;
    font-size: 2.8rem;
  }
}

.titleArea .sns__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4.97rem;
}

@media (max-width: 768px) {
  .titleArea .sns__wrap {
    margin-top: 4.38rem;
  }
}

.titleArea .sns__wrap .title {
  font-family: din-2014, sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 2.3333;
  letter-spacing: 0.08em;
  color: #999999;
}

.titleArea .sns__wrap .sns__icon {
  margin-left: 1.5rem;
  text-decoration: none;
}

@media (max-width: 768px) {
  .titleArea .sns__wrap .sns__icon {
    max-width: 24px;
    height: 24px;
    width: 6.4vw;
    height: 6.4vw;
  }
}

.titleArea .sns__wrap .sns__icon img {
  display: block;
}

@media (max-width: 768px) {
  .titleArea .sns__wrap .sns__icon img {
    width: 100%;
    height: 100%;
  }
}

.titleArea .blog-kv__img {
  display: block;
  width: 100%;
  margin-top: 6rem;
}

@media (max-width: 768px) {
  .titleArea .blog-kv__img {
    margin-top: 5rem;
  }
}

.contents {
  width: 92%;
  max-width: 1080px;
  margin: 0 auto 120;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .contents {
    display: block;
    max-width: 100%;
    width: 100%;
    padding: 0 1.5rem;
  }
}

.contents .contents__left {
  max-width: 801px;
}

@media (max-width: 768px) {
  .contents .contents__left {
    max-width: 100%;
    width: 100%;
  }
}

.contents .contents__left .column_ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-size: 16px;
}

.contents .contents__left .column_ul li span {
  font-size: 16px;
  color: #ddb400;
  margin: 0 20px 0 0;
  font-family: din-2014, sans-serif;
}

.contents .contents__left .contents__summary-text {
  font-size: 1.5rem;
  line-height: 2;
  font-family: 'Noto Sans JP', sans-serif;
  color: #222222;
  margin-bottom: 50px;
}

.contents .contents__left .contents__summary-title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contents .contents__left .contents__summary-title-wrap img {
  display: inline-block;
  max-width: 21.46px;
  margin-right: 1.35rem;
}

.contents .contents__left .contents__summary-title-wrap .contents__summary-title {
  font-size: 2.2rem;
  line-height: 1.5;
  font-weight: bold;
  font-family: 'Noto Sans JP', sans-serif;
  color: #DEB400;
}

.contents .contents__left .contents__summary ul {
  list-style: none;
}

.contents .contents__left .contents__summary ul li {
  margin-bottom: 3.53rem;
}

.contents .contents__left .contents__summary ul li:last-child {
  margin-bottom: 0;
}

.contents .contents__left .contents__summary ul li .contents__summary-title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contents .contents__left .contents__summary ul li .contents__summary-title-wrap img {
  display: inline-block;
  max-width: 21.46px;
  margin-right: 1.35rem;
}

.contents .contents__left .contents__summary ul li .contents__summary-title-wrap .contents__summary-title {
  font-size: 2.2rem;
  line-height: 1.5;
  font-weight: bold;
  font-family: 'Noto Sans JP', sans-serif;
  color: #DEB400;
}

.contents .contents__left .contents__summary ul li .contents__summary-text {
  margin-top: 1.43rem;
}

.contents .contents__left .contents__summary ul li .contents__summary-text p {
  font-size: 1.6rem;
  line-height: 1.75;
  font-family: 'Noto Sans JP', sans-serif;
  color: #222222;
}

.contents .contents__left .contents__sub-title {
  font-size: 18px;
  line-height: 1.4;
  font-family: 'Noto Sans JP', sans-serif;
  color: #222222;
}

@media (max-width: 768px) {
  .contents .contents__left .contents__sub-title {
    font-size: 1.8rem;
    line-height: 1.5555;
  }
}

.contents .contents__left .contents__main {
  margin-top: 8.6rem;
  margin-bottom: 8.6rem;
}

@media (max-width: 768px) {
  .contents .contents__left .contents__main {
    margin-top: 5.6rem;
    margin-bottom: 5.6rem;
  }
}

.contents .contents__left .contents__main__top {
  margin: 0 0 40px;
}

.contents .contents__left .contents__main-title {
  font-size: 3rem;
  line-height: 1.4;
  font-family: 'Noto Sans JP', sans-serif;
  color: #222222;
}

@media (max-width: 768px) {
  .contents .contents__left .contents__main-title {
    font-size: 1.8rem;
    line-height: 1.5555;
  }
}

.contents .contents__left .contents__main-img {
  display: block;
  width: 100%;
  margin-top: 3.2rem;
  margin-bottom: 4rem;
}

@media (max-width: 768px) {
  .contents .contents__left .contents__main-img {
    margin-top: 2.75rem;
    margin-bottom: 2.05rem;
  }
}

.contents .contents__left .contents__main-text {
  font-size: 1.5rem;
  line-height: 2;
  font-family: 'Noto Sans JP', sans-serif;
  color: #222222;
}

.contents .contents__left .comment__wrap {
  padding-bottom: 13.9rem;
  border-bottom: 1px solid #CCCCCC;
}

@media (max-width: 768px) {
  .contents .contents__left .comment__wrap {
    padding-top: 17.64rem;
    padding-bottom: 9.5rem;
  }
}

.contents .contents__left .comment__wrap.matome {
  padding-bottom: 0;
  border-bottom: 0;
}

.contents .contents__left .comment__wrap.matome h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.contents .contents__left .comment__wrap.matome p {
  font-size: 15px;
  font-weight: 300;
}

.contents .contents__left .comment__wrap ul {
  list-style: none;
  text-align: center;
}

.contents .contents__left .comment__wrap ul li {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  max-width: 504px;
  width: 39.375vw;
  padding: 3rem 4.5rem;
  background: #F2F2F2;
  border-radius: 80px;
  text-align: left;
}

@media (max-width: 768px) {
  .contents .contents__left .comment__wrap ul li {
    max-width: 100%;
    width: 100%;
  }
}

.contents .contents__left .comment__wrap ul li:first-child {
  margin-left: 4rem;
}

@media (max-width: 768px) {
  .contents .contents__left .comment__wrap ul li:first-child {
    margin-left: 0;
  }
}

.contents .contents__left .comment__wrap ul li:first-child .comment__man-img {
  position: absolute;
  bottom: -5.3rem;
  left: -17rem;
  max-width: 112px;
}

@media (max-width: 768px) {
  .contents .contents__left .comment__wrap ul li:first-child .comment__man-img {
    top: -42%;
    left: 50%;
    bottom: auto;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.contents .contents__left .comment__wrap ul li:first-child .speech-bubble {
  position: absolute;
  bottom: -1rem;
  left: -4rem;
  max-width: 83.86px;
}

@media (max-width: 768px) {
  .contents .contents__left .comment__wrap ul li:first-child .speech-bubble {
    top: -4.5rem;
    right: 10%;
    bottom: auto;
    left: auto;
    -webkit-transform: rotate(40deg) scale(1, -1);
            transform: rotate(40deg) scale(1, -1);
  }
}

.contents .contents__left .comment__wrap ul li:last-child {
  margin-right: 4rem;
  margin-top: 3.2rem;
}

@media (max-width: 768px) {
  .contents .contents__left .comment__wrap ul li:last-child {
    margin-top: 15rem;
    margin-right: 0;
  }
}

.contents .contents__left .comment__wrap ul li:last-child .comment__man-img {
  position: absolute;
  bottom: -5.3rem;
  right: -17rem;
  max-width: 112px;
}

@media (max-width: 768px) {
  .contents .contents__left .comment__wrap ul li:last-child .comment__man-img {
    top: -47%;
    left: 50%;
    bottom: auto;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.contents .contents__left .comment__wrap ul li:last-child .speech-bubble {
  position: absolute;
  bottom: -1rem;
  right: -4rem;
  max-width: 83.86px;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

@media (max-width: 768px) {
  .contents .contents__left .comment__wrap ul li:last-child .speech-bubble {
    top: -4.5rem;
    left: 10%;
    bottom: auto;
    right: auto;
    -webkit-transform: rotate(130deg);
            transform: rotate(130deg);
  }
}

.contents .contents__left .comment__wrap ul li .comment__title {
  font-size: 1.5rem;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.8666;
  letter-spacing: 0.02rem;
  color: #111111;
}

.contents .contents__left .comment__wrap ul li .comment__text {
  font-size: 1.4rem;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.5714;
  letter-spacing: 0.01rem;
  color: #666666;
}

.contents .contents__left .company_info {
  margin-top: 9.75rem;
}

@media (max-width: 768px) {
  .contents .contents__left .company_info {
    margin-top: 8.75rem;
  }
}

.contents .contents__left .company_info .company_info-title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contents .contents__left .company_info .company_info-title-wrap img {
  display: inline-block;
  max-width: 21.46px;
  margin-right: 1.35rem;
}

.contents .contents__left .company_info .company_info-title-wrap .company_info-title {
  font-size: 2.2rem;
  line-height: 1.5;
  font-weight: bold;
  font-family: 'Noto Sans JP', sans-serif;
  color: #DEB400;
}

.contents .contents__left .company_info .company_name {
  margin-top: 2.43rem;
  margin-bottom: 3.45rem;
  font-size: 2.6rem;
  font-family: 'Noto Sans JP', sans-serif;
  color: #222222;
}

.contents .contents__left .company_info .company_info-text p {
  font-size: 1.6rem;
  line-height: 1.875;
  font-family: 'Noto Sans JP', sans-serif;
  color: #222222;
}

.contents .contents__left .contents__left-bottom {
  margin-top: 9.8rem;
  margin-bottom: 10.8rem;
}

@media (max-width: 768px) {
  .contents .contents__left .contents__left-bottom {
    margin-top: 9.83rem;
  }
}

.contents .contents__left .contents__left-bottom .sns__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4.97rem;
}

@media (max-width: 768px) {
  .contents .contents__left .contents__left-bottom .sns__wrap {
    margin-top: 4.38rem;
  }
}

.contents .contents__left .contents__left-bottom .sns__wrap .title {
  font-family: din-2014, sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 2.3333;
  letter-spacing: 0.08rem;
  color: #999999;
}

.contents .contents__left .contents__left-bottom .sns__wrap .sns__icon {
  margin-left: 1.5rem;
  text-decoration: none;
}

@media (max-width: 768px) {
  .contents .contents__left .contents__left-bottom .sns__wrap .sns__icon {
    max-width: 24px;
    height: 24px;
    width: 6.4vw;
    height: 6.4vw;
  }
}

.contents .contents__left .contents__left-bottom .sns__wrap .sns__icon img {
  display: block;
}

@media (max-width: 768px) {
  .contents .contents__left .contents__left-bottom .sns__wrap .sns__icon img {
    width: 100%;
    height: 100%;
  }
}

.contents .contents__left ul {
  width: 100%;
  margin-top: 2rem;
  list-style: none;
}

@media (max-width: 768px) {
  .contents .contents__left ul {
    margin-top: 2rem;
  }
}

.contents .contents__left ul li {
  display: inline;
  margin-right: 1rem;
}

.contents .contents__left ul li .tag {
  font-size: 1.2rem;
  line-height: 1.5;
  font-family: 'Noto Sans JP', sans-serif;
  color: #222222;
  text-decoration: none;
}

.contents .contents__left .pagenav__wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10.8rem;
}

.contents .contents__left .pagenav__wrap .pagenav {
  position: relative;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Noto Sans JP', sans-serif;
  color: #222222;
  text-decoration: none;
}

.contents .contents__left .pagenav__wrap .pagenav .arrow {
  display: inline-block;
  position: absolute;
  width: 9px;
}

@media (max-width: 768px) {
  .contents .contents__left .pagenav__wrap .prev {
    margin-left: 3.5rem;
  }
}

.contents .contents__left .pagenav__wrap .prev .arrow {
  top: 0.4rem;
  left: -2rem;
  width: 9px;
}

@media (max-width: 768px) {
  .contents .contents__left .pagenav__wrap .next {
    margin-right: 3.5rem;
  }
}

.contents .contents__left .pagenav__wrap .next .arrow {
  top: 0.4rem;
  right: -2rem;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.contents .contents__right {
  width: 22.2%;
}

@media (max-width: 768px) {
  .contents .contents__right {
    width: 91.7%;
    margin: 0 auto 80px;
  }
}

.contents .contents__right--hashlist {
  background: #F5F5F5;
  border-radius: 10px;
  padding-top: 35px;
  padding-bottom: 35px;
}

@media (max-width: 768px) {
  .contents .contents__right--hashlist {
    padding-top: 9.33333vw;
    padding-bottom: 13.33333vw;
  }
}

.contents .contents__right--hashlist .inner {
  width: 70.833%;
  margin: 0 auto;
}

.contents .contents__right--hashlist .inner .title {
  font-family: din-2014, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 0.03rem;
  line-height: 1.875;
  color: #222;
  margin-bottom: 10px;
}

.contents .contents__right--hashlist .inner .wrap li {
  display: inline;
}

.contents .contents__right--hashlist .inner .wrap li a {
  font-family: "Noto Sans JP";
  font-size: 1.4rem;
  line-height: 1.857;
  letter-spacing: 0.03rem;
  color: #222;
  text-decoration: none;
}

.contents .contents__right--category {
  margin-top: 4.2rem;
}

.contents .contents__right--category .title {
  font-family: din-2014, sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  letter-spacing: 0.03em;
  line-height: 1.875;
  color: #222;
  margin-bottom: 2.9rem;
}

.contents .contents__right--category #category__menu .category__menu-wrap {
  margin-bottom: 1rem;
  padding-bottom: 2.4rem;
  border-radius: 0 0 1rem 1rem;
  background: #F8F8F8;
}

.contents .contents__right--category #category__menu .category__menu-wrap .category__menu-title {
  padding: 1.3rem 0 1.5rem 1.5rem;
  border-radius: 1rem 1rem 0 0;
  background: #EBEBEB;
  font-family: "Noto Sans JP";
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.01rem;
  color: #222;
  cursor: pointer;
}

.contents .contents__right--category #category__menu .category__menu-wrap .category__menu-title img {
  width: 20px;
  margin-right: 6px;
  vertical-align: middle;
}

.contents .contents__right--category #category__menu .category__menu-wrap .category__menu-text {
  padding: 1rem 1.5rem 0;
  font-family: "Noto Sans JP";
  font-size: 1.3rem;
  letter-spacing: 0.01rem;
  color: #222;
  display: none;
}

.slider_wrap__bottom {
  width: 92%;
  max-width: 1080px;
  margin-top: 22.2rem;
  margin-bottom: 20.2rem;
}

@media (max-width: 768px) {
  .slider_wrap__bottom {
    max-width: 100%;
    width: 100%;
    margin-top: 11.2rem;
    margin-bottom: 14.3rem;
    padding-right: 4rem;
    padding-left: 2rem;
  }
}

.slider_wrap__bottom .btn__area {
  position: relative;
  width: 490px;
  margin: auto;
  z-index: 5;
}

@media (max-width: 768px) {
  .slider_wrap__bottom .btn__area {
    max-width: 290px;
    width: 100%;
  }
}

.slider_wrap__bottom .btn__area a {
  width: 490px;
  height: 155px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 5px solid #E3CC13;
  border-radius: 100px;
  position: relative;
  z-index: 2;
  text-decoration: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 36px;
  font-weight: bold;
  color: #E3CC13;
  letter-spacing: 0.03rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
}

@media (max-width: 768px) {
  .slider_wrap__bottom .btn__area a {
    max-width: 290px;
    width: 100%;
    font-size: 22px;
    height: 90px;
  }
}

.slider_wrap__bottom .btn__area a span {
  color: #E3CC13;
  font-size: 16px;
  font-weight: bold;
  display: block;
  margin: 0 0 -5px 0;
}

@media (max-width: 768px) {
  .slider_wrap__bottom .btn__area a span {
    font-size: 12px;
  }
}

.slider_wrap__bottom .btn__area .btn_anim {
  width: 264px;
  position: absolute;
  top: -84px;
  right: -45px;
}

@media (max-width: 768px) {
  .slider_wrap__bottom .btn__area .btn_anim {
    width: 160px;
    top: -47px;
    right: -25px;
  }
  .slider_wrap__bottom .btn__area .btn_anim img {
    width: 100%;
  }
}

.slider_wrap__bottom .btn__area .anim2 {
  position: absolute;
  top: -50px;
  width: 75px !important;
  right: 60px;
}

@media (max-width: 768px) {
  .slider_wrap__bottom .btn__area .anim2 {
    position: absolute;
    top: -22px;
    width: 34px !important;
    right: 37px;
    width: 50px;
  }
}

.latest__article,
.related__article {
  width: 92%;
  max-width: 1080px;
  margin: 0 auto;
}

.latest__article.column_archive .online,
.related__article.column_archive .online {
  border: 0;
}

.latest__article.column_archive .text-detail,
.related__article.column_archive .text-detail {
  font-size: 14px;
  line-height: 22px;
  color: #222;
  margin: 0 0 40px;
}

.latest__article--title,
.related__article--title {
  margin-bottom: 5rem;
  font-family: "Noto Sans JP";
  font-size: 4rem;
  color: #222;
}

@media (max-width: 768px) {
  .latest__article--title,
  .related__article--title {
    font-size: 2.8rem;
  }
}

.latest__article--wrap,
.related__article--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .latest__article--wrap,
  .related__article--wrap {
    position: relative;
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .latest__article--wrap .prevArrow,
  .related__article--wrap .prevArrow {
    position: absolute;
    top: 50%;
    left: 0;
  }
}

@media (max-width: 768px) {
  .latest__article--wrap .nextArrow,
  .related__article--wrap .nextArrow {
    position: absolute;
    top: 50%;
    right: 0;
  }
}

.latest__article--wrap .block,
.related__article--wrap .block {
  max-width: 325px;
  width: 30%;
  margin-bottom: 40px;
  border-radius: 10px;
  -webkit-box-shadow: 15px 20px 20px rgba(85, 85, 85, 0.2);
          box-shadow: 15px 20px 20px rgba(85, 85, 85, 0.2);
}

@media (max-width: 768px) {
  .latest__article--wrap .block,
  .related__article--wrap .block {
    margin: 0 3rem 0;
    max-width: 100%;
    width: 100%;
  }
}

.latest__article--wrap .block .pic .kv,
.related__article--wrap .block .pic .kv {
  width: 100%;
}

.latest__article--wrap .block .wrap,
.related__article--wrap .block .wrap {
  width: 84%;
  margin: 20px auto 0;
}

@media (max-width: 768px) {
  .latest__article--wrap .block .wrap,
  .related__article--wrap .block .wrap {
    width: 87.6%;
  }
}

.latest__article--wrap .block .wrap .c-wrap,
.related__article--wrap .block .wrap .c-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.latest__article--wrap .block .wrap .c-wrap .category,
.related__article--wrap .block .wrap .c-wrap .category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 28px;
  border: 1px solid #CCC;
  border-radius: 20px;
  padding-left: 3%;
  padding-right: 3%;
  margin-left: 10px;
  text-decoration: none;
}

@media (max-width: 768px) {
  .latest__article--wrap .block .wrap .c-wrap .category,
  .related__article--wrap .block .wrap .c-wrap .category {
    width: auto;
  }
}

.latest__article--wrap .block .wrap .c-wrap .category .pic,
.related__article--wrap .block .wrap .c-wrap .category .pic {
  width: 20px;
  margin-right: 6px;
}

@media (max-width: 768px) {
  .latest__article--wrap .block .wrap .c-wrap .category .pic,
  .related__article--wrap .block .wrap .c-wrap .category .pic {
    max-width: 16px;
  }
}

.latest__article--wrap .block .wrap .c-wrap .category .pic img,
.related__article--wrap .block .wrap .c-wrap .category .pic img {
  width: 100%;
  vertical-align: middle;
}

.latest__article--wrap .block .wrap .c-wrap .category p,
.related__article--wrap .block .wrap .c-wrap .category p {
  font-size: 1.1rem;
  letter-spacing: 0.01em;
  font-weight: bold;
  color: #222;
  font-family: 'Noto Sans JP', sans-serif;
}

@media (max-width: 768px) {
  .latest__article--wrap .block .wrap .c-wrap .category p,
  .related__article--wrap .block .wrap .c-wrap .category p {
    font-size: 2.93333vw;
  }
}

.latest__article--wrap .block .wrap .c-wrap .date,
.related__article--wrap .block .wrap .c-wrap .date {
  font-weight: 300;
  font-size: 1.2rem;
  letter-spacing: 0.06em;
  line-height: 20px;
  color: #222;
  line-height: 1.667;
  font-family: 'Noto Sans JP', sans-serif;
}

.latest__article--wrap .block .wrap .hashtag,
.related__article--wrap .block .wrap .hashtag {
  margin-bottom: 26px;
}

.latest__article--wrap .block .wrap .hashtag ul li,
.related__article--wrap .block .wrap .hashtag ul li {
  display: inline;
}

.latest__article--wrap .block .wrap .hashtag ul li a,
.related__article--wrap .block .wrap .hashtag ul li a {
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #222;
  text-decoration: none;
}

.latest__article--wrap .block .wrap .title,
.related__article--wrap .block .wrap .title {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 1.5;
  color: #222;
  margin-bottom: 26px;
}

@media (max-width: 768px) {
  .latest__article--wrap .block .wrap .title,
  .related__article--wrap .block .wrap .title {
    font-size: 2rem;
  }
}

.latest__article--wrap .block .wrap .name, .latest__article--wrap .block .wrap .num,
.related__article--wrap .block .wrap .name,
.related__article--wrap .block .wrap .num {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.2rem;
  line-height: 1.66;
  color: #222;
  font-weight: 300;
}

.latest__article--wrap .block .wrap .name span, .latest__article--wrap .block .wrap .num span,
.related__article--wrap .block .wrap .name span,
.related__article--wrap .block .wrap .num span {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  font-size: 1.2rem;
}

.latest__article--wrap .block .wrap .resArea,
.related__article--wrap .block .wrap .resArea {
  margin-top: 30px;
  margin-bottom: 40px;
  border-radius: 8px;
  padding: 26px 0;
}

.latest__article--wrap .block .wrap .resArea-wrap,
.related__article--wrap .block .wrap .resArea-wrap {
  width: 86.88%;
  margin: 0 auto;
  position: relative;
}

.latest__article--wrap .block .wrap .resArea-wrap .resArea-title,
.related__article--wrap .block .wrap .resArea-wrap .resArea-title {
  font-family: "Noto Sans JP";
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 0.03em;
  line-height: 1.53;
  color: #111;
  position: absolute;
  top: -30%;
  left: 0;
}

.latest__article--wrap .block .wrap .resArea-wrap .resArea-text,
.related__article--wrap .block .wrap .resArea-wrap .resArea-text {
  font-family: "Noto Sans JP";
  margin-bottom: 11px;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5;
}

.latest__article--wrap .block .wrap .resArea-wrap .resArea-text:last-of-type,
.related__article--wrap .block .wrap .resArea-wrap .resArea-text:last-of-type {
  margin-bottom: 0;
}

.latest__article--wrap .block .wrap .more,
.related__article--wrap .block .wrap .more {
  width: 46%;
  font-family: din-2014, sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  letter-spacing: 0.03em;
  line-height: 34px;
  text-align: center;
  color: #222;
  display: block;
  border: 1px solid #222222;
  border-radius: 20px;
  margin: 0 auto 43px;
  text-decoration: none;
}

@media (max-width: 768px) {
  .latest__article--wrap .block .wrap .more,
  .related__article--wrap .block .wrap .more {
    width: 50.8%;
  }
}

.latest__article--wrap .online,
.related__article--wrap .online {
  border: 8px solid #eadf67;
}

.latest__article--wrap .online .resArea,
.related__article--wrap .online .resArea {
  background: #E6D33B;
}

.latest__article--wrap .offline,
.related__article--wrap .offline {
  border: 8px solid #6fbbd8;
}

.latest__article--wrap .offline .resArea,
.related__article--wrap .offline .resArea {
  background: #6fbbd8;
}

.latest__article--wrap .onoffline,
.related__article--wrap .onoffline {
  border: 8px solid #70b260;
}

.latest__article--wrap .onoffline .resArea,
.related__article--wrap .onoffline .resArea {
  background: #70b260;
}

.related__article {
  margin-top: 10rem;
}

@media (max-width: 768px) {
  .related__article {
    margin-bottom: 17.8rem;
  }
}

.pagination {
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

.pagination a, .pagination span {
  display: inline-block;
  text-decoration: none;
  font-weight: 300;
  color: #222;
  margin: 0 10px;
}

.column_text1 p {
  font-size: 14px;
  line-height: 22px;
  color: #222;
  margin: 0 0 30px;
  font-weight: 300;
}
/*# sourceMappingURL=caseDetails.css.map */