@charset "UTF-8";
html {
  font-size: 62.5%;
}

.kv_area {
  background: #6FBBD8;
  padding-top: 105px;
  padding-bottom: 72px;
  margin-bottom: 80px;
  text-align: center;
}

@media (max-width: 768px) {
  .kv_area {
    padding-top: 50vw;
    padding-bottom: 13.33333vw;
    margin-bottom: 0;
  }
}

.kv_area--wrap .title {
  font-size: 6.5rem;
  line-height: 1.44;
  font-weight: 700;
  font-family: 'Noto Sans JP', sans-serif;
}

@media (max-width: 768px) {
  .kv_area--wrap .title {
    font-size: 4rem;
  }
}

.kv_area--wrap .title-en {
  font-family: din-2014, sans-serif;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 0.03em;
}

@media (max-width: 768px) {
  .kv_area--wrap .title-en {
    font-size: 1.6rem;
  }
}

.kv_area--wrap .pic {
  width: 3.98%;
  margin: 26px auto 30px;
}

@media (max-width: 768px) {
  .kv_area--wrap .pic {
    width: 10.6%;
  }
}

.kv_area--wrap .text {
  width: 28.75%;
  margin: auto;
  max-width: 368px;
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 0.03em;
  line-height: 1.571;
}

@media (max-width: 768px) {
  .kv_area--wrap .text {
    width: 69.8%;
  }
}

.titleArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 92%;
  max-width: 1080px;
  margin: 80px auto;
  color: #222;
}

@media (max-width: 768px) {
  .titleArea {
    margin: 13.33333vw auto;
  }
}

.titleArea__title {
  font-size: 4.6rem;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
}

@media (max-width: 768px) {
  .titleArea__title {
    font-size: 3.2rem;
  }
}

.titleArea p {
  font-family: din-2014, sans-serif;
  font-size: 1.6rem;
  margin-left: 1.6%;
  font-weight: bold;
}

@media (max-width: 768px) {
  .titleArea p {
    margin-left: 2.5%;
  }
}

.mailArea {
  position: fixed;
  right: 20px;
  top: 100px;
  z-index: 10;
  width: 108px;
}

.mailArea_circle_text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 130%;
  -webkit-animation: rotateAnim 10s linear infinite;
          animation: rotateAnim 10s linear infinite;
}

@-webkit-keyframes rotateAnim {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
            transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes rotateAnim {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
            transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

.mailArea img {
  width: 100%;
}

.category {
  width: 92%;
  margin: 0 auto 5.33333vw;
  position: relative;
}

.category_title p {
  font-family: din-2014, sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 0.03em;
  line-height: 1.88;
}

.category select {
  width: 100%;
  line-height: 52px;
  text-align: center;
  border-radius: 26px;
  border: 1px solid #ccc;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  outline: none;
}

.category .select::after {
  content: '';
  width: 6px;
  height: 6px;
  border-top: solid 2px #111;
  border-right: solid 2px #111;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  position: absolute;
  bottom: 27%;
  right: 6%;
}

.contents {
  width: 92%;
  max-width: 1080px;
  margin: 0 auto 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .contents {
    display: block;
    width: 100%;
  }
}

.contents img {
  width: 100%;
  vertical-align: middle;
}

.contents .contents__left {
  width: 74.07%;
}

@media (max-width: 768px) {
  .contents .contents__left {
    width: 86.6%;
  }
}

.contents .contents__left .contents__left--category {
  margin-bottom: 30px;
}

.contents .contents__left .contents__left--category .title {
  font-family: din-2014, sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  line-height: 34px;
  color: #222;
  text-transform: uppercase;
}

.contents .contents__left .contents__left--category ul li {
  border: 1px solid #CCC;
  border-radius: 20px;
  display: inline-block;
  padding-left: 3%;
  padding-right: 3%;
  margin-left: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.contents .contents__left .contents__left--category ul li .wrap {
  font-family: 'Noto Sans JP', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3rem;
  line-height: 40px;
  letter-spacing: 0.01em;
  font-weight: bold;
  color: #222;
  line-height: 40px;
  text-decoration: none;
}

.contents .contents__left .contents__left--category ul li .wrap .pic {
  width: 20px;
  margin-right: 6px;
}

.contents .contents__left .contents__left--category ul li .wrap p {
  font-size: 1.3rem;
  letter-spacing: 0.01em;
  font-weight: bold;
  color: #222;
  font-family: 'Noto Sans JP', sans-serif;
}

.contents .contents__left .contents__left--category ul li.on {
  background: #EBEBEB;
}

.contents .contents__left .contents__left--sort {
  margin-bottom: 80px;
}

.contents .contents__left .contents__left--sort .title {
  font-family: din-2014, sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  line-height: 34px;
  color: #222;
  text-transform: uppercase;
}

.contents .contents__left .contents__left--sort div {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.01em;
  color: #222;
  margin-left: 3%;
  text-decoration: none;
  position: relative;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

.contents .contents__left .contents__left--sort div.on:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 47%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  background: #222;
  width: 90%;
  height: 3px;
  border-radius: 3px;
}

.contents .contents__left .contents__left--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .contents .contents__left .contents__left--wrap {
    display: block;
    margin-top: 21.33333vw;
  }
}

.contents .contents__left .contents__left--wrap .block {
  width: 47.7%;
  margin-bottom: 40px;
  border-radius: 10px;
  -webkit-box-shadow: 15px 20px 20px rgba(85, 85, 85, 0.2);
          box-shadow: 15px 20px 20px rgba(85, 85, 85, 0.2);
}

@media (max-width: 768px) {
  .contents .contents__left .contents__left--wrap .block {
    width: 100%;
  }
}

.contents .contents__left .contents__left--wrap .block .pic {
  display: block;
  position: relative;
}

.contents .contents__left .contents__left--wrap .block .pic .tag {
  width: 24%;
  position: absolute;
  top: 6%;
  left: 0;
  font-size: 1.4rem;
  line-height: 30px;
  color: #222;
  border-radius: 0px 8px 8px 0px;
}

.contents .contents__left .contents__left--wrap .block .pic .tag p {
  font-family: din-2014, sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
}

.contents .contents__left .contents__left--wrap .block .wrap {
  width: 84%;
  margin: 20px auto 0;
}

@media (max-width: 768px) {
  .contents .contents__left .contents__left--wrap .block .wrap {
    width: 87.6%;
  }
}

.contents .contents__left .contents__left--wrap .block .wrap .c-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.contents .contents__left .contents__left--wrap .block .wrap .c-wrap .category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 28px;
  border: 1px solid #CCC;
  border-radius: 20px;
  padding-left: 3%;
  padding-right: 3%;
  margin-left: 10px;
  text-decoration: none;
}

.contents .contents__left .contents__left--wrap .block .wrap .c-wrap .category .pic {
  width: 20px;
  margin-right: 6px;
}

.contents .contents__left .contents__left--wrap .block .wrap .c-wrap .category p {
  font-size: 1.1rem;
  letter-spacing: 0.01em;
  font-weight: bold;
  color: #222;
  font-family: 'Noto Sans JP', sans-serif;
}

.contents .contents__left .contents__left--wrap .block .wrap .c-wrap .date {
  font-weight: 300;
  font-size: 1.2rem;
  letter-spacing: 0.06em;
  line-height: 20px;
  color: #222;
  line-height: 1.667;
  font-family: 'Noto Sans JP', sans-serif;
}

.contents .contents__left .contents__left--wrap .block .wrap .hashtag {
  margin-bottom: 26px;
}

.contents .contents__left .contents__left--wrap .block .wrap .hashtag ul li {
  display: inline;
}

.contents .contents__left .contents__left--wrap .block .wrap .hashtag ul li a {
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #222;
  text-decoration: none;
}

.contents .contents__left .contents__left--wrap .block .wrap .title {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  margin-bottom: 26px;
}

.contents .contents__left .contents__left--wrap .block .wrap .title a {
  font-size: 2.2rem;
  line-height: 1.5;
  color: #222;
  text-decoration: none;
}

@media (max-width: 768px) {
  .contents .contents__left .contents__left--wrap .block .wrap .title a {
    font-size: 2rem;
  }
}

.contents .contents__left .contents__left--wrap .block .wrap .name, .contents .contents__left .contents__left--wrap .block .wrap .num {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.2rem;
  line-height: 1.66;
  color: #222;
  font-weight: 300;
}

.contents .contents__left .contents__left--wrap .block .wrap .name span, .contents .contents__left .contents__left--wrap .block .wrap .num span {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  font-size: 1.2rem;
}

.contents .contents__left .contents__left--wrap .block .wrap .resArea {
  margin-top: 30px;
  margin-bottom: 40px;
  border-radius: 8px;
  padding: 26px 0;
}

.contents .contents__left .contents__left--wrap .block .wrap .resArea-wrap {
  width: 86.88%;
  margin: 0 auto;
  position: relative;
}

.contents .contents__left .contents__left--wrap .block .wrap .resArea-wrap .resArea-title {
  font-family: "Noto Sans JP";
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 0.03em;
  line-height: 1.53;
  color: #111;
  position: absolute;
  top: -30%;
  left: 0;
}

.contents .contents__left .contents__left--wrap .block .wrap .resArea-wrap .resArea-text {
  width: 90%;
  margin: 0 auto;
  font-family: "Noto Sans JP";
  margin-bottom: 11px;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5;
  position: relative;
}

.contents .contents__left .contents__left--wrap .block .wrap .resArea-wrap .resArea-text:before {
  content: "・";
  position: absolute;
  left: -5%;
  top: 0;
}

.contents .contents__left .contents__left--wrap .block .wrap .resArea-wrap .resArea-text:last-of-type {
  margin-bottom: 0;
}

.contents .contents__left .contents__left--wrap .block .wrap .more {
  width: 46%;
  font-family: din-2014, sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  letter-spacing: 0.03em;
  line-height: 34px;
  text-align: center;
  color: #222;
  display: block;
  border: 1px solid #222222;
  border-radius: 20px;
  margin: 0 auto 43px;
  text-decoration: none;
}

@media (max-width: 768px) {
  .contents .contents__left .contents__left--wrap .block .wrap .more {
    width: 50.8%;
  }
}

.contents .contents__left .contents__left--wrap .online {
  border: 8px solid #eadf67;
}

.contents .contents__left .contents__left--wrap .online .resArea {
  background: #E6D33B;
}

.contents .contents__left .contents__left--wrap .online .pic .tag {
  background: #e6d33b;
}

.contents .contents__left .contents__left--wrap .offline {
  border: 8px solid #6fbbd8;
}

.contents .contents__left .contents__left--wrap .offline .resArea {
  background: #6fbbd8;
}

.contents .contents__left .contents__left--wrap .offline .pic .tag {
  background: #6fbbd8;
}

.contents .contents__left .contents__left--wrap .onoffline {
  border: 8px solid #70b260;
}

.contents .contents__left .contents__left--wrap .onoffline .resArea {
  background: #70b260;
}

.contents .contents__left .contents__left--wrap .onoffline .pic .tag {
  background: #70b260;
}

.contents .contents__right {
  width: 22.2%;
}

@media (max-width: 768px) {
  .contents .contents__right {
    width: 91.7%;
    margin: 0 auto 80px;
  }
}

.contents .contents__right--hashlist {
  background: #F5F5F5;
  border-radius: 10px;
  padding-top: 35px;
  padding-bottom: 35px;
}

@media (max-width: 768px) {
  .contents .contents__right--hashlist {
    padding-top: 9.33333vw;
    padding-bottom: 13.33333vw;
  }
}

.contents .contents__right--hashlist .inner {
  width: 70.833%;
  margin: 0 auto;
}

.contents .contents__right--hashlist .inner .title {
  font-family: din-2014, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 0.03em;
  line-height: 1.875;
  color: #222;
  margin-bottom: 10px;
}

.contents .contents__right--hashlist .inner .wrap li {
  display: inline;
}

.contents .contents__right--hashlist .inner .wrap li a {
  font-family: "Noto Sans JP";
  font-size: 1.4rem;
  line-height: 1.857;
  letter-spacing: 0.03em;
  color: #222;
  text-decoration: none;
}

.contents .min_footer {
  position: relative;
}
/*# sourceMappingURL=caseList.css.map */