@function get_vw($size, $viewport:1280){
    $rate: 100 / $viewport;
    @return $rate * $size * 1vw;
}

html{
    font-size: 62.5%;
}

.min_header {
    z-index: 6;
}

.kv_area{
    background: #6FBBD8;
    padding-top: 105px;
    padding-bottom: 72px;
    margin-bottom: 80px;
    text-align: center;
    @media (max-width: 768px) {
        padding-top: 50vw;
        padding-bottom: get_vw(50,375);
        margin-bottom: 0;
    }
    &.column_kv{
        background: #51A54A;
    }
    &--wrap{
        .title{
            font-size: 6.5rem;
            line-height: 1.44;
            font-weight: 700;
            font-family: 'Noto Sans JP', sans-serif;
            @media (max-width: 768px) {
                font-size: 4rem;
            }
        }
        .title-en{
            font-family: din-2014, sans-serif;  
            font-weight: bold;
            font-size: 2rem;
            letter-spacing: 0.03em;
            @media (max-width: 768px) {
                font-size: 1.6rem;
            }
        }
        .pic{
            width: 3.98%;
            margin: 26px auto 30px;
            @media (max-width: 768px) {
                width: 10.6%;
            }
        }
        .text{
            width: 28.75%;
            margin:  auto;
            max-width: 368px;
            font-weight: 500;
            font-size: 1.4rem;
            letter-spacing: 0.03em;
            line-height: 1.571;
            @media (max-width: 768px) {
                width: 69.8%;
            }
        }
    }
}

.titleArea{
    width: 92%;
    max-width: 1080px;
    margin: 80px auto;
    color: #222;
    &.detail_area{
        display: block;
    }
    @media (max-width: 768px) {
        max-width: 100%;
        width: 100%;
        padding: 0 1.5rem;
        margin: 5.46rem 0 3.74rem;
    }
    &__title{
        font-size: 4.6rem;
        font-family: 'Noto Sans JP', sans-serif;
        @media (max-width: 768px) {
            font-size: 3.2rem;
        }
    }
    
    .titleArea__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 768px) {
            flex-direction:column-reverse;
        }

        .category__link{
            border: 1px solid #CCC;
            border-radius: 20px;
            display: inline-block;
            padding-left: 3%;
            padding-right: 3%;
            margin-left: 10px;
            margin-bottom: 10px;
            font-family: 'Noto Sans JP', sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.3rem;
            line-height: 40px;
            letter-spacing: 0.01em;
            font-weight: bold;
            color: #222;
            line-height: 40px;
            text-decoration: none;
            @media (max-width: 768px) {
                margin-top: 3.17rem;
                margin-right: auto;
            }
            .pic{
                width: 20px;
                margin-right: 6px;
                @media (max-width: 768px) {
                    width: 19px;
                }

                img{
                    width: 100%;
                    vertical-align: middle;
                }
            }
            
            p{
                width: max-content;
                font-size: 1.3rem;
                line-height: 13px;
                margin: 0;
                letter-spacing: 0.01em;
                font-weight: bold;
                color: #222;
                font-family: 'Noto Sans JP', sans-serif;
                @media (max-width: 768px) {
                    font-size: 1.2rem;
                }
            }
        }

        .date__wrap {
            display: flex;

            p {
                font-size: 1.4rem;
                letter-spacing: 0.06rem;
                color: #222;
                font-family: 'Noto Sans JP', sans-serif;
                @media (max-width: 768px) {
                    font-size: get_vw(14, 375);
                }
            }

            .release__date {
                margin-right: 1.7rem;
            }
        }
    }

    .titleArea__title {
        font-size: 4rem;
        line-height: 1.4;
        font-family: 'Noto Sans JP', sans-serif;
        color: #222;
        @media (max-width: 768px) {
            margin-top: 3rem;
            font-size: 2.8rem;
        }
    }

    .sns__wrap {
        display: flex;
        align-items: center;
        margin-top: 4.97rem;
        @media (max-width: 768px) {
            margin-top: 4.38rem;
        }

        .title {
            font-family: din-2014, sans-serif;  
            font-weight: bold;
            font-size: 1.2rem;
            line-height: 2.3333;
            letter-spacing: 0.08em;
            color: #999999;
        }

        .sns__icon {
            margin-left: 1.5rem;
            text-decoration: none;
            @media (max-width: 768px) {
                max-width: 24px;
                height: 24px;
                width: get_vw(24, 375);
                height: get_vw(24, 375);
            }

            img {
                display: block;
                @media (max-width: 768px) {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .blog-kv__img {
        display: block;
        width: 100%;
        margin-top: 6rem;
        @media (max-width: 768px) {
            margin-top: 5rem;
        }
    }
}
.contents {
    width: 92%;
    max-width: 1080px;
    margin: 0 auto 120;
    position: relative;
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px) {
        display: block;
        max-width: 100%;
        width: 100%;
        padding: 0 1.5rem;
    }

    .contents__left {
        max-width: 801px;
        @media (max-width: 768px) {
            max-width: 100%;
            width: 100%;
        }
        .column_ul{
            li{
                a{
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    font-size: 16px;
                    
                }
                span{
                    font-size: 16px;
                    color: #ddb400;
                    margin: 0 20px 0 0;
                    font-family: din-2014, sans-serif;  
                }
                
            }
        }
        .contents__summary {
            &-text{
                font-size: 1.5rem;
                line-height: 2;
                font-family: 'Noto Sans JP', sans-serif;
                color: #222222; 
                margin-bottom: 50px;
            }
            &-title-wrap {
                display: flex;
                align-items: center;

                img {
                    display: inline-block;
                    max-width: 21.46px;
                    margin-right: 1.35rem;
                }

                .contents__summary-title {
                    font-size: 2.2rem;
                    line-height: 1.5;
                    font-weight: bold;
                    font-family: 'Noto Sans JP', sans-serif;
                    color: #DEB400;
                }
            }
            ul {
                list-style: none;
                li {
                    margin-bottom: 3.53rem;
                    &:last-child {
                        margin-bottom: 0;
                    }

                    .contents__summary-title-wrap {
                        display: flex;
                        align-items: center;

                        img {
                            display: inline-block;
                            max-width: 21.46px;
                            margin-right: 1.35rem;
                        }

                        .contents__summary-title {
                            font-size: 2.2rem;
                            line-height: 1.5;
                            font-weight: bold;
                            font-family: 'Noto Sans JP', sans-serif;
                            color: #DEB400;
                        }
                    }
                    
                    .contents__summary-text {
                        margin-top: 1.43rem;
                        p {
                            font-size: 1.6rem;
                            line-height: 1.75;
                            font-family: 'Noto Sans JP', sans-serif;
                            color: #222222;
                        }
                    }
                }
            }
        }
        .contents__sub {
            &-title {
                font-size: 18px;
                line-height: 1.4;
                font-family: 'Noto Sans JP', sans-serif;
                color: #222222;
                @media (max-width: 768px) {
                    font-size: 1.8rem;
                    line-height: 1.5555;
                }
            }
        }
        .contents__main {
            margin-top: 8.6rem;
            margin-bottom: 8.6rem;
            @media (max-width: 768px) {
                margin-top: 5.6rem;
                margin-bottom: 5.6rem;
            }
            &__top{
                margin: 0 0 40px;
            }
            &-title {
                font-size: 3rem;
                line-height: 1.4;
                font-family: 'Noto Sans JP', sans-serif;
                color: #222222;
                @media (max-width: 768px) {
                    font-size: 1.8rem;
                    line-height: 1.5555;
                }
            }

            &-img {
                display: block;
                width: 100%;
                margin-top: 3.2rem;
                margin-bottom: 4rem;
                @media (max-width: 768px) {
                    margin-top: 2.75rem;
                    margin-bottom: 2.05rem;
                }
            }

            &-text {
                font-size: 1.5rem;
                line-height: 2;
                font-family: 'Noto Sans JP', sans-serif;
                color: #222222;
            }
        }

        .comment__wrap {
            padding-bottom: 13.9rem;
            border-bottom: 1px solid #CCCCCC;
            @media (max-width: 768px) {
                padding-top: 17.64rem;
                padding-bottom: 9.5rem;
            }
            &.matome{
                padding-bottom:0;
                border-bottom:0;
                h4{
                    font-size:18px;
                    font-weight: bold;
                    margin-bottom: 20px;
                }
                p{
                    font-size:15px;
                    font-weight: 300;
 
                }
            }

            ul {
                list-style: none;
                text-align: center;
                li {
                    position: relative;
                    display: inline-block;
                    margin: 0 auto;
                    max-width: 504px;
                    width: get_vw(504);
                    padding: 3rem 4.5rem;
                    background: #F2F2F2;
                    border-radius: 80px;
                    text-align: left;
                    @media (max-width: 768px) {
                        max-width: 100%;
                        width: 100%;
                    }

                    &:first-child {
                        margin-left: 4rem;
                        @media (max-width: 768px) {
                            margin-left: 0;
                        }

                        .comment__man-img {
                            position: absolute;
                            bottom: -5.3rem;
                            left: -17rem;
                            max-width: 112px;
                            @media (max-width: 768px) {
                                top: -42%;
                                left: 50%;
                                bottom: auto;
                                transform: translate(-50%, -50%);
                            }
                        }
    
                        .speech-bubble {
                            position: absolute;
                            bottom: -1rem;
                            left: -4rem;
                            max-width: 83.86px;
                            @media (max-width: 768px) {
                                top: -4.5rem;
                                right: 10%;
                                bottom: auto;
                                left: auto;
                                transform: rotate(40deg) scale(1, -1);
                            }
                        }
                    }

                    &:last-child {
                        margin-right: 4rem;
                        margin-top: 3.2rem;
                        @media (max-width: 768px) {
                            margin-top: 15rem;
                            margin-right: 0;
                        }

                        .comment__man-img {
                            position: absolute;
                            bottom: -5.3rem;
                            right: -17rem;
                            max-width: 112px;
                            @media (max-width: 768px) {
                                top: -47%;
                                left: 50%;
                                bottom: auto;
                                transform: translate(-50%, -50%);
                            }
                        }
    
                        .speech-bubble {
                            position: absolute;
                            bottom: -1rem;
                            right: -4rem;
                            max-width: 83.86px;
                            transform: scale(-1, 1);
                            @media (max-width: 768px) {
                                top: -4.5rem;
                                left: 10%;
                                bottom: auto;
                                right: auto;
                                transform: rotate(130deg);
                            }
                        }
                    }

                    .comment__title {
                        font-size: 1.5rem;
                        font-family: 'Noto Sans JP', sans-serif;
                        line-height: 1.8666;
                        letter-spacing: 0.02rem;
                        color: #111111;
                    }

                    .comment__text {
                        font-size: 1.4rem;
                        font-family: 'Noto Sans JP', sans-serif;
                        line-height: 1.5714;
                        letter-spacing: 0.01rem;
                        color: #666666;
                    }
                }
            }
        }

        .company_info {
            margin-top: 9.75rem;
            @media (max-width: 768px) {
                margin-top: 8.75rem;
            }
            .company_info-title-wrap {
                display: flex;
                align-items: center;

                img {
                    display: inline-block;
                    max-width: 21.46px;
                    margin-right: 1.35rem;
                }

                .company_info-title {
                    font-size: 2.2rem;
                    line-height: 1.5;
                    font-weight: bold;
                    font-family: 'Noto Sans JP', sans-serif;
                    color: #DEB400;
                }
            }

            .company_name {
                margin-top: 2.43rem;
                margin-bottom: 3.45rem;
                font-size: 2.6rem;
                font-family: 'Noto Sans JP', sans-serif;
                color: #222222;
            }

            .company_info-text {
                p {
                    font-size: 1.6rem;
                    line-height: 1.875;
                    font-family: 'Noto Sans JP', sans-serif;
                    color: #222222;
                }
            }
        }

        .contents__left-bottom {
            margin-top: 9.8rem;
            margin-bottom: 10.8rem;
            @media (max-width: 768px) {
                margin-top: 9.83rem;
            }
            .sns__wrap {
                display: flex;
                align-items: center;
                margin-top: 4.97rem;
                @media (max-width: 768px) {
                    margin-top: 4.38rem;
                }
        
                .title {
                    font-family: din-2014, sans-serif;  
                    font-weight: bold;
                    font-size: 1.2rem;
                    line-height: 2.3333;
                    letter-spacing: 0.08rem;
                    color: #999999;
                }
        
                .sns__icon {
                    margin-left: 1.5rem;
                    text-decoration: none;
                    @media (max-width: 768px) {
                        max-width: 24px;
                        height: 24px;
                        width: get_vw(24, 375);
                        height: get_vw(24, 375);
                    }
        
                    img {
                        display: block;
                        @media (max-width: 768px) {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }

        ul {
            width: 100%;
            margin-top: 2rem;
            list-style: none;
            @media (max-width: 768px) {
                margin-top: 2rem;
            }

            li {
                display: inline;
                margin-right: 1rem;
                .tag {
                    font-size: 1.2rem;
                    line-height: 1.5;
                    font-family: 'Noto Sans JP', sans-serif;
                    color: #222222;
                    text-decoration: none;
                }
            }
        }

        .pagenav__wrap {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 10.8rem;

            .pagenav {
                position: relative;
                font-size: 1.5rem;
                font-weight: bold;
                font-family: 'Noto Sans JP', sans-serif;
                color: #222222;
                text-decoration: none;

                .arrow {
                    display: inline-block;
                    position: absolute;
                    width: 9px;
                }
            }

            .prev {
                @media (max-width: 768px) {
                    margin-left: 3.5rem;
                }
                .arrow {
                    top: 0.4rem;
                    left: -2rem;
                    width: 9px;
                }
            }

            .next {
                @media (max-width: 768px) {
                    margin-right: 3.5rem;
                }
                .arrow {
                    top: 0.4rem;
                    right: -2rem;
                    transform: scale(-1, 1);
                }
            }
        }
    }

    .contents__right{
        width: 22.2%;
        @media (max-width: 768px) {
            width: 91.7%;
            margin: 0 auto 80px;
        }
        &--hashlist{
            background: #F5F5F5;
            border-radius: 10px;
            padding-top: 35px;
            padding-bottom: 35px;
            @media (max-width: 768px) {
                padding-top: get_vw(35,375);
                padding-bottom: get_vw(50,375);
            }
            .inner{
                width: 70.833%;
                margin: 0 auto;
                .title{
                    font-family: din-2014, sans-serif;  
                    font-weight: bold;
                    font-size: 1.5rem;
                    letter-spacing: 0.03rem;
                    line-height: 1.875;
                    color: #222;
                    margin-bottom: 10px;
                }
                .wrap{
                    li{
                        display: inline;
                        a{
                            font-family: "Noto Sans JP";
                            font-size: 1.4rem;
                            line-height: 1.857;
                            letter-spacing: 0.03rem;
                            color: #222;
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        &--category {
            margin-top: 4.2rem;

            .title{
                font-family: din-2014, sans-serif;  
                font-weight: bold;
                font-size: 1.8rem;
                letter-spacing: 0.03em;
                line-height: 1.875;
                color: #222;
                margin-bottom: 2.9rem;
            }

            #category__menu {
                .category__menu-wrap {
                    margin-bottom: 1rem;
                    padding-bottom: 2.4rem;
                    border-radius: 0 0 1rem 1rem;
                    background: #F8F8F8;

                    .category__menu-title {
                        padding: 1.3rem 0 1.5rem 1.5rem;
                        border-radius: 1rem 1rem 0 0;
                        background: #EBEBEB;
                        font-family: "Noto Sans JP";
                        font-size: 1.3rem;
                        font-weight: bold;
                        letter-spacing: 0.01rem;
                        color: #222;
                        cursor: pointer;
    
                        img{
                            width: 20px;
                            margin-right: 6px;
                            vertical-align: middle;
                        }
                    }
    
                    .category__menu-text {
                        padding: 1rem 1.5rem 0;
                        font-family: "Noto Sans JP";
                        font-size: 1.3rem;
                        letter-spacing: 0.01rem;
                        color: #222;
                        display: none;
                    }
                }
            }
        }
    }
}

.slider_wrap__bottom {
    width: 92%;
    max-width: 1080px;
    margin-top: 22.2rem;
    margin-bottom: 20.2rem;
    @media (max-width: 768px) {
        max-width: 100%;
        width: 100%;
        margin-top: 11.2rem;
        margin-bottom: 14.3rem;
        padding-right: 4rem;
        padding-left: 2rem;
    }
    .btn__area{
        position: relative;
        width: 490px;
        margin: auto;
        z-index: 5;
        @media (max-width: 768px) {
          max-width: 290px;
          width: 100%;
        }
        a{
            width: 490px;
            height: 155px;
            display: flex;
            border: 5px solid #E3CC13;
            border-radius: 100px;
            position: relative;
            z-index: 2;
            text-decoration: none;
            flex-direction: column;
            font-size: 36px;
            font-weight: bold;
            color: #E3CC13;
            letter-spacing: 0.03rem;
            align-items: center;
            justify-content: center;
            background: #fff;
            @media (max-width: 768px) {
                max-width: 290px;
                width: 100%;
                font-size: 22px;
                height: 90px;
               }
            span{
                color: #E3CC13;
                font-size: 16px;
                font-weight: bold;
                display: block;
                margin: 0 0 -5px 0;
                @media (max-width: 768px) {
                    font-size: 12px;
                }
    
            }
        }
        .btn_anim{
            width: 264px;
            position: absolute;
            top: -84px;
            right: -45px;
            @media (max-width: 768px) {
                width: 160px;
                top: -47px;
                right: -25px;
                img{
                    width: 100%;
                    
                }
            }
        }
        .anim2{
            position: absolute;
            top: -50px;
            width: 75px!important;
            right: 60px;
            @media (max-width: 768px) {
            position: absolute;
            top: -22px;
            width: 34px!important;
            right: 37px;
            width: 50px;
            }
        }
    
    }
}

.latest__article,
.related__article {

    &.column_archive{
        .online{
            border: 0;
        }
        .text-detail{
            font-size: 14px;
            line-height: 22px;
            color: #222;
            margin: 0 0 40px;
        }
    }
    width: 92%;
    max-width: 1080px;
    margin: 0 auto;
    &--title {
        margin-bottom: 5rem;
        font-family: "Noto Sans JP";
        font-size: 4rem;
        color: #222;
        @media (max-width: 768px) {
            font-size: 2.8rem;
        }
    }

    &--wrap{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @media (max-width: 768px) {
            position: relative;
            display: block;
            max-width: 100%;
            margin: 0 auto;
        }
        .prevArrow {
            @media (max-width: 768px) {
                position: absolute;
                top: 50%;
                left: 0;
            }
        }
        .nextArrow {
            @media (max-width: 768px) {
                position: absolute;
                top: 50%;
                right: 0;
            }
        }
        .block{
            max-width: 325px;
            width: 30%;
            margin-bottom: 40px;
            border-radius: 10px;
            box-shadow: 15px 20px 20px rgba(85, 85, 85, 0.2);
            @media (max-width: 768px) {
                margin: 0 3rem 0;
                max-width: 100%;
                width: 100%;
            }
            .pic{
                .kv {
                    width: 100%;
                }
            }
            .wrap{
                width: 84%;
                margin: 20px auto 0;
                @media (max-width: 768px) {
                    width: 87.6%;
                }
                .c-wrap{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 20px;
                    .category{
                        display: flex;
                        width: 30%;
                        justify-content: center;
                        align-items: center;
                        line-height: 28px;
                        border: 1px solid #CCC;
                        border-radius: 20px;
                        padding-left: 3%;
                        padding-right: 3%;
                        margin-left: 10px;
                        text-decoration: none;
                        @media (max-width: 768px) {
                            width: auto;
                        }
                        .pic{
                            width: 20px;
                            margin-right: 6px;
                            @media (max-width: 768px) {
                                max-width: 16px;
                            }
                            img {
                                width: 100%;
                                vertical-align: middle;
                            }
                        }
                        p{
                            font-size: 1.1rem;
                            letter-spacing: 0.01em;
                            font-weight: bold;
                            color: #222;
                            font-family: 'Noto Sans JP', sans-serif;
                            @media (max-width: 768px) {
                                font-size: get_vw(11, 375);
                            }
                        }
                    }
                    .date{
                        font-weight: 300;
                        font-size: 1.2rem;
                        letter-spacing: 0.06em;
                        line-height: 20px;
                        color: #222;
                        line-height: 1.667;
                        font-family: 'Noto Sans JP', sans-serif;
                    }
                }
                .hashtag{
                    margin-bottom: 26px;
                    ul{
                        li{
                            display: inline;
                            a{
                                font-weight: 300;
                                font-size: 1.2rem;
                                line-height: 1.5;
                                color: #222;
                                text-decoration: none;
                            }
                        }
                    }
                }
                .title{
                    font-family: 'Noto Sans JP', sans-serif;
                    font-weight: bold;
                    font-size: 2.2rem;
                    line-height: 1.5;
                    color: #222;
                    margin-bottom: 26px;
                    @media (max-width: 768px) {
                        font-size: 2rem;
                    }
                }
                .name,.num{
                    font-family: 'Noto Sans JP', sans-serif;
                    font-size: 1.2rem;
                    line-height: 1.66;
                    color: #222;
                    font-weight: 300;
                    span{
                        font-family: 'Noto Sans JP', sans-serif;
                        font-size: 1.2rem;
                        font-weight: 500;
                        font-size: 1.2rem;
                    }
                }
                .resArea{
                    margin-top: 30px;
                    margin-bottom: 40px;
                    border-radius: 8px;
                    padding: 26px 0;
                    &-wrap{
                        width: 86.88%;
                        margin: 0 auto;
                        position: relative;
                        .resArea-title{
                            font-family: "Noto Sans JP";
                            font-weight: bold;
                            font-size: 1.5rem;
                            letter-spacing: 0.03em;
                            line-height: 1.53;
                            color: #111;
                            position: absolute;
                            top: -30%;
                            left: 0;
                        }
                        .resArea-text{
                            font-family: "Noto Sans JP";
                            margin-bottom: 11px;
                            font-size: 1.2rem;
                            font-weight: 300;
                            line-height: 1.5;
                        }
                        .resArea-text:last-of-type{
                            margin-bottom: 0;
                        }
                    }
                }
                .more{
                    width: 46%;
                    font-family: din-2014, sans-serif;  
                    font-weight: bold;
                    font-size: 1.3rem;
                    letter-spacing: 0.03em;
                    line-height: 34px;
                    text-align: center;
                    color: #222;
                    display: block;
                    border: 1px solid #222222;
                    border-radius: 20px;
                    margin: 0 auto 43px;
                    text-decoration: none;
                    @media (max-width: 768px) {
                        width: 50.8%;
                    }
                }
            }
        }
        .online{
            border: 8px solid #eadf67;
            .resArea{
                background: #E6D33B;
            }
        }
        .offline{
            border: 8px solid #6fbbd8;
            .resArea{
                background: #6fbbd8;
            }
        }
        .onoffline{
            border: 8px solid #70b260;
            .resArea{
                background: #70b260;
            }
        }
    }
}

.related__article {
    margin-top: 10rem;
    @media (max-width: 768px) {
        margin-bottom: 17.8rem;
    }
}
.pagination {
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    a,span{
        display: inline-block;
        text-decoration: none;
        font-weight: 300;
        color: #222;
        margin: 0 10px;
    }
}

.column_text1{
    p{
        font-size: 14px;
        line-height: 22px;
        color: #222;
        margin: 0 0 30px;
        font-weight: 300;
    }

}