@charset "utf-8";


*{
    font-family: 'Noto Sans JP', sans-serif;
}

// color
$black: #222;
$white: #FFF;
$txt-gray: #666;
$bg-gray01: #F8F8F8;
$bg-gray02: #EFEFEF;
$bg-blue01: #6FBBD8;
$bd-gray01: #DDD;

@mixin font(
  $color: #333,
  $fSize: 12px,
  $linehight: 18px,
  $letterspacing: 0.06em,
  $weight: 300,
  $margin: 0 0 0 0
) {
  color: $color;
  font-size: $fSize;
  line-height: $linehight;
  letter-spacing: $letterspacing;
  font-weight: $weight;
  margin: $margin;
}

@mixin flex($align: center, $space-between: space-between) {
  display: flex;
  justify-content: $space-between;
  align-items: $align;
}

@mixin box($width: 100%, $height: auto, $margin: 0 0 0 0, $padding: 0 0 0 0) {
  width: $width;
  height: $height;
  margin: $margin;
  padding: $padding;
}

@mixin center() {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.min_header{
    width: 100%;
    @media (max-width: 768px) {
        position: fixed;
        height: 70px;
        top:0;
        z-index: 5;
    }
    &__innar{
        max-width: 1080px;
        margin: 30px auto 0;
        justify-content: space-between;
        align-items: center;
        display: flex;
        z-index: 2;
        position: relative;
        @media (max-width: 768px) {
            margin: 0px auto 0;
            height: 100%;
        }
        .sp_open{
            display: none;
            @media (max-width: 768px) {
            display: block;
            margin: 0 0 0 25px;
            }
        }

        
        ul{
            display: flex;
            width: 660px;
            justify-content: space-between;
            display: flex;
            @media (max-width: 768px) {
                display: none;
            }
            li{
                a{
                    color: #222222;
                    text-decoration: none;
                    font-size: 14px;
                    font-weight: bold;

                }
            }

        }
    }
}
.nav_wrap{
    width: 100%;
    height: 100%;
    background: #222;
    position: fixed;
    top:0;
    left: 0;
    z-index: 6;
    overflow: scroll;
    transition: all 0.3s;
    transform: translate3d(-100%,0,0);
    &.on{
        transition: all 0.3s;
        transform: translate3d(0,0%,0);
    }
    .sp_close{
        position:absolute;
        top:20px;
        left: 20px;
    }
    .sp_logo{
        margin:80px auto 50px;
        display: block;
        width: 156px;
        
    }
    .sp_nav{

        .menu_contents{
            margin: 0 0 40px;
            a{
                color: #e8d019;
                font-size: 22px;
                line-height: 57px;
                letter-spacing: 0.05em;
                font-weight: bold;
                margin: 0 0 0px;
                text-decoration: none;
                padding: 0 0 0 60px;
            }
        }
        .sp_nav_btn{
            img{
                display: block;
                margin: 0 auto 80px;

            }
        }
        .sns{
            margin: 30px auto;
            text-align: center;
            li{
                display: inline-block;
                margin: 0 12px;
            }
        }
        .f_link{
            width: (326%/375*100);
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin:0 auto 15px;
            ul{
    
            }
            li{
                a{
                    font-size: 14px;
                    font-weight:300;                
                    text-decoration: none;
                    color: #e8d019;
                }
            }
    
    
    
        }
        .copy{
            font-size: 12px;
            font-weight:300;                
            text-decoration: none;
            color: #e8d019;
            text-align: center;
            display: block;
            margin:30px auto;
        }
    }
}
.kv_area{
    margin: -60px 0 0 0;
    position: relative;
    z-index: 1;
    img{
        width: 100%;
    }
}

.min_footer{

    background: #EBDE4B;
    padding: 50px 0 20px;
    .chara{
        margin: auto;
        display: block;
        position: absolute;
        top:-20px;
        left: 200px;
    }
    .mr_m09{
        display: block;
        margin: auto;
    }
    .logo_h1{
        display: block;
        margin: 30px auto 30px;
    }
    .sns{
        width: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto 40px;
    }
    .f_link{
        width: 280px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin:0 auto 15px;
        ul{

        }
        li{
            a{
                font-size: 12px;
                font-weight:300;                
                text-decoration: none;
                color: #222;
            }
        }



    }
    .copy{
        font-size: 12px;
        font-weight:300;                
        text-decoration: none;
        color: #222;
        text-align: center;
        display: block;
        margin: auto;
    }
}

.sec0{
    margin: 0px auto 0;
    height: 1365px;
    position: relative;
    @media (max-width: 768px) {
    padding: 90px 0 270px 0;
    height: auto;
    }
    .sec0_anim1{
        @include font(#F5F5F5,30px,43px,0.06em,bold,0);
        position: absolute;
        // top: 150px;
        left: 200px;
        white-space: nowrap;
        z-index: 0;
        top: 0%;
        &.on{
            left: 0px;
            transition:all 20s; 
        }
    }
    .sec0_anim2{
        @include font(#F5F5F5,60px,60px,0.06em,bold,0);
        position: absolute;
        top: 12%;
        left: -58px;
        white-space: nowrap;
        z-index: 0;

    }
    .sec0_anim3{
        @include font(#F5F5F5,80px,80px,0.06em,bold,0);
        font-family: din-2014, sans-serif;
        color: #fff;
        letter-spacing: 0;
        font-weight: bold;
        margin: 0;
        filter: dropshadow(color=#E5E5E5, offX=0, offY=-1) dropshadow(color=#E5E5E5, offX=1, offY=0) dropshadow(color=#E5E5E5, offX=0, offY=1) dropshadow(color=#E5E5E5, offX=-1, offY=0);
        -webkit-text-stroke-color: #E5E5E5;
        -webkit-text-stroke-width: 1px;
        position: absolute;
        top: 25%;
        left: 53%;
        white-space: nowrap;
        z-index: 0;
    }
    .sec0_anim4{
        @include font(#F5F5F5,30px,80px,0.06em,bold,0);
        white-space: nowrap;
        z-index: 0;
        position: absolute;
        top: 34%;
        left: 64%;
    }
    .sec0_anim5{
        @include font(#F5F5F5,60px,80px,0.06em,bold,0);
        font-family: din-2014, sans-serif;
        color: #fff;
        letter-spacing: 0;
        font-weight: bold;
        margin: 0;
        filter: dropshadow(color=#E5E5E5, offX=0, offY=-1) dropshadow(color=#E5E5E5, offX=1, offY=0) dropshadow(color=#E5E5E5, offX=0, offY=1) dropshadow(color=#000000, offX=-1, offY=0);
        -webkit-text-stroke-color: #E5E5E5;
        -webkit-text-stroke-width: 1px;
        position: absolute;
        top: 46%;
        left: 0%;
        white-space: nowrap;
        z-index: 0;
    }

    .sec-in{
        position: relative;
        z-index: 5;
    }
    h2{
        font-family: din-2014, sans-serif;
        font-size: 60px;
        font-weight: bold;
        letter-spacing: 0.06em;
        margin: 0 0 90px;
        @media (max-width: 768px) {
            font-size: 46px;
            margin: 0 0 50px;
        }
    }
    @media (max-width: 768px) {
        h3{
            width: 220px;
            img{
                width: 100%;
            }
        }
    }
    &-top{
        margin: 0 0 332px;
        @media (max-width: 768px) {
            margin: 0 0 25px;  
        }
        p{
            font-size: 26px;
            font-weight: bold;
            line-height: 50px;
            letter-spacing: 0.03em;
            margin: 30px 0 0 ;
            @media (max-width: 768px) {
                margin: 25px 0 0 ;
                font-size: 17px;
                line-height: 24px;
            }
        }

    }
    .sec0-center{
        @media (max-width: 768px) {
            font-size: 14px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0.03em;
            margin: 0 0 280px;
        }
    }
    &-bottom{
        p{
            width: 670px;
            font-size: 34px;
            font-weight: bold;
            line-height: 50px;
            letter-spacing: 0.03em;
            margin: 0px 0 0 auto;
            @media (max-width: 768px) {
                font-size: 22px;
                line-height: 37px;
                width: 100%;
                text-align: left;
                
            }
        }   
    }
}
.sec01{

    .sec-in{
        @media (max-width: 768px) {
            width: (320%/375*100);
            
        }
    }
    width: 100%;
    .grp-head{
        width: 100%;
        display: flex;
        margin: 0 0 25px;
        @media (max-width: 768px) {
            margin: 0 0 20px;
        }
        .number{
            width: (70%/320*100);
            align-items: center;
            display: flex;
        }
        .heading01{
            width: (250%/320*100);
            font-size: 24px;
            @include font(#222222,24px,29px,0.03em,bold,0)
        }
    }
    .sec-in-top{
        background: #EBE064;
        width: 100%;
        height: 700px;
        padding: 100px 0 0 0;  
        position: relative;
        z-index: 2;
        @media (max-width: 768px) {
            padding: 60px 0 0 0;  
            height: auto;
        }
    }
    .area-merit{
        margin: 132px 0 0 0 ;
        @media (max-width: 768px) {
            margin: 50px 0 0 0 ;
        }
        ul{
            max-width: 1040px;
            margin: auto;
            display: flex;
            justify-content: space-between;
            @media (max-width: 768px) {
                display: block;
            
            }
            
           
            li{
                &:nth-child(2){
                    margin: 75px 0 0 0;
                    @media (max-width: 768px) {
                        margin: 50px 0 0 0;
                    }
                }
                &:nth-child(3){
                    margin: 150px 0 0 0;
                    @media (max-width: 768px) {
                        margin: 50px 0 0 0;
                    }
                }
                width: (320%/1040*100);
                @media (max-width: 768px) {
                   width: 100%;
                }
                .grp-card{
                    
                    img{
                        width: 100%;
                    }
                }

            }
        }
    }
    .grp-card{
       
        &-bottom{
            min-height: 250px;
            background: #fff;
            padding: 30px 20px;
            .heading02{
                font-size: 20px;
                font-weight: bold;
                text-align: center;
                line-height: 27px;
                letter-spacing:0.01em ;
                margin: 0 0 20px;
            }
            .sentence{
                font-size: 13px;
                font-weight: 200;
                text-align: left;
                color: #666666;
                letter-spacing: 0.01em;
                line-height: 22px;
            }
        }
    }
    .sec-in-bottom{
        height: 850px;
        background: #F2F2F2;
        padding: 560px 0 0 0;
        position: relative;
        z-index: 1;
        @media (max-width: 768px) {
            padding: 100px 0 100px 0;
            height: auto;
        }
    }
    .bk1-1{
        font-family: din-2014, sans-serif;
        @include font(#F2F2F2,234px,234px,0.0,bold,0)
        filter:dropshadow(color=#000000,offX= 0,offY=-1)
        dropshadow(color=#000000,offX= 1,offY= 0)
        dropshadow(color=#000000,offX= 0,offY= 1)
        dropshadow(color=#000000,offX=-1,offY= 0);
        
        -webkit-text-stroke-color: #000;
        -webkit-text-stroke-width: 1px;
        position: absolute;
    top: 100px;
    left: -58px;
        // text-shadow: black 1px 1px 0px, black -1px 1px 0px,
        // black 1px -1px 0px, black -1px -1px 0px;
        @media (max-width: 768px) {
            display: none;
        }
    }
    .bk1-2{
        position: absolute;
        right:0;
        bottom: 250px;
        z-index: 0;
    }
}
.sec02{
    padding:150px 0 60px ;
    @media (max-width: 768px) {
        padding:60px 0 60px ;
    }
    .slick-dots{
        @media (max-width: 768px) {
      
        }
    }
    .slick .prev-arrow {
        width: 15px;
        position: absolute;
        top: 475px;
        left: auto;
        z-index: 3;
        right: 115px;
    }
    ul.slick-dots {
        width: 600px;
            margin: auto!important;
            left: 178px;
            right: 0;
            @media (max-width: 768px) {
                left: 0;
                margin: 0!important;
            }
        li{
            width: 33.33%;
            margin: 0;
            @media (max-width: 768px) {
                width:20%;
            }
        }
        @media (max-width: 768px) {
            width: 79%;
            margin: 0;
            left: 0;
            right: 0;
        }
    }
    .slick-dots li button:before {
        opacity: 1;
        color: black;
        content: '';
        width: 100%;
        height: 2px;
        background: #DEB400;
    }
    .slick-dots li.slick-active button:before {
        height: 5px;
        top: -2px;

    }
    .sic2{

    }
    .slick{
        width: 1080px;
        margin: 180px auto 0;
        position: relative;
        @media (max-width: 768px) {
            margin: 70px auto 0;
            width: (340%/375*100);
        }
        .next-arrow{
            width: 36px;
                position: absolute;
                top: auto;
                right: 4%;
                z-index: 3;
                left: auto;
                bottom: -17px;
                transform: rotate(
            180deg);
            @media (max-width: 768px) {
                right: 0;
                width: 15px;
            }
        }
        .prev-arrow{
            width: 36px;
                position: absolute;
                top: auto;
                right: 8%;
                z-index: 3;
                left: auto;
                bottom: -17px;
                @media (max-width: 768px) {
                 
                    
                    width: 15px;
                }
        }
        img{
            width: 100%;
        }
        .slick-list {
            overflow: visible;
            margin: 0 20px 0 0 ;
        }
        .slick-slide {
            margin: 0 20px 0 0;
        }
        .price_contents {
            border: 5px solid #dabb33;
            border-radius: 9px;
            padding: 40px;
        }
        .slick-active {
            .price_contents{
                transform: scale(1.1);
                transition: all 0.4s ;
            }

        }
    }
    .sic1{
        &_h3{
            
            font-family: din-2014, sans-serif;
            @include font(#222,52px,52px,0.0,bold,0 0 90px);
            text-align: center;
            width: fit-content;
            margin: 132px auto 90px;
            position: relative;
            @media (max-width: 768px) {
                margin: 80px auto 00px;
                font-size: 40px;

            }
            span{
                display: block;
                font-size: 18px;
                line-height: 18px;
                text-align: left;
                font-family: 'Noto Sans JP', sans-serif;
                font-weight: bold;
                position: relative;
                top:0;
                margin: 0 0 5px;
                @media (max-width: 768px) {
                    font-size: 15px;
                    margin: 0 0 0px;
                }
            }
            img{
                position: absolute;
                right: -37px;
                top: 0px;
            }

        }
    }
    .sic2{
        .sic1_h3 img{
            position: absolute;
            right: -53px;
            top: 30px;
        }
        .grp-card .num{
            width: 100px;
        }
        .slick-dots li{
            width: 50%;
            @media (max-width: 768px) {
                width: 25%;
            }
        }
        .slide-arrow line{
            stroke: #267AAF;
        }
        .slick-dots li button:before {
            background: #267AAF;
        }
    }
    .sic3{
        .sic1_h3 img {
            position: absolute;
            right: -107px;
            top: 26px;
        }
        .grp-card .num{
            width: 140px;
        }
    }
    .grp-card{
        .image{
            position: relative;
        }
       .num{
        width: 64px;
            position: absolute;
            top: -35px;
            left: 20px;
            @media (max-width: 768px) {
                width: 54px;
                top: -28px;
            }
       }
        &-bottom{
            min-height: 250px;
            background: #fff;
            padding: 30px 20px;
            @media (max-width: 768px) {
                padding: 30px 20px 60px;
            }
            .heading02{
                font-size: 20px;
                font-weight: bold;
                text-align: left;
                line-height: 27px;
                letter-spacing:0.01em ;
                margin: 0 0 15px;
                span{
                    font-size: 14px;
                    font-weight: bold;
                    display: block; 
                    line-height: 14px;
                    margin: 0 0 3px;
                    font-family: din-2014, sans-serif;  
                }
                @media (max-width: 768px) {
                    font-size: 24px;
                    text-align: left;
                    margin: 0 0 17px;
                    span{
                        font-size: 13px;
                        font-weight: bold;
                        display: block;
                    }
                }
            
            }
            .sentence{
                font-size: 13px;
                font-weight: 200;
                text-align: left;
                color: #666666;
                letter-spacing: 0.01em;
                line-height: 22px;
            }
        }
    }
}
.sec03{
    .area-corporate .slider02{
    margin: 15px 0 0 -100px;
    @media (max-width: 768px) {
        margin: 15px 0 0 0px;
        position: relative;
        left:-50px
    }
    }
    .btn__area{
        margin:270px auto ;
    }
    .slick-slider .slick-list{
        overflow:visible;
    }

}

.sec03::after {
    background: url(../../img/mincommu/sec03_bg-txt.png) no-repeat;
    background-size: 100%;
}
.sec03 {
    .area-caseStudy .lst-caseStudy{
        position: relative;
        z-index: 3;
    }
    img.bk3-2 {
        position: absolute;
        top: 63%;
        z-index: 1;
        left: 0;
        width: (700%/1280*100);
    }
    .btn__area .anim2 {
        top: -28px;
            right: auto;
            left: -7px;
            transform: rotate(-27deg)
    }
    .btn__area .btn_anim {
        width: 264px;
        position: absolute;
        top: -84px;
        right: auto;
        left: -86px;
    }
}
.sec04{
    position: relative;
    background: url(../../img/mincommu/sec04_bg.png) no-repeat center;

    &::after {

        background: url(../../img/mincommu/sec04_bg-txt.png) no-repeat left;
        background-size: 100%;

        background: url(../../img/mincommu/sec04_bg-txt.png) no-repeat left;
        background-size: 100%;
        left: auto;
        right: 0;
        bottom: 119px;
        top: auto;
        position: absolute;
    
    }
}
.sec05 {

    margin: 150px 0 152px;
    &:after{
        background: url(../../img/mincommu/sec05_bg-txt.png) no-repeat center bottom;
        background-size: 100%;
    }
}

.sec06{
    margin: 0 0 300px;
    @media (max-width: 768px) {
        margin: 0 0 190px;
    }
    .sec-in-wrap{
        height: 1413px;
        background: url(../../img/mincommu/bg6.png);
        background-size: cover;
        padding: 160px 0 270px;
        @media (max-width: 768px) {
            background: #fafafa;
            height: auto;
            padding: 0px 0 0px;
        }
    }
    .sec-in-bottom{
        margin: 160px auto 70px;
        @media (max-width: 768px) {
            margin: 70px auto 70px;
        }
    }
    .slick{
        width: 350px;
        margin: 180px auto 0;
        position: relative;
        @media (max-width: 768px) {
            width: (260%/375*100);
            margin: 40px auto 0;
        }
        .next-arrow{
            width: 36px;
            position: absolute;
            top:40%;
            right: -29%;
            @media (max-width: 768px) {
                width: 15px;
                right: -21%;
                top:45%;
            }
        }
        .prev-arrow{
            width: 36px;
            position: absolute;
            top:40%;
            left: -30%;
            z-index: 3;
            @media (max-width: 768px) {
                width: 15px;
                left: -21%;
                top:45%;
            }
        }
        img{
            width: 100%;
        }
        .slick-list {
            overflow: visible;
            margin: 0 -150px 0 0 ;
        }
        .slick-slide {
            margin: 0 150px 0 0;
        }
        .price_contents {
            border: 5px solid #dabb33;
            border-radius: 9px;
            padding: 40px;
        }
        .slick-active {
            .price_contents{
                transform: scale(1.1);
                transition: all 0.4s ;
                @media (max-width: 768px) {
                    transform: scale(1);
                }
            }

        }
    }
}
.sec07{

    
        padding: 0 0 190px;
        position: relative;
        .sec-in{
            position: relative;
            z-index: 5;
        }
        .sec07_anim {
            position: absolute;
            bottom: 91px;
            right: 11%;
            z-index: 8;
        }
        .bk7-11{
            font-family: din-2014, sans-serif;
            color: #F2F2F2;
            font-size: 234px;
            line-height: 234px;
            letter-spacing: 0;
            font-weight: bold;
            margin: 0;
            filter: dropshadow(color=#000000, offX=0, offY=-1) dropshadow(color=#000000, offX=1, offY=0) dropshadow(color=#000000, offX=0, offY=1) dropshadow(color=#000000, offX=-1, offY=0);
            -webkit-text-stroke-color: #000;
            -webkit-text-stroke-width: 1px;
            position: absolute;
            top: auto;
            left: auto;
            right: 0;
            writing-mode: vertical-rl;
            z-index: 5;
            bottom: 15px;
            right: -64px;

          
        
        }
    .sec-in-contents{
        padding: 130px 0 0 0;
        max-width: 900px;
        display: flex;
        justify-content: space-between;
        margin: auto;
        @media (max-width: 768px) {
            padding: 50px 0 0 0;
            display: block;
        }
        .grp-card{
            max-width: 430px;
            background: #fff;
            @media (max-width: 768px) {
                margin: 0 0 30px;
            }

            img.img7-1{
                width: 100%;
            }
            &-bottom{
                padding: 0 40px 55px;
                position: relative;
                background: #fff;
                .day{
                    position:absolute;
                    font-size: 15px;
                    font-family: din-2014, sans-serif;
                    color:#666666;
                    font-weight: 400;
                    text-align: right;
                    right: 20px;
                    top:-20px;
                    margin: 0 0 5px;
                }
                dl{
                    display: flex;
                    align-items: center;
                    margin: 0 0 20px;
                    dt{
                        font-family: din-2014, 'Noto Sans JP',sans-serif;
                        font-size: 13px;
                        width: 80px;
                        font-weight: bold;
                        
                    }
                    dd{
                        font-family: din-2014, 'Noto Sans JP',sans-serif;
                        font-size: 13px; 
                        font-weight: bold;
                    }
                    
                    
                }
                .heading02{
                    @include font(#222,24px,32px,0.03em,bold,0 0 20px);
                    @media (max-width: 768px) {
                        font-size: 20px;
                        line-height: 28px;
                        margin: 0 0 15px;
                    }
                }
                .sentence{
                  
                    @include font($txt-gray,14px,22px,0.01em,300,0 0 20px);
                    @media (max-width: 768px) {
                        font-size: 13px;
                    }
                }
                ul{
                    text-align: right;
                    li{
                        display: inline-block;
                        margin: 0 10px 0 0;
                        text-align: right;
                        a{
                            @include font($txt-gray,13px,22px,0.07em,300,0 0 0px);

                        }
                    }
                }
            }
            &-bottom{

            }
        }
        .image{
            position: relative;
            margin: 0 0 35px;
            span{
                left: 65px;
                    position:absolute;
                    background: #fff;
                    width:73px;
                    height:38px;
                    display: flex;
                    align-items: center;
                    font-family: din-2014, sans-serif;
                    font-size: 18px;
                    font-weight: bold;
                    padding: 0 0 0 25px;
                    transform: rotate(90deg);
                    transform-origin: left top;
                    border-radius: 0 5px 5px 0;
                    @media (max-width: 768px) {
                        font-size: 14px;
                        width:59px;
                        padding: 0 0 0 20px;
                    }

            }
        }
        .read-more{
            
            @include font(#222,16px,16px,0.05em,bold,0 0 0px);
            text-decoration: none;
            position: relative;
            width: fit-content;
            margin: 40px 0 0 auto;
            display: block;
            @media (max-width: 768px) {
                margin: 30px 0 0 auto;
            }
            &:after{
                content: "";
                height: 3px;
                width: 100%;
                position: absolute;
                left:0;
                bottom: -15px;
                background: #222;
            
            }
        }


    }
    .more-btn{
        font-family: din-2014, sans-serif;
        @include font(#222,20px,16px,0.05em,bold,0 0 0px);
        text-decoration: none;
        position: relative;
        width: fit-content;
        margin: 150px auto 0;
        display: block;
        &:after{
            content: "";
            height: 3px;
            width: 100%;
            position: absolute;
            left:0;
            bottom: -15px;
            background: #222;
        
        }
    }
    .bk7-1{
        width: (936%/1280*100);
        height: 855px;
        left: 0;
        top:145px;
        height: 850px;
        position: absolute;
        z-index: 4;
        background: #EBE064;
        border-radius: 0 20px 20px 0;
        // &:before{
        //     content:"";
        //     background: #EBE064;
        //     display: block;
        //     padding-top: 108%; /* 高さと幅の比を16:9に固定。9/16*100=56.25 */ 
        // }
    }
    .bk7-2{
        width: (936%/1280*100);
 
        right: 0;
        bottom:90px;
        height: 850px;
        background: #F2F2F2;
        position: absolute;
        z-index: 3;
        border-radius: 20px 0px 0px 20px;
        // &:before{
        //     content:"";
        //     background: #F2F2F2;
        //     display: block;
        //     padding-top: 108%; /* 高さと幅の比を16:9に固定。9/16*100=56.25 */ 
        // }
    }
    
}
.sec08 {
    .btn__area .anim2 {
        position: absolute;
        top: auto;
        width: 75px!important;
        right: auto;
        transform: rotate(
    -151deg);
       
        left: 0;
        bottom: -31px;
    }
    .btn__area .btn_anim {
        width: 264px;
        position: absolute;
        top: auto;
        right: auto;
        left: -70px;
        bottom: -116px;
    }
    .area-corporate .slider02{
        margin: 15px 0 0 -100px;
        @media (max-width: 768px) {
            margin: 15px 0 0 0px;
            position: relative;
            left:-50px;
            .slick-slider .slick-list{
                overflow: visible;
            }
        }
        }
        .btn__area{
            margin:270px auto 360px;
        }
    margin-top: 152px;
    position: relative;
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 28%;
      left: 0;
      width: 128px;
      height: 936px;
      background: url(../../img/mincommu/sec03_bg-txt.png) no-repeat;
      background-size: 100%;
    }
    .area-hashtag {
      margin-top: 88px;
      .heading {
        font-family: din-2014, sans-serif;
        font-weight: bold;
        font-size: 15px;
        letter-spacing: 0.03em;
      }
      .lst-hashtag {
        display: flex;
        flex-wrap: wrap;
        width: 52%;
        margin-top: 10px;
        li {
          margin-right: 5px;
          font-size: 14px;
          color: $txt-gray;
        }
      }
    }
    .area-caseStudy {
      margin-top: 100px;
      img {
        width: 100%;
      }
      .lst-caseStudy {
        display: flex;
        flex-wrap: wrap;
        li {
          width: 50%;
        }
      }
    }
    .area-corporate {
      img {
        width: 100%;
      }
      .heading {
        width: 92%;
        max-width: 1080px;
        margin: 0 auto;
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 26px;
      }
      .slider01 {
        margin-top: 95px;
      }
      .slider02 {
        margin-top: 15px;
      }
      .slick01 {
        li {
          border: 1px solid $bd-gray01;
          margin-right: 15px;
        }
      }
    }
    .slider{
        img{
        width: 100%;
        }
    }

  }
  .slider_wrap {
    position: relative;
    z-index: 2;
}
  .sec08_anim{
    position: absolute;
    top: 191px;
    left: 0;
    z-index: 0;
    }
    img.bk8-2 {
        position: absolute;
        right: 0;
        bottom: -230px;
    }
  .sec09{
     margin: 0 auto 250px; 
}

// ここから
.sec10{
    .btn__area{
        margin: 120px auto 260px;
    }
    .submit_21{
        display: none;
    }
    .sec_contact{
        form{
            width: 780px;
            margin: 132px auto 0;
            @media (max-width: 768px) {
                width:(315%/345*100);
                margin: 132px auto 0;
            }
        }
        dl{

            display: flex;
            min-height: 45px;
            align-items: center;
            margin: 0 0 30px;
            @media (max-width: 768px) {
                display: block;
            }
            &.dl5{
                
                dt{
                    @media (max-width: 768px) {
                    margin: 0 0 40px;
                    }
                }
                span{
                    display: block;
                }
            }
            &.dl7{
                span.wpcf7-not-valid-tip {
                    position: absolute;
                    top: 15px;
                    left: 0;
                }
            }
            &.dl8{
                span.wpcf7-not-valid-tip {

                    top: 19px;

                }
            }
            dt{
                width: 230px;
                position: relative;
                    font-size: 17px;
                    font-weight: bold;
                    letter-spacing: 0.03em;
                    display: flex;
                    justify-content: space-between;
                    margin: 0px 30px 0 0;
                    @media (max-width: 768px) {
                        font-size: 18px;
                        justify-content: flex-start;
                        align-items: center;
                        margin: 0 0 10px;
                    }
                span{
                    font-weight: bold;
                    @media (max-width: 768px) {
                        margin: 0 10px 0 0;
                    }
                    
                }
                span.s2 {
                    position: absolute;
                    font-size: 12px;
                    top: 27px;
                    left: 0px;
                    color: #888888;
                    font-weight: 300;
                    @media (max-width: 768px) {
                        top: 29px;
                    }
                }
                span.on {
                    font-size: 12px;
                    width: 48px;
                    height: 22px;
                    background: #ebe064;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    letter-spacing: 0.03em;
                    border-radius: 3px;
                    font-weight: bold;
                }
                span.off {
                    font-size: 12px;
                    width: 48px;
                    height: 22px;
                    background: #fff;
                    border: 1px solid #ebe064;
                    color: #ebe064;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    letter-spacing: 0.03em;
                    border-radius: 3px;
                    font-weight: bold;
                }
            }
            dd{
                width: 550px;
                @media (max-width: 768px) {
                    width: 100%;
                }
                input[type="text"],input[type="tel"],input[type="email"]{
                    border: 1px solid #666666;
                    font-size: 16px;
                    letter-spacing: 0.03em;
                    height: 45px;
                    width: 100%;
                    padding: 0 0 0 15px;
                    border-radius: 5px;
                    font-weight: 300;

                }
               .wpcf7-form-control > .wpcf7-list-item{
                    font-size: 16px;
                    height: auto;
                    margin: 0 0 15px;
                    padding: 0 0 0 0px;
                    font-weight: 100!important;
                    width: 100%;
                    font-family: 'Noto Sans JP', sans-serif;
                    @media (max-width: 768px) {
                    white-space: nowrap;
                    }
                }
                input[type="checkbox"]{
                    display: inline-block;
                    -webkit-appearance: checkbox!important;
                    
                    & + span{
                        display: inline-block;
                        margin: 0 0 0 13px;
                        font-family: 'Noto Sans JP', sans-serif;
                        font-weight: 100;
                    }
                }
                textarea[name="textarea-607"]{
                    border-radius: 5px;
                    padding: 10px;
                
                }
                p{
                    font-size: 14px;
                    line-height: 22px;
                    margin: 0 0 20px;
                    font-weight: 100!important;
                    font-family: 'Noto Sans JP', sans-serif;
                    a{
                        color: #222;
                    }
                }
                span.wpcf7-not-valid-tip {
                    position: absolute;
                    top: 33px;
                    left: 0;
                }
            }
        }
    }
    .btn__area .anim2 {
        position: absolute;
        top: auto;
        width: 75px!important;
        right: auto;
        transform: rotate(-160deg);
    left: 8px;
    bottom: -37px;
    }
    .btn__area .btn_anim {
        width: 264px;
        position: absolute;
        top: auto;
        right: auto;
        left: -70px;
        bottom: -116px;
    }
}
::-webkit-input-placeholder { color: #BBBBBB; }
:-ms-input-placeholder { color: #BBBBBB !important; }
::-moz-placeholder { color: #BBBBBB; opacity: 1; }
::placeholder {
  color: #BBBBBB;
  opacity: 1;
}
.btn__area{
    position: relative;
    width: 490px;
    margin: auto;
    z-index: 5;
    @media (max-width: 768px) {
     width: 290px;
    }
    a{
        width: 490px;
        height: 155px;
        display: flex;
        border: 5px solid #E3CC13;
        border-radius: 100px;
        position: relative;
        z-index: 2;
        text-decoration: none;
        flex-direction: column;
        font-size: 36px;
        font-weight: bold;
        color: #E3CC13;
        letter-spacing: 0.03em;
        align-items: center;
        justify-content: center;
        background: #fff;
        @media (max-width: 768px) {
            width: 290px;
            font-size: 22px;
            height: 90px;
           }
        span{
            color: #E3CC13;
            font-size: 16px;
            font-weight: bold;
            display: block;
            margin: 0 0 -5px 0;
            @media (max-width: 768px) {
                font-size: 12px;
            }

        }
    }
    .btn_anim{
        width: 264px;
        position: absolute;
        top: -84px;
        right: -45px;
        @media (max-width: 768px) {
            width: 160px;
            top: -47px;
            img{
                width: 100%;
                
            }
        }
    }
    .anim2{
        position: absolute;
        top: -50px;
        width: 75px!important;
        right: 60px;
        @media (max-width: 768px) {
        position: absolute;
        top: -22px;
        width: 34px!important;
        right: 37px;
        width: 50px;
        }
    }

}
