* {
  font-family: 'Noto Sans JP', sans-serif;
}

.min_header {
  width: 100%;
}

@media (max-width: 768px) {
  .min_header {
    position: fixed;
    height: 70px;
    top: 0;
    z-index: 5;
  }
}

.min_header__innar {
  max-width: 1080px;
  margin: 30px auto 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  position: relative;
}

@media (max-width: 768px) {
  .min_header__innar {
    margin: 0px auto 0;
    height: 100%;
  }
}

.min_header__innar .sp_open {
  display: none;
}

@media (max-width: 768px) {
  .min_header__innar .sp_open {
    display: block;
    margin: 0 0 0 25px;
  }
}

.min_header__innar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 660px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: flex;
}

@media (max-width: 768px) {
  .min_header__innar ul {
    display: none;
  }
}

.min_header__innar ul li a {
  color: #222222;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.nav_wrap {
  width: 100%;
  height: 100%;
  background: #222;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  overflow: scroll;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
}

.nav_wrap.on {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translate3d(0, 0%, 0);
          transform: translate3d(0, 0%, 0);
}

.nav_wrap .sp_close {
  position: absolute;
  top: 20px;
  left: 20px;
}

.nav_wrap .sp_logo {
  margin: 80px auto 50px;
  display: block;
  width: 156px;
}

.nav_wrap .sp_nav .menu_contents {
  margin: 0 0 40px;
}

.nav_wrap .sp_nav .menu_contents a {
  color: #e8d019;
  font-size: 22px;
  line-height: 57px;
  letter-spacing: 0.05em;
  font-weight: bold;
  margin: 0 0 0px;
  text-decoration: none;
  padding: 0 0 0 60px;
}

.nav_wrap .sp_nav .sp_nav_btn img {
  display: block;
  margin: 0 auto 80px;
}

.nav_wrap .sp_nav .sns {
  margin: 30px auto;
  text-align: center;
}

.nav_wrap .sp_nav .sns li {
  display: inline-block;
  margin: 0 12px;
}

.nav_wrap .sp_nav .f_link {
  width: 86.93333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto 15px;
}

.nav_wrap .sp_nav .f_link li a {
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  color: #e8d019;
}

.nav_wrap .sp_nav .copy {
  font-size: 12px;
  font-weight: 300;
  text-decoration: none;
  color: #e8d019;
  text-align: center;
  display: block;
  margin: 30px auto;
}

.kv_area {
  margin: -60px 0 0 0;
  position: relative;
  z-index: 1;
}

.kv_area img {
  width: 100%;
}

.min_footer {
  background: #EBDE4B;
  padding: 50px 0 20px;
}

.min_footer .chara {
  margin: auto;
  display: block;
  position: absolute;
  top: -20px;
  left: 200px;
}

.min_footer .mr_m09 {
  display: block;
  margin: auto;
}

.min_footer .logo_h1 {
  display: block;
  margin: 30px auto 30px;
}

.min_footer .sns {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 40px;
}

.min_footer .f_link {
  width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto 15px;
}

.min_footer .f_link li a {
  font-size: 12px;
  font-weight: 300;
  text-decoration: none;
  color: #222;
}

.min_footer .copy {
  font-size: 12px;
  font-weight: 300;
  text-decoration: none;
  color: #222;
  text-align: center;
  display: block;
  margin: auto;
}

.sec0 {
  margin: 0px auto 0;
  height: 1365px;
  position: relative;
}

@media (max-width: 768px) {
  .sec0 {
    padding: 90px 0 270px 0;
    height: auto;
  }
}

.sec0 .sec0_anim1 {
  color: #F5F5F5;
  font-size: 30px;
  line-height: 43px;
  letter-spacing: 0.06em;
  font-weight: bold;
  margin: 0;
  position: absolute;
  left: 200px;
  white-space: nowrap;
  z-index: 0;
  top: 0%;
}

.sec0 .sec0_anim1.on {
  left: 0px;
  -webkit-transition: all 20s;
  transition: all 20s;
}

.sec0 .sec0_anim2 {
  color: #F5F5F5;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: 0.06em;
  font-weight: bold;
  margin: 0;
  position: absolute;
  top: 12%;
  left: -58px;
  white-space: nowrap;
  z-index: 0;
}

.sec0 .sec0_anim3 {
  color: #F5F5F5;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 0.06em;
  font-weight: bold;
  margin: 0;
  font-family: din-2014, sans-serif;
  color: #fff;
  letter-spacing: 0;
  font-weight: bold;
  margin: 0;
  -webkit-filter: dropshadow(color=#E5E5E5, offX=0, offY=-1) dropshadow(color=#E5E5E5, offX=1, offY=0) dropshadow(color=#E5E5E5, offX=0, offY=1) dropshadow(color=#E5E5E5, offX=-1, offY=0);
          filter: dropshadow(color=#E5E5E5, offX=0, offY=-1) dropshadow(color=#E5E5E5, offX=1, offY=0) dropshadow(color=#E5E5E5, offX=0, offY=1) dropshadow(color=#E5E5E5, offX=-1, offY=0);
  -webkit-text-stroke-color: #E5E5E5;
  -webkit-text-stroke-width: 1px;
  position: absolute;
  top: 25%;
  left: 53%;
  white-space: nowrap;
  z-index: 0;
}

.sec0 .sec0_anim4 {
  color: #F5F5F5;
  font-size: 30px;
  line-height: 80px;
  letter-spacing: 0.06em;
  font-weight: bold;
  margin: 0;
  white-space: nowrap;
  z-index: 0;
  position: absolute;
  top: 34%;
  left: 64%;
}

.sec0 .sec0_anim5 {
  color: #F5F5F5;
  font-size: 60px;
  line-height: 80px;
  letter-spacing: 0.06em;
  font-weight: bold;
  margin: 0;
  font-family: din-2014, sans-serif;
  color: #fff;
  letter-spacing: 0;
  font-weight: bold;
  margin: 0;
  -webkit-filter: dropshadow(color=#E5E5E5, offX=0, offY=-1) dropshadow(color=#E5E5E5, offX=1, offY=0) dropshadow(color=#E5E5E5, offX=0, offY=1) dropshadow(color=#000000, offX=-1, offY=0);
          filter: dropshadow(color=#E5E5E5, offX=0, offY=-1) dropshadow(color=#E5E5E5, offX=1, offY=0) dropshadow(color=#E5E5E5, offX=0, offY=1) dropshadow(color=#000000, offX=-1, offY=0);
  -webkit-text-stroke-color: #E5E5E5;
  -webkit-text-stroke-width: 1px;
  position: absolute;
  top: 46%;
  left: 0%;
  white-space: nowrap;
  z-index: 0;
}

.sec0 .sec-in {
  position: relative;
  z-index: 5;
}

.sec0 h2 {
  font-family: din-2014, sans-serif;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 0.06em;
  margin: 0 0 90px;
}

@media (max-width: 768px) {
  .sec0 h2 {
    font-size: 46px;
    margin: 0 0 50px;
  }
}

@media (max-width: 768px) {
  .sec0 h3 {
    width: 220px;
  }
  .sec0 h3 img {
    width: 100%;
  }
}

.sec0-top {
  margin: 0 0 332px;
}

@media (max-width: 768px) {
  .sec0-top {
    margin: 0 0 25px;
  }
}

.sec0-top p {
  font-size: 26px;
  font-weight: bold;
  line-height: 50px;
  letter-spacing: 0.03em;
  margin: 30px 0 0;
}

@media (max-width: 768px) {
  .sec0-top p {
    margin: 25px 0 0;
    font-size: 17px;
    line-height: 24px;
  }
}

@media (max-width: 768px) {
  .sec0 .sec0-center {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.03em;
    margin: 0 0 280px;
  }
}

.sec0-bottom p {
  width: 670px;
  font-size: 34px;
  font-weight: bold;
  line-height: 50px;
  letter-spacing: 0.03em;
  margin: 0px 0 0 auto;
}

@media (max-width: 768px) {
  .sec0-bottom p {
    font-size: 22px;
    line-height: 37px;
    width: 100%;
    text-align: left;
  }
}

.sec01 {
  width: 100%;
}

@media (max-width: 768px) {
  .sec01 .sec-in {
    width: 85.33333%;
  }
}

.sec01 .grp-head {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 25px;
}

@media (max-width: 768px) {
  .sec01 .grp-head {
    margin: 0 0 20px;
  }
}

.sec01 .grp-head .number {
  width: 21.875%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sec01 .grp-head .heading01 {
  width: 78.125%;
  font-size: 24px;
  color: #222222;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.03em;
  font-weight: bold;
  margin: 0;
}

.sec01 .sec-in-top {
  background: #EBE064;
  width: 100%;
  height: 700px;
  padding: 100px 0 0 0;
  position: relative;
  z-index: 2;
}

@media (max-width: 768px) {
  .sec01 .sec-in-top {
    padding: 60px 0 0 0;
    height: auto;
  }
}

.sec01 .area-merit {
  margin: 132px 0 0 0;
}

@media (max-width: 768px) {
  .sec01 .area-merit {
    margin: 50px 0 0 0;
  }
}

.sec01 .area-merit ul {
  max-width: 1040px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .sec01 .area-merit ul {
    display: block;
  }
}

.sec01 .area-merit ul li {
  width: 30.76923%;
}

.sec01 .area-merit ul li:nth-child(2) {
  margin: 75px 0 0 0;
}

@media (max-width: 768px) {
  .sec01 .area-merit ul li:nth-child(2) {
    margin: 50px 0 0 0;
  }
}

.sec01 .area-merit ul li:nth-child(3) {
  margin: 150px 0 0 0;
}

@media (max-width: 768px) {
  .sec01 .area-merit ul li:nth-child(3) {
    margin: 50px 0 0 0;
  }
}

@media (max-width: 768px) {
  .sec01 .area-merit ul li {
    width: 100%;
  }
}

.sec01 .area-merit ul li .grp-card img {
  width: 100%;
}

.sec01 .grp-card-bottom {
  min-height: 250px;
  background: #fff;
  padding: 30px 20px;
}

.sec01 .grp-card-bottom .heading02 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 27px;
  letter-spacing: 0.01em;
  margin: 0 0 20px;
}

.sec01 .grp-card-bottom .sentence {
  font-size: 13px;
  font-weight: 200;
  text-align: left;
  color: #666666;
  letter-spacing: 0.01em;
  line-height: 22px;
}

.sec01 .sec-in-bottom {
  height: 850px;
  background: #F2F2F2;
  padding: 560px 0 0 0;
  position: relative;
  z-index: 1;
}

@media (max-width: 768px) {
  .sec01 .sec-in-bottom {
    padding: 100px 0 100px 0;
    height: auto;
  }
}

.sec01 .bk1-1 {
  font-family: din-2014, sans-serif;
  color: #F2F2F2;
  font-size: 234px;
  line-height: 234px;
  letter-spacing: 0;
  font-weight: bold;
  margin: 0;
  -webkit-filter: dropshadow(color=#000000, offX=0, offY=-1) dropshadow(color=#000000, offX=1, offY=0) dropshadow(color=#000000, offX=0, offY=1) dropshadow(color=#000000, offX=-1, offY=0);
          filter: dropshadow(color=#000000, offX=0, offY=-1) dropshadow(color=#000000, offX=1, offY=0) dropshadow(color=#000000, offX=0, offY=1) dropshadow(color=#000000, offX=-1, offY=0);
  -webkit-text-stroke-color: #000;
  -webkit-text-stroke-width: 1px;
  position: absolute;
  top: 100px;
  left: -58px;
}

@media (max-width: 768px) {
  .sec01 .bk1-1 {
    display: none;
  }
}

.sec01 .bk1-2 {
  position: absolute;
  right: 0;
  bottom: 250px;
  z-index: 0;
}

.sec02 {
  padding: 150px 0 60px;
}

@media (max-width: 768px) {
  .sec02 {
    padding: 60px 0 60px;
  }
}

.sec02 .slick .prev-arrow {
  width: 15px;
  position: absolute;
  top: 475px;
  left: auto;
  z-index: 3;
  right: 115px;
}

.sec02 ul.slick-dots {
  width: 600px;
  margin: auto !important;
  left: 178px;
  right: 0;
}

@media (max-width: 768px) {
  .sec02 ul.slick-dots {
    left: 0;
    margin: 0 !important;
  }
}

.sec02 ul.slick-dots li {
  width: 33.33%;
  margin: 0;
}

@media (max-width: 768px) {
  .sec02 ul.slick-dots li {
    width: 20%;
  }
}

@media (max-width: 768px) {
  .sec02 ul.slick-dots {
    width: 79%;
    margin: 0;
    left: 0;
    right: 0;
  }
}

.sec02 .slick-dots li button:before {
  opacity: 1;
  color: black;
  content: '';
  width: 100%;
  height: 2px;
  background: #DEB400;
}

.sec02 .slick-dots li.slick-active button:before {
  height: 5px;
  top: -2px;
}

.sec02 .slick {
  width: 1080px;
  margin: 180px auto 0;
  position: relative;
}

@media (max-width: 768px) {
  .sec02 .slick {
    margin: 70px auto 0;
    width: 90.66667%;
  }
}

.sec02 .slick .next-arrow {
  width: 36px;
  position: absolute;
  top: auto;
  right: 4%;
  z-index: 3;
  left: auto;
  bottom: -17px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (max-width: 768px) {
  .sec02 .slick .next-arrow {
    right: 0;
    width: 15px;
  }
}

.sec02 .slick .prev-arrow {
  width: 36px;
  position: absolute;
  top: auto;
  right: 8%;
  z-index: 3;
  left: auto;
  bottom: -17px;
}

@media (max-width: 768px) {
  .sec02 .slick .prev-arrow {
    width: 15px;
  }
}

.sec02 .slick img {
  width: 100%;
}

.sec02 .slick .slick-list {
  overflow: visible;
  margin: 0 20px 0 0;
}

.sec02 .slick .slick-slide {
  margin: 0 20px 0 0;
}

.sec02 .slick .price_contents {
  border: 5px solid #dabb33;
  border-radius: 9px;
  padding: 40px;
}

.sec02 .slick .slick-active .price_contents {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.sec02 .sic1_h3 {
  font-family: din-2014, sans-serif;
  color: #222;
  font-size: 52px;
  line-height: 52px;
  letter-spacing: 0;
  font-weight: bold;
  margin: 0 0 90px;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 132px auto 90px;
  position: relative;
}

@media (max-width: 768px) {
  .sec02 .sic1_h3 {
    margin: 80px auto 00px;
    font-size: 40px;
  }
}

.sec02 .sic1_h3 span {
  display: block;
  font-size: 18px;
  line-height: 18px;
  text-align: left;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  position: relative;
  top: 0;
  margin: 0 0 5px;
}

@media (max-width: 768px) {
  .sec02 .sic1_h3 span {
    font-size: 15px;
    margin: 0 0 0px;
  }
}

.sec02 .sic1_h3 img {
  position: absolute;
  right: -37px;
  top: 0px;
}

.sec02 .sic2 .sic1_h3 img {
  position: absolute;
  right: -53px;
  top: 30px;
}

.sec02 .sic2 .grp-card .num {
  width: 100px;
}

.sec02 .sic2 .slick-dots li {
  width: 50%;
}

@media (max-width: 768px) {
  .sec02 .sic2 .slick-dots li {
    width: 25%;
  }
}

.sec02 .sic2 .slide-arrow line {
  stroke: #267AAF;
}

.sec02 .sic2 .slick-dots li button:before {
  background: #267AAF;
}

.sec02 .sic3 .sic1_h3 img {
  position: absolute;
  right: -107px;
  top: 26px;
}

.sec02 .sic3 .grp-card .num {
  width: 140px;
}

.sec02 .grp-card .image {
  position: relative;
}

.sec02 .grp-card .num {
  width: 64px;
  position: absolute;
  top: -35px;
  left: 20px;
}

@media (max-width: 768px) {
  .sec02 .grp-card .num {
    width: 54px;
    top: -28px;
  }
}

.sec02 .grp-card-bottom {
  min-height: 250px;
  background: #fff;
  padding: 30px 20px;
}

@media (max-width: 768px) {
  .sec02 .grp-card-bottom {
    padding: 30px 20px 60px;
  }
}

.sec02 .grp-card-bottom .heading02 {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  line-height: 27px;
  letter-spacing: 0.01em;
  margin: 0 0 15px;
}

.sec02 .grp-card-bottom .heading02 span {
  font-size: 14px;
  font-weight: bold;
  display: block;
  line-height: 14px;
  margin: 0 0 3px;
  font-family: din-2014, sans-serif;
}

@media (max-width: 768px) {
  .sec02 .grp-card-bottom .heading02 {
    font-size: 24px;
    text-align: left;
    margin: 0 0 17px;
  }
  .sec02 .grp-card-bottom .heading02 span {
    font-size: 13px;
    font-weight: bold;
    display: block;
  }
}

.sec02 .grp-card-bottom .sentence {
  font-size: 13px;
  font-weight: 200;
  text-align: left;
  color: #666666;
  letter-spacing: 0.01em;
  line-height: 22px;
}

.sec03 .area-corporate .slider02 {
  margin: 15px 0 0 -100px;
}

@media (max-width: 768px) {
  .sec03 .area-corporate .slider02 {
    margin: 15px 0 0 0px;
    position: relative;
    left: -50px;
  }
}

.sec03 .btn__area {
  margin: 270px auto;
}

.sec03 .slick-slider .slick-list {
  overflow: visible;
}

.sec03::after {
  background: url(../../img/mincommu/sec03_bg-txt.png) no-repeat;
  background-size: 100%;
}

.sec03 .area-caseStudy .lst-caseStudy {
  position: relative;
  z-index: 3;
}

.sec03 img.bk3-2 {
  position: absolute;
  top: 63%;
  z-index: 1;
  left: 0;
  width: 54.6875%;
}

.sec03 .btn__area .anim2 {
  top: -28px;
  right: auto;
  left: -7px;
  -webkit-transform: rotate(-27deg);
          transform: rotate(-27deg);
}

.sec03 .btn__area .btn_anim {
  width: 264px;
  position: absolute;
  top: -84px;
  right: auto;
  left: -86px;
}

.sec04 {
  position: relative;
  background: url(../../img/mincommu/sec04_bg.png) no-repeat center;
}

.sec04::after {
  background: url(../../img/mincommu/sec04_bg-txt.png) no-repeat left;
  background-size: 100%;
  background: url(../../img/mincommu/sec04_bg-txt.png) no-repeat left;
  background-size: 100%;
  left: auto;
  right: 0;
  bottom: 119px;
  top: auto;
  position: absolute;
}

.sec05 {
  margin: 150px 0 152px;
}

.sec05:after {
  background: url(../../img/mincommu/sec05_bg-txt.png) no-repeat center bottom;
  background-size: 100%;
}

.sec06 {
  margin: 0 0 300px;
}

@media (max-width: 768px) {
  .sec06 {
    margin: 0 0 190px;
  }
}

.sec06 .sec-in-wrap {
  height: 1413px;
  background: url(../../img/mincommu/bg6.png);
  background-size: cover;
  padding: 160px 0 270px;
}

@media (max-width: 768px) {
  .sec06 .sec-in-wrap {
    background: #fafafa;
    height: auto;
    padding: 0px 0 0px;
  }
}

.sec06 .sec-in-bottom {
  margin: 160px auto 70px;
}

@media (max-width: 768px) {
  .sec06 .sec-in-bottom {
    margin: 70px auto 70px;
  }
}

.sec06 .slick {
  width: 350px;
  margin: 180px auto 0;
  position: relative;
}

@media (max-width: 768px) {
  .sec06 .slick {
    width: 69.33333%;
    margin: 40px auto 0;
  }
}

.sec06 .slick .next-arrow {
  width: 36px;
  position: absolute;
  top: 40%;
  right: -29%;
}

@media (max-width: 768px) {
  .sec06 .slick .next-arrow {
    width: 15px;
    right: -21%;
    top: 45%;
  }
}

.sec06 .slick .prev-arrow {
  width: 36px;
  position: absolute;
  top: 40%;
  left: -30%;
  z-index: 3;
}

@media (max-width: 768px) {
  .sec06 .slick .prev-arrow {
    width: 15px;
    left: -21%;
    top: 45%;
  }
}

.sec06 .slick img {
  width: 100%;
}

.sec06 .slick .slick-list {
  overflow: visible;
  margin: 0 -150px 0 0;
}

.sec06 .slick .slick-slide {
  margin: 0 150px 0 0;
}

.sec06 .slick .price_contents {
  border: 5px solid #dabb33;
  border-radius: 9px;
  padding: 40px;
}

.sec06 .slick .slick-active .price_contents {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

@media (max-width: 768px) {
  .sec06 .slick .slick-active .price_contents {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.sec07 {
  padding: 0 0 190px;
  position: relative;
}

.sec07 .sec-in {
  position: relative;
  z-index: 5;
}

.sec07 .sec07_anim {
  position: absolute;
  bottom: 91px;
  right: 11%;
  z-index: 8;
}

.sec07 .bk7-11 {
  font-family: din-2014, sans-serif;
  color: #F2F2F2;
  font-size: 234px;
  line-height: 234px;
  letter-spacing: 0;
  font-weight: bold;
  margin: 0;
  -webkit-filter: dropshadow(color=#000000, offX=0, offY=-1) dropshadow(color=#000000, offX=1, offY=0) dropshadow(color=#000000, offX=0, offY=1) dropshadow(color=#000000, offX=-1, offY=0);
          filter: dropshadow(color=#000000, offX=0, offY=-1) dropshadow(color=#000000, offX=1, offY=0) dropshadow(color=#000000, offX=0, offY=1) dropshadow(color=#000000, offX=-1, offY=0);
  -webkit-text-stroke-color: #000;
  -webkit-text-stroke-width: 1px;
  position: absolute;
  top: auto;
  left: auto;
  right: 0;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  z-index: 5;
  bottom: 15px;
  right: -64px;
}

.sec07 .sec-in-contents {
  padding: 130px 0 0 0;
  max-width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

@media (max-width: 768px) {
  .sec07 .sec-in-contents {
    padding: 50px 0 0 0;
    display: block;
  }
}

.sec07 .sec-in-contents .grp-card {
  max-width: 430px;
  background: #fff;
}

@media (max-width: 768px) {
  .sec07 .sec-in-contents .grp-card {
    margin: 0 0 30px;
  }
}

.sec07 .sec-in-contents .grp-card img.img7-1 {
  width: 100%;
}

.sec07 .sec-in-contents .grp-card-bottom {
  padding: 0 40px 55px;
  position: relative;
  background: #fff;
}

.sec07 .sec-in-contents .grp-card-bottom .day {
  position: absolute;
  font-size: 15px;
  font-family: din-2014, sans-serif;
  color: #666666;
  font-weight: 400;
  text-align: right;
  right: 20px;
  top: -20px;
  margin: 0 0 5px;
}

.sec07 .sec-in-contents .grp-card-bottom dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 20px;
}

.sec07 .sec-in-contents .grp-card-bottom dl dt {
  font-family: din-2014, 'Noto Sans JP',sans-serif;
  font-size: 13px;
  width: 80px;
  font-weight: bold;
}

.sec07 .sec-in-contents .grp-card-bottom dl dd {
  font-family: din-2014, 'Noto Sans JP',sans-serif;
  font-size: 13px;
  font-weight: bold;
}

.sec07 .sec-in-contents .grp-card-bottom .heading02 {
  color: #222;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.03em;
  font-weight: bold;
  margin: 0 0 20px;
}

@media (max-width: 768px) {
  .sec07 .sec-in-contents .grp-card-bottom .heading02 {
    font-size: 20px;
    line-height: 28px;
    margin: 0 0 15px;
  }
}

.sec07 .sec-in-contents .grp-card-bottom .sentence {
  color: #666;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.01em;
  font-weight: 300;
  margin: 0 0 20px;
}

@media (max-width: 768px) {
  .sec07 .sec-in-contents .grp-card-bottom .sentence {
    font-size: 13px;
  }
}

.sec07 .sec-in-contents .grp-card-bottom ul {
  text-align: right;
}

.sec07 .sec-in-contents .grp-card-bottom ul li {
  display: inline-block;
  margin: 0 10px 0 0;
  text-align: right;
}

.sec07 .sec-in-contents .grp-card-bottom ul li a {
  color: #666;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0.07em;
  font-weight: 300;
  margin: 0 0 0px;
}

.sec07 .sec-in-contents .image {
  position: relative;
  margin: 0 0 35px;
}

.sec07 .sec-in-contents .image span {
  left: 65px;
  position: absolute;
  background: #fff;
  width: 73px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: din-2014, sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 0 0 0 25px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  border-radius: 0 5px 5px 0;
}

@media (max-width: 768px) {
  .sec07 .sec-in-contents .image span {
    font-size: 14px;
    width: 59px;
    padding: 0 0 0 20px;
  }
}

.sec07 .sec-in-contents .read-more {
  color: #222;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.05em;
  font-weight: bold;
  margin: 0 0 0px;
  text-decoration: none;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 40px 0 0 auto;
  display: block;
}

@media (max-width: 768px) {
  .sec07 .sec-in-contents .read-more {
    margin: 30px 0 0 auto;
  }
}

.sec07 .sec-in-contents .read-more:after {
  content: "";
  height: 3px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -15px;
  background: #222;
}

.sec07 .more-btn {
  font-family: din-2014, sans-serif;
  color: #222;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 0.05em;
  font-weight: bold;
  margin: 0 0 0px;
  text-decoration: none;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 150px auto 0;
  display: block;
}

.sec07 .more-btn:after {
  content: "";
  height: 3px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -15px;
  background: #222;
}

.sec07 .bk7-1 {
  width: 73.125%;
  height: 855px;
  left: 0;
  top: 145px;
  height: 850px;
  position: absolute;
  z-index: 4;
  background: #EBE064;
  border-radius: 0 20px 20px 0;
}

.sec07 .bk7-2 {
  width: 73.125%;
  right: 0;
  bottom: 90px;
  height: 850px;
  background: #F2F2F2;
  position: absolute;
  z-index: 3;
  border-radius: 20px 0px 0px 20px;
}

.sec08 {
  margin-top: 152px;
  position: relative;
}

.sec08 .btn__area .anim2 {
  position: absolute;
  top: auto;
  width: 75px !important;
  right: auto;
  -webkit-transform: rotate(-151deg);
          transform: rotate(-151deg);
  left: 0;
  bottom: -31px;
}

.sec08 .btn__area .btn_anim {
  width: 264px;
  position: absolute;
  top: auto;
  right: auto;
  left: -70px;
  bottom: -116px;
}

.sec08 .area-corporate .slider02 {
  margin: 15px 0 0 -100px;
}

@media (max-width: 768px) {
  .sec08 .area-corporate .slider02 {
    margin: 15px 0 0 0px;
    position: relative;
    left: -50px;
  }
  .sec08 .area-corporate .slider02 .slick-slider .slick-list {
    overflow: visible;
  }
}

.sec08 .btn__area {
  margin: 270px auto 360px;
}

.sec08::after {
  content: '';
  display: block;
  position: absolute;
  top: 28%;
  left: 0;
  width: 128px;
  height: 936px;
  background: url(../../img/mincommu/sec03_bg-txt.png) no-repeat;
  background-size: 100%;
}

.sec08 .area-hashtag {
  margin-top: 88px;
}

.sec08 .area-hashtag .heading {
  font-family: din-2014, sans-serif;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 0.03em;
}

.sec08 .area-hashtag .lst-hashtag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 52%;
  margin-top: 10px;
}

.sec08 .area-hashtag .lst-hashtag li {
  margin-right: 5px;
  font-size: 14px;
  color: #666;
}

.sec08 .area-caseStudy {
  margin-top: 100px;
}

.sec08 .area-caseStudy img {
  width: 100%;
}

.sec08 .area-caseStudy .lst-caseStudy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sec08 .area-caseStudy .lst-caseStudy li {
  width: 50%;
}

.sec08 .area-corporate img {
  width: 100%;
}

.sec08 .area-corporate .heading {
  width: 92%;
  max-width: 1080px;
  margin: 0 auto;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 26px;
}

.sec08 .area-corporate .slider01 {
  margin-top: 95px;
}

.sec08 .area-corporate .slider02 {
  margin-top: 15px;
}

.sec08 .area-corporate .slick01 li {
  border: 1px solid #DDD;
  margin-right: 15px;
}

.sec08 .slider img {
  width: 100%;
}

.slider_wrap {
  position: relative;
  z-index: 2;
}

.sec08_anim {
  position: absolute;
  top: 191px;
  left: 0;
  z-index: 0;
}

img.bk8-2 {
  position: absolute;
  right: 0;
  bottom: -230px;
}

.sec09 {
  margin: 0 auto 250px;
}

.sec10 .btn__area {
  margin: 120px auto 260px;
}

.sec10 .submit_21 {
  display: none;
}

.sec10 .sec_contact form {
  width: 780px;
  margin: 132px auto 0;
}

@media (max-width: 768px) {
  .sec10 .sec_contact form {
    width: 91.30435%;
    margin: 132px auto 0;
  }
}

.sec10 .sec_contact dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 30px;
}

@media (max-width: 768px) {
  .sec10 .sec_contact dl {
    display: block;
  }
}

@media (max-width: 768px) {
  .sec10 .sec_contact dl.dl5 dt {
    margin: 0 0 40px;
  }
}

.sec10 .sec_contact dl.dl5 span {
  display: block;
}

.sec10 .sec_contact dl.dl7 span.wpcf7-not-valid-tip {
  position: absolute;
  top: 15px;
  left: 0;
}

.sec10 .sec_contact dl.dl8 span.wpcf7-not-valid-tip {
  top: 19px;
}

.sec10 .sec_contact dl dt {
  width: 230px;
  position: relative;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 30px 0 0;
}

@media (max-width: 768px) {
  .sec10 .sec_contact dl dt {
    font-size: 18px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 10px;
  }
}

.sec10 .sec_contact dl dt span {
  font-weight: bold;
}

@media (max-width: 768px) {
  .sec10 .sec_contact dl dt span {
    margin: 0 10px 0 0;
  }
}

.sec10 .sec_contact dl dt span.s2 {
  position: absolute;
  font-size: 12px;
  top: 27px;
  left: 0px;
  color: #888888;
  font-weight: 300;
}

@media (max-width: 768px) {
  .sec10 .sec_contact dl dt span.s2 {
    top: 29px;
  }
}

.sec10 .sec_contact dl dt span.on {
  font-size: 12px;
  width: 48px;
  height: 22px;
  background: #ebe064;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.03em;
  border-radius: 3px;
  font-weight: bold;
}

.sec10 .sec_contact dl dt span.off {
  font-size: 12px;
  width: 48px;
  height: 22px;
  background: #fff;
  border: 1px solid #ebe064;
  color: #ebe064;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.03em;
  border-radius: 3px;
  font-weight: bold;
}

.sec10 .sec_contact dl dd {
  width: 550px;
}

@media (max-width: 768px) {
  .sec10 .sec_contact dl dd {
    width: 100%;
  }
}

.sec10 .sec_contact dl dd input[type="text"], .sec10 .sec_contact dl dd input[type="tel"], .sec10 .sec_contact dl dd input[type="email"] {
  border: 1px solid #666666;
  font-size: 16px;
  letter-spacing: 0.03em;
  height: 45px;
  width: 100%;
  padding: 0 0 0 15px;
  border-radius: 5px;
  font-weight: 300;
}

.sec10 .sec_contact dl dd .wpcf7-form-control > .wpcf7-list-item {
  font-size: 16px;
  height: auto;
  margin: 0 0 15px;
  padding: 0 0 0 0px;
  font-weight: 100 !important;
  width: 100%;
  font-family: 'Noto Sans JP', sans-serif;
}

@media (max-width: 768px) {
  .sec10 .sec_contact dl dd .wpcf7-form-control > .wpcf7-list-item {
    white-space: nowrap;
  }
}

.sec10 .sec_contact dl dd input[type="checkbox"] {
  display: inline-block;
  -webkit-appearance: checkbox !important;
}

.sec10 .sec_contact dl dd input[type="checkbox"] + span {
  display: inline-block;
  margin: 0 0 0 13px;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 100;
}

.sec10 .sec_contact dl dd textarea[name="textarea-607"] {
  border-radius: 5px;
  padding: 10px;
}

.sec10 .sec_contact dl dd p {
  font-size: 14px;
  line-height: 22px;
  margin: 0 0 20px;
  font-weight: 100 !important;
  font-family: 'Noto Sans JP', sans-serif;
}

.sec10 .sec_contact dl dd p a {
  color: #222;
}

.sec10 .sec_contact dl dd span.wpcf7-not-valid-tip {
  position: absolute;
  top: 33px;
  left: 0;
}

.sec10 .btn__area .anim2 {
  position: absolute;
  top: auto;
  width: 75px !important;
  right: auto;
  -webkit-transform: rotate(-160deg);
          transform: rotate(-160deg);
  left: 8px;
  bottom: -37px;
}

.sec10 .btn__area .btn_anim {
  width: 264px;
  position: absolute;
  top: auto;
  right: auto;
  left: -70px;
  bottom: -116px;
}

::-webkit-input-placeholder {
  color: #BBBBBB;
}

:-ms-input-placeholder {
  color: #BBBBBB !important;
}

::-ms-input-placeholder {
  color: #BBBBBB;
  opacity: 1;
}

::placeholder {
  color: #BBBBBB;
  opacity: 1;
}

.btn__area {
  position: relative;
  width: 490px;
  margin: auto;
  z-index: 5;
}

@media (max-width: 768px) {
  .btn__area {
    width: 290px;
  }
}

.btn__area a {
  width: 490px;
  height: 155px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 5px solid #E3CC13;
  border-radius: 100px;
  position: relative;
  z-index: 2;
  text-decoration: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 36px;
  font-weight: bold;
  color: #E3CC13;
  letter-spacing: 0.03em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
}

@media (max-width: 768px) {
  .btn__area a {
    width: 290px;
    font-size: 22px;
    height: 90px;
  }
}

.btn__area a span {
  color: #E3CC13;
  font-size: 16px;
  font-weight: bold;
  display: block;
  margin: 0 0 -5px 0;
}

@media (max-width: 768px) {
  .btn__area a span {
    font-size: 12px;
  }
}

.btn__area .btn_anim {
  width: 264px;
  position: absolute;
  top: -84px;
  right: -45px;
}

@media (max-width: 768px) {
  .btn__area .btn_anim {
    width: 160px;
    top: -47px;
  }
  .btn__area .btn_anim img {
    width: 100%;
  }
}

.btn__area .anim2 {
  position: absolute;
  top: -50px;
  width: 75px !important;
  right: 60px;
}

@media (max-width: 768px) {
  .btn__area .anim2 {
    position: absolute;
    top: -22px;
    width: 34px !important;
    right: 37px;
    width: 50px;
  }
}
/*# sourceMappingURL=common.css.map */