@charset "UTF-8";
@import url("https://use.typekit.net/aga5awr.css");
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
  font-family: "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "游ゴシック体", "Yu Gothic", YuGothic, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul,
ul,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

p {
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #bfbfbf;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

* {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  /* form clear */
  -webkit-appearance: none !important;
}

/* ----- Clearfix ----- */
.clearfix:after {
  content: ".";
  display: block;
  visibility: hidden;
  height: 0.1px;
  font-size: 0.1em;
  line-height: 0;
  clear: both;
}

.clearfix {
  zoom: 1;
}

body {
  overflow-x: hidden;
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
}

/*===================================================================
*    mixin
/*==================================================================*/
body {
  font-size: 0.14rem;
}

@media (min-width: 1281px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 10px;
  }
}

/*---------------------------------------------------------
  Common
*/
.fl_left {
  float: left;
}

.fl_right {
  float: right;
}

.pc_contents {
  display: block !important;
}

.sp_contents {
  display: none !important;
}

.pc_contents_common {
  display: block !important;
}

.sp_contents_common {
  display: none !important;
}

.pc_br {
  display: inline;
  font-size: 10px !important;
}

.sp_br {
  display: none !important;
}

@media screen and (max-width: 960px) {
  .pc_contents_common {
    display: none !important;
  }
  .sp_contents_common {
    display: block !important;
  }
}

@media screen and (max-width: 769px) {
  .pc_contents {
    display: none !important;
  }
  .sp_contents {
    display: block !important;
  }
  .pc_br {
    display: none;
  }
  body .sp_br {
    display: inline !important;
    font-size: 10px !important;
  }
}

img {
  vertical-align: top;
}

.wrap {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.wrap:after {
  content: "";
}

.beams_wrap1006 {
  overflow: hidden;
}

.beams_wrap1006 header {
  width: 100%;
  height: 70px;
  position: relative;
}

.beams_wrap1006 header h1 {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 90px;
  height: 35px;
  margin: auto;
}

.beams_wrap1006 header h1 img {
  width: 100%;
}

.ac_Menu {
  display: block;
  border-radius: 1px;
  margin: 25px 5% 0 0;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99999;
}

.menuTrigger,
.menuTrigger span {
  display: inline-block;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menuTrigger {
  position: relative;
  width: 25px;
  height: 25px;
}

.menuTrigger span {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 2px;
  background-color: #000;
  color: #000;
  border-radius: 4px;
}

.menuTrigger span:nth-of-type(1) {
  top: 0;
}

.menuTrigger span:nth-of-type(2) {
  top: 8px;
}

.menuTrigger span:nth-of-type(3) {
  top: 16px;
}

.menuTrigger span:nth-of-type(4) {
  background: transparent none repeat scroll 0 0;
  font-size: 10px;
  font-weight: 700;
  height: auto;
  position: absolute;
  text-align: center;
  top: 26px;
  width: 32px;
}

.menuTrigger.active span:nth-of-type(1) {
  -webkit-transform: translateY(10px) rotate(-45deg);
  transform: translateY(10px) rotate(-45deg);
  top: 3px;
}

.menuTrigger.active span:nth-of-type(2) {
  opacity: 0;
}

.menuTrigger.active span:nth-of-type(3) {
  -webkit-transform: translateY(-15px) rotate(45deg);
  transform: translateY(-15px) rotate(45deg);
  top: 28px;
}

.menuTrigger.active span:nth-of-type(4) {
  background: none;
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  position: absolute;
  height: auto;
  width: 32px;
}

.menuTrigger.active span {
  background: #fff;
}

.woman .menuTrigger.active span {
  background: #000;
}

.menu_box {
  max-width: 560px;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  background-color: #dcbda6;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: scroll;
  opacity: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  visibility: hidden;
  z-index: 3;
}

.menu_box.on {
  opacity: 1;
  visibility: visible;
}

.menu_box__innar {
  width: 77.33333%;
  padding: 90px 0 0 20px;
  margin: auto;
}

.menu_box__innar a {
  ont-family: "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  margin: 0 0 25px;
  display: block;
}

.menu_box__innar dl {
  border-bottom: 1px solid #fff;
  margin: 0 0 20px;
}

.menu_box__innar dd {
  padding: 0 0 0 20px;
}

.menu_box__innar dd li:first-child img {
  height: 19px;
}

.menu_box__innar dd li a {
  font-size: 14px;
}

.menu_box__innar dd li a span {
  font-family: grand-central, serif;
  font-weight: 600;
  font-style: normal;
  color: #fff;
  font-size: 15px;
  display: inline-block;
  margin: 0 30px 0 0;
}

.menu_box__innar dd li a img {
  height: 15px;
}

.menu_box__innar .menu_txt img {
  width: 110px;
}

.bg {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  visibility: hidden;
}

.bg.on {
  opacity: 1;
  visibility: visible;
}

.f_sec.copy {
  height: 40px;
  background: #cccccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 769px) {
  .f_sec.copy {
    height: 31px;
  }
}

.f_sec.copy a {
  color: #666666;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

@media screen and (max-width: 769px) {
  .f_sec.copy a {
    font-size: 10px;
  }
}

.f_sec.fsec4 {
  margin: 0 auto 15px;
}

@media screen and (max-width: 769px) {
  .f_sec.fsec4 {
    font-size: 11px;
    margin: 0 auto 9px;
  }
}

.f_sec.fsec4 ul {
  text-align: center;
  font-size: 0;
  max-width: 1000px;
  width: 78.125%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 769px) {
  .f_sec.fsec4 ul {
    display: block;
    width: 100%;
  }
}

.f_sec.fsec4 ul li {
  display: inline-block;
  margin: 0 0 10px;
}

@media screen and (max-width: 769px) {
  .f_sec.fsec4 ul li {
    margin: 0 5px 5px;
  }
}

.f_sec.fsec4 ul li a {
  font-size: 14px;
  color: #666666;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
}

@media screen and (max-width: 769px) {
  .f_sec.fsec4 ul li a {
    font-size: 10px;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    font-weight: bold;
  }
}

@media screen and (max-width: 769px) {
  .f_sec.fsec3 .flogo {
    display: none;
  }
}

.f_sec.fsec3 .flogo img {
  height: 55px;
  display: block;
  margin: 55px auto 60px;
  position: relative;
  left: 18px;
}

.f_sec.fsec3 p {
  font-size: 12px;
  line-height: 2;
  color: #000;
  text-align: center;
  margin: 0 0 50px;
}

@media screen and (max-width: 769px) {
  .f_sec.fsec3 p {
    font-size: 10px;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

.f_sec.fsec3 h3 {
  text-align: center;
  font-size: 14px;
  margin: 0 0 15px;
  font-weight: 600;
}

@media screen and (max-width: 769px) {
  .f_sec.fsec3 h3 {
    margin: 0 0 10px;
    font-size: 10px;
  }
}

.f_sec.fsec3 div ul {
  display: block;
  text-align: center;
  font-size: 0;
}

@media screen and (max-width: 769px) {
  .f_sec.fsec3 div ul {
    margin: 0 0 23px;
  }
}

.f_sec.fsec3 div li {
  display: inline-block;
  margin: 0 10px;
}

.f_sec.fsec3 div li:nth-child(3) {
  display: none;
}

@media screen and (max-width: 769px) {
  .f_sec.fsec3 div li {
    margin: 0 8px;
  }
  .f_sec.fsec3 div li:nth-child(3) {
    display: inline-block;
  }
}

.f_sec.fsec3 div li img {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 769px) {
  .f_sec.fsec3 div li img {
    width: 40px;
    height: 40px;
  }
}

.f_sec.fsec2 {
  width: 650px;
  margin: 0 auto 50px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 769px) {
  .f_sec.fsec2 {
    width: 88%;
    margin: auto;
    padding: 13px 0 24px;
    margin: 0 auto 17px;
  }
}

.f_sec.fsec2 .left {
  width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: 0 60px 0 0;
}

@media screen and (max-width: 769px) {
  .f_sec.fsec2 .left {
    width: 30%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 0 0;
  }
  .f_sec.fsec2 .left p {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

.f_sec.fsec2 .right {
  width: 390px;
}

@media screen and (max-width: 769px) {
  .f_sec.fsec2 .right {
    width: 70%;
  }
}

.f_sec.fsec2 p {
  font-size: 11px;
  line-height: 1.8;
}

@media screen and (max-width: 769px) {
  .f_sec.fsec2 p {
    font-size: 10px;
    line-height: 1.6;
  }
}

.f_sec.fsec1 {
  margin: 0 auto 70px;
}

@media screen and (max-width: 769px) {
  .f_sec.fsec1 {
    margin: 0 auto 47px;
  }
}

.f_sec.fsec1 img {
  width: 40px;
  height: 40px;
  margin: 0 auto 25px;
  display: block;
}

@media screen and (max-width: 769px) {
  .f_sec.fsec1 img {
    width: 20px;
    height: 20px;
    margin: 0 auto 10px;
  }
}

.f_sec.fsec1 ul {
  text-align: center;
  font-size: 0;
}

.f_sec.fsec1 ul li {
  display: inline-block;
  margin: 0 13px;
}

@media screen and (max-width: 769px) {
  .f_sec.fsec1 ul li {
    margin: 0 10px;
  }
}

.f_sec.fsec1 ul a {
  font-family: gill-sans-nova, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #000;
  display: inline-block;
  font-size: 14px;
}

@media screen and (max-width: 769px) {
  .f_sec.fsec1 ul a {
    font-size: 12px;
  }
}

.section .sec h2 {
  font-family: grand-central, serif;
  font-style: normal;
  color: #cab298;
  font-size: 90px;
  line-height: 90px;
  letter-spacing: 0em;
  font-weight: bold;
  margin: 0 0 55px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.04em;
}

@media screen and (max-width: 769px) {
  .section .sec h2 {
    font-size: 45px;
    line-height: 45px;
    text-align: center;
    margin: 0 0 8px;
  }
}

.section .sec h2 span {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0;
}

@media screen and (max-width: 769px) {
  .section .sec h2 span {
    font-size: 14px;
    margin: -1px 0 0;
  }
}

.section .sec .lead {
  color: #000;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0em;
  font-weight: 600;
  margin: 0 0 34px;
}

@media screen and (max-width: 769px) {
  .section .sec .lead {
    text-align: center;
    line-height: 26px;
    margin: 0 0 23px;
  }
}

.section .sec .lead2 {
  color: #000;
  font-size: 12px;
  line-height: 28px;
  letter-spacing: 0em;
  font-weight: 300;
  margin: 0 0 70px;
}

@media screen and (max-width: 769px) {
  .section .sec .lead2 {
    color: #000;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0em;
    font-weight: 300;
    margin: 24px 0 37px;
    padding: 0 7%;
    letter-spacing: 0.025em;
  }
}

@media screen and (max-width: 769px) {
  .section .sec .credit {
    margin: 30px 0 30px;
    padding: 0 0 0 8%;
  }
}

.section .sec .credit__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 20px;
}

@media screen and (max-width: 769px) {
  .section .sec .credit__box {
    display: block;
    margin: 0 0 32px;
  }
}

.section .sec .credit__box .left {
  width: 100px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.section .sec .credit__box .left p {
  font-size: 11px;
  font-weight: 300;
  width: 60px;
  padding: 0 0 0 5px;
  text-align: center;
}

@media screen and (max-width: 769px) {
  .section .sec .credit__box .left p {
    padding: 0 0 9px 0px;
    font-size: 14px;
    text-align: left;
  }
}

.section .sec .credit__box .right {
  width: 420px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.section .sec .credit__box li {
  color: #000;
  font-size: 11px;
  line-height: 11px;
  letter-spacing: 0em;
  font-weight: 600;
  margin: 0 0 10px;
  font-family: gill-sans-nova, sans-serif;
  margin: 0 0 8px;
  line-height: 11px;
}

@media screen and (max-width: 769px) {
  .section .sec .credit__box li {
    font-size: 15px;
    margin: 0 0 2px;
    line-height: 23px;
    line-height: 27px;
  }
}

.section .sec .credit__box li a {
  color: #000;
  font-size: 11px;
  line-height: 11px;
  letter-spacing: 0em;
  font-weight: 600;
  margin: 0 10px 0px 0;
  font-family: gill-sans-nova, sans-serif;
  text-decoration: underline;
  display: inline-block;
}

@media screen and (max-width: 769px) {
  .section .sec .credit__box li a {
    font-size: 15px;
    margin: 0 8px 0px 0;
  }
}

.section .sec .credit__box li .s1 {
  font-size: 10px;
  display: inline-block;
  margin: 0 10px 0 0;
}

@media screen and (max-width: 769px) {
  .section .sec .credit__box li .s1 {
    font-size: 10px;
    display: inline;
  }
}

.section .sec .credit__box li .s2 {
  color: #000;
  font-size: 11px;
  line-height: 11px;
  letter-spacing: 0em;
  font-weight: 600;
  margin: 0 10px 0px 0;
  font-family: gill-sans-nova, sans-serif;
  display: inline-block;
}

@media screen and (max-width: 769px) {
  .section .sec .credit__box li .s2 {
    font-size: 15px;
  }
}

.section .sec5 {
  padding: 100px 0 52px;
}

@media screen and (max-width: 769px) {
  .section .sec5 {
    padding: 35px 0 80px;
  }
}

.section .sec5 h2 {
  color: #64645c;
}

.section .sec5__innar {
  max-width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: auto;
}

@media screen and (max-width: 769px) {
  .section .sec5__innar {
    display: block;
  }
  .section .sec5__innar .s5-1 {
    width: 100%;
  }
  .section .sec5__innar .s5-2 {
    width: 85.33333%;
  }
  .section .sec5__innar .lead2 {
    margin: 33px 0 37px;
    letter-spacing: 0;
  }
}

.section .sec5__innar .i5-2 {
  width: 100%;
}

.section .sec5__innar > .left {
  max-width: 595px;
  width: 215.12605%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding: 0px 0 0 56px;
  margin: -14px 0 0 0;
}

@media screen and (max-width: 769px) {
  .section .sec5__innar > .left {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
  }
}

.section .sec5__innar .right {
  max-width: 627px;
  width: 48.98438%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media screen and (max-width: 769px) {
  .section .sec5__innar .right {
    width: 100%;
  }
}

.section .sec5__innar .right .credit {
  padding: 0 0 0 168px;
}

@media screen and (max-width: 769px) {
  .section .sec5__innar .right .credit {
    padding: 0 0 0;
    padding: 0 8%;
  }
}

.section .sec5__innar .right .pc_contents {
  position: relative;
  margin: 0 0 40px;
  margin: 0 0 78px;
}

.section .sec5__innar .right .pc_contents img {
  max-width: 627px;
  width: 100%;
}

.section .sec5__innar .right .pc_contents .p1 {
  color: #000;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 0em;
  font-weight: 300;
  margin: 0 0 0px;
  position: absolute;
  top: 41px;
  left: 114px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  font-family: grand-central, serif;
  font-weight: 300;
  font-style: normal;
  display: none;
}

.section .sec5 .img1-2 {
  max-width: 509px;
  width: 39.76562vw;
}

.section .sec4 {
  padding: 60px 0 60px;
  background: #dbdcee;
}

@media screen and (max-width: 769px) {
  .section .sec4 {
    padding: 35px 0 35px;
  }
  .section .sec4 .lead2 {
    margin: 36px 0 37px;
    letter-spacing: 0em;
  }
}

.section .sec4 h2 {
  color: #907fa9;
}

.section .sec4 .i4-2 {
  max-width: 440px;
  width: 34.375vw;
  margin: 0 0 49px;
}

@media screen and (max-width: 769px) {
  .section .sec4 .i4-2 {
    max-width: 100%;
    width: 100%;
  }
}

.section .sec4__innar {
  max-width: 1043px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

.section .sec4__innar .credit__box .right {
  width: 474px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media screen and (max-width: 769px) {
  .section .sec4__innar .credit__box .right {
    max-width: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 769px) {
  .section .sec4__innar {
    display: block;
  }
}

.section .sec4__innar > .left {
  max-width: 390px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding: 0 0 0 0px;
}

@media screen and (max-width: 769px) {
  .section .sec4__innar > .left {
    max-width: 100%;
    width: 100%;
  }
  .section .sec4__innar > .left img {
    max-width: 100%;
    width: 100%;
  }
  .section .sec4__innar > .left img.s4-1 {
    width: 84%;
    margin: 0 auto 20px;
    display: block;
  }
}

.section .sec4__innar > .right {
  max-width: 577px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding: 150px 0 0 0;
}

@media screen and (max-width: 769px) {
  .section .sec4__innar > .right {
    max-width: 100%;
    width: 100%;
    padding: 0px 0 0 0;
  }
}

.section .sec4__innar > .right .pc_contents {
  position: relative;
  margin: 0 0 40px;
}

.section .sec4__innar > .right .pc_contents img {
  max-width: 100%;
  width: 100%;
  /* position: relative; */
  /* left: -25px; */
}

.section .sec4__innar > .right .pc_contents .p1 {
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 0em;
  font-weight: 300;
  margin: 0 0 0px;
  position: absolute;
  top: 155px;
  right: -25px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: right top;
          transform-origin: right top;
  font-family: grand-central, serif;
  font-weight: 300;
  font-style: normal;
  font-style: normal;
}

.section .sec4 .img2-2 {
  max-width: 540px;
  width: 42.1875vw;
  position: relative;
  left: -14vw;
}

.section .sec3 {
  padding: 100px 0 70px;
}

@media screen and (max-width: 769px) {
  .section .sec3 {
    padding: 35px 0 15px;
  }
  .section .sec3 .s3-1 {
    width: 84%;
    margin: 0 0 28px;
  }
  .section .sec3 .s3-2 {
    width: 100%;
    margin: 0 0 30px;
  }
}

@media screen and (max-width: 769px) and (max-width: 769px) {
  .section .sec3 .s3-2 {
    width: 75%;
    margin: 0 0 30px auto;
    display: block;
  }
}

.section .sec3 img.img3-2 {
  max-width: 540px;
  width: 42.1875vw;
  margin: 139px 0 0 0;
  position: relative;
  left: -200px;
}

@media screen and (max-width: 769px) {
  .section .sec3 img.img3-2 {
    width: 75%;
    margin: 0 0 30px auto;
    display: block;
  }
}

.section .sec3__innar {
  max-width: 1043px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  padding: 0 0 0 90px;
}

@media screen and (max-width: 769px) {
  .section .sec3__innar {
    display: block;
    padding: 0;
  }
}

.section .sec3__innar h2 {
  color: #94907e;
}

.section .sec3__innar > .left {
  max-width: 393px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 345px;
  position: relative;
  z-index: 1;
  padding: 93px 0 0 0;
}

@media screen and (max-width: 769px) {
  .section .sec3__innar > .left {
    width: 100%;
    max-width: 100%;
    padding: 0;
  }
}

.section .sec3__innar .right {
  max-width: 522px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.section .sec3__innar .right .pc_contents {
  position: relative;
  margin: 0 0 50px;
}

.section .sec3__innar .right .pc_contents img {
  max-width: 650px;
  width: 50.78125vw;
}

@media screen and (max-width: 769px) {
  .section .sec3__innar .right .pc_contents img {
    width: 100%;
    padding: 0;
  }
}

.section .sec3__innar .right .pc_contents .p1 {
  color: #000;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 0em;
  font-weight: 300;
  margin: 0 0 0px;
  position: absolute;
  top: 0;
  left: -11px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  font-family: grand-central, serif;
  font-weight: 300;
  font-style: normal;
}

.section .sec3__innar .credit__box .left {
  display: none;
}

.section .sec3 .img1-2 {
  max-width: 509px;
  width: 39.76562vw;
}

@media screen and (max-width: 769px) {
  .section .sec3 .img1-2 {
    width: 100%;
    padding: 0;
  }
}

.section .sec2 {
  padding: 110px 0 70px;
  background: #c6b5c7;
}

@media screen and (max-width: 769px) {
  .section .sec2 {
    padding: 45px 0 25px;
  }
  .section .sec2 .s2-1 {
    width: 86.66667%;
    margin: 0 0 30px auto;
    display: block;
  }
  .section .sec2 img.s2-2 {
    width: 62%;
  }
  .section .sec2 .lead2 {
    margin: 33px 0 37px;
  }
}

.section .sec2 h2 {
  color: #fff;
}

.section .sec2 h2 span {
  color: #fff !important;
}

.section .sec2 p {
  color: #fff !important;
}

.section .sec2 li {
  color: #fff !important;
}

.section .sec2 li a {
  color: #fff !important;
}

.section .sec2 li span {
  color: #fff !important;
}

.section .sec2 .credit__box {
  width: 530px;
}

@media screen and (max-width: 769px) {
  .section .sec2 .credit__box {
    width: 100%;
  }
}

.section .sec2__innar {
  max-width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

@media screen and (max-width: 769px) {
  .section .sec2__innar {
    display: block;
  }
}

.section .sec2__innar .left__innar {
  margin: -17px 0 0 32%;
}

@media screen and (max-width: 769px) {
  .section .sec2__innar .left__innar {
    max-width: 100%;
    margin: 0;
  }
}

.section .sec2__innar > .left {
  max-width: 540px;
  width: 42.1875%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding: 0 0 0 0px;
}

@media screen and (max-width: 769px) {
  .section .sec2__innar > .left {
    width: 100%;
    max-width: 100%;
  }
}

.section .sec2__innar > .right {
  max-width: 660px;
  width: 51.5625%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding: 50px 0 0 0;
}

@media screen and (max-width: 769px) {
  .section .sec2__innar > .right {
    width: 100%;
    padding: 0;
  }
}

.section .sec2__innar > .right .pc_contents {
  position: relative;
  margin: 0 0 50px;
}

.section .sec2__innar > .right .pc_contents img {
  max-width: 547px;
  width: 42.73438vw;
  position: relative;
  left: 0px;
}

.section .sec2__innar > .right .pc_contents .p1 {
  color: #fff;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 0em;
  font-weight: 300;
  margin: 0 0 0px;
  position: absolute;
  top: 155px;
  right: 13.5%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: right top;
          transform-origin: right top;
  font-family: grand-central, serif;
  font-weight: 300;
  font-style: normal;
}

.section .sec2 .img2-2 {
  max-width: 540px;
  width: 42.1875vw;
}

@media screen and (max-width: 769px) {
  .section .sec2 .img2-2 {
    width: 100%;
  }
}

.section .sec1 {
  padding: 110px 0 110px;
}

@media screen and (max-width: 769px) {
  .section .sec1 {
    padding: 35px 0 25px;
  }
}

@media screen and (max-width: 769px) {
  .section .sec1 .s1-1 {
    width: 92%;
  }
}

.section .sec1__innar {
  max-width: 1043px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 769px) {
  .section .sec1__innar {
    display: block;
  }
}

.section .sec1__innar > .left {
  max-width: 390px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding: 88px 0 0;
}

@media screen and (max-width: 769px) {
  .section .sec1__innar > .left {
    max-width: 100%;
    padding: 0 0 0;
  }
}

.section .sec1__innar .right {
  max-width: 522px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.section .sec1__innar .right .pc_contents {
  position: relative;
  margin: 0 0 40px;
}

.section .sec1__innar .right .pc_contents img {
  max-width: 603px;
  width: 47.10938vw;
}

.section .sec1__innar .right .pc_contents .p1 {
  color: #000;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 0em;
  font-weight: 300;
  margin: 0 0 0px;
  position: absolute;
  top: 0;
  left: -11px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  font-family: grand-central, serif;
  font-weight: 300;
  font-style: normal;
}

.section .sec1 .img1-2 {
  max-width: 509px;
  width: 39.76562vw;
}

@media screen and (max-width: 769px) {
  .section .sec1 .img1-2 {
    max-width: 100%;
    width: 100%;
  }
}

.section .sec0 {
  background: #dcbda6;
  padding: 0 0 1px;
}

.section .sec0 h2 {
  font-size: 16px;
  letter-spacing: 0.1em;
  line-height: 16px;
  font-weight: 600;
  text-align: center;
  margin: 0 0 28px;
  color: #000;
  font-family: "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "游ゴシック体", "Yu Gothic", YuGothic, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

@media screen and (max-width: 769px) {
  .section .sec0 h2 {
    font-size: 15px;
    letter-spacing: 0.03em;
    line-height: 1.5;
    margin: 0 0 10px;
  }
}

.section .sec0 .text1-1 {
  color: #000;
  font-size: 12px;
  line-height: 26px;
  letter-spacing: 0.1em;
  font-weight: 600;
  margin: 0 0 34px;
  text-align: center;
}

@media screen and (max-width: 769px) {
  .section .sec0 .text1-1 {
    font-size: 10px;
    line-height: 21px;
    font-weight: 300;
    margin: 0 0 0px;
  }
}

.section .sec0 .text1-2 {
  color: #000;
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 0.1em;
  font-weight: 300;
  margin: 0 0 25px;
  text-align: center;
  position: relative;
}

.section .sec0 .text1-2 a {
  color: #000;
  text-decoration: none;
}

@media screen and (max-width: 769px) {
  .section .sec0 .text1-2 {
    font-size: 10px;
    line-height: 21px;
    font-weight: 300;
    -webkit-transform: scale(0.77);
            transform: scale(0.77);
  }
}

.section .sec0 .text1-2 span {
  font-size: 12px;
  font-weight: 600;
  display: block;
}

.section .sec0 .text1-2:after {
  content: "";
  width: 30px;
  height: 2px;
  display: block;
  background: #000;
  position: absolute;
  top: -13px;
  left: 0;
  right: 0;
  margin: auto;
}

@media screen and (max-width: 769px) {
  .section .sec0 .text1-2:after {
    display: none;
  }
}

.section .sec0__innar {
  max-width: 1043px;
  margin: auto;
  width: 100%;
}

.section .sec0__innar img {
  width: 100%;
  margin: 0 auto 45px;
}

@media screen and (max-width: 769px) {
  .section .sec0__innar img {
    margin: 0 auto 20px;
  }
}

@media screen and (max-width: 769px) {
  .section .sec0__innar img {
    width: 84vw;
    max-width: 530px;
    margin: 0 auto 20px;
    display: block;
  }
}

.section .sec1__innar {
  max-width: 1043px;
  margin: auto;
  width: 100%;
}

@media screen and (max-width: 769px) {
  .section .sec1 .lead2 {
    font-size: 13px;
    letter-spacing: 0em;
  }
}

body {
  font-size: 10px;
}

/* =========================
Add CSS 
========================= */
/* =========================
コンテンツ幅設定
*/
.outer {
  width: 100%;
  height: 100%;
}

.inner {
  width: 100%;
  margin: 0 auto;
}

.sec {
  width: 100%;
}

.sec-in {
  width: 92%;
  max-width: 1080px;
  margin: 0 auto;
  color: #222;
}

/* =========================
共通 / 見出し /
*/
.area-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.area-head .number {
  margin-right: 15px;
  font-family: din-2014, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 25px;
}

.area-head .heading {
  position: relative;
  top: -3px;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 900;
  font-size: 46px;
}

.area-head .english {
  margin: 0 25px 0 20px;
  font-family: din-2014, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
}

.area-head .lead {
  width: 245px;
  text-align: left;
  font-size: 14px;
  color: #666;
}

/* =========================
ボタン
*/
.btn a {
  text-decoration: none;
  color: inherit;
}

.area-btn {
  margin: 150px 0;
  text-align: center;
}

.area-btn .btn-more01 {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.area-btn .btn-more01::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  margin-top: 22px;
  border-radius: 4px;
  background: #222;
}

/* =========================
sec01
*/
/* =========================
sec03
*/
.sec03 {
  margin-top: 152px;
  position: relative;
}

.sec03::after {
  content: '';
  display: block;
  position: absolute;
  top: 28%;
  left: 0;
  width: 128px;
  height: 936px;
  background: url(/img/sec03_bg-txt.png) no-repeat;
  background-size: 100%;
}

.sec03 .area-hashtag {
  margin-top: 88px;
}

.sec03 .area-hashtag .heading {
  font-family: din-2014, sans-serif;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 0.03em;
}

.sec03 .area-hashtag .lst-hashtag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 52%;
  margin-top: 10px;
}

.sec03 .area-hashtag .lst-hashtag li {
  margin-right: 5px;
  font-size: 14px;
  color: #666;
}

.sec03 .area-caseStudy {
  margin-top: 100px;
}

.sec03 .area-caseStudy img {
  width: 100%;
}

.sec03 .area-caseStudy .lst-caseStudy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sec03 .area-caseStudy .lst-caseStudy li {
  width: 50%;
}

.sec03 .area-corporate img {
  width: 100%;
}

.sec03 .area-corporate .heading {
  width: 92%;
  max-width: 1080px;
  margin: 0 auto;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 26px;
}

.sec03 .area-corporate .slider01 {
  margin-top: 95px;
}

.sec03 .area-corporate .slider02 {
  margin-top: 15px;
}

.sec03 .area-corporate .slick01 li {
  border: 1px solid #DDD;
  margin-right: 15px;
}

/* =========================
sec04
*/
.sec04 {
  margin-top: 252px;
  padding-bottom: 280px;
  background: url(/img/sec04_bg.png) no-repeat center;
}

.sec04::after {
  content: '';
  display: block;
  position: relative;
  z-index: 1;
  top: -100px;
  left: -20px;
  width: 572px;
  height: 166px;
  padding: 1px 0;
  background: url(/img/sec04_bg-txt.png) no-repeat left;
  background-size: 100%;
}

.sec04 .area-flow {
  position: relative;
  z-index: 2;
  width: 100%;
  margin-top: 138px;
}

.sec04 .lst-flow {
  width: 100%;
}

.sec04 .lst-flow li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 76%;
  margin-bottom: 20px;
  padding: 25px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #F8F8F8;
  border-radius: 100px;
}

.sec04 .lst-flow li:last-child {
  margin-bottom: 0;
}

.sec04 .lst-flow li.is-02 {
  margin-left: 4%;
}

.sec04 .lst-flow li.is-03 {
  margin-left: 9%;
}

.sec04 .lst-flow li.is-04 {
  margin-left: 13%;
}

.sec04 .lst-flow li.is-05 {
  margin-left: 18%;
}

.sec04 .lst-flow li.is-06 {
  margin: 0 0 0 auto;
}

.sec04 .lst-flow li .number {
  margin-right: 30px;
}

.sec04 .lst-flow li .area-txt .heading {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 900;
  font-size: 20px;
}

.sec04 .lst-flow li .area-txt .sentence {
  width: 90%;
  min-width: 620px;
  margin-top: 14px;
  font-size: 14px;
  color: #666;
}

@media screen and (max-width: 1200px) {
  .sec04 .lst-flow li .area-txt .sentence {
    min-width: auto;
  }
}

@media screen and (max-width: 769px) {
  .area-head {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .area-head .number {
    margin-right: 5px;
  }
  .area-head .heading {
    font-size: 32px;
  }
  .area-head .english {
    margin: 0;
    margin-left: 15px;
  }
  .area-head .lead {
    margin-top: 12px;
    margin-left: 43px;
    font-size: 14px;
  }
  .sec04 {
    padding-bottom: 140px;
  }
  .sec04::after {
    display: none;
  }
  .sec04 .area-flow {
    margin-top: 60px;
  }
  .sec04 .lst-flow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .sec04 .lst-flow li {
    display: block;
    width: 48%;
    height: 345px;
    margin-left: 0 !important;
    margin-bottom: 20px;
  }
  .sec04 .lst-flow li .number {
    width: 60px;
    margin: 0 auto;
  }
  .sec04 .lst-flow li .number img {
    width: 100%;
  }
  .sec04 .lst-flow li .area-txt .heading {
    margin-top: 18px;
    text-align: center;
    font-size: 15px;
  }
  .sec04 .lst-flow li .area-txt .sentence {
    width: 100%;
    margin: 0;
    margin-top: 13px;
    font-size: 12px;
  }
}

/* =========================
sec05
*/
.sec05 {
  position: relative;
  margin: 138px 0 152px;
  padding-bottom: 114px;
}

.sec05::after {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
  width: 694px;
  height: 142px;
  padding: 1px 0;
  background: url(/img/sec05_bg-txt.png) no-repeat center bottom;
  background-size: 100%;
}

.sec05 img {
  width: 100%;
}

.sec05 .area-reason {
  width: 100%;
  margin-top: 138px;
}

.sec05 .lst-reason {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 88%;
  margin: 0 auto;
}

.sec05 .lst-reason li {
  width: 30%;
  padding: 35px 30px;
  background: #F8F8F8;
  border-radius: 10px;
}

.sec05 .lst-reason li .caption {
  margin-top: 35px;
  text-align: center;
  font-size: 20px;
}

@media screen and (max-width: 769px) {
  .sec05 {
    margin-top: 98px;
    padding-bottom: 0;
  }
  .sec05::after {
    display: none;
  }
  .sec05 .area-reason {
    margin-top: 56px;
  }
  .sec05 .lst-reason {
    display: block;
  }
  .sec05 .lst-reason li {
    width: 100%;
    margin-bottom: 30px;
  }
  .sec05 .lst-reason li:last-child {
    margin-bottom: 0;
  }
}

/* =========================
sec09
*/
.sec09 .area-accordion {
  margin-top: 138px;
}

.sec09 .accordion-hidden {
  display: none;
}

.sec09 .accordion-open,
.sec09 .accordion-close {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
  margin: 0 auto;
  font-size: 18px;
  padding: 45px 45px 38px;
}

.sec09 .accordion-open span {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.sec09 .accordion-open .qa,
.sec09 .accordion-close .qa {
  margin-right: 4%;
}

.sec09 .accordion-open .sentence,
.sec09 .accordion-close .sentence {
  position: relative;
  top: -4px;
  width: 88%;
}

.sec09 .accordion-open {
  background: #6FBBD8;
  border-radius: 20px;
}

.sec09 .accordion-open::after {
  content: '';
  display: block;
  position: absolute;
  right: 5%;
  width: 24px;
  height: 24px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  background: url(/img/sec05_icon_minus.svg) no-repeat center;
}

.sec09 .accordion-open::before {
  content: '';
  display: block;
  position: absolute;
  right: 5%;
  width: 24px;
  height: 24px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: url(/img/sec05_icon_minus.svg) no-repeat center;
}

.sec09 .accordion-close {
  height: 0;
  overflow: hidden;
  margin-bottom: 20px;
  padding: 0;
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: #EFEFEF;
  border-radius: 0 0 20px 20px;
}

.accordion-hidden:checked + .accordion-open + .accordion-close {
  height: auto;
  opacity: 1;
  margin-bottom: 36px;
  padding: 45px 45px 38px;
}

.accordion-hidden:checked + .accordion-open::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.accordion-hidden:checked + .accordion-open {
  border-radius: 20px 20px 0 0;
}

@media screen and (max-width: 769px) {
  .sec09 .area-accordion {
    margin-top: 45px;
  }
  .sec09 .accordion-open {
    width: 100%;
    padding: 25px;
  }
  .sec09 .accordion-open::after {
    right: 7%;
  }
  .sec09 .accordion-open::before {
    right: 7%;
  }
  .sec09 .accordion-close {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .sec09 .accordion-open span,
  .sec09 .accordion-close span {
    font-size: 16px;
  }
  .sec09 .accordion-open .qa,
  .sec09 .accordion-close .qa {
    margin-right: 7%;
  }
  .sec09 .accordion-open .sentence,
  .sec09 .accordion-close .sentence {
    width: 70%;
  }
  .sec09 .accordion-hidden:checked + .accordion-open + .accordion-close {
    width: 100%;
    padding: 25px;
  }
}
/*# sourceMappingURL=style.css.map */