@font-face {
	font-display: swap;
  font-family: 'Mkinas 4 Square';
  src: url('./src/font/Makinas-4-Square.woff2') format('woff2'), url('../font/Makinas-4-Square.otf') format('otf');
}
body{
	font-size: 20px;
	font-family: 游ゴシック体, YuGothic, 游ゴシック, "Yu Gothic", メイリオ, "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
	font-weight: 500;
	color: #000;
	counter-reset: number 0;
	line-height: 1.6;
}
body > * + *:not(.parts-contact) {
	margin-top: 100px;
}
h1,
h2,
h3 {
	font-size: 36px;
	font-weight: bold;
	padding-bottom: 6px;
	line-height: 1.4;
	border-bottom: 3px solid #e60000;
}
h4 {
	font-size: 32px;
	font-weight: bold;
	border-left: 5px solid #e60000;
	padding: 4px 10px;
	background: #efece8;
}
h5 {
	position: relative;
	font-size: 28px;
	font-weight: bold;
	padding-bottom: 4px;
	border-bottom: 3px solid #081927;
}
h5::before {
	display: block;
	content: "";
	position: absolute;
	bottom: -3px;
	left: 0;
	width: 80px;
	height: 3px;
	background: #e60000;
}
h6 {
	font-size: 24px;
	font-weight: bold;
	padding-bottom: .4rem;
	border-bottom: 0.2rem dotted #081927;
}
strong,
b {
	font-weight: bold;
}
ol,
ul {
	list-style: none;
	padding-left: 0;
	margin-left: 0;
}
ul li,
ol li {
	text-indent: -.7em;
	padding-left: 1.3em;
}
ul li::before,
ol li::before {
	display: inline-block;
	white-space: nowrap;
	color: #e60000;
}
ul li::before {
	content: "・";
	font-size: 34px;
	transform: translateY(5px);
	margin-left: -8px;
}
ol li::before {
	content: counter(number) " . ";
	counter-increment: number 1;
	font-family: 'Mkinas 4 Square';
}
a {
	color: #26b7ff;
	text-decoration: underline;
}
blockquote {
	position: relative;
	padding: 40px 48px;
	background: #efece8;
	border-radius: 3px;
	border-left: none;
}
blockquote::before,
blockquote::after {
	display: block;
	position: absolute;
	width: 1.8rem;
	line-height: 1;
}
blockquote::before {
	content: url(./src/img/common/quote-start.svg);
	top: 14px;
	left: 14px;
}
blockquote::after {
	content: url(./src/img/common/quote-end.svg);
	bottom: 14px;
	right: 14px;
}