.about {
	position: relative;
	z-index: 2;
	margin-top: -3.2rem;
	overflow: hidden;
}
.about__container {
	background: $navy;
	@include myBackgroundCircle('top', 160px, -60px, 60px);
	color: #fff;
}
.about__inner {
	padding-top: 4.5rem;
	&.lazyloaded {
		background: url(../img/index/bg-about.svg) no-repeat center 6rem;
		background-size: 100%;
	}
}
.about__content {
	max-width: 34.8rem;
	padding-top: 4rem;
	margin: 0 auto;
}
.about__header-title {
	@include indexSectionTitle();
	text-align: center;
	color: #2c4050;
	transition: all 1s 1s ease;
}
.lazyloaded {
	.about__header-title {
		color: #fff;
	}
}
.about__content-vertical {
	padding-right: 1.4rem;
	padding-left: 1.4rem;
	ul {
		flex-direction: row-reverse;
		margin: 0 auto;
	}
	li {
		position: relative;
		font-size: 1.4rem;
		font-family: 'Kosugi Maru', sans-serif;
		writing-mode: vertical-rl;
		line-height: 1;
		letter-spacing: .3rem;
		padding: .8rem .4rem;
		white-space: nowrap;
		span {
			position: relative;
			z-index: 2;
			color: #2c4050;
			transition: all .8s 1s ease;
		}
		&::after {
			display: block;
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			width: 100%;
			height: 0;
			transition: all .8s 2s ease;
		}
	}
	&.lazyloaded {
		li {
			span {
				color: $navy;
			}
				&::after {
				height: 100%;
				background: #fff;
			}
		}
		.about__content-logo {
			opacity: 1;
		}
	}
}
.about__content-logo {
	text-align: right;
	margin-top: -5rem;
	opacity: 0;
	transition: all 1.5s 2.5s ease;
	img {
		width: 8rem;
	}
}
.about__detail {
	padding: 6rem 0 4rem;
}
.about__lead {
	display: none;
}
.about__result-content {
	width: 100%;
	max-width: 27.6rem;
	text-align: center;
	padding: 2rem 0 3rem;
	& + .about__result-content {
		 border-top: .1rem solid #fff;
	}
	&:nth-of-type(2),
	&:nth-of-type(4) {
		display: none;
	}
	&:nth-of-type(1) {
		.about__result-image {
			img {
				width: 5.4rem;
			}
		}
	}
	&:nth-of-type(3) {
		.about__result-image {
			img {
				width: 5.2rem;
			}
		}
	}
	&:nth-of-type(5) {
		.about__result-image {
			img {
				width: 5.5rem;
			}
		}
	}
}
.about__result-label {
	padding-top: 1.4rem;
}
.about__result-number {
	font-family: 'Mkinas 4 Square';
	line-height: 1;
	padding-top: 1.2rem;
	span {
		font-size: 2rem;
	}
	b {
		font-size: 5rem;
		letter-spacing: .4rem;
		margin: 0 .4rem;
	}
}
.about__result-date {
	font-size: 1.2rem;
	padding-top: 1.2rem;
	span {
		display: block;
	}
}
.about__result-slogan {
	display: none;
}
.about__result-person {
	display: none;
}

// Mobile ( Medium )
@media screen and (min-width: $mobile-medium) {
	.about__content-vertical {
		padding-right: 0;
		padding-left: 0;
	}
}
// Mobile ( Large )
@media screen and (min-width: $mobile-large) {
	.about__inner {
		padding-top: 8rem;
	}
	.about__header-title {
		@include indexSectionTitle('mobile-large');
	}
	.about__content-vertical {
		li {
			font-size: 1.8rem;
			letter-spacing: .6rem;
			padding: 1rem .5rem;
		}
	}
}
// Tablet ( Medium )
@media screen and (min-width: $tablet-medium) {
	.about {
		margin-top: -6rem;
	}
	.about__container {
		@include myBackgroundCircle('top', 400px, -200px, 200px);
	}
	.about__inner {
		padding-top: 10rem;
		&.lazyloaded {
			background-size: 54rem;
		}
	}
	.about__content {
		max-width: 42rem;
		padding-top: 8rem;
	}
	.about__result-content {
		max-width: 29.3rem;
		padding: 3rem 0 4rem;
		&:nth-of-type(1) {
			.about__result-image {
				img {
					width: 6.4rem;
				}
			}
		}
		&:nth-of-type(3) {
			.about__result-image {
				img {
					width: 6.2rem;
				}
			}
		}
		&:nth-of-type(5) {
			.about__result-image {
				img {
					width: 6.5rem;
				}
			}
		}
	}
	.about__result-label {
		padding-top: 2rem;
	}
	.about__result-number {
		padding-top: 1.4rem;
		span {
			font-size: 3rem;
		}
		b {
			font-size: 6rem;
		}
	}
	.about__result-date {
		font-size: 1.4rem;
		padding-top: 1.4rem;
	}
}
// Tablet ( Large )
@media screen and (min-width: $tablet-large) {
	.about__container {
		@include myBackgroundCircle('top', 600px, -400px, 400px);
		overflow: hidden;
	}
	.about__outer {
		background-image: url(../img/index/bg-ichimatsu.svg), url(../img/index/bg-ichimatsu.svg);
		background-repeat: repeat-y;
		background-position: left top, right top;
		background-size: 4rem;
	}
	.about__inner {
		&.lazyloaded {
			background-size: 75.6rem;
		}
	}
	.about__content {
		max-width: 100%;
		padding-top: 10rem;
	}
	.about__content-vertical {
		display: flex;
		max-width: 65.7rem;
		margin: 0 auto;
		ul {
			margin: 0 -1.2rem 0 auto;
			order: 2;
		}
		li {
			margin-right: 1.2rem;
			padding: .8rem .8rem;
			&:nth-of-type(5) {
				margin-right: 7.2rem;
			}
		}
	}
	.about__content-logo {
		order: 1;
		margin-top: 0;
		img {
			width: 15.6rem;
		}
	}
	.about__detail {
		padding-bottom: 6.2rem;
	}
	.about__lead {
		display: flex;
		width: 50.4rem;
		height: 11.2rem;
		background-image: url(../img/index/about-comment-white-left.svg), url(../img/index/about-comment-white-right.svg);
		background-repeat: no-repeat;
		background-position: left center, right center;
		background-size: contain;
		justify-content: center;
		font-size: 2.8rem;
		font-weight: bold;
		padding-top: 2rem;
		margin: 0 auto 1.2rem;
		transform: scale(0);
		transition: all .8s 1.4s cubic-bezier(.7,.68,.26,1.61);
		&.lazyloaded {
			transform: scale(1);
		}
	}
	.about__result {
		width: 84rem;
		margin: 0 auto;
	}
	.about__result-content {
		width: 16.8rem;
		padding: 0 0 0;
		color: #fff;
		& + .about__result-content {
			border-top: none;
		}
		&:nth-of-type(2),
		&:nth-of-type(4) {
			display: block;
			.about__result-person {
				margin-top: 16.8rem;
			}
		}
		&:nth-of-type(1),
		&:nth-of-type(3),
		&:nth-of-type(5) {
			.about__result-image {
				img {
					width: auto;
					height: 100%;
				}
			}
		}
		&:nth-of-type(1),
		&:nth-of-type(5) {
			color: #000;
			.about__result-slogan-image img {
				width: 4.4rem;
			}
		}
		&:nth-of-type(1),
		&:nth-of-type(3) {
			.about__result-label {
				padding-top: 1rem;
			}
			.about__result-number {
				padding-top: 1rem;
			}
		}
		&:nth-of-type(1) {
			.about__result-image {
				padding-top: .2rem;
				img {
					width: 86%;
				}
			}
		}
		&:nth-of-type(3) {
			.about__result-circle {
				background: $red;
				&::after {
					border-color: $red transparent transparent transparent;
				}
				}
		}
		&:nth-of-type(5) {
			.about__result-image {
				img {
					width: 88%;
					margin-top: -.4rem;
				}
			}
			.about__result-label {
				padding-top: 0;
			}
			.about__result-number {
				padding-top: .4rem;
			}
		}
		&:nth-of-type(1) {
			.about__result-person {
				transition: all .4s 1.4s cubic-bezier(.7,.68,.26,1.61);
			}
		}
		&:nth-of-type(2) {
			.about__result-person {
				transition: all .4s 1.6s cubic-bezier(.7,.68,.26,1.61);
			}
		}
		&:nth-of-type(3) {
			.about__result-person {
				transition: all .4s 1.8s cubic-bezier(.7,.68,.26,1.61);
			}
		}
		&:nth-of-type(4) {
			.about__result-person {
				transition: all .4s 2s cubic-bezier(.7,.68,.26,1.61);
			}
		}
		&:nth-of-type(5) {
			.about__result-person {
				transition: all .4s 2.2s cubic-bezier(.7,.68,.26,1.61);
			}
		}
		&:nth-of-type(1),
		&:nth-of-type(3),
		&:nth-of-type(5) {
			.about__result-circle {
				transition: all .8s 2.8s cubic-bezier(.7,.68,.26,1.61);
				> * {
					transition: all .8s 3xs cubic-bezier(.7,.68,.26,1.61);
				}
			}
		}
	}
	.about__result-circle {
		position: relative;
		width: 100%;
		height: 16.8rem;
		background: #fff;
		padding: 1rem;
		border-radius: 100%;
		transform: translateY(10rem) scale(0);
		transform-origin: center bottom;
		> * {
			transform: translateY(2rem);
			opacity: 0;
		}
		&.lazyloaded {
			transform: translateY(0) scale(1);
			> * {
				transform: translateY(0);
				opacity: 1;
			}
		}
		&::after {
			display: block;
			content: "";
			position: absolute;
			bottom: -10px;
			left: 50%;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 20px 14px 0 14px;
			transform: translateX(-50%);
			border-color: #fff transparent transparent transparent;
		}
	}
	.about__result-person {
		display: block;
		transform: translateY(20rem);
		&.lazyloaded {
			transform: translateY(0);
		}
		img {
			height: 14rem;
			margin-top: 1.6rem;
		}
	}
	.about__result-image {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 3.4rem;
	}
	.about__result-label {
		font-size: 1.2rem;
		line-height: 1.3;
	}
	.about__result-number {
		 span {
			 font-size: 1.4rem;
		 }
		 b {
			 font-size: 3.4rem;
			 margin: 0 0;
			 letter-spacing: .1rem;
		 }
	}
	.about__result-date {
		font-size: 1rem;
		padding-top: .7rem;
		line-height: 1.3;
	}
	.about__result-slogan {
		display: flex;
		position: absolute;
		top: -.4rem;
		right: -2.4rem;
		width: 6.4rem;
		height: 6.4rem;
		background: #fff;
		border-radius: 100%;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		line-height: 1.4;
	}
	.about__result-slogan-image {
		position: absolute;
		top: -1.5rem;
		text-align: center;
	}
	.about__result-slogan-text {
		font-size: 1rem;
		padding-top: .6rem;
		@include TA-F1blockline();
	}
}
// PC ( Small )
@media screen and (min-width: $pc-small) {
	.about {
		margin-top: -7rem;
	}
	.about__container {
		@include myBackgroundCircle('top', 750px, -500px, 500px);
	}
	.about__outer {
		background-size: 6rem;
	}
	.about__header-title {
		@include indexSectionTitle('pc-small');
	}
	.about__inner {
		padding-top: 23.6rem;
		&.lazyloaded {
			background-position: center 13rem;
			background-size: 85.6rem;
		}
	}
	.about__content-vertical {
		max-width: 68.7rem;
	}
	.about__detail {
		padding: 8rem 0 6.8rem;
	}
	.about__result {
		width: 112.6rem;
	}
	.about__result-content {
		width: 22.5rem;
		& + .about__result-content{
			margin-left: auto;
		}
		&:nth-of-type(2),
		&:nth-of-type(4) {
			.about__result-person {
				margin-top: 22.5rem;
			}
		}
		&:nth-of-type(1),
		&:nth-of-type(5) {
			.about__result-slogan-image img {
				width: 5.6rem;
			}
		}
		&:nth-of-type(1),
		&:nth-of-type(3) {
			.about__result-label {
				padding-top: 1.2rem;
			}
			.about__result-number {
				padding-top: 2rem;
			}
		}
		&:nth-of-type(1) {
			.about__result-image {
				padding-top: .2rem;
				img {
					width: 5.8rem;
				}
			}
		}
		&:nth-of-type(5) {
			.about__result-image {
				img {
					width: 6.2rem;
				}
			}
			.about__result-label {
				padding-top: .4rem;
			}
			.about__result-number {
				padding-top: 1rem;
			}
		}
	}
	.about__result-circle {
		padding: 1.8rem;
		height: 22.5rem;
	}
	.about__result-person {
		img {
			width: 100%;
			height: auto;
			margin-top: 2.4rem;
		}
	}
	.about__result-image {
		height: 4.4rem;
	}
	.about__result-label {
		font-size: 1.4rem;
	}
	.about__result-number {
		span {
			font-size: 2rem;
		}
		b {
			font-size: 4.4rem;
		}
	}
	.about__result-date {
		font-size: 1.1rem;
		padding-top: 1.2rem;
	}
	.about__result-slogan {
		top: -1rem;
		right: -3rem;
		width: 8.4rem;
		height: 8.4rem;
	}
	.about__result-slogan-image {
		top: -1.8rem;
	}
	.about__result-slogan-text {
		font-size: 1.2rem;
		padding-top: .8rem;
	}
}
// PC ( Medium )
@media screen and (min-width: $pc-medium) {
	.about__outer {
		background-size: 8rem;
	}
}