.column {
	&.lazyloaded {
		background: url(../img/index/bg-column-200x200.png) repeat left top;
		background-size: 10rem auto;
	}
}
.column__outer {
	padding: 4rem 0 4rem;
}
.column__header-title {
	@include indexSectionTitle();
	text-align: center;
	transition: all 1s 1.6s ease;
	line-height: 1;
}
.column__header-image {
	text-align: center;
	padding-top: 2rem;
	img {
		max-width: 36.6rem;
		transform: scale(0);
		transition: all .6s 1.4s cubic-bezier(.7,.68,.26,1.61);
	}
	&.lazyloaded {
		img {
			transform: scale(1);
		}
	}
}
.column__lead {
	font-size: 1.2rem;
	padding: 2rem 0 2rem;
	text-align: center;
}
.column__tag {
	text-align: center;
	height: 3.2rem;
	overflow: hidden;
}
.column__detail {
	padding-top: 3.4rem;
	.button {
		padding-right: 5.6rem;
		padding-left: 5.6rem;
	}
}

// Mobile ( Medium )
@media screen and(min-width: $mobile-medium) {
	.column__lead {
		font-size: 1.6rem;
	}
}
// Mobile ( Large )
@media screen and(min-width: $mobile-large) {
	.column__outer {
		padding: 8rem 0 8rem;
	}
	.column__header-title {
		@include indexSectionTitle('mobile-large');
	}
	.column__lead {
		font-size: 1.6rem;
		padding: 3.2rem 0 3.2rem;
	}
	.column__tag {
		height: 2.8rem;
	}
}
// Tablet ( Small )
@media screen and(min-width: $tablet-small) {
	.column__header-image {
		img {
			max-width: 46.6rem;
		}
	}
}
// Tablet ( Medium )
@media screen and (min-width: $tablet-medium) {
	.column__outer {
		padding: 10rem 0 6.6rem;
	}
	.column__header-image {
		padding-top: 3.7rem;
		img {
			max-width: 56.6rem;
		}
	}
	div.column__lead {
		font-size: 1.8rem;
		padding-top: 3.7rem;
		padding-bottom: 4.8rem;
	}
	.column__tag {
		width: 94%;
		margin-right: auto;
		margin-left: auto;
	}
}
// Tablet ( Large )
@media screen and (min-width: $tablet-large) {
	.column__outer {
		padding: 13rem 0 8.6rem;
		transform: translateY(50rem);
		transition: all 1s 1s;
		&.lazyloaded {
			transform: translateY(0);
		}
	}
	.column__header-image {
		img {
			max-width: 63.5rem;
		}
	}
	div.column__lead {
		font-size: 2rem;
	}
}
// PC ( Small )
@media screen and (min-width: $pc-small) {
	.column__outer {
		padding: 19rem 0 10.6rem;
	}
	.column__header-title {
		@include indexSectionTitle('pc-small');
	}
	div.column__lead {
		font-size: 2.4rem;
		padding-bottom: 4.5rem;
	}
	.column__tag {
		height: 4.5rem;
		.tag {
			li {
				font-size: 2.2rem;
			}
		}
	}
	.column__detail {
		padding-top: 7.2rem;
	}
}
// PC ( Medium )
@media screen and (min-width: $pc-medium) {
	.column__outer {
		padding: 21rem 0 12.6rem;
	}
	.column__detail {
		padding-top: 9rem;
	}
}