.contact {
	position: relative;
	background: url(../img/index/bg-contact.jpg) no-repeat center -8rem;
	background-size: 165.6rem auto;
	transform: translateY(0);
	margin-top: -8rem;
	opacity: 0;
	transition: all 1s .6s;
	overflow: hidden;
	&::before {
		display: block;
		content: "";
		position: absolute;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
		background: rgba(129, 0, 0, .86);
		transition: all .6s .8s;
	}
	&.lazyloaded {
		opacity: 1;
		&::before {
			top: 0;
		}
	}
}
.contact__outer {
	position: relative;
	z-index: 2;
}
.contact__inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 30rem;
	padding-bottom: 6.8rem;
	color: #fff;
}
.contact__header {
	font-size: 2.8rem;
	text-align: center;
	font-weight: bold;
	text-indent: .5em;
	letter-spacing: .1rem;
	opacity: 0;
	transform: translateY(40rem);
	transition: all .8s .6s cubic-bezier(.7,.68,.26,1.61);;
	&.lazyloaded {
		opacity: 1;
		transform: translateY(0);
	}
}
.contact__header-logo {
	margin: 2.8rem 0;
	text-indent: -.5em;
	img {
		width: 12rem;
		transform: scale(0);
		transition: all .8s 1.2s cubic-bezier(.7,.68,.26,1.61);
	}
}
.lazyloaded {
	.contact__header-logo img {
		transform: scale(1);
	}
}
.contact__lead {
	padding: 2.8rem 0 8rem;
	font-size: 1.3rem;
	line-height: 1;
	opacity: 0;
	transition: opacity 1s 2s;
	&.lazyloaded {
		opacity: 1;
	}
}
.contact__button {
	opacity: 0;
	transform: translateY(20rem);
	transition: all 1s 1.4s cubic-bezier(.7,.68,.26,1.61);
	.button {
		background: #fff;
		color: #000;
	}
	&.lazyloaded {
		opacity: 1;
		transform: translateY(0);
	}
}
.contact__line {
	margin-top: 6rem;
	opacity: 0;
	transform: translateY(20rem);
	transition: all 1s 2s cubic-bezier(.7,.68,.26,1.61);
	&.lazyloaded {
		opacity: 1;
		transform: translateY(0);
	}
}
.contact__line-button {
	display: flex;
	font-size: 1.6rem;
	align-items: center;
	justify-content: center;
	border: .1rem solid #fff;
	line-height: 1.4;
	padding: 1.2rem 0;
	border-radius: 5rem;
}
.contact__line-icon {
	width: 3.6rem;
	height: 3.6rem;
	margin-right: 1.8rem;
}
.contact__line-text {
	color: #fff;
}
.contact__line-id-qr {
	display: none;
}
// Mobile ( Medium )
@media screen and (min-width: $mobile-medium) {
	.contact__lead {
		font-size: 1.4rem;
	}
}
// Mobile ( Large )
@media screen and (min-width: $mobile-large) {
	.contact {
		margin-top: -14rem;
	}
	.contact__header {
		font-size: 3.4rem;
	}
	.contact__header-logo {
		margin: 5rem 0;
		img {
			width: 14rem;
		}
	}
}
// Tablet ( Medium )
@media screen and (min-width: $tablet-medium) {
	.contact {
		margin-top: 0;
	}
	.contact__inner {
		padding-top: 40rem;
		padding-bottom: 10.6rem;
	}
	.contact__header {
		display: flex;
		font-size: 4.4rem;
		text-indent: 0;
		align-items: center;
		span {
			display: none;
		}
	}
	.contact__header-logo {
		margin: 0 2.8rem;
		img {
			width: 16rem;
		}
	}
	div.contact__lead {
		font-size: 2.4rem;
		padding: 9.4rem 0 6.8rem;
	}
	.contact__button {
		.button {
			width: 39rem;
			padding: 2.5rem 0;
		}
	}
	.contact__line {
		width: 39rem;
		padding: 2.8rem 1.7rem;
		border-radius: 1rem;
		border: .1rem solid #fff;
		.button {
			width: 35.6rem;
		}
	}
	.contact__line-button {
		font-size: 1.9rem;
		background: #fff;
		text-align: left;
		line-height: 1;
		font-weight: bold;
	}
	.contact__line-icon {
		margin-right: .5rem;
	}
	.contact__line-text {
		color: #000;
		padding-top: .1rem;
		br {
			display: none;
		}
	}
	.contact__line-id-qr {
		display: flex;
		align-items: center;
		padding-top: 2rem;
	}
	.contact__line-id {
		display: flex;
		background: #fff;
		align-items: center;
		font-weight: bold;
		color: #000;
		padding: .8rem 1.4rem;
		border-radius: 5rem;
		dt {
			font-size: 1.2rem;
		}
		dd {
			font-size: 1.8rem;
			border-left: .1rem solid #00B900;
			margin-left: 1rem;
			padding-left: 1rem;
			transform: translateY(-.1rem);
		}
	}
	.contact__line-qr {
		width: 14rem;
		background: #fff;
		padding: 1.2rem;
		margin-left: auto;
	}
}
// Tablet ( Large )
@media screen and (min-width: $tablet-large) {
	.contact {
		background-size: cover;
		background-attachment: fixed;
	}
	.contact__header {
		font-size: 6.2rem;
		transition: all 1s 1s cubic-bezier(.7,.68,.26,1.61);;
	}
	.contact__header-logo {
		margin: 0 5rem;
		padding-top: .4rem;
		img {
			width: 20rem;
		}
	}
	@media (hover) {
		.contact__inner a:hover {
			opacity: 1;
		}
		.contact__button a {
			&:hover {
				background: transparent;
				.button__text {
					color: #fff;
				}
			}
		}
		.contact__line-icon {
			transition: transform .2s 0s cubic-bezier(.7,.68,.26,1.61);
		}
		.contact__line-button {
			transition: all .4s;
			&:hover {
				background: transparent;
				.contact__line-icon {
					transform: scale(1.1);
				}
				.contact__line-text {
					color: #fff;
				}
			}
		}
	}
}
// PC ( Small )
@media screen and (min-width: $pc-small) {
	.contact__inner {
		padding-top: 36rem;
	}
}