.faq {
	background: #f0eeec;
}
.faq__outer {
	padding: 4rem 0 8rem;
	opacity: 1;
	transition: all .6s .8s;
	&.lazyloaded {
		opacity: 1;
	}
}
.faq__header-title {
	@include indexSectionTitle();
	text-align: center;
	transition: all 1s 1.6s ease;
	line-height: 1;
	padding-bottom: .6rem;
}
.faq__category {
	display: none;
}
.faq__content {
	@include myWrapper(116.8rem);
	padding-top: 4rem;
}
.faq__include-category {
	margin-bottom: 1.4rem;
	span {
		font-size: 1.2rem;
		border-bottom: .1rem solid $red;
		padding: 0 .6rem .4rem;
	}
}
.faq__detail {
	padding-top: 3.4rem;
}
// Mobile ( Large )
@media screen and (min-width: $mobile-large) {
	.faq__outer {
		padding: 8rem 0 8rem;
	}
	.faq__header-title {
		@include indexSectionTitle('mobile-large');
	}
	.faq__include-category {
		margin-bottom: 2.8rem;
		span {
			font-size: 1.4rem;
			padding-bottom: .6rem;
		}
	}
	.faq__content {
		padding-top: 6rem;
	}
	.faq__detail {
		padding: 4.6rem 0 4.6rem;
	}
}
// Tablet ( Medium )
@media screen and (min-width: $tablet-medium) {
	.faq__category {
		display: block;
		padding-top: 4rem;
	}
	.faq__include-category {
		margin-bottom: 3.2rem;
	}
}

// Tablet ( Medium )
@media screen and (min-width: $tablet-large) {
	.faq__outer {
		transform: translateY(50rem);
		transition: all 1s 1s;
		&.lazyloaded {
			transform: translateY(0);
		}
	}
	.faq__detail {
		padding-top: 6rem;
	}
}

// PC ( Small )
@media screen and (min-width: $pc-small) {
	.faq__outer {
		padding: 19rem 0 10.6rem;
	}
	.faq__header-title {
		@include indexSectionTitle('pc-small');
	}
	.faq__category {
		padding-top: 7rem;
		a {
			font-size: 2rem;
		}
	}
	.faq__content {
		padding-top: 8rem;
	}
	.faq__detail {
		padding-top: 7.2rem;
	}
}
// PC ( Medium )
@media screen and (min-width: $pc-medium) {
	.faq__outer {
		padding: 21rem 0 12.6rem;
	}
	.faq__detail {
		padding-top: 9rem;
	}
}