.mainvisual {
	position: relative;
	z-index: 2;
	background: $red-dark;
	height: calc(100vh - (64px + 56px));
	transition: all .6s ease;
	overflow: hidden;
	&::before {
		display: block;
		content: " ";
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 1;
		width: 100%;
		height: 100%;
		background: url(../img/index/effect-line-vertical.svg) no-repeat center center;
		background-size: cover;
		transform-origin: center center;
		transform: translate(-50%, -50%) scale(0);
		transition: all .6s .2s cubic-bezier(.7,.68,.26,1.61);
	}
	&.lazyloaded {
		&::before {
			transform: translate(-50%, -50%) scale(1);
		}
	}
}
.mainvisual__inner {
	padding-top: 2.4rem;
}
.mainvisual__title {
	position: relative;
	z-index: 2;
	text-align: center;
	img {
		width: 29rem;
		transform: scale(3);
		opacity: 0;
		transition: all .6s .2s ease-in;
	}
}
.lazyloaded {
	.mainvisual__title img {
		transform: scale(1);
		opacity: 1;
	}
}
.mavinvisual-content {
	position: absolute;
	top: 16.5rem;
	left: 50%;
	z-index: 1;
	width: 100%;
	transform: translateX(-50%);
	text-align: center;
}
.mainvisual__people-group {
	max-width: 54rem;
	margin: 0 auto;
	transform-origin: center center;
	transform: translateX(2%) scale(0);
	transition: all 1s .2s cubic-bezier(.7,.68,.26,1.61);
	img {
		opacity: 0;
		&.lazyloaded {
			opacity: 1;
		}
	}
}
.lazyloaded {
	.mainvisual__people-group {
		transform: translateX(2%) scale(1);
	}
}
.mainvisual__people-person {
	display: none;
}
.mainvisual__text {
	position: absolute;
	top: 33vw;
	left: 50%;
	z-index: 2;
	width: 200%;
	background: rgba(255, 255, 255, .9);
	transform: translate(-250%, 0);
	text-align: center;
	font-weight: bold;
	line-height: 1.4;
	font-size: 1.2rem;
	border-radius: 100%;
	letter-spacing: -.05rem;
	transition: transform 1s;
	overflow: hidden;
	li {
		padding: .4rem;
		transform: translate(-100%, 0);
		transition: transform 1.8s 1s;
		&:not(:first-of-type) {
			display: none;
		}
	}
}
.lazyloaded {
	.mainvisual__text {
		transform: translate(-50%, 0);
		li {
			transform: translate(0, 0);
		}
	}
}
.mainvisual__banner {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 90%;
	z-index: 2;
	background: #fff;
	padding: 1rem 1rem 1rem 1rem;
	transform: translate(-50%, 0);
	border-radius: .8rem;
	transition: all 3s 3.5s ease;
	opacity: 0;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
}
.lazyloaded {
	.mainvisual__banner {
		opacity: 1;
	}
}
.mainvisual__banner-title {
	width: calc(100% - 8.8rem);
	text-align: left;
	font-weight: bold;
	line-height: 1;
	dt {
		font-size: 1.2rem;
	}
	dd {
		padding: .4rem .7rem 0 0;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
.mainvisual__banner-news {
	width: 8.8rem;
	margin-left: auto;
	a {
		font-size: 1rem;
		height: 2.4rem;
		color: $red;
		border: .1rem solid $red;
		padding: .6rem 0;
		line-height: 1;
		font-weight: bold;
		text-align: center;
		border-radius: 1.2rem;
	}
	.icon {
		width: .4rem;
		fill: $red;
		margin-left: .5rem;
	}
}
// Mobile ( Large )
@media screen and (min-width: $mobile-large) {
	.mainvisual {
		height: calc(100vh - (64px + 74px));
	}
	.mainvisual__text {
		font-size: 1.4rem;
	}
	.mainvisual__banner {
		width: 92%;
		padding: 1.1rem 1.5rem 1.1rem 3rem;
	}
	.mainvisual__banner-title {
		width: calc(100% - 10rem);
		dd {
			font-size: 1.6rem;
			padding-top: 1rem;
		}
	}
	.mainvisual__banner-news {
		width: 10rem;
	}
	@media screen and (min-height: 700px) {
		.mavinvisual-content {
			top: 18rem;
		}
	}
}
// Tablet ( Small )
@media screen and (min-width: $tablet-small) {
	.mainvisual__people-group {
		max-width: 60rem;
	}
	.mainvisual__banner {
		transform: translate(-50%, -4rem);
	}
}
// Tablet ( Medium )
@media screen and (min-width: $tablet-medium) {
	.mainvisual__inner {
		padding-top: 4rem;
	}
	.mainvisual__title {
		text-align: center;
		img {
			width: 58rem;
		}
	}
	.mavinvisual-content {
		top: 16rem;
		transform: translateX(-50%);
	}
	.mainvisual__people-group {
		max-width: 64rem;
	}
	.mainvisual__text {
		top: 48%;
		font-size: 1.6rem;
		li {
			padding: .8rem;
		}
	}
	.mainvisual__banner {
		transform: translate(-50%, -10rem);
	}

	@media screen and (min-height: 768px) {
		.mainvisual__inner {
			padding-top: 6rem;
		}
		.mavinvisual-content {
			top: 20rem;
		}
		.mainvisual__people-group {
			max-width: 72.8rem;
		}
	}
}
// Tablet ( Large )
@media screen and (min-width: $tablet-large) {
	.mainvisual {
		height: auto;
		background: none;
		&::before {
			display: none;
		}
	}
	.mainvisual__outer {
		position: relative;
		height: 100vh;
		background: $red-dark;
		@include myBackgroundCircle('bottom', 600px, -400px, 400px);
		overflow: hidden;
		&::before {
			display: block;
			content: " ";
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 1;
			width: 100%;
			height: 100%;
			background: url(../img/index/effect-line-horizontal.svg) no-repeat center center;
			background-size: cover;
			transform-origin: center center;
			transform: translate(-50%, -50%) scale(0);
			transition: all .6s .2s cubic-bezier(.7,.68,.26,1.61);
		}
	}
	.mainvisual__title {
		img {
			width: 68rem;
		}
	}
	.mainvisual__text {
		top: 47%;
		font-size: 2.2rem;
		li {
			padding: .7rem;
		}
		span {
			display: inline;
		}
	}
	.mainvisual__banner {
		left: auto;
		right: 41rem;
		width: 38rem;
		transform: translate(0, -12rem);
	}
	.lazyloaded {
		.mainvisual__outer {
			&::before {
				transform: translate(-50%, -50%) scale(1);
			}
		}
	}
}
// PC ( Small )
@media screen and (min-width: $pc-small) {
	.mainvisual {
		margin-right: calc(50% - 50vw);
		margin-left: calc(50% - 50vw);
	}
	.mainvisual__outer {
		margin-right: calc(50% - (50vw + 600px));
		margin-left: calc(50% - (50vw + 600px));
		padding-right: calc(50vw - (50vw + 600px));
		padding-left: calc(50vw - (50vw + 600px));
		height: calc(100vh - 26px);
		max-height: 112rem;
		border-bottom-right-radius: 100% 600px;
		border-bottom-left-radius: 100% 600px;
		&::before {
			background-size: 85%;
		}
	}
	.lazyloaded {
		.mainvisual__outer {
			height: calc(100vh - 26px);
			max-height: 112rem;
			margin-bottom: 0;
		}
	}
	.mainvisual__inner {
		padding-top: 4.7rem;
	}
	.mainvisual__title {
		position: relative;
		z-index: 2;
		img {
			width: 80rem;
			transition: all .4s .2s ease-in;
		}
	}
	.mavinvisual-content {
		width: 100%;
		max-width: 128rem;
		z-index: 1;
		transform: translateX(-50%);
	}
	.mainvisual__people-group {
		display: none;
	}
	.mainvisual__people-person {
		display: block;
		position: relative;
		opacity: 0;
		img {
			transform-origin: center bottom;
			transform: translate(0, 10rem) scale(0);
			&.lazyloaded {
				transform: translate(0, 0) scale(1);
			}
		}
		li {
			position: absolute;
			&.person01 {
				top: -14rem;
				left: -14rem;
				width: 50.4rem;
				img {
					transition: all .6s .2s cubic-bezier(.7,.68,.26,1.61);
				}
			}
			&.person02 {
				top: 7rem;
				left: 25rem;
				width: 8rem;
				img {
					transition: all .6s .6s cubic-bezier(.7,.68,.26,1.61);
				}
			}
			&.person03 {
				top: 7rem;
				left: 34rem;
				width: 14rem;
				img {
					transition: all .6s 1s cubic-bezier(.7,.68,.26,1.61);
				}
			}
			&.person04 {
				top: 12rem;
				left: 51.6rem;
				width: 4.4rem;
				img {
					transition: all .6s 1.4s cubic-bezier(.7,.68,.26,1.61);
				}
			}
			&.person05 {
				top: 12.6rem;
				left: 61rem;
				width: 8rem;
				img {
					transition: all .6s 1.6s cubic-bezier(.7,.68,.26,1.61);
				}
			}
			&.person06 {
				top: 9rem;
				left: 71rem;
				width: 13rem;
				img {
					transition: all .4s 1.2s cubic-bezier(.7,.68,.26,1.61);
				}
			}
			&.person07 {
				top: 2.8rem;
				left: 84rem;
				width: 14rem;
				img {
					transition: all .6s .8s cubic-bezier(.7,.68,.26,1.61);
				}
			}
			&.person08 {
				top: -10rem;
				right: 1rem;
				width: 41.4rem;
				&.-b {
					top: -13rem;
					right: -2rem;
					width: 43rem;
				}
				img {
					transition: all .6s .4s cubic-bezier(.7,.68,.26,1.61);
				}
			}
		}
		&.lazyloaded {
			opacity: 1;
		}
	}
	.mainvisual__text {
		top: 22rem;
		font-size: 2.6rem;
		li {
			padding: .5rem .5rem;
		}
	}
	.mainvisual__banner {
		right: 7.6rem;
		transform: translate(0, 37rem);
	}
}
// IE 11
@media all and (-ms-high-contrast:none) and (min-width: $pc-small){
	.mainvisual__text {
		li {
			padding: 1rem .5rem;
		}
	}
}

// PC ( Medium )
@media screen and (min-width: $pc-medium) {
	.mainvisual__outer {
		&::before {
			background-size: cover;
		}
	}
	.mainvisual__title {
		img {
			width: 84.6rem;
		}
	}
	.mavinvisual-content {
		max-width: 140rem;
	}
	.mainvisual__people-person {
		li {
			&.person01 {
				top: -15.6rem;
				left: -13rem;
				width: 54.4rem;
				&.-b {
					left: -12rem;
				}
			}
			&.person02 {
				top: 6.8rem;
				left: 31.4rem;
				width: 8.2rem;
				&.-b {
					left: 30rem;
				}
			}
			&.person03 {
				top: 6.8rem;
				left: 41rem;
				width: 14.6rem;
				&.-b {
					top: 5.4rem;
				}
			}
			&.person04 {
				top: 8.4rem;
				left: 58.4rem;
			}
			&.person05 {
				top: 10rem;
				left: 66rem;
			}
			&.person06 {
				top: 7rem;
				left: 77rem;
			}
			&.person07 {
				top: 3rem;
				left: 90rem;
				width: 16rem;
				&.-b {
					top: 6rem;
					left: 92rem;
				}
			}
			&.person08 {
				top: -18rem;
				right: 0;
				width: 48rem;
				&.-b {
					top: -14rem;
					right: -3rem;
				}
			}
		}
	}
	.mainvisual__text {
		top: 18rem;
	}
	.mainvisual__banner {
		transform: translate(0, 36rem);
	}
}
// PC ( Large )
@media screen and (min-width: $pc-large) {
	.mainvisual__inner {
		padding-top: 7.4rem;
	}
	.mainvisual__title {
		img {
			width: 94rem;
		}
	}
	.mavinvisual-content {
		top: 20%;
		max-width: 160rem;
	}
	.mainvisual__people-person {
		li {
			&.person01 {
				top: -16.6rem;
				left: -11.6rem;
				width: 62rem;
			}
			&.person02 {
				top: 12rem;
				left: 34rem;
				width: 11rem;
				&.-b {
					left: 33rem;
				}
			}
			&.person03 {
				top: 12rem;
				left: 48rem;
				width: 16rem;
				&.-b {
					top: 14rem;
					left: 48rem;
				}
			}
			&.person04 {
				top: 16.8rem;
				left: 67.6rem;
				width: 5rem;
				&.-b {
					top: 18.4rem;
					width: 6rem;
				}
			}
			&.person05 {
				top: 16rem;
				left: 79rem;
				width: 9.4rem;
			}
			&.person06 {
				top: 13rem;
				left: 90.4rem;
				width: 16.4rem;
			}
			&.person07 {
				top: 8rem;
				left: 107rem;
				width: 16rem;
				&.-b {
					top: 12rem;
					left: 110rem;
				}
			}
			&.person08 {
				top: -16rem;
				right: -2rem;
				width: 56rem;
				&.-b {
					width: 53rem;
				}
			}
		}
	}
	.mainvisual__text {
		top: 28rem;
	}
	.mainvisual__banner {
		transform: translate(0, 47rem);
	}
}