.media {
	position: relative;
	background: #fff;
	overflow: hidden;
	margin-top: -16rem;
	transform: skewY(#{$skew}deg);
}
.media__inner {
	padding: 8rem 0 14rem;
	transform: skewY(-#{$skew}deg);
}
.media__header-title {
	@include indexSectionTitle();
	text-align: center;
	transition: all 1s 1.6s ease;
	line-height: 1;
	padding-bottom: .6rem;
}
.media__result {
	padding-top: 4.5rem;
}
.media__result-content {
	display: block;
	width: 100%;
	max-width: 27.6rem;
	margin-right: auto;
	margin-left: auto;
	line-height: 1;
	padding: 4rem 0;
	border-bottom: .1rem solid #000;
	&.-net {
		.media__result-number {
			text-indent: 1rem;
		}
	}
}
.media__result-content-inner {
	width: 100%;
	max-width: 19.6rem;
	margin-right: auto;
	margin-left: auto;
}
.media__result-info {
	width: 9.8rem;
	text-align: center;
}
.media__result-image {
	.icon {
		fill: #000;
	}
}
.-tv {
	.icon {
		width: 4.5rem;
	}
}
.-book {
	.icon {
		width: 5.6rem;
	}
}
.-net {
	.icon {
		width: 4rem;
	}
}
.-radio {
	.icon {
		width: 4.8rem;
	}
}
.media__result-number {
	width: calc(100% - 9.8rem);
	font-size: 6.4rem;
	font-family: 'Mkinas 4 Square';
}
.media__result-genre {
	padding-top: 1rem;
	&.-pc {
		display: none;
	}
}

.media__detail {
	padding-top: 4.6rem;
}

// Mobile ( Large )
@media screen and (min-width: $mobile-large) {
	.media__inner {
		padding: 10rem 0 18.6rem;
	}
	.media__header-title {
		@include indexSectionTitle('mobile-large');
	}
}
// Tablet ( Medium )
@media screen and (min-width: $tablet-medium) {
	.media__inner {
		padding: 12rem 0 12rem;
	}
	.media__result {
		display: flex;
		max-width: 84rem;
		margin-right: auto;
		margin-left: auto;
		padding-top: 8rem;
	}
	.media__result-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 17.4rem;
		height: 17.4rem;
		max-width: 100%;
		border-bottom: none;
		background: #efece8;
		border-radius: 100%;
		padding: 0;
		margin-right: 0;
		margin-left: 0;
		& + .media__result-content {
			margin-left: auto;
		}
		&.-net {
			.media__result-number {
				text-indent: 0;
			}
		}
	}
	.media__result-content-inner[class*="flex-"][class*="-wrap"] {
		display: block;
		margin: 0;
		max-width: 100%;
	}
	.media__result-content-inner {
		transform: scale(0) rotate(360deg);
		&.lazyloaded {
			transform: scale(1) rotate(0);
		}
	}
	.-tv .media__result-content-inner {
		transition: all 1s .8s cubic-bezier(.7,.68,.26,1.61);
	}
	.-book .media__result-content-inner {
		transition: all 1s 1.4s cubic-bezier(.7,.68,.26,1.61);
	}
	.-net .media__result-content-inner {
		transition: all 1s 1.2s cubic-bezier(.7,.68,.26,1.61);
	}
	.-radio .media__result-content-inner {
		transition: all 1s 1.6s cubic-bezier(.7,.68,.26,1.61);
	}
	.media__result-info,
	.media__result-genre,
	.media__result-number {
		width: 100%;
		text-align: center;
	}
	.-tv,
	.-radio {
		.media__result-image {
			margin-top: -1.2rem;
			margin-bottom: .2rem;
		}
	}
	.media__result-image {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 3.6rem;
		margin-top: -1rem;
		line-height: 1;
		img {
			width: auto;
			height: 100%;
		}
	}
	.media__result-number {
		font-size: 6.5rem;
		padding: .4rem 0 .6rem;
	}
	.media__result-genre {
		padding-top: 0;
		&.-mobile {
			display: none;
		}
		&.-pc {
			display: block;
		}
	}
	.media__detail {
		padding-top: 10rem;
	}
}

// Tablet ( Large )
@media screen and (min-width: $tablet-large) {
	.media__inner {
		padding: 16rem 0 14rem;
	}
	.media__result {
		max-width: 127rem;
		padding-top: 10rem;
	}
	.media__result-content {
		width: 22rem;
		height: 22rem;
	}
	.-tv,
	.-radio {
		.media__result-image {
			margin-top: -2.2rem;
		}
	}
	.media__result-image {
		height: 4.4rem;
		margin-top: -2rem;
	}
	.media__result-number {
		font-size: 7.2rem;
		padding: 1rem 0 1.6rem;
	}
	.media__result-genre {
		font-size: 1.6rem;
	}
	.media__detail {
		padding-top: 12rem;
	}
	@media (hover) {
		.media__result-content {
			transition: all .6s cubic-bezier(.7,.68,.26,1.61);
			&:hover {
				box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
				opacity: 1;
				background: $red;
				transform: rotate(360deg) scale(1.1);
				.media__result-number {
					color: #fff;
					transform: scale(1.1);
				}
				.media__result-genre {
					color: #fff;
				}
				.icon {
					fill: #fff;
				}
			}
		}
	}
}

// PC ( Small )
@media screen and (min-width: $pc-small) {
	.media {
		margin-top: -22rem;
	}
	.media__header-title {
		@include indexSectionTitle('pc-small');
	}
	.media__result {
		padding-top: 12rem;
	}
	.media__result-content {
		width: 28.8rem;
		height: 28.8rem;
	}
	.media__result-number {
		font-size: 7.6rem;
		padding: 1.6rem 0 2rem;
	}
	.media__result-genre {
		font-size: 2.4rem;
	}
	.media__detail {
		padding-top: 16rem;
	}

}
// PC ( Medium )
@media screen and (min-width: $pc-medium) {
}