
.newkv{

.mainvisual {
	position: relative;
	z-index: 2;
	height: 170.667vw;
	
	/*height: calc(100vh - (64px + 56px));*/
	transition: all .6s ease;
	overflow: hidden;
	&::before {
		display: block;
		content: " ";
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 1;
		width: 100%;
		height: 100%;
		background: url(../img/index/bg_kv_sp.png) no-repeat center center;
		background-size: cover;
		transform-origin: center center;
		transform: translate(-50%, -50%) scale(0);
		transition: all .6s .2s cubic-bezier(.7,.68,.26,1.61);
	}
	&.lazyloaded {
		&::before {
			transform: translate(-50%, -50%) scale(1);
		}
	}
}
.mainvisual__inner {
	padding-top: 3vw;
	height: 170.667vw;
}
.mainvisual__title {
	position: relative;
	z-index: 2;
	text-align: center;
	img {
		width: 60vw;
		transform: scale(3);
		opacity: 0;
		transition: all .6s .2s ease-in;
	}
}
.lazyloaded {
	.mainvisual__title img {
		transform: scale(1);
		opacity: 1;
	}
}
.mavinvisual-content {
	position: absolute;
	top: 16.5rem;
	left: 50%;
	z-index: 1;
	width: 100%;
	transform: translateX(-50%);
	text-align: center;
}
.mainvisual__people-group {
	max-width: 54rem;
	margin: 0 auto;
	transform-origin: center center;
	transform: translateX(2%) scale(0);
	transition: all 1s .2s cubic-bezier(.7,.68,.26,1.61);
	img {
		opacity: 0;
		&.lazyloaded {
			opacity: 1;
		}
	}
}
.lazyloaded {
	.mainvisual__people-group {
		transform: translateX(2%) scale(1);
	}
}

.mainvisual__text {
	position: absolute;
	top: 33vw;
	left: 50%;
	z-index: 2;
	width: 200%;
	background: rgba(255, 255, 255, .9);
	transform: translate(-250%, 0);
	text-align: center;
	font-weight: bold;
	line-height: 1.4;
	font-size: 1.2rem;
	border-radius: 100%;
	letter-spacing: -.05rem;
	transition: transform 1s;
	overflow: hidden;
	li {
		padding: .4rem;
		transform: translate(-100%, 0);
		transition: transform 1.8s 1s;
		&:not(:first-of-type) {
			display: none;
		}
	}
}
.mainvisual__people-person {
		display: block;
		position: relative;
		opacity: 0;
		img {
			transform-origin: center bottom;
			transform: translate(0, 10rem) scale(0);
			&.lazyloaded {
				transform: translate(0, 0) scale(1);
			}
		}
		li {
			position: absolute;
			&.person04 { display: block;
				top: -6vw;
				left: 72vw;
				width: 22vw;
				img {
					transition: all .6s 1s cubic-bezier(.7,.68,.26,1.61);
				}
				&:hover{
					transform:scale(1.1); transition-duration: 0.1s;}
				a:hover{ opacity: 1;
				}
			}
			&.person05 { display: block;
				top: 62vw;
				right: 72vw;
				width: 22vw;
				img {
					transition: all .6s 1.2s cubic-bezier(.7,.68,.26,1.61);
				}
				&:hover{
					transform:scale(1.1); transition-duration: 0.1s;}
				a:hover{ opacity: 1;
				}
			}
		}
		&.lazyloaded {
			opacity: 1;
		}
	}
/*.lazyloaded {
	.mainvisual__text {
		transform: translate(-50%, 0);
		li {
			transform: translate(0, 0);
		}
	}
}*/
.mainvisual__banner {
	position: absolute; display: flex;
	bottom: -124vw;
	left: 50%;
	width: 90%;
	z-index: 2;
	background: #fff;
	padding: 1rem 1rem 1rem 1rem;
	transform: translate(-50%, 0);
	border-radius: .8rem;
	transition: all 3s 3.5s ease;
	opacity: 0;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
}
.lazyloaded {
	.mainvisual__banner {
		opacity: 1;
	}
}
.mainvisual__banner-title {
	width: calc(100% - 8.8rem);
	text-align: left;
	font-weight: bold;
	line-height: 1;
	dt {
		font-size: 1.2rem;
	}
	dd {
		padding: .4rem .7rem 0 0;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
.mainvisual__banner-news {
	width: 8.8rem;
	margin-left: auto;
	a {
		font-size: 1rem;
		height: 2.4rem;
		color: $red;
		border: .1rem solid $red;
		padding: .6rem 0;
		line-height: 1;
		font-weight: bold;
		text-align: center;
		border-radius: 1.2rem;
	}
	.icon {
		width: .4rem;
		fill: $red;
		margin-left: .5rem;
	}
}
// Mobile ( Large )
@media screen and (min-width: $mobile-large) {
	.release-background {
    margin-right: calc(50% - 50vw);
    margin-left: calc(50% - 50vw);
    padding-right: calc(50vw - 55%);
    padding-left: calc(50vw - 55%);
	}
	.mainvisual {
		/*height: calc(100vh - (64px + 74px));*/
	}
	.mainvisual__text {
		font-size: 1.4rem;
	}
	.mainvisual__inner {
		height: 170.667vw;
		padding-top: 3vw;
	}
	.mainvisual__outer {
		position: relative;
		/*background: none;*/
		/*@include myBackgroundCircle('bottom', 600px, -400px, 400px);*/
		border-bottom-right-radius: none;
border-bottom-left-radius: none;
		overflow: hidden;
	}
	.mainvisual__banner {
		width: 92%;
		padding: 1.1rem 1.5rem 1.1rem 3rem;
	}
	.mainvisual__banner-title {
		width: calc(100% - 10rem);
		dd {
			font-size: 1.6rem;
			padding-top: 1rem;
		}
	}
	.mainvisual__banner-news {
		width: 10rem;
	}
	@media screen and (min-height: 700px) {
		.mavinvisual-content {
			top: 18rem;
		}
	}
}
// Tablet ( Small )
@media screen and (min-width: $tablet-small) {
	.mainvisual__inner {
		padding-top: 3vw;
	}
	.mainvisual__people-group {
		max-width: 60rem;
	}
	.mainvisual__banner {
		transform: translate(-50%, -4rem);
	}
}
// Tablet ( Medium )
@media screen and (min-width: $tablet-medium) {
	.mainvisual__inner {
		padding-top: 3.5vw;
	}
	.mainvisual__title {
		text-align: center; margin: -2vw 0 0 0;
		img {
			width: 60%;
		}
	}
	.mavinvisual-content {
		/*top: 16rem;*/
		transform: translateX(-50%);
	}
	.mainvisual__people-group {
		max-width: 64rem;
	}
	.mainvisual__people-person {
		display: block;
		position: relative;
		opacity: 0;
		img {
			transform-origin: center bottom;
			transform: translate(0, 10rem) scale(0);
			&.lazyloaded {
				transform: translate(0, 0) scale(1);
			}
		}
		li {
			position: absolute;
			&.person04 { display: block;
				top: 9vw;
				left: 70vw;
				width: 22vw;
				img {
					transition: all .6s 1.4s cubic-bezier(.7,.68,.26,1.61);
				}
				&:hover{
					transform:scale(1.1); transition-duration: 0.1s;}
				a:hover{ opacity: 1;
				}
			}
			&.person05 { display: block;
				top: 76vw;
				right: 70vw;
				width: 22vw;
				img {
					transition: all .6s 1.6s cubic-bezier(.7,.68,.26,1.61);
				}
				&:hover{
					transform:scale(1.1); transition-duration: 0.1s;}
				a:hover{ opacity: 1;
				}
			}
		}
		&.lazyloaded {
			opacity: 1;
		}
	}
	.mainvisual__text {
		top: 48%;
		font-size: 1.6rem;
		li {
			padding: .8rem;
		}
	}
	.mainvisual__banner {
		bottom: -154vw;
		transform: translate(-50%, -10rem);
	}

	@media screen and (min-height: 768px) {
		.mainvisual__inner {
			padding-top: 6vw;
		}
		.mavinvisual-content {
			top: 20rem;
		}
		.mainvisual__people-group {
			max-width: 72.8rem;
		}
		
		
	}
}
// Tablet ( Large )
@media screen and (min-width: $tablet-large) {
	.mainvisual {
		height: auto;
		background: none;
		&::before {
			display: none;
		}
	}
	.mainvisual__outer {
		position: relative;
		margin-top: 0.5vw;
		height: 47vw;
		max-height: 47vw;
		background: none;
		/*@include myBackgroundCircle('bottom', 600px, -400px, 400px);*/
		border-bottom-right-radius: none;
border-bottom-left-radius: none;
		overflow: hidden;
		&::before {
			display: block;
			content: " ";
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 1;
			width: 100%;
			height: 100%;
			background: url(../img/index/bg_kv02.png) no-repeat center center;
			background-size: cover;
			transform-origin: center center;
			transform: translate(-50%, -50%) scale(0);
			transition: all .6s .2s cubic-bezier(.7,.68,.26,1.61);
		}
	}
	.mainvisual__title {
		img {
			width: 68rem;
		}
	}
		.mainvisual__inner {
		padding-top: 3vw;
	}
	.mainvisual__text {
		top: 47%;
		font-size: 2.2rem;
		li {
			padding: .7rem;
		}
		span {
			display: inline;
		}
	}
		.mainvisual__people-person {
		display: block;
		position: relative;
		opacity: 0;
		img {
			transform-origin: center bottom;
			transform: translate(0, 10rem) scale(0);
			&.lazyloaded {
				transform: translate(0, 0) scale(1);
			}
		}
		li {
			position: absolute;
			&.person04 {
				top: 17vw;
				left: 2vw;
				width: 8.56vw;
				img {
					transition: all .6s 1.4s cubic-bezier(.7,.68,.26,1.61);
				}
				&:hover{
					transform:scale(1.1); transition-duration: 0.1s;}
				a:hover{ opacity: 1;
				}
			}
			&.person05 {
				top: 17vw;
				right: 2vw;
				width: 8.76vw;
				img {
					transition: all .6s 1.6s cubic-bezier(.7,.68,.26,1.61);
				}
				&:hover{
					transform:scale(1.1); transition-duration: 0.1s;}
				a:hover{ opacity: 1;
				}
			}
		}
		&.lazyloaded {
			opacity: 1;
		}
	}
	.mainvisual__banner {
		left: 50%;
    right: 50%;
    margin: auto;
		width: 38rem; bottom: -40vw;
		transform: translate(0, -12rem);
	}
	.lazyloaded {
		.mainvisual__outer {
			&::before {
				transform: translate(-50%, -50%) scale(1);
			}
		}
	}
}
// PC ( Small )
@media screen and (min-width: $pc-small) {
	.mainvisual {
		/*margin-right: calc(50% - 50vw);
		margin-left: calc(50% - 50vw);*/
	}
	.mainvisual__outer {
		height: 43.5vw;
		max-height: 43.5vw;
		/*margin-right: calc(50% - (50vw + 600px));
		margin-left: calc(50% - (50vw + 600px));
		padding-right: calc(50vw - (50vw + 600px));
		padding-left: calc(50vw - (50vw + 600px));
		height: calc(100vh - 26px);
		max-height: 112rem;*/
		/*border-bottom-right-radius: 100% 600px;
		border-bottom-left-radius: 100% 600px;*/
		&::before {
			/*background-size: 85%;*/
			display: block;
			content: " ";
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 1;
			width: 100%;
			height: 100%;
			background: url(../img/index/bg_kv.png) no-repeat center center;
			background-size: cover;
			transform-origin: center center;
			transform: translate(-50%, -50%) scale(0);
			transition: all .6s .2s cubic-bezier(.7,.68,.26,1.61);
		}
	}

	.mainvisual__inner {
		padding-top: 5vw;
	}
	.mainvisual__title {
		position: relative;
		z-index: 2;
		img {
			width: 50%; margin: -4vw 0 0 0;
			transition: all .4s .2s ease-in;
		}
	}
	.mavinvisual-content {
		width: 100%;
		max-width: 128rem;
		z-index: 1;
		transform: translateX(-50%);
	}
	.mainvisual__people-group {
		display: none;
	}
	.mainvisual__people-person {
		display: block;
		position: relative;
		opacity: 0;
		img {
			transform-origin: center bottom;
			transform: translate(0, 10rem) scale(0);
			&.lazyloaded {
				transform: translate(0, 0) scale(1);
			}
		}
		li {
			position: absolute;
			&.person01 {
				top: -5.5vw;
				left: 18vw;
				width: 16.56vw;
				img {
					transition: all .6s .2s cubic-bezier(.7,.68,.26,1.61);
				}
			}
			&.person02 {
				top: -5.5vw;
				right: 17vw;
				width: 17.56vw;
				img {
					transition: all .6s .6s cubic-bezier(.7,.68,.26,1.61);
				}
			}
			&.person03 {
				top: 11.5vw;
				left: 38vw;
				width: 17.64vw;
				img {
					transition: all .6s 1s cubic-bezier(.7,.68,.26,1.61);
				}
			}
			&.person04 {
				top: 17vw;
				left: 2vw;
				width: 8.56vw;
				img {
					transition: all .6s 1.4s cubic-bezier(.7,.68,.26,1.61);
				}
				&:hover{
					transform:scale(1.1); transition-duration: 0.3s;}
				a:hover{ opacity: 1;
				}
			}
			&.person05 {
				top: 17vw;
				right: 2vw;
				width: 8.76vw;
				img {
					transition: all .6s 1.6s cubic-bezier(.7,.68,.26,1.61);
				}
				&:hover{
					transform:scale(1.1); transition-duration: 0.3s;}
				a:hover{ opacity: 1;
				}
			}
			&.person06 {
				top: 9rem;
				left: 71rem;
				width: 13rem;
				img {
					transition: all .4s 1.2s cubic-bezier(.7,.68,.26,1.61);
				}
			}
			&.person07 {
				top: 2.8rem;
				left: 84rem;
				width: 14rem;
				img {
					transition: all .6s .8s cubic-bezier(.7,.68,.26,1.61);
				}
			}
			&.person08 {
				top: -10rem;
				right: 1rem;
				width: 41.4rem;
				&.-b {
					top: -13rem;
					right: -2rem;
					width: 43rem;
				}
				img {
					transition: all .6s .4s cubic-bezier(.7,.68,.26,1.61);
				}
			}
		}
		&.lazyloaded {
			opacity: 1;
		}
	}
	.mainvisual__text {
		top: 22rem;
		font-size: 2.6rem;
		li {
			padding: .5rem .5rem;
		}
	}
	.mainvisual__banner {
		right: 18vw;
    	bottom: -1vw;
		transform: translate(0, 37rem);
	}
	.mavinvisual-content{ top: 30%;}
		.mainvisual__people-person{
	li.person01,li.person02,li.person03{ display: block;}
		}
}

// IE 11
@media all and (-ms-high-contrast:none) and (min-width: $pc-small){
	.mainvisual__text {
		li {
			padding: 1rem .5rem;
		}
	}
}

// PC ( Medium )
@media screen and (min-width: $pc-medium) {
	.mavinvisual-content {
		top: 20%;}
	.mainvisual__banner {
    right: 17vw;
    bottom: -5vw;}
	.mainvisual__outer {
		height: 40vw;
max-height: 40vw;
		&::before {
			background-size: contain;
			margin-top: 0;
		}
	}
	.mainvisual__title {
		img {
			width: 54%;
		}
	}
	.mavinvisual-content {
		max-width: 140rem;
	}
	.mainvisual__people-person {
		li {
			&.person01 {
				top: -1vw;
				left: 21vw;
				width: 16.56vw;
			}
			&.person02 {
				top: -1vw;
				right: 18.5vw;
				width: 17.56vw;
				&.-b {
					left: 33rem;
				}
			}
			&.person03 {
				top: 14.5vw;
				left: 40vw;
				width: 17.64vw;
				&.-b {
					top: 14rem;
					left: 48rem;
				}
			}
			&.person04 {
				top: 19vw;
				left: 8vw;
				width: 8.56vw;
				&.-b {
					top: 18.4rem;
					width: 6rem;
				}
				&:hover{
					transform:scale(1.1); transition-duration: 0.3s;}
				a:hover{ opacity: 1;
				}
			}
			&.person05 {
				top: 19vw;
				right: 8vw;
				width: 8.76vw;
				&:hover{
					transform:scale(1.1); transition-duration: 0.3s;}
				a:hover{ opacity: 1;
				}
}
			&.person06 {
				top: 7rem;
				left: 77rem;
			}
			&.person07 {
				top: 3rem;
				left: 90rem;
				width: 16rem;
				&.-b {
					top: 6rem;
					left: 92rem;
				}
			}
			&.person08 {
				top: -18rem;
				right: 0;
				width: 48rem;
				&.-b {
					top: -14rem;
					right: -3rem;
				}
			}
		}
	}
	.mainvisual__text {
		top: 18rem;
	}
	.mainvisual__banner {
		transform: translate(0, 36rem);
	}
	.release-background{
padding-right: 0;
padding-left: 0;
	}
}
// PC >1500	
@media screen and (min-width: 1500px) {
	.mavinvisual-content {
		top: 20%;}
	.mainvisual__banner {
    right: 17vw;
    bottom: -6vw;}
	.mainvisual__outer {
		&::before {
			background-size: contain;
		}
	}
	.mainvisual__title {
		img {
			width: 54%;
		}
	}
	.mavinvisual-content {
		max-width: 140rem;
	}
	.mainvisual__people-person {
		li {
			&.person01 {
				top: -1.5vw;
				left: 18vw;
				width: 16.56vw;
			}
			&.person02 {
				top: -1.5vw;
				right: 16vw;
				width: 17.56vw;
				&.-b {
					left: 33rem;
				}
			}
			&.person03 {
				top: 14.2vw;
				left: 37vw;
				width: 17.64vw;
				&.-b {
					top: 14rem;
					left: 48rem;
				}
			}
			&.person04 {
				top: 19vw;
				left: 5vw;
				width: 8.56vw;
				&.-b {
					top: 18.4rem;
					width: 6rem;
				}
				&:hover{
					transform:scale(1.1); transition-duration: 0.3s;}
				a:hover{ opacity: 1;
				}
			}
			&.person05 {
				top: 19vw;
				right: 5vw;
				width: 8.76vw;
				&:hover{
					transform:scale(1.1); transition-duration: 0.3s;}
				a:hover{ opacity: 1;
				}
}
			&.person06 {
				top: 7rem;
				left: 77rem;
			}
			&.person07 {
				top: 3rem;
				left: 90rem;
				width: 16rem;
				&.-b {
					top: 6rem;
					left: 92rem;
				}
			}
			&.person08 {
				top: -18rem;
				right: 0;
				width: 48rem;
				&.-b {
					top: -14rem;
					right: -3rem;
				}
			}
		}
	}
	.mainvisual__text {
		top: 18rem;
	}
	.mainvisual__banner {
		transform: translate(0, 36rem);
	}
}
// PC ( Large )
@media screen and (min-width: $pc-large) {
	.mavinvisual-content {
		top: 20%;}
	.mainvisual__banner{ bottom: -2vw;}
	.mainvisual__inner {
		padding-top: 5.5vw;
	}
	.mainvisual__title {
		img {
			width: 50%;
		}
	}
	.mavinvisual-content {
		top: 20%;
		max-width: 160rem;
	}
	.mainvisual__people-person {
		li {
			&.person01 {
				top: -1.5vw;
				left: 22vw;
				width: 16.56vw;
			}
			&.person02 {
				top: -1.5vw;
				right: 20vw;
				width: 17.56vw;
				&.-b {
					left: 33rem;
				}
			}
			&.person03 {
				top: 14.3vw;
				left: 40.5vw;
				width: 17.64vw;
				&.-b {
					top: 14rem;
					left: 48rem;
				}
			}
			&.person04 {
				top: 20vw;
				left: 7.5vw;
				width: 8.56vw;
				&.-b {
					top: 18.4rem;
					width: 6rem;
				}
				&:hover{
					transform:scale(1.1); transition-duration: 0.3s;}
				a:hover{ opacity: 1;
				}
			}
			&.person05 {
				top: 20vw;
				right: 7.5vw;
				width: 8.76vw;
				&:hover{
					transform:scale(1.1); transition-duration: 0.3s;}
				a:hover{ opacity: 1;
				}
}
			&.person06 {
				top: 13rem;
				left: 90.4rem;
				width: 16.4rem;
			}
			&.person07 {
				top: 8rem;
				left: 107rem;
				width: 16rem;
				&.-b {
					top: 12rem;
					left: 110rem;
				}
			}
			&.person08 {
				top: -16rem;
				right: -2rem;
				width: 56rem;
				&.-b {
					width: 53rem;
				}
			}
		}
	}
	.mainvisual__text {
		top: 28rem;
	}
	.mainvisual__banner {
		transform: translate(0, 47rem);
	}
}

// PC <1700px
@media screen and (min-width: 1700px) {
	.mavinvisual-content {
		top: 20%;}
	.mainvisual__banner{ bottom: -2vw;}
	.mainvisual__inner {
		padding-top: 5.5vw;
	}
	.mainvisual__title {
		img {
			width: 50%;
		}
	}
	.mavinvisual-content {
		top: 20%;
		max-width: 160rem;
	}
	.mainvisual__people-person {
		li {
			&.person01 {
				top: -1.5vw;
				left: 17.5vw;
				width: 16.56vw;
			}
			&.person02 {
				top: -1.5vw;
				right: 16vw;
				width: 17.56vw;
				&.-b {
					left: 33rem;
				}
			}
			&.person03 {
				top: 14.3vw;
				left: 37vw;
				width: 17.64vw;
				&.-b {
					top: 14rem;
					left: 48rem;
				}
			}
			&.person04 {
				top: 20vw;
				left: 4vw;
				width: 8.56vw;
				&.-b {
					top: 18.4rem;
					width: 6rem;
				}
				&:hover{
					transform:scale(1.1); transition-duration: 0.3s;}
				a:hover{ opacity: 1;
				}
			}
			&.person05 {
				top: 20vw;
				right: 4vw;
				width: 8.76vw;
				&:hover{
					transform:scale(1.1); transition-duration: 0.3s;}
				a:hover{ opacity: 1;
				}
}
			&.person06 {
				top: 13rem;
				left: 90.4rem;
				width: 16.4rem;
			}
			&.person07 {
				top: 8rem;
				left: 107rem;
				width: 16rem;
				&.-b {
					top: 12rem;
					left: 110rem;
				}
			}
			&.person08 {
				top: -16rem;
				right: -2rem;
				width: 56rem;
				&.-b {
					width: 53rem;
				}
			}
		}
	}
	.mainvisual__text {
		top: 28rem;
	}
	.mainvisual__banner {
		transform: translate(0, 47rem);
	}
}
	
// PC <1900px
@media screen and (min-width: 1900px) {
	.mainvisual__banner{ bottom: -5vw;}
	.mainvisual__inner {
		padding-top: 5.5vw;
	}
	.mainvisual__title {
		img {
			width: 50%;
		}
	}
	.mavinvisual-content {
		top: 20%;
		max-width: 160rem;
	}
	.mainvisual__people-person {
		li {
			&.person01 {
				top: -1.5vw;
				left: 15vw;
				width: 16.56vw;
			}
			&.person02 {
				top: -1.5vw;
				right: 12.5vw;
				width: 17.56vw;
				&.-b {
					left: 33rem;
				}
			}
			&.person03 {
				top: 14.3vw;
				left: 33.7vw;
				width: 17.64vw;
				&.-b {
					top: 14rem;
					left: 48rem;
				}
			}
			&.person04 {
				top: 18vw;
				left: 1vw;
				width: 10.19vw;
				&.-b {
					top: 18.4rem;
					width: 6rem;
				}
				&:hover{
					transform:scale(1.1); transition-duration: 0.3s;}
				a:hover{ opacity: 1;
				}
			}
			&.person05 {
				    top: 18vw;
				right: 1vw;
    width: 10.429vw;
				&:hover{
					transform:scale(1.1); transition-duration: 0.3s;}
				a:hover{ opacity: 1;
				}
}
			&.person06 {
				top: 13rem;
				left: 90.4rem;
				width: 16.4rem;
			}
			&.person07 {
				top: 8rem;
				left: 107rem;
				width: 16rem;
				&.-b {
					top: 12rem;
					left: 110rem;
				}
			}
			&.person08 {
				top: -16rem;
				right: -2rem;
				width: 56rem;
				&.-b {
					width: 53rem;
				}
			}
		}
	}
	.mainvisual__text {
		top: 28rem;
	}
	.mainvisual__banner {
		transform: translate(0, 47rem);
	}
}
	/*.release-background{
padding-right: 0;
padding-left: 0;
	}*/
	.header__logo a::before{
background: none!important;
}
@media screen and (max-width: 1279px) {
.mainvisual__people-person {
	li.person01,li.person02,li.person03{ display: none;}
	}
	}
	
//media実績
	.mediabx{ margin: 2vw auto 0 auto;
		picture{ text-align: center; margin-bottom: 2vw; display: block;
			img{ display: inline; width: 40%;}
		}
	.medialist {
    width: 80%;
    margin: 0 auto;
		picture img{ width: 100%;}
}
	}
	@media screen and (max-width: 1024px) {
	.mediabx{ margin: 6vw auto 0 auto;
		picture{ margin-bottom: 4vw; 
			img{ width: 80%;}
		}
	.medialist {
    width: 98%;
}
	}
		
	}
	
//お問い合わせボタン
	.inquiry__list-medium .inquiry__form{
		dd:first-child{ width: 10vw;}
		@media screen and (min-width: 1200px) {
			dd:first-child{ width: 14vw;}
		}
		@media screen and (min-width: 1400px) {
			dd:first-child{ width: 12vw;}
		}
				@media screen and (min-width: 1700px) {
			dd:first-child{ width: 11vw;}
		}
		@media screen and (min-width: 1900px) {
			dd:first-child{ width: 10vw;}
		}

		
		
	}
	}