$skew: 6;

.news {
	background: #f0eeec;
}
.news__outer {
	position: relative;
	background: #7b5c41;
	padding-bottom: 16rem;
	overflow: hidden;
	transform: skewY(-#{$skew}deg);
}
.news__flag {
	position: relative;
	width: calc(100% + 2.8rem);
	margin-left: -1.4rem;
	li {
		position: absolute;
		width: 16rem;
		height: calc(16rem * 0.8);
		z-index: 2;
		&.-left {
			top: -2rem;
			left: -4rem;
		}
		&.-right {
			top: -1.2rem;
			right: -8rem;
		}
	}
}
.news__inner {
	padding-top: 5rem;
	padding-bottom: 10rem;
	transform: skewY(#{$skew}deg);
}
.news__header {
	padding-bottom: 4rem;
}
.news__header-title {
	color: #fff;
	line-height: 1;
	text-align: center;
	.-en {
		@include indexSectionTitle();
		transition: all 1s 1.6s ease;
	}
	.-ja {
		font-size: 1.4rem;
		padding-top: 1.4rem;
	}
}
.news__content {
	padding-top: 2.8rem;
	padding-bottom: 4.2rem;
	background: #fff;
}
.news__content-list {
	width: calc(100% - 2.8rem);
	margin: 0 auto;
	padding: 1.4rem 0 1rem;
	border-bottom: .1rem solid #000;
}
.news__content-info {
	font-size: 1.2rem;
	line-height: 1;
	padding-bottom: .6rem;
	dd {
		padding: .3rem .4rem .2rem;
		margin-left: 1.2rem;
		&.-event {
			background: #6cffc0;
		}
		&.-update {
			background: #82d0fa;
		}
		&.-media {
			background: #ffd460;
		}
	}
}
.news__content-title {
	font-size: 1.6rem;
	line-height: 1.4;
}
.news__content-image {
	display: none;
}
.news__detail {
	padding-top: 3.4rem;
}
// Mobile ( Large )
@media screen and (min-width: $mobile-large) {
	.news__inner {
		padding-top: 8rem;
	}
	.news__flag {
		li {
			width: 18rem;
			height: calc(18rem * 0.8);
		}
	}
	.news__header-title {
		.-en {
			@include indexSectionTitle('mobile-large');
		}
		.-ja {
			font-size: 2rem;
			padding-top: 1.8rem;
		}
	}
	.news__content {
		padding-top: 4.8rem;
		padding-bottom: 6.8rem;
	}
	.news__content-list {
		padding: 2rem 0 1.2rem;
	}
	.news__content-info {
		font-size: 1.4rem;
		padding-bottom: 1rem;
		dd {
			margin-left: 2.2rem;
		}
	}
	.news__content-title {
		font-size: 2rem;
	}
	.news__detail {
		padding-top: 4.6rem;
	}
}
// Tablet ( Medium )
@media screen and (min-width: $tablet-medium) {
	.news__inner {
		padding-top: 10rem;
	}
	.news__header {
		padding-bottom: 6rem;
	}
	.news__flag {
		li {
			width: 20rem;
			height: calc(20rem * 0.8);
		}
	}
	.news__content {
		width: 96%;
		margin-right: auto;
		margin-left: auto;
		padding: .8rem 0 2.8rem;
		border-radius: 2rem;
	}
	.news__content-list {
		width: calc(100% - 5.6rem);
	}
	.news__detail {
		padding-top: 6rem;
	}
}
// Tablet ( Large )
@media screen and (min-width: $tablet-large) {
	.news__flag {
		li {
			width: 30rem;
			height: calc(30rem * 0.8);
			&.-right {
				top: -2.6rem;
			}
		}
	}
	.news__content {
		position: relative;
		width: 94rem;
		border-radius: 30rem;
		padding: 4rem 12rem 6rem;
	}
	.news__content-info {
		dd {
			font-size: 1.2rem;
		}
	}
}
// PC ( Small )
@media screen and (min-width: $pc-small) {
	.news__outer {
		padding-bottom: 28rem;
	}
	.news__flag {
		width: 100%;
		li {
			&.-left {
				left: 0;
			}
			&.-right {
				right: -4rem;
			}
		}
	}
	.news__inner {
		padding-top: 19rem;
	}
	.news__header-title {
		.-en {
			@include indexSectionTitle('pc-small');
		}
		.-ja {
			font-size: 2.8rem;
		}
	}
	.news__content {
		width: 120rem;
		padding-right: 24rem;
		padding-left: 24rem;
		padding-top: 2rem;
	}
	.news__content-info {
		padding-bottom: 1.4rem;
	}
	.news__content-title {
		font-size: 2.8rem;
	}
	.news__content-image {
		display: block;
		position: absolute;
		opacity: 0;
		&.-top-right {
			top: -5rem;
			right: 0;
			width: 16rem;
			transform-origin: center bottom;
			transform: scale(0);
			transition: all .6s 1s cubic-bezier(.7,.68,.26,1.61);
			&.lazyloaded {
				opacity: 1;
				transform: scale(1);
			}
		}
		&.-center-left {
			top: 50%;
			left: -3rem;
			width: 24rem;
			transform-origin: center center;
			transform: translate(0, -50%) scale(0);
			transition: all .6s 1.4s cubic-bezier(.7,.68,.26,1.61);
			&.lazyloaded {
				opacity: 1;
				transform: translate(0, -50%) scale(1);
			}
		}
		&.-bottom-right {
			bottom: -13rem;
			right: -2.5rem;
			width: 47rem;
			transform-origin: center bottom;
			transform: scale(0);
			transition: all .6s 1.8s cubic-bezier(.7,.68,.26,1.61);
			&.lazyloaded {
				&.lazyloaded {
					opacity: 1;
					transform: scale(1);
				}
			}
		}
	}
	.news__detail {
		padding-top: 16rem;
	}
}
// PC ( Medium )
@media screen and (min-width: $pc-medium) {
	.news__flag {
		li {
			width: 34rem;
			height: calc(34rem * 0.8);
		}
	}
	.news__content {
		padding: 4.2rem 27rem 6.2rem;
	}
	.news__content-info {
		padding-bottom: 2.2rem;
	}
	.news__content-image {
		&.-top-right {
			top: -5.6rem;
			right: -5rem;
			width: 20rem;
		}
		&.-center-left {
			left: -9rem;
			width: 28rem;
		}
		&.-bottom-right {
			bottom: -14rem;
			right: -9rem;
			width: 51.2rem;
		}
	}
}
