.service {
	position: relative;
	padding-top: 14rem;
	padding-bottom: 5rem;
	&.lazyloaded {
		background: url(../img/index/bg-service.jpg) no-repeat center top;
		background-size: cover;
	}
}
.service__outer {
	position: relative;
	z-index: 2;
	background-image: url(../img/index/bg-flag-small.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
}
.service__inner {
	padding: 5rem 0 6rem;
	color: #fff;
}
.service__person {
	display: block;
	position: absolute;
	top: 7rem;
	right: 1.4rem;
	z-index: 1;
	width: 16rem;
	opacity: 0;
	transform: translateY(40rem);
	transition: transform 1.4s 2s linear, opacity 1.4s 2s linear, top .1s;
	&.lazyloaded {
		opacity: 1;
		transform: translateY(0);
	}
}
.service__header-title {
	@include indexSectionTitle();
	text-align: center;
}
.service__header-subtitle {
	text-align: center;
	font-weight: bold;
	padding-top: .4rem;
	span {
		display: inline-block;
		white-space: nowrap;
	}
}
.service__list {
	@include myWrapper(29rem);
	padding: 3rem 0;
}
.service__list-dl {
	width: 32%;
	text-align: center;
	& + .service__list-dl {
		margin-left: auto;
	}
	&.-plan {
		img {
			width: 6rem;
		}
	}
	&.-price {
		img {
			width: 3.5rem;
		}
	}
	&.-flow {
		img {
			width: 6.7rem;
		}
	}
	dt {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 4rem;
	}
	dd {
		font-size: 1.2rem;
		padding-top: 1rem;
		font-weight: bold;
	}
}
.service__tug-of-war {
	display: none;
}
.service__sdgs {
	position: relative;
	z-index: 2;
	text-align: center;
	margin-top: -4rem;
}
.service__sdgs-badge {
	display: inline-block;
	width: 9.4rem;
	background: #fff;
	border-radius: 100%;
	box-shadow: 0 0 14px 0 rgba(0, 0, 0, .36);
}
.service__sdgs-text {
	padding-top: .7rem;
	font-weight: bold;
}
// Mobile ( Large )
@media screen and (min-width: $mobile-large) {
	.service {
		padding-bottom: 6.8rem;
	}
	.service__person {
		top: 8rem;
	}
	.service__inner {
		padding: 10rem 0 8rem;
	}
	.service__header-title {
		@include indexSectionTitle('mobile-large');
	}
	.service__list {
		padding: 5rem 0;
	}
	.service__sdgs-text {
		padding-top: 1rem;
	}
}
// Tablet ( Small )
@media screen and (min-width: $tablet-small) {
	.service__person {
		top: 8rem;
		right: 5%;
	}
}
// Tablet ( Medium )
@media screen and (min-width: $tablet-medium) {
	.service {
		padding-top: 16.2rem;
		padding-bottom: 16.2rem;
	}
	.service__person {
		right: 18%;
		width: 18.2rem;
	}
	.service__outer {
		background-image: url(../img/index/bg-flag.png);
		background-size: contain;
	}
	.service__inner {
		padding-top: 11.6rem;
		padding-bottom: 24vw;
		margin-top: 50rem;
		opacity: 0;
		transition: margin 1s .4s ease-in, opacity 2s .8s ease-in;
	}
	.service__content {
		opacity: 0;
		transition: opacity .8s .4s ease-in;
	}
	.service__header {
		margin-top: -5rem;
	}
	.service__list {
		padding: 4rem 0 3rem;
	}
	.service__list-dl {
		&.-plan {
			img {
				width: 7rem;
			}
		}
		&.-price {
			img {
				width: 4rem;
			}
		}
		&.-flow {
			img {
				width: 7.7rem;
			}
		}
		dd {
			font-size: 1.3rem;
		}
	}
	.service__sdgs {
		margin-top: -19vw;
	}
	.service__sdgs-badge {
		width: 10.6rem;
	}
	.lazyloaded {
		.service__inner {
			margin-top: 0;
			opacity: 1;
		}
		.service__content {
			opacity: 1;
		}
	}

}
// Tablet ( Large )
@media screen and (min-width: $tablet-large) {
	.service {
		padding-top: 18.2rem;
		margin-top: -6rem;
	}
	.service__person {
		top: 10.4rem;
		right: 24%;
	}
	@media (hover) {
		.service__sdgs {
			img {
				@include myTransition(.6s);
			}
			a:hover {
				opacity: 1;
				img {
					opacity: .5;
				}
			}
		}
		a.service__person {
			&:hover {
				opacity: 1;
				top: 9.4rem;
			}
		}
	}
}
// PC ( Small )
@media screen and (min-width: $pc-small) {
	.service {
		padding-top: 29rem;
		&.lazyloaded {
			background-attachment: fixed;
		}
	}
	.service__person {
		top: 17.5rem;
		width: 24.8rem;
	}
	.service__inner {
		width: 94rem;
		height: 73.4rem;
		margin-right: auto;
		margin-left: auto;
		padding: 13rem 0 0;
	}
	.service__header-title {
		@include indexSectionTitle('pc-small');
	}
	.service__header-subtitle {
		font-size: 1.6rem;
	}
	.service__list {
		max-width: 44.4rem;
		padding: 7rem 0 6rem;
	}
	.service__list-dl {
		&.-plan {
			img {
				width: 9.4rem;
			}
		}
		&.-price {
			img {
				width: 5.4rem;
			}
		}
		&.-flow {
			img {
				width: 10rem;
			}
		}
		dd {
			font-size: 1.6rem;
			padding-top: 2.6rem;
		}
	}
	.service__detail {
		opacity: 0;
		&.lazyloaded {
			animation: blank 2s cubic-bezier(.7,.68,.26,1.61) 2s infinite normal;
		}
	}
	.service__tug-of-war {
		display: block;
		position: relative;
		z-index: 1;
		line-height: 1;
		margin-top: -45.6rem;
		margin-bottom: 24rem;
	}
	.service__tug-of-war-content {
		width: 124rem;
		margin: 0 auto;
		img {
			display: block;
		}
		.-fukidashi {
			opacity: 0;
		}
	}
	.service__tug-of-war-left {
		width: 22rem;
		transform: translate(1.4rem, 0);
		opacity: 1;
		transition: width .4s ease, opacity 1s ease;
		.-fukidashi {
			width: 14rem;
			transform-origin: center bottom;
			&.lazyloaded {
				animation: fukidashi-left-turn 2s cubic-bezier(.7,.68,.26,1.61) 2s infinite normal;
			}
		}
		.-people {
			&.lazyloaded {
				animation: people-left-move 2s cubic-bezier(.7,.68,.26,1.61) 2s infinite normal;
			}
		}
	}
	.service__tug-of-war-right {
		width: 22rem;
		transform: translate(-1.6rem, -.5rem);
		opacity: 0;
		transition: width .4s ease, opacity 1s 1s ease;
		.-fukidashi {
			width: 12rem;
			margin-left: auto;
			transform-origin: center bottom;
			&.lazyloaded {
				animation: fukidashi-right-turn 2s cubic-bezier(.7,.68,.26,1.61) 2s infinite normal;
			}
		}
		.-people {
			&.lazyloaded {
				animation: people-right-move 2s cubic-bezier(.7,.68,.26,1.61) 2s infinite normal;
			}
		}
	}
	.service__sdgs {
		width: 94rem;
		text-align: right;
		margin: -27.3rem auto 0;
	}
	.service__sdgs-badge {
		width: 18.2rem;
		transform: scale(0);
		transition: all 1.5s 1.5s ease-in-out;
	}
	.service__sdgs-text {
		display: none;
	}
	.lazyloaded {
		.service__tug-of-war-left,
		.service__tug-of-war-right {
			opacity: 1;
		}
		.service__sdgs-badge {
			transform: scale(1);
		}
	}
	@media (hover) {
		a.service__person {
			&:hover {
				top: 16.5rem;
			}
		}
	}
}
// PC ( Medium )
@media screen and (min-width: $pc-medium) {
	.service {
		margin-top: -8rem;
		padding-top: 31rem;
	}
	.service__person {
		top: 14.8rem;
		right: 26%;
		width: 30.8rem;
		transition: transform .8s 1.6s linear, opacity .8s 1.6s linear;
	}
	.service__tug-of-war {
		margin-top: -46.4rem;
	}
	.service__tug-of-war-content {
		width: 136rem;
	}
	.service__tug-of-war-left {
		width: 28rem;
		transform: translate(1.5rem, 0);
		.-fukidashi {
			width: 14rem;
		}
	}
	.service__tug-of-war-right {
		width: 28rem;
		transform: translate(-1.6rem, -.5rem);
		.-fukidashi {
			width: 12rem;
		}
	}
	@media (hover) {
		a.service__person {
			&:hover {
				top: 13.8rem;
			}
		}
	}
}
// PC ( Large )
@media screen and (min-width: $pc-large) {
	.service {
		margin-top: -18rem;
		padding-top: 41rem;
	}
	.service__person {
		top: 24.8rem;
		left: 50%;
		margin-left: -13.7rem;
		right: auto;
		transform: translate(20rem, 40rem);
		&.lazyloaded {
			transform: translate(20rem, 0);
		}
	}
	.service__tug-of-war {
		margin-top: -50.3rem;
	}
	.service__tug-of-war-content {
		width: 160rem;
	}
	.service__tug-of-war-left {
		width: 38rem;
		transform: translate(3.5rem, 0);
		.-fukidashi {
			width: 17.8rem;
		}
	}
	.service__tug-of-war-right {
		width: 44rem;
		transform: translate(2.5rem, .65rem);
		.-fukidashi {
			width: 12.8rem;
		}
	}
	@media (hover) {
		a.service__person {
			&:hover {
				top: 23.8rem;
			}
		}
	}
}