.voice {
	background: #faf8f5;
}
.voice__outer {
	padding: 4rem 0 4rem;
	opacity: 0;
	transition: all .6s .8s;
	&.lazyloaded {
		opacity: 1;
	}
}
.voice__header-title {
	@include indexSectionTitle();
	text-align: center;
	transition: all 1s 1.6s ease;
	line-height: 1;
	padding-bottom: .6rem;
	b {
		display: block;
		font-weight: normal;
	}
}
.voice__header-title-en {
	display: inline-block;
	padding-top: .5rem;
	padding-bottom: .5rem;
	transform: translateY(.8rem);
	&.-effect {
		padding-right: .8rem;
		padding-left: .8rem;
		color: transparent;
		margin-left: .4rem;
		transition: all .6s 1.4s ease-in;
		span {
			position: relative;
			z-index: 2;
		}
		&::after {
			display: inline-block;
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			z-index: 1;
			width: 0;
			height: 100%;
			background: $red;
			border-radius: .3rem;
			opacity: 0;
			transition: all .6s 1.4s ease-in;
		}
	}
}
.lazyloaded {
	.voice__header-title-en.-effect {
		color: #fff;
		&::after {
			opacity: 1;
			width: 100%;
		}
	}
}
.voice__lead {
	font-size: 1.2rem;
	padding: 2rem 0 2rem;
	text-align: center;
}
.voice__detail {
	padding-top: 3.4rem;
	.button {
		padding-right: 5.6rem;
		padding-left: 5.6rem;
	}
}
.voice .swiper-container {
	.card__small-text,
	.card__title,
	.card__tag {
		&::after {
			background: #faf8f5;
		}
	}
}

// Mobile ( Large )
@media screen and (min-width: $mobile-large) {
	.voice__outer {
		padding: 8rem 0 8rem;
	}
	.voice__header-title {
		@include indexSectionTitle('mobile-large');
	}
	.voice__lead {
		font-size: 1.4rem;
		padding: 2.4rem 0 4.6rem;
	}
}
// Tablet ( Medium )
@media screen and (min-width: $tablet-medium) {
	.voice__outer {
		padding: 10rem 0 6.6rem;
	}
}
// Tablet ( Large )
@media screen and (min-width: $tablet-large) {
	.voice__outer {
		padding: 13rem 0 8.6rem;
		transform: translateY(50rem);
		transition: all 1s 1s;
		&.lazyloaded {
			transform: translateY(0);
		}
	}
	.voice__header-title-en.-effect {
		&::after {
			transition: all .6s 2s ease-in;
		}
	}
	.voice__lead {
		font-size: 2.4rem;
		padding: 5.4rem 0 5.4rem;
	}
	.voice__detail {
		padding-top: 6rem;
	}
}
// PC ( Small )
@media screen and (min-width: $pc-small) {
	.voice__outer {
		padding: 19rem 0 10.6rem;
	}
	.voice__header-title {
		@include indexSectionTitle('pc-small');
	}
	.voice__lead {
		padding-bottom: 9rem;
	}
	.voice__detail {
		padding-top: 7.2rem;
	}
}
// PC ( Medium )
@media screen and (min-width: $pc-medium) {
	.voice__outer {
		padding: 21rem 0 12.6rem;
	}
	.voice__detail {
		padding-top: 9rem;
	}
}