@import './_modules/common/config';
.about-us-section {
	& + .about-us-section {
		margin-top: 4.8rem;
	}
}
.oath {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.oath__text {
	width: 29.2rem;
	height: 20.2rem;
	margin: 2.8rem auto 0;
	background: url(../img/about-us/bg-oath.png) no-repeat center top;
	background-size: 100%;
	opacity: 0;
	transform-origin: center bottom;
	transform: scale(0);
	transition: all .6s .4s cubic-bezier(.7,.68,.26,1.61);
	&.lazyloaded {
		opacity: 1;
		transform: scale(1);
	}
}
.oath__content {
	width: 23rem;
	font-size: 1.2rem;
	text-align: center;
	line-height: 1.4;
	transform: translate(0, -.6rem);
	p {
		display: inline;
		opacity: 0;
		transition: all .6s 1s;
	}
}
.lazyloaded {
	.oath__content {
		p {
			opacity: 1;
		}
	}
}
.oath__image {
	width: 11rem;
	transform-origin: center bottom;
	transform: scale(0);
	transition: transform .6s .4s cubic-bezier(.7,.68,.26,1.61);
	&.lazyloaded {
		transform: scale(1);
	}
}
.purpose {
	max-width: 102rem;
	margin-right: auto;
	margin-left: auto;
	padding-top: 2.8rem;
	text-align: center;
}
.purpose__image {
	overflow: hidden;
}
.purpose__text {
	display: inline-block;
	max-width: 95rem;
	text-align: left;
	padding-top: 1.4rem;
	div {
		position: relative;
		& + div {
			margin-top: 1.4rem;
		}
	}
}
.greeting {
	position: relative;
	padding-top: 2.8rem;
	overflow: hidden;
}
.greeting__circle {
	position: absolute;
	top: 38rem;
	left: 50%;
	z-index: 1;
	width: 80rem;
	height: 60rem;
	border-radius: 100%;
	background: rgba(230, 0, 0, .05);
	transform: translateX(-50%) scale(0);
	transition: transform 1s 1s cubic-bezier(.7,.68,.26,1.61);
	&.lazyloaded {
		transform: translateX(-50%) scale(1);
	}
}
.greeting__person {
	position: relative;
	width: 30rem;
	margin-right: auto;
	margin-left: auto;
}
.greeting__person-image {
	position: relative;
	z-index: 2;
	transform-origin: center bottom;
	transform: translateX(1rem) scale(0);
	transition: transform .8s .6s cubic-bezier(.7,.68,.26,1.61);
}
.greeting__person-profile {
	display: flex;
	position: absolute;
	top: 16rem;
	left: 50%;
	z-index: 2;
	width: 16.4rem;
	height: 16.4rem;
	font-size: 1.2rem;
	background: rgba(255, 255, 255, .75);
	align-items: center;
	font-weight: bold;
	text-align: center;
	border-radius: 100%;
	opacity: 0;
	transform: translateX(-50%);
	transition: opacity .4s 1s linear;
}
.lazyloaded {
	.greeting__person-image {
		transform: translateX(1rem) scale(1);
	}
	.greeting__person-profile {
		opacity: 1;
	}
}
.greeting__text {
	padding: 0 1.4rem;
}
.greeting__text-title {
	position: relative;
	font-size: 2.2rem;
	text-align: center;
	font-weight: bold;
	padding: 2.8rem 0;
	color: $navy;
	&::before {
		@include myMask();
		transition: all .8s .6s linear;
	}
	&.lazyloaded {
		&::before {
			transform: translateX(100%);
		}
	}
}
.greeting__text-content {
	position: relative;
	opacity: 0;
	transform: translateY(10rem);
	transition: all .68s .8s linear;
	&.lazyloaded {
		opacity: 1;
		transform: translateY(0);
	}
}
.greeting__text-content-inner {
	max-width: 34.2rem;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	transition: all .6s ease-in;
	div {
		& + div {
			margin-top: 1.4rem;
		}
	}
}
.greeting__more-button {
	position: absolute;
	bottom: 0;
	z-index: 2;
	width: 100%;
	padding-top: 14em;
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 60%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 60%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
	&.-close {
		background: none;
	}
	.button {
		background: #fff;
	}
}
.staff__lead {
	font-size: 1.6rem;
	text-align: center;
	padding: 4rem 0;
}
.staff__name {
	text-align: center;
	transform-origin: center bottom;
	transform: translateY(4rem) scale(0);
	transition: transform .6s .6s cubic-bezier(.7,.68,.26,1.61);
	&.lazyloaded {
		transform: translateY(0) scale(1);
	}
}
.staff__name-content {
	display: inline-block;
	background-image: url(../img/about-us/comment-black-left.svg), url(../img/about-us/comment-black-right.svg);
	background-repeat: no-repeat;
	background-position: left center, right center;
	background-size: contain;
	text-align: center;
	font-size: 1.8rem;
	font-weight: bold;
	line-height: 1;
	padding: 1.2rem 4rem 1.8rem;
}
.staff__list {
	padding: 4rem 0 4.8rem;
	li {
		display: none;
		width: 19.6rem;
		height: 19.6rem;
		border-radius: 100%;
		overflow: hidden;
		align-items: center;
		justify-content: center;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
		transform-origin: center center;
		transform: scale(0);
		transition: transform .48s .6s cubic-bezier(.7,.68,.26,1.61);
		&.-display {
			display: block;
		}
	}
	&.lazyloaded {
		li.-display {
			transform: scale(1);
		}
	}
}
.overview {
	max-width: 88rem;
	margin: 4rem auto 0;
}
.overview__list {
	display: flex;
	opacity: 0;
	transform: translateY(20rem);
	transition: all .8s .4s linear;
	&.lazyloaded {
		opacity: 1;
		transform: translateY(0);
	}
}
.overview__title,
.overview__content {
	padding: 1.4rem 0;
	border-top: .1rem solid $navy;
}
.overview__list:last-of-type {
	.overview__title,
	.overview__content {
		border-bottom: .1rem solid $navy;
	}
}
.overview__title {
	width: 7rem;
	p {
		white-space: nowrap;
	}
}
.overview__content {
	width: calc(100% - 8rem);
	margin-left: 1rem;
	div {
		& + div {
			margin-top: 1.4rem;
		}
	}
	p {
		word-break: break-all;
	}
	a,
	.inline-block {
		white-space: nowrap;
	}
	a:not([href ^= "tel"]) {
		color: $blue-link;
		text-decoration: underline;
	}
}
.office__map {
	display: none;
}
.office {
	max-width: 96rem;
	margin-right: auto;
	margin-left: auto;
	padding: 2rem 0 6rem;
}
.office__info,
.office__map {
	opacity: 0;
	transform: translateY(20rem);
	transition: all 1s .6s;
	&.lazyloaded {
		opacity: 1;
		transform: translateY(0);
	}
}
.office__group {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.office__image {
	width: 22.4rem;
	height: 22.4rem;
	overflow: hidden;
	border-radius: 100%;
	margin-top: 4rem;
}
.office__text {
	text-align: center;
	padding-top: 1.6rem;
	dt {
		font-size: 1.8rem;
		font-weight: bold;
	}
	dd {
		font-size: 1.6rem;
	}
}
// Mobile ( Large )
@media screen and (min-width: $mobile-large) {
	.about-us-section {
		& + .about-us-section{
			margin-top: 6.8rem;
		}
	}
	.oath__text {
		width: 38rem;
		height: 25.6rem;
	}
	.oath__content {
		width: 33rem;
		font-size: 1.3rem;
		line-height: 1.6;
		transform: translate(1rem, -1rem);
		p {
			display: block;
		}
	}
	.oath__image {
		width: 14rem;
	}
	.greeting__person-profile {
		width: 19rem;
		height: 19rem;
		font-size: 1.4rem;
	}
	.greeting__text-title {
		font-size: 2.6rem;
		padding: 4rem 0 2.8rem;
	}
	.staff__name-content {
		font-size: 2.2rem;
		padding: 1.2rem 6rem 1.8rem;
	}
	.overview__title {
		width: 10rem;
		br {
			display: none;
		}
	}
	.overview__content {
		width: calc(100% - 11rem);
	}
	.office {
		padding: 4rem 0 12rem;
	}
	.office__image {
		width: 24.4rem;
		height: 24.4rem;
		margin-top: 6.8rem;
	}
}
// Tablet ( Small )
@media screen and (min-width: $tablet-small) {
	.oath__text {
		width: 42rem;
		height: 28.6rem;
	}
	.oath__content {
		width: 36rem;
		font-size: 1.5rem;
		transform: translate(1rem, -1.2rem);
	}
	.oath__image {
		width: 16rem;
	}
	.greeting__circle {
		top: 38rem;
	}
	.greeting__person-image {
		width: 34rem;
		transform: translateX(-.7rem) scale(0);
	}
	.lazyloaded {
		.greeting__person-image {
			transform: translateX(-.7rem) scale(1);
		}
	}
		.greeting__person-profile {
		top: 20rem;
	}
	.greeting__text-title {
		font-size: 3.4rem;
	}
	.greeting__text-content-inner {
		width: 43.5rem;
		max-width: 100%;
	}
	.staff__list {
		display: flex;
		li {
			display: block;
			width: 11rem;
			height: 11rem;
			& + li {
				margin-left: 1rem;
			}
			&:nth-of-type(1) {
				transition: transform .48s .6s cubic-bezier(.7,.68,.26,1.61);
			}
			&:nth-of-type(2) {
				transition: transform .48s .8s cubic-bezier(.7,.68,.26,1.61);
			}
			&:nth-of-type(3) {
				transition: transform .48s 1s cubic-bezier(.7,.68,.26,1.61);
			}
			&:nth-of-type(4) {
				transition: transform .48s 1.2s cubic-bezier(.7,.68,.26,1.61);
			}
			&:nth-of-type(5) {
				transition: transform .48s 1.4s cubic-bezier(.7,.68,.26,1.61);
			}
		}
	}
	&.lazyloaded {
		li {
			transform: scale(1);
		}
	}
	.overview {
		margin-top: 6rem;
	}
	.overview__title {
		width: 14rem;
		font-size: 1.6rem;
		padding: 1.4rem 1rem;
	}
	.overview__content {
		width: calc(100% - 15rem);
		padding: 1.6rem 1rem 1.4rem;
		br {
			display: none;
		}
	}
	.office__group {
		flex-direction: row;
		align-items: flex-start;
		padding: 4.8rem 0;
	}
	.office__map {
		display: block;
		width: calc(100% - 18rem);
		padding-left: 2rem;
		iframe {
			display: block;
			width: 100%;
			height: 33.4rem;

		}
	}
	.office__info {
		width: 18rem;
		& + .office__info {
			margin-left: auto;
		}
	}
	.office__image {
		width: 18rem;
		height: 18rem;
		margin-top: 0;
	}
	.office__text {
		dd {
			font-size: 1.4rem;
		}
	}
}
// Tablet ( Medium )
@media screen and (min-width: $tablet-medium) {
	.oath__text {
		width: 52rem;
		height: 36rem;
	}
	.oath__content {
		width: 44rem;
		font-size: 1.8rem;
		line-height: 1.8;
		transform: translate(0, -1rem);
	}
	.oath__image {
		width: 16rem;
	}
	.purpose {
		padding-top: 4.8rem;
	}
	.purpose__text {
		font-size: 1.6rem;
		padding-top: 4.8rem;
		div + div {
			margin-top: 1.6rem;
		}
	}
	.greeting__circle {
		top: 38rem;
		width: 70rem;
		height: 70rem;
	}
	.greeting__person-profile {
		top: 20rem;
	}
	.greeting__text-title {
		font-size: 4.2rem;
		padding-bottom: 4rem;
	}
	.greeting__text-content-inner {
		width: 53rem;
		font-size: 1.6rem;
		div {
			& + div {
				margin-top: 3.2rem;
			}
		}
	}
	.staff__lead {
		font-size: 1.8rem;
		padding: 4.8rem 0;
		br {
			display: none;
		}
	}
	.staff__name-content {
		font-size: 2.8rem;
		padding: 1.4rem 6rem 2rem;
	}
	.staff__list {
		padding: 6rem 0 6.8rem;
		li {
			width: 14rem;
			height: 14rem;
		}
	}
	.overview {
		margin-top: 8rem;
	}
	.overview__title {
		width: 18rem;
		font-size: 2rem;
		padding: 1.6rem 1.6rem;
	}
	.overview__content {
		width: calc(100% - 20rem);
		font-size: 1.6rem;
		margin-left: 2rem;
		padding: 2.1rem 1.6rem 1.8rem;
		div {
			& + div {
				margin-top: 1.6rem;
			}
		}
	}
	.office__group {
		padding: 4.8rem 0;
	}
	.office__map {
		width: calc(100% - 24rem);
		padding-left: 2rem;
		iframe {
			height: 45.2rem;
		}
	}
	.office__info {
		width: 24rem;
	}
	.office__image {
		width: 24rem;
		height: 24rem;
	}
	.office__text {
		padding-top: 2rem;
		dt {
			font-size: 2rem;
			padding-bottom: 2rem;
		}
		dd {
			font-size: 1.8rem;
		}
	}
}
// Tablet ( Large )
@media screen and (min-width: $tablet-large) {
	.about-us-section {
		& + .about-us-section{
			margin-top: 12.8rem;
		}
	}
	.oath {
		padding-top: 4rem;
	}
	.oath__text {
		width: 68.2rem;
		height: 48rem;
	}
	.oath__content {
		width: 54rem;
		font-size: 2.2rem;
		line-height: 2;
		transform: translate(1rem, -2.8rem);
	}
	.purpose {
		padding-top: 6.8rem;
	}
	.purpose__text {
		font-size: 2rem;
		padding-top: 6.8rem;
		div + div {
			margin-top: 4rem;
		}
	}
	.greeting {
		width: 100rem;
		margin: 6.8rem auto 0;
	}
	.greeting__circle {
		top: 0;
		left: 32rem;
		width: 58rem;
		height: 58rem;
		transform: translateX(0) scale(0);
		&.lazyloaded {
			transform: translateX(0) scale(1);
		}
	}
	.greeting__person {
		width: 34rem;
		position: absolute;
		top: 0;
		margin: 0 0 0 0;
	}
	.greeting__person-image {
		width: 100%;
	}
	.greeting__person-profile {
		top: 24rem;
		left: 5rem;
		transform: translateX(0);
	}
	.greeting__text {
		padding: 0 0 0;
	}
	.greeting__text-title {
		width: 64rem;
		font-size: 4.8rem;
		line-height: 1.5;
		padding: 2.4rem 0 0 0;
		margin-left: 28rem;
	}
	.greeting__text-content-inner {
		width: 64rem;
		padding: 2.8rem 1.8rem 0 0;
		margin-left: 30rem;
		margin-right: 0;
	}
	.greeting__more-button {
		width: 62.2rem;
		margin-left: 30rem;
	}
	.staff__lead {
		font-size: 2.4rem;
		padding: 8rem 0;
	}
	.staff__name-content {
		font-size: 2.8rem;
		padding: 4.1rem 9.8rem 4.5rem;
	}
	.staff__list {
		padding: 8.6rem 0 10.8rem;
		li {
			width: 18.6rem;
			height: 18.6rem;
			& + li {
				margin-left: 2.2rem;
			}
		}
	}
	.overview {
		max-width: 102rem;
		margin-top: 12.8rem;
	}
	.overview__title {
		width: 20rem;
		font-size: 2.2rem;
		padding: 2.2rem 2.2rem;
	}
	.overview__content {
		width: calc(100% - 24rem);
		font-size: 1.8rem;
		margin-left: 4rem;
		padding: 2.5rem 2.2rem 2.2rem;
		div {
			& + div {
				margin-top: 2.2rem;
			}
		}
	}
	.office {
		padding: 4rem 0 12rem;
	}
	.office__group {
		padding: 6.8rem 0;
	}
	.office__map {
		width: calc(100% - 28.8rem);
		padding-left: 8rem;
		iframe {
			height: 52.6rem;
		}
	}
	.office__info {
		width: 28.8rem;
	}
	.office__image {
		width: 28.8rem;
		height: 28.8rem;
	}
	.office__text {
		padding-top: 2.2rem;
		dt {
			font-size: 2.2rem;
			padding-bottom: 2.2rem;
		}
		dd {
			font-size: 2rem;
		}
	}

}
// PC ( Small )
@media screen and (min-width: $pc-small) {
	.about-us-section {
		& + .about-us-section {
			margin-top: 8rem;
		}
	}
	.oath__text {
		width: 80.2rem;
		height: 62rem;
	}
	.oath__content {
		width: 65rem;
		font-size: 2.4rem;
		line-height: 2;
		transform: translate(1rem, -5.8rem);
	}
	.greeting {
		width: 114rem;
	}
	.greeting__circle {
		top: 2rem;
		left: 38rem;
		width: 68.8rem;
		height: 68.8rem;
	}
	.greeting__person-profile {
		top: 42rem;
		left: 12.4rem;
	}
	.greeting__person-image {
		width: 50rem;
	}
	.greeting__text-title {
		width: 84rem;
		font-size: 5.8rem;
		padding: 5rem 0 0 7rem;
		line-height: 1.6;
		margin-right: 0;
	}
	.greeting__text-content-inner {
		width: 76rem;
		font-size: 2rem;
		padding-top: 5.6rem;
		margin-left: 36.4rem;
		div {
			& + div {
				margin-top: 2.8rem;
			}
		}
	}
	.greeting__more-button {
		width: 76rem;
		margin-left: 36.4rem;
		.button {
			width: 32rem;
			min-width: 32rem;
		}
	}
	.staff__list {
		li {
			width: 19.6rem;
			height: 19.6rem;
			& + li {
				margin-left: 3.6rem;
			}
		}
	}

}