@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes cluody {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, -6px);
            transform: translate(0, -6px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes cluody {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, -6px);
            transform: translate(0, -6px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes blank {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blank {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes pulse {
  100% {
    opacity: 0;
    -webkit-transform: scale(2);
            transform: scale(2);
    background: none;
  }
}

@keyframes pulse {
  100% {
    opacity: 0;
    -webkit-transform: scale(2);
            transform: scale(2);
    background: none;
  }
}

@-webkit-keyframes fukidashi-left-turn {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
            transform: rotate(0) scale(0.6);
  }
  50% {
    opacity: 1;
    -webkit-transform: rotate(10deg) scale(1);
            transform: rotate(10deg) scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
            transform: rotate(0) scale(0.6);
  }
}

@keyframes fukidashi-left-turn {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
            transform: rotate(0) scale(0.6);
  }
  50% {
    opacity: 1;
    -webkit-transform: rotate(10deg) scale(1);
            transform: rotate(10deg) scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
            transform: rotate(0) scale(0.6);
  }
}

@-webkit-keyframes people-left-move {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes people-left-move {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes fukidashi-right-turn {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
            transform: rotate(0) scale(0.6);
  }
  50% {
    opacity: 1;
    -webkit-transform: rotate(-10deg) scale(1);
            transform: rotate(-10deg) scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
            transform: rotate(0) scale(0.6);
  }
}

@keyframes fukidashi-right-turn {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
            transform: rotate(0) scale(0.6);
  }
  50% {
    opacity: 1;
    -webkit-transform: rotate(-10deg) scale(1);
            transform: rotate(-10deg) scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
            transform: rotate(0) scale(0.6);
  }
}

@-webkit-keyframes people-right-move {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes people-right-move {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.about-us-section + .about-us-section {
  margin-top: 4.8rem;
}

.oath {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.oath__text {
  width: 29.2rem;
  height: 20.2rem;
  margin: 2.8rem auto 0;
  background: url(../img/about-us/bg-oath.png) no-repeat center top;
  background-size: 100%;
  opacity: 0;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.6s 0.4s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  transition: all 0.6s 0.4s cubic-bezier(0.7, 0.68, 0.26, 1.61);
}

.oath__text.lazyloaded {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.oath__content {
  width: 23rem;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.4;
  -webkit-transform: translate(0, -0.6rem);
          transform: translate(0, -0.6rem);
}

.oath__content p {
  display: inline;
  opacity: 0;
  -webkit-transition: all .6s 1s;
  transition: all .6s 1s;
}

.lazyloaded .oath__content p {
  opacity: 1;
}

.oath__image {
  width: 11rem;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.6s 0.4s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  transition: -webkit-transform 0.6s 0.4s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  transition: transform 0.6s 0.4s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  transition: transform 0.6s 0.4s cubic-bezier(0.7, 0.68, 0.26, 1.61), -webkit-transform 0.6s 0.4s cubic-bezier(0.7, 0.68, 0.26, 1.61);
}

.oath__image.lazyloaded {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.purpose {
  max-width: 102rem;
  margin-right: auto;
  margin-left: auto;
  padding-top: 2.8rem;
  text-align: center;
}

.purpose__image {
  overflow: hidden;
}

.purpose__text {
  display: inline-block;
  max-width: 95rem;
  text-align: left;
  padding-top: 1.4rem;
}

.purpose__text div {
  position: relative;
}

.purpose__text div + div {
  margin-top: 1.4rem;
}

.greeting {
  position: relative;
  padding-top: 2.8rem;
  overflow: hidden;
}

.greeting__circle {
  position: absolute;
  top: 38rem;
  left: 50%;
  z-index: 1;
  width: 80rem;
  height: 60rem;
  border-radius: 100%;
  background: rgba(230, 0, 0, 0.05);
  -webkit-transform: translateX(-50%) scale(0);
          transform: translateX(-50%) scale(0);
  -webkit-transition: -webkit-transform 1s 1s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  transition: -webkit-transform 1s 1s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  transition: transform 1s 1s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  transition: transform 1s 1s cubic-bezier(0.7, 0.68, 0.26, 1.61), -webkit-transform 1s 1s cubic-bezier(0.7, 0.68, 0.26, 1.61);
}

.greeting__circle.lazyloaded {
  -webkit-transform: translateX(-50%) scale(1);
          transform: translateX(-50%) scale(1);
}

.greeting__person {
  position: relative;
  width: 30rem;
  margin-right: auto;
  margin-left: auto;
}

.greeting__person-image {
  position: relative;
  z-index: 2;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-transform: translateX(1rem) scale(0);
          transform: translateX(1rem) scale(0);
  -webkit-transition: -webkit-transform 0.8s 0.6s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  transition: -webkit-transform 0.8s 0.6s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  transition: transform 0.8s 0.6s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  transition: transform 0.8s 0.6s cubic-bezier(0.7, 0.68, 0.26, 1.61), -webkit-transform 0.8s 0.6s cubic-bezier(0.7, 0.68, 0.26, 1.61);
}

.greeting__person-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 16rem;
  left: 50%;
  z-index: 2;
  width: 16.4rem;
  height: 16.4rem;
  font-size: 1.2rem;
  background: rgba(255, 255, 255, 0.75);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  text-align: center;
  border-radius: 100%;
  opacity: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: opacity .4s 1s linear;
  transition: opacity .4s 1s linear;
}

.lazyloaded .greeting__person-image {
  -webkit-transform: translateX(1rem) scale(1);
          transform: translateX(1rem) scale(1);
}

.lazyloaded .greeting__person-profile {
  opacity: 1;
}

.greeting__text {
  padding: 0 1.4rem;
}

.greeting__text-title {
  position: relative;
  font-size: 2.2rem;
  text-align: center;
  font-weight: bold;
  padding: 2.8rem 0;
  color: #081927;
}

.greeting__text-title::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-transition: all .8s .6s linear;
  transition: all .8s .6s linear;
}

.greeting__text-title.lazyloaded::before {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.greeting__text-content {
  position: relative;
  opacity: 0;
  -webkit-transform: translateY(10rem);
          transform: translateY(10rem);
  -webkit-transition: all .68s .8s linear;
  transition: all .68s .8s linear;
}

.greeting__text-content.lazyloaded {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.greeting__text-content-inner {
  max-width: 34.2rem;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  -webkit-transition: all .6s ease-in;
  transition: all .6s ease-in;
}

.greeting__text-content-inner div + div {
  margin-top: 1.4rem;
}

.greeting__more-button {
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 100%;
  padding-top: 14em;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(60%, white), to(white));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 60%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
}

.greeting__more-button.-close {
  background: none;
}

.greeting__more-button .button {
  background: #fff;
}

.staff__lead {
  font-size: 1.6rem;
  text-align: center;
  padding: 4rem 0;
}

.staff__name {
  text-align: center;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-transform: translateY(4rem) scale(0);
          transform: translateY(4rem) scale(0);
  -webkit-transition: -webkit-transform 0.6s 0.6s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  transition: -webkit-transform 0.6s 0.6s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  transition: transform 0.6s 0.6s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  transition: transform 0.6s 0.6s cubic-bezier(0.7, 0.68, 0.26, 1.61), -webkit-transform 0.6s 0.6s cubic-bezier(0.7, 0.68, 0.26, 1.61);
}

.staff__name.lazyloaded {
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
}

.staff__name-content {
  display: inline-block;
  background-image: url(../img/about-us/comment-black-left.svg), url(../img/about-us/comment-black-right.svg);
  background-repeat: no-repeat;
  background-position: left center, right center;
  background-size: contain;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1;
  padding: 1.2rem 4rem 1.8rem;
}

.staff__list {
  padding: 4rem 0 4.8rem;
}

.staff__list li {
  display: none;
  width: 19.6rem;
  height: 19.6rem;
  border-radius: 100%;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.48s 0.6s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  transition: -webkit-transform 0.48s 0.6s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  transition: transform 0.48s 0.6s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  transition: transform 0.48s 0.6s cubic-bezier(0.7, 0.68, 0.26, 1.61), -webkit-transform 0.48s 0.6s cubic-bezier(0.7, 0.68, 0.26, 1.61);
}

.staff__list li.-display {
  display: block;
}

.staff__list.lazyloaded li.-display {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.overview {
  max-width: 88rem;
  margin: 4rem auto 0;
}

.overview__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-transform: translateY(20rem);
          transform: translateY(20rem);
  -webkit-transition: all .8s .4s linear;
  transition: all .8s .4s linear;
}

.overview__list.lazyloaded {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.overview__title,
.overview__content {
  padding: 1.4rem 0;
  border-top: 0.1rem solid #081927;
}

.overview__list:last-of-type .overview__title,
.overview__list:last-of-type .overview__content {
  border-bottom: 0.1rem solid #081927;
}

.overview__title {
  width: 7rem;
}

.overview__title p {
  white-space: nowrap;
}

.overview__content {
  width: calc(100% - 8rem);
  margin-left: 1rem;
}

.overview__content div + div {
  margin-top: 1.4rem;
}

.overview__content p {
  word-break: break-all;
}

.overview__content a,
.overview__content .inline-block {
  white-space: nowrap;
}

.overview__content a:not([href^="tel"]) {
  color: #26b7ff;
  text-decoration: underline;
}

.office__map {
  display: none;
}

.office {
  max-width: 96rem;
  margin-right: auto;
  margin-left: auto;
  padding: 2rem 0 6rem;
}

.office__info,
.office__map {
  opacity: 0;
  -webkit-transform: translateY(20rem);
          transform: translateY(20rem);
  -webkit-transition: all 1s .6s;
  transition: all 1s .6s;
}

.office__info.lazyloaded,
.office__map.lazyloaded {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.office__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.office__image {
  width: 22.4rem;
  height: 22.4rem;
  overflow: hidden;
  border-radius: 100%;
  margin-top: 4rem;
}

.office__text {
  text-align: center;
  padding-top: 1.6rem;
}

.office__text dt {
  font-size: 1.8rem;
  font-weight: bold;
}

.office__text dd {
  font-size: 1.6rem;
}

@media screen and (min-width: 414px) {
  .about-us-section + .about-us-section {
    margin-top: 6.8rem;
  }
  .oath__text {
    width: 38rem;
    height: 25.6rem;
  }
  .oath__content {
    width: 33rem;
    font-size: 1.3rem;
    line-height: 1.6;
    -webkit-transform: translate(1rem, -1rem);
            transform: translate(1rem, -1rem);
  }
  .oath__content p {
    display: block;
  }
  .oath__image {
    width: 14rem;
  }
  .greeting__person-profile {
    width: 19rem;
    height: 19rem;
    font-size: 1.4rem;
  }
  .greeting__text-title {
    font-size: 2.6rem;
    padding: 4rem 0 2.8rem;
  }
  .staff__name-content {
    font-size: 2.2rem;
    padding: 1.2rem 6rem 1.8rem;
  }
  .overview__title {
    width: 10rem;
  }
  .overview__title br {
    display: none;
  }
  .overview__content {
    width: calc(100% - 11rem);
  }
  .office {
    padding: 4rem 0 12rem;
  }
  .office__image {
    width: 24.4rem;
    height: 24.4rem;
    margin-top: 6.8rem;
  }
}

@media screen and (min-width: 600px) {
  .oath__text {
    width: 42rem;
    height: 28.6rem;
  }
  .oath__content {
    width: 36rem;
    font-size: 1.5rem;
    -webkit-transform: translate(1rem, -1.2rem);
            transform: translate(1rem, -1.2rem);
  }
  .oath__image {
    width: 16rem;
  }
  .greeting__circle {
    top: 38rem;
  }
  .greeting__person-image {
    width: 34rem;
    -webkit-transform: translateX(-0.7rem) scale(0);
            transform: translateX(-0.7rem) scale(0);
  }
  .lazyloaded .greeting__person-image {
    -webkit-transform: translateX(-0.7rem) scale(1);
            transform: translateX(-0.7rem) scale(1);
  }
  .greeting__person-profile {
    top: 20rem;
  }
  .greeting__text-title {
    font-size: 3.4rem;
  }
  .greeting__text-content-inner {
    width: 43.5rem;
    max-width: 100%;
  }
  .staff__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .staff__list li {
    display: block;
    width: 11rem;
    height: 11rem;
  }
  .staff__list li + li {
    margin-left: 1rem;
  }
  .staff__list li:nth-of-type(1) {
    -webkit-transition: -webkit-transform 0.48s 0.6s cubic-bezier(0.7, 0.68, 0.26, 1.61);
    transition: -webkit-transform 0.48s 0.6s cubic-bezier(0.7, 0.68, 0.26, 1.61);
    transition: transform 0.48s 0.6s cubic-bezier(0.7, 0.68, 0.26, 1.61);
    transition: transform 0.48s 0.6s cubic-bezier(0.7, 0.68, 0.26, 1.61), -webkit-transform 0.48s 0.6s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  }
  .staff__list li:nth-of-type(2) {
    -webkit-transition: -webkit-transform 0.48s 0.8s cubic-bezier(0.7, 0.68, 0.26, 1.61);
    transition: -webkit-transform 0.48s 0.8s cubic-bezier(0.7, 0.68, 0.26, 1.61);
    transition: transform 0.48s 0.8s cubic-bezier(0.7, 0.68, 0.26, 1.61);
    transition: transform 0.48s 0.8s cubic-bezier(0.7, 0.68, 0.26, 1.61), -webkit-transform 0.48s 0.8s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  }
  .staff__list li:nth-of-type(3) {
    -webkit-transition: -webkit-transform 0.48s 1s cubic-bezier(0.7, 0.68, 0.26, 1.61);
    transition: -webkit-transform 0.48s 1s cubic-bezier(0.7, 0.68, 0.26, 1.61);
    transition: transform 0.48s 1s cubic-bezier(0.7, 0.68, 0.26, 1.61);
    transition: transform 0.48s 1s cubic-bezier(0.7, 0.68, 0.26, 1.61), -webkit-transform 0.48s 1s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  }
  .staff__list li:nth-of-type(4) {
    -webkit-transition: -webkit-transform 0.48s 1.2s cubic-bezier(0.7, 0.68, 0.26, 1.61);
    transition: -webkit-transform 0.48s 1.2s cubic-bezier(0.7, 0.68, 0.26, 1.61);
    transition: transform 0.48s 1.2s cubic-bezier(0.7, 0.68, 0.26, 1.61);
    transition: transform 0.48s 1.2s cubic-bezier(0.7, 0.68, 0.26, 1.61), -webkit-transform 0.48s 1.2s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  }
  .staff__list li:nth-of-type(5) {
    -webkit-transition: -webkit-transform 0.48s 1.4s cubic-bezier(0.7, 0.68, 0.26, 1.61);
    transition: -webkit-transform 0.48s 1.4s cubic-bezier(0.7, 0.68, 0.26, 1.61);
    transition: transform 0.48s 1.4s cubic-bezier(0.7, 0.68, 0.26, 1.61);
    transition: transform 0.48s 1.4s cubic-bezier(0.7, 0.68, 0.26, 1.61), -webkit-transform 0.48s 1.4s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  }
  .lazyloaded li {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .overview {
    margin-top: 6rem;
  }
  .overview__title {
    width: 14rem;
    font-size: 1.6rem;
    padding: 1.4rem 1rem;
  }
  .overview__content {
    width: calc(100% - 15rem);
    padding: 1.6rem 1rem 1.4rem;
  }
  .overview__content br {
    display: none;
  }
  .office__group {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 4.8rem 0;
  }
  .office__map {
    display: block;
    width: calc(100% - 18rem);
    padding-left: 2rem;
  }
  .office__map iframe {
    display: block;
    width: 100%;
    height: 33.4rem;
  }
  .office__info {
    width: 18rem;
  }
  .office__info + .office__info {
    margin-left: auto;
  }
  .office__image {
    width: 18rem;
    height: 18rem;
    margin-top: 0;
  }
  .office__text dd {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 768px) {
  .oath__text {
    width: 52rem;
    height: 36rem;
  }
  .oath__content {
    width: 44rem;
    font-size: 1.8rem;
    line-height: 1.8;
    -webkit-transform: translate(0, -1rem);
            transform: translate(0, -1rem);
  }
  .oath__image {
    width: 16rem;
  }
  .purpose {
    padding-top: 4.8rem;
  }
  .purpose__text {
    font-size: 1.6rem;
    padding-top: 4.8rem;
  }
  .purpose__text div + div {
    margin-top: 1.6rem;
  }
  .greeting__circle {
    top: 38rem;
    width: 70rem;
    height: 70rem;
  }
  .greeting__person-profile {
    top: 20rem;
  }
  .greeting__text-title {
    font-size: 4.2rem;
    padding-bottom: 4rem;
  }
  .greeting__text-content-inner {
    width: 53rem;
    font-size: 1.6rem;
  }
  .greeting__text-content-inner div + div {
    margin-top: 3.2rem;
  }
  .staff__lead {
    font-size: 1.8rem;
    padding: 4.8rem 0;
  }
  .staff__lead br {
    display: none;
  }
  .staff__name-content {
    font-size: 2.8rem;
    padding: 1.4rem 6rem 2rem;
  }
  .staff__list {
    padding: 6rem 0 6.8rem;
  }
  .staff__list li {
    width: 14rem;
    height: 14rem;
  }
  .overview {
    margin-top: 8rem;
  }
  .overview__title {
    width: 18rem;
    font-size: 2rem;
    padding: 1.6rem 1.6rem;
  }
  .overview__content {
    width: calc(100% - 20rem);
    font-size: 1.6rem;
    margin-left: 2rem;
    padding: 2.1rem 1.6rem 1.8rem;
  }
  .overview__content div + div {
    margin-top: 1.6rem;
  }
  .office__group {
    padding: 4.8rem 0;
  }
  .office__map {
    width: calc(100% - 24rem);
    padding-left: 2rem;
  }
  .office__map iframe {
    height: 45.2rem;
  }
  .office__info {
    width: 24rem;
  }
  .office__image {
    width: 24rem;
    height: 24rem;
  }
  .office__text {
    padding-top: 2rem;
  }
  .office__text dt {
    font-size: 2rem;
    padding-bottom: 2rem;
  }
  .office__text dd {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1024px) {
  .about-us-section + .about-us-section {
    margin-top: 12.8rem;
  }
  .oath {
    padding-top: 4rem;
  }
  .oath__text {
    width: 68.2rem;
    height: 48rem;
  }
  .oath__content {
    width: 54rem;
    font-size: 2.2rem;
    line-height: 2;
    -webkit-transform: translate(1rem, -2.8rem);
            transform: translate(1rem, -2.8rem);
  }
  .purpose {
    padding-top: 6.8rem;
  }
  .purpose__text {
    font-size: 2rem;
    padding-top: 6.8rem;
  }
  .purpose__text div + div {
    margin-top: 4rem;
  }
  .greeting {
    width: 100rem;
    margin: 6.8rem auto 0;
  }
  .greeting__circle {
    top: 0;
    left: 32rem;
    width: 58rem;
    height: 58rem;
    -webkit-transform: translateX(0) scale(0);
            transform: translateX(0) scale(0);
  }
  .greeting__circle.lazyloaded {
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
  .greeting__person {
    width: 34rem;
    position: absolute;
    top: 0;
    margin: 0 0 0 0;
  }
  .greeting__person-image {
    width: 100%;
  }
  .greeting__person-profile {
    top: 24rem;
    left: 5rem;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .greeting__text {
    padding: 0 0 0;
  }
  .greeting__text-title {
    width: 64rem;
    font-size: 4.8rem;
    line-height: 1.5;
    padding: 2.4rem 0 0 0;
    margin-left: 28rem;
  }
  .greeting__text-content-inner {
    width: 64rem;
    padding: 2.8rem 1.8rem 0 0;
    margin-left: 30rem;
    margin-right: 0;
  }
  .greeting__more-button {
    width: 62.2rem;
    margin-left: 30rem;
  }
  .staff__lead {
    font-size: 2.4rem;
    padding: 8rem 0;
  }
  .staff__name-content {
    font-size: 2.8rem;
    padding: 4.1rem 9.8rem 4.5rem;
  }
  .staff__list {
    padding: 8.6rem 0 10.8rem;
  }
  .staff__list li {
    width: 18.6rem;
    height: 18.6rem;
  }
  .staff__list li + li {
    margin-left: 2.2rem;
  }
  .overview {
    max-width: 102rem;
    margin-top: 12.8rem;
  }
  .overview__title {
    width: 20rem;
    font-size: 2.2rem;
    padding: 2.2rem 2.2rem;
  }
  .overview__content {
    width: calc(100% - 24rem);
    font-size: 1.8rem;
    margin-left: 4rem;
    padding: 2.5rem 2.2rem 2.2rem;
  }
  .overview__content div + div {
    margin-top: 2.2rem;
  }
  .office {
    padding: 4rem 0 12rem;
  }
  .office__group {
    padding: 6.8rem 0;
  }
  .office__map {
    width: calc(100% - 28.8rem);
    padding-left: 8rem;
  }
  .office__map iframe {
    height: 52.6rem;
  }
  .office__info {
    width: 28.8rem;
  }
  .office__image {
    width: 28.8rem;
    height: 28.8rem;
  }
  .office__text {
    padding-top: 2.2rem;
  }
  .office__text dt {
    font-size: 2.2rem;
    padding-bottom: 2.2rem;
  }
  .office__text dd {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1280px) {
  .about-us-section + .about-us-section {
    margin-top: 8rem;
  }
  .oath__text {
    width: 80.2rem;
    height: 62rem;
  }
  .oath__content {
    width: 65rem;
    font-size: 2.4rem;
    line-height: 2;
    -webkit-transform: translate(1rem, -5.8rem);
            transform: translate(1rem, -5.8rem);
  }
  .greeting {
    width: 114rem;
  }
  .greeting__circle {
    top: 2rem;
    left: 38rem;
    width: 68.8rem;
    height: 68.8rem;
  }
  .greeting__person-profile {
    top: 42rem;
    left: 12.4rem;
  }
  .greeting__person-image {
    width: 50rem;
  }
  .greeting__text-title {
    width: 84rem;
    font-size: 5.8rem;
    padding: 5rem 0 0 7rem;
    line-height: 1.6;
    margin-right: 0;
  }
  .greeting__text-content-inner {
    width: 76rem;
    font-size: 2rem;
    padding-top: 5.6rem;
    margin-left: 36.4rem;
  }
  .greeting__text-content-inner div + div {
    margin-top: 2.8rem;
  }
  .greeting__more-button {
    width: 76rem;
    margin-left: 36.4rem;
  }
  .greeting__more-button .button {
    width: 32rem;
    min-width: 32rem;
  }
  .staff__list li {
    width: 19.6rem;
    height: 19.6rem;
  }
  .staff__list li + li {
    margin-left: 3.6rem;
  }
}
/*# sourceMappingURL=about-us.css.map */