@import './_modules/common/config';
@import './_modules/common/normalize';
html {
	position: relative;
	width: 100%;
	height: 100%;
	font-size: 62.5%;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: unset;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
	html {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}
body {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 100%;
	font-size: 1.4rem;
	background: #fff;
	font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
	font-weight: 500;
	color: #000;
	line-height: 1.6;
  counter-reset: number 0;
	overflow-x: hidden;
	-ms-overflow-style: none;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: inherit;
}
a,
a:link,
a:hover,
a:visited,
a:active {
	color: inherit;
	text-decoration: none;
}
@media (hover) {
	a:hover {
		opacity: .5;
	}
}

// Font
@font-face {
	font-display: swap;
  font-family: 'Mkinas 4 Square';
  src: url('../font/Makinas-4-Square.woff2') format('woff2'), url('../font/Makinas-4-Square.woff') format('woff'), url('../font/Makinas-4-Square.otf') format('otf');
}
@font-face {
	font-display: swap;
  font-family: 'Kosugi Maru';
  src: url('../font/KosugiMaru-Regular.woff2') format('woff2'),  url('../font/KosugiMaru-Regular.woff') format('woff'), url('../font/KosugiMaru-Regular.otf') format('otf');
}

// FlexBox
[class *= "flex-"] {
	display: flex;
	&[class *= "-top"] {
		align-items: flex-start;
	}
	&[class *= "-middle"] {
		align-items: center;
	}
	&[class *= "-baseline"] {
		align-items: baseline;
	}
	&[class *= "-bottom"] {
		align-items: flex-end;
	}
	&[class *= "-left"] {
		justify-content: flex-start;
	}
	&[class *= "-center"] {
		justify-content: center;
	}
	&[class *= "-right"] {
		justify-content: flex-end;
	}
	&[class *= "-between"] {
		justify-content: space-between;
	}
	&[class *= "-around"] {
		justify-content: space-around;
	}
	&[class *= "-evenly"] {
		justify-content: space-evenly;
	}
	&[class *= "-wrap"] {
		flex-wrap: wrap;
	}
}
.release {
	&-element {
	margin-right: calc(50% - 50vw);
	margin-left: calc(50% - 50vw);
	}
	&-background {
		margin-right: calc(50% - 50vw);
		margin-left: calc(50% - 50vw);
		padding-right: calc(50vw - 50%);
		padding-left: calc(50vw - 50%);
	}
}
.wrapper {
	@include myWrapper(128rem);
	padding: 0 1.4rem 5.6rem;
}
.container {
	padding-top: 6.3rem;
}

// Button
@import './_modules/common/button';

// Header
@import './_modules/common/header';

// Nav
@import './_modules/common/nav';

// Page Header
@import './_modules/common/page-header';

// Post Header
@import './_modules/common/post-header';

// Section Header
@import './_modules/common/section-header';

// Breadcrumb
@import './_modules/common/breadcrumb';

// Tag
@import './_modules/common/tag';

// Card
@import './_modules/common/card';

// Pagination
@import './_modules/common/pagination';

// Tab
@import './_modules/common/tab';

// Accordion
@import './_modules/common/accordion';

// Slider
@import './_modules/common/slider';

// Parts Contact
@import './_modules/common/parts-contact';

// Aside
@import './_modules/common/aside';

// Carousel
@import './_modules/common/carousel';


// Footer
@import './_modules/common/footer';
@import './_modules/common/inquiry';


//Mobile ( Large )
@media screen and (min-width: $mobile-large) {
	.wrapper {
		padding-bottom: 7.4rem;
	}
}

// Tablet ( Large )
@media screen and (min-width: $tablet-large) {
	.wrapper {
		padding-bottom: 0;
	}
	.container {
		padding-top: 7.4rem;
	}
}

// PC ( Small )
@media screen and (min-width: $pc-small) {
	.wrapper {
		padding-right: 0;
		padding-left: 0;
	}
	.container {
		padding-top: 10.2rem;
	}
}