@import './_modules/common/config';
.article {
	max-width: 57.2rem;
	margin-right: auto;
	margin-left: auto;
}
.editor {
	padding: 2.8rem 0 ;
	> * + *:not(.parts-contact) {
		margin-top: 2.4rem;
	}
	h3 {
		font-size: 2rem;
		font-weight: bold;
		padding-bottom: .6rem;
		line-height: 1.4;
		border-bottom: .3rem solid $red;
	}
	h4 {
		font-size: 1.8rem;
		font-weight: bold;
		border-left: .5rem solid $red;
		padding: .4rem 1rem;
		background: $gray-light;
	}
	h5 {
		position: relative;
		font-size: 1.6rem;
		font-weight: bold;
		padding-bottom: .4rem;
		border-bottom: .3rem solid $navy;
		&::before {
			display: block;
			content: "";
			position: absolute;
			bottom: -.3rem;
			left: 0;
			width: 8rem;
			height: .3rem;
			background: $red;
		}
	}
	h6 {
		font-size: 1.4rem;
		font-weight: bold;
		padding-bottom: .4rem;
		border-bottom: .2rem dotted $navy;
	}
	img {
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
	}
	.parts-contact {
		opacity: 1;
		transform: translateY(0);
		img {
			box-shadow: none;
		}
	}
	blockquote {
		position: relative;
		padding: 3rem 2.8rem;
		background: $gray-light;
		border-radius: .3rem;
		&::before,
		&::after {
			display: block;
			position: absolute;
			width: 1.8rem;
			line-height: 1;
		}
		&::before {
			content: url(../img/common/quote-start.svg);
			top: 1rem;
			left: 1rem;
		}
		&::after {
			content: url(../img/common/quote-end.svg);
			bottom: 1rem;
			right: 1rem;
		}
	}
	ol,
	ul {
		li {
			display: flex;
			&::before {
				display: block;
				width: 2.4rem;
				white-space: nowrap;
				color: $red;
			}
			> span {
				display: block;
				width: calc(100% - 2.4rem);
				padding-top: .1rem;
			}
			& + li {
				margin-top: .7rem;
			}
		}
	}
	ol {
		li {
			&::before {
				content: counter(number)" . ";
				counter-increment: number 1;
				font-family: 'Mkinas 4 Square';
			}
		}
	}
	ul {
		li {
			&::before {
				content: "・";
				font-size: 2.4rem;
				line-height: 1;
				margin-left: -.3rem;
			}
		}
	}
	a {
		color: $blue-link;
		text-decoration: underline;
	}
	.parts-contact a {
		color: #000;
		text-decoration: none;
	}
	.wp-block-image {
		figcaption {
			font-size: .8em;
			color: #999;
			margin-top: .4em;
		}
	}
}
// Mobile ( Large )
@media screen and(min-width: $mobile-large) {
	.editor {
		padding: 4rem 0 ;
		h3 {
			font-size: 2.4rem;
		}
		h4 {
			font-size: 2rem;
		}
		h5 {
			font-size: 1.8rem;
			font-weight: bold;
		}
		h6 {
			font-size: 1.6rem;
		}
	}
}
// Tablet ( Medium )
@media screen and(min-width: $tablet-medium) {
	.article {
		max-width: 74rem;
	}
	.editor {
		font-size: 1.6rem;
		padding: 6rem 0;
		> * + *:not(.parts-contact) {
			margin-top: 6rem;
		}
		h3, h4, h5, h6 {
			& + * {
				margin-top: 4rem;
			}
		}
		h3 {
			font-size: 2.8rem;
		}
		h4 {
			font-size: 2.4rem;
		}
		h5 {
			font-size: 2rem;
		}
		h6 {
			font-size: 1.8rem;
		}
		ol,
		ul {
			li {
				&::before {
					width: 3rem;
				}
				> span {
					width: calc(100% - 3rem);
				}
				& + li {
					margin-top: 1rem;
				}
			}
		}
	}
}
// Tablet ( Large )
@media screen and(min-width: $tablet-large) {
	.article {
		max-width: 90rem;
	}
	.editor {
		font-size: 1.8rem;
		padding: 10rem 0 ;
		> * + *:not(.parts-contact) {
			margin-top: 8rem;
		}
		h3 {
			font-size: 3.2rem;
		}
		h4 {
			font-size: 2.8rem;
		}
		h5 {
			font-size: 2.4rem;
		}
		h6 {
			font-size: 2rem;
		}
		ul {
			li {
				&::before {
					font-size: 3rem;
				}
				> span {
					padding-top: 0;
				}
			}
		}
		blockquote {
			padding: 4rem 4.8rem;
			&::before,
			&::after {
				width: 2.2rem;
			}
			&::before {
				top: 1.4rem;
				left: 1.4rem;
			}
			&::after {
				bottom: 1.4rem;
				right: 1.4rem;
			}
		}
		.has-text-align-center {
			text-align: center;
		}
		.has-text-align-right {
			text-align: right;
		}
		.has-text-align-left {
			text-align: left;
		}
		.wp-block-image {
			overflow: hidden;
			&::after {
				clear: both;
			}
			.aligncenter,
			.alignleft,
			.alignright {
				display: table;
			}
			.alignleft {
				float: left;
				margin-right: 1em;
			}
			.aligncenter {
				margin-right: auto;
				margin-left: auto;
				figcaption {
					text-align: center;
				}
			}
			.alignright {
				float: right;
				margin-left: 1em;
				figcaption {
					text-align: right;
				}
			}
		}
	}
}
// PC ( Small )
@media screen and(min-width: $pc-small) {
	.article {
		max-width: 98rem;
	}
	.editor {
		font-size: 2rem;
		padding: 14.8rem 0 ;
		> * + *:not(.parts-contact) {
			margin-top: 10rem;
		}
		h3 {
			font-size: 3.6rem;
		}
		h4 {
			font-size: 3.2rem;
		}
		h5 {
			font-size: 2.8rem;
		}
		h6 {
			font-size: 2.4rem;
		}
		ol,
		ul {
			li {
				&::before {
					width: 3.8rem;
				}
				> span {
					width: calc(100% - 3.8rem);
				}
			}
		}
		ul {
			li {
				&::before {
					font-size: 3.4rem;
				}
			}
		}
	}
}