@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes cluody {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, -6px);
            transform: translate(0, -6px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes cluody {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, -6px);
            transform: translate(0, -6px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes blank {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blank {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes pulse {
  100% {
    opacity: 0;
    -webkit-transform: scale(2);
            transform: scale(2);
    background: none;
  }
}

@keyframes pulse {
  100% {
    opacity: 0;
    -webkit-transform: scale(2);
            transform: scale(2);
    background: none;
  }
}

@-webkit-keyframes fukidashi-left-turn {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
            transform: rotate(0) scale(0.6);
  }
  50% {
    opacity: 1;
    -webkit-transform: rotate(10deg) scale(1);
            transform: rotate(10deg) scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
            transform: rotate(0) scale(0.6);
  }
}

@keyframes fukidashi-left-turn {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
            transform: rotate(0) scale(0.6);
  }
  50% {
    opacity: 1;
    -webkit-transform: rotate(10deg) scale(1);
            transform: rotate(10deg) scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
            transform: rotate(0) scale(0.6);
  }
}

@-webkit-keyframes people-left-move {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes people-left-move {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes fukidashi-right-turn {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
            transform: rotate(0) scale(0.6);
  }
  50% {
    opacity: 1;
    -webkit-transform: rotate(-10deg) scale(1);
            transform: rotate(-10deg) scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
            transform: rotate(0) scale(0.6);
  }
}

@keyframes fukidashi-right-turn {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
            transform: rotate(0) scale(0.6);
  }
  50% {
    opacity: 1;
    -webkit-transform: rotate(-10deg) scale(1);
            transform: rotate(-10deg) scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
            transform: rotate(0) scale(0.6);
  }
}

@-webkit-keyframes people-right-move {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes people-right-move {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.faq {
  padding-bottom: 8rem;
}

.faq__image {
  text-align: center;
  padding-bottom: 2.8rem;
}

.faq__image img {
  width: 14rem;
}

.faq__section {
  position: relative;
  padding-top: 2.8rem;
  background: #fff;
  -webkit-transition: all .4s 0s;
  transition: all .4s 0s;
}

.faq__section.-active {
  background: #f0eeec;
  margin-top: 2.8rem;
}

.faq__section.-active .faq__section-title .icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.faq__section.-active .faq__section-inner {
  display: block;
}

.faq__section-inner {
  display: none;
}

.faq__section-title {
  position: relative;
  font-size: 1.6rem;
  font-weight: bold;
  z-index: 2;
  border-bottom: 0.2rem solid #E60000;
  padding: 0 .5rem .8rem;
}

.faq__section-title .icon {
  display: block;
  width: 2rem;
  margin-top: .1rem;
  -webkit-transition: -webkit-transform .6s;
  transition: -webkit-transform .6s;
  transition: transform .6s;
  transition: transform .6s, -webkit-transform .6s;
}

.faq__section-title-text {
  width: calc(100% - 2rem);
  padding-right: .4rem;
  line-height: 1.4;
}

.faq__section-inner {
  position: relative;
  z-index: 2;
}

.faq__section-content {
  max-width: 116.8rem;
  margin-right: auto;
  margin-left: auto;
  padding: 1.4rem 0 2.8rem;
}

.faq .faq__accordion-box {
  -webkit-transition: all 1s .4s;
  transition: all 1s .4s;
}

.faq .faq__accordion-box::after {
  -webkit-transition: all 1s .4s;
  transition: all 1s .4s;
}

.faq .faq__question dt,
.faq .faq__answer dt {
  -webkit-transition: all 1s .4s;
  transition: all 1s .4s;
}

.faq .faq__answer dd {
  opacity: 1;
}

.faq .faq__answer a {
  color: #26b7ff;
  text-decoration: underline;
}

@media screen and (min-width: 414px) {
  .faq {
    padding-bottom: 12rem;
  }
  .faq__image img {
    width: 18rem;
  }
  .faq__section-title {
    font-size: 2rem;
    padding: 0 1rem 1rem;
  }
  .faq__section-title .icon {
    width: 2.4rem;
  }
  .faq__section-title-text {
    width: calc(100% - 2.4rem);
  }
  .faq__section-content {
    padding-top: 2rem;
  }
  .faq .faq__accordion-box {
    padding: 1.6rem;
  }
  .faq .faq__question {
    margin-bottom: 1.2rem;
  }
  .faq .faq__question dd {
    font-size: 1.8rem;
    padding-top: .3rem;
    padding-left: 1.2rem;
  }
  .faq .faq__answer dd {
    font-size: 1.6rem;
    padding-left: 1.2rem;
  }
}

@media screen and (min-width: 768px) {
  .faq {
    padding-bottom: 14rem;
  }
  .faq__image {
    padding-bottom: 4rem;
  }
  .faq__image img {
    width: 20rem;
  }
  .faq__section {
    padding-top: 4.8rem;
  }
  .faq__section.-active {
    margin-top: 4.8rem;
  }
  .faq__section-title {
    font-size: 2.2rem;
  }
  .faq__section-title .icon {
    margin-top: .2rem;
  }
  .faq__section-content {
    padding: 4rem 0 6rem;
  }
  .faq .faq__accordion-box {
    padding: 1.8rem;
  }
  .faq .faq__accordion-box + .faq__accordion-box {
    margin-top: 3rem;
  }
  .faq .faq__question {
    padding-left: 0;
  }
  .faq .faq__question dd {
    font-size: 2rem;
    padding-top: .5rem;
  }
  .faq .faq__answer {
    padding-left: 0;
  }
  .faq .faq__answer dd {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1024px) {
  .faq {
    padding-bottom: 18rem;
  }
  .faq__image {
    padding-bottom: 6rem;
  }
  .faq__image img {
    width: 22rem;
  }
  .faq__section {
    padding-top: 6rem;
  }
  .faq__section.-active {
    margin-top: 6rem;
  }
  .faq__section-title {
    font-size: 2.6rem;
    text-align: center;
    padding: 0 1.3rem 1.3rem;
  }
  .faq__section-title .icon {
    width: 2.8rem;
    margin-top: .1rem;
  }
  .faq__section-content {
    padding-bottom: 10rem;
  }
  .faq .faq__accordion-box {
    padding: 2.4rem;
  }
  .faq .faq__accordion-box + .faq__accordion-box {
    margin-top: 4rem;
  }
  .faq .faq__question {
    margin-bottom: 2.2rem;
  }
  .faq .faq__question dd {
    font-size: 2.2rem;
  }
  .faq .faq__answer dd {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1280px) {
  .faq__section {
    padding-top: 8rem;
  }
  .faq__section.-active {
    margin-top: 8rem;
  }
  .faq__section-title {
    font-size: 2.8rem;
    padding: 0 4rem 2.4rem;
  }
  .faq__section-title .icon {
    width: 3rem;
    margin-top: .3rem;
  }
  .faq__section-content {
    padding-bottom: 12rem;
  }
  .faq .faq__accordion-box {
    padding: 2.8rem;
  }
  .faq .faq__accordion-box + .faq__accordion-box {
    margin-top: 4rem;
  }
  .faq .faq__question {
    margin-bottom: 2.2rem;
  }
  .faq .faq__question dd {
    font-size: 2.6rem;
    padding-top: .1rem;
  }
  .faq .faq__answer dd {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=faq.css.map */