@import './_modules/common/config';
.faq {
	padding-bottom: 8rem;
}
.faq__image {
	text-align: center;
	padding-bottom: 2.8rem;
	img {
		width: 14rem;
	}
}
.faq__section {
	position: relative;
	padding-top: 2.8rem;
	background: #fff;
	transition: all .4s 0s;
	&.-active {
		background: #f0eeec;
		margin-top: 2.8rem;
		.faq__section-title {
			.icon {
				transform: rotate(180deg);
			}
		}
		.faq__section-inner {
			display: block;
		}
	}
}
.faq__section-inner {
	display: none;
}
.faq__section-title {
	position: relative;
	font-size: 1.6rem;
	font-weight: bold;
	z-index: 2;
	border-bottom: .2rem solid $red;
	padding: 0 .5rem .8rem;
	.icon {
		display: block;
		width: 2rem;
		margin-top: .1rem;
		transition: transform .6s;
	}
}
.faq__section-title-text {
	width: calc(100% - 2rem);
	padding-right: .4rem;
	line-height: 1.4;
}
.faq__section-inner {
	position: relative;
	z-index: 2;
}
.faq__section-content {
	max-width: 116.8rem;
	margin-right: auto;
	margin-left: auto;
	padding: 1.4rem 0 2.8rem;
}
.faq {
	.faq__accordion-box {
		transition: all 1s .4s;
		&::after {
			transition: all 1s .4s;
		}
	}
	.faq__question,
	.faq__answer {
		dt {
			transition: all 1s .4s;
		}
	}
	.faq__answer {
		dd {
			opacity: 1;
		}
		a {
			color: $blue-link;
			text-decoration: underline;
		}
	}
}
// Mobile ( Large )
@media screen and (min-width: $mobile-large) {
	.faq {
		padding-bottom: 12rem;
	}
	.faq__image {
		img {
			width: 18rem;
		}
	}
	.faq__section-title {
		font-size: 2rem;
		padding: 0 1rem 1rem;
		.icon {
			width: 2.4rem;
		}
	}
	.faq__section-title-text {
		width: calc(100% - 2.4rem);
	}
	.faq__section-content {
		padding-top: 2rem;
	}
	.faq {
		.faq__accordion-box {
			padding: 1.6rem;
		}
		.faq__question {
			margin-bottom: 1.2rem;
			dd {
				font-size: 1.8rem;
				padding-top: .3rem;
				padding-left: 1.2rem;
			}
		}
		.faq__answer {
			dd {
				font-size: 1.6rem;
				padding-left: 1.2rem;
			}
		}
	}
}
// Tablet ( Medium )
@media screen and (min-width: $tablet-medium) {
	.faq {
		padding-bottom: 14rem;
	}
	.faq__image {
		padding-bottom: 4rem;
		img {
			width: 20rem;
		}
	}
	.faq__section {
		padding-top: 4.8rem;
		&.-active {
			margin-top: 4.8rem;
		}
	}
	.faq__section-title {
		font-size: 2.2rem;
		.icon {
			margin-top: .2rem;
		}
	}
	.faq__section-content {
		padding: 4rem 0 6rem;
	}
	.faq {
		.faq__accordion-box {
			padding: 1.8rem;
			& + .faq__accordion-box {
				margin-top: 3rem;
			}
		}
		.faq__question {
			padding-left: 0;
			dd {
				font-size: 2rem;
				padding-top: .5rem;
			}
		}
		.faq__answer {
			padding-left: 0;
			dd {
				font-size: 1.8rem;
			}
		}
	}
}
// Tablet ( Large )
@media screen and (min-width: $tablet-large) {
	.faq {
		padding-bottom: 18rem;
	}
	.faq__image {
		padding-bottom: 6rem;
		img {
			width: 22rem;
		}
	}
	.faq__section {
		padding-top: 6rem;
		&.-active {
			margin-top: 6rem;
		}
	}
	.faq__section-title {
		font-size: 2.6rem;
		text-align: center;
		padding: 0 1.3rem 1.3rem;
		.icon {
			width: 2.8rem;
			margin-top: .1rem;
		}
	}
	.faq__section-content {
		padding-bottom: 10rem;
	}
	.faq {
		.faq__accordion-box {
			padding: 2.4rem;
			& + .faq__accordion-box {
				margin-top: 4rem;
			}
		}
		.faq__question {
			margin-bottom: 2.2rem;
			dd {
				font-size: 2.2rem;
			}
		}
		.faq__answer {
			dd {
				font-size: 1.8rem;
			}
		}
	}
}
// PC ( Small )
@media screen and (min-width: $pc-small) {
	.faq__section {
		padding-top: 8rem;
		&.-active {
			margin-top: 8rem;
		}
	}
	.faq__section-title {
		font-size: 2.8rem;
		padding: 0 4rem 2.4rem;
		.icon {
			width: 3rem;
			margin-top: .3rem;
		}
	}
	.faq__section-content {
		padding-bottom: 12rem;
	}
	.faq {
		.faq__accordion-box {
			padding: 2.8rem;
			& + .faq__accordion-box {
				margin-top: 4rem;
			}
		}
		.faq__question {
			margin-bottom: 2.2rem;
			dd {
				font-size: 2.6rem;
				padding-top: .1rem;
			}
		}
		.faq__answer {
			dd {
				font-size: 2rem;
			}
		}
	}
}
