@import './_modules/common/config';
@import './_modules/contact/_jquery.datetimepicker';
.contact_tab {
	font-size: 1.8rem;
	text-align: center;
	font-weight: bold;
	li + li {
		margin-top: 1.8rem;
	}
	a {
		display: inline-block;
		border-bottom: .2rem solid #000;
		padding: 0 1rem .8rem;
		line-height: 1;
		&.-active {
			border-bottom-color: $red;
		}
	}
}
.contact__content {
	&.-download {
		display: none;
	}
}
.contact__message-image {
	display: none;
}
.contact__message-content {
	margin-top: 2.8rem;
	background: $gray-ultra-light;
	padding: .7rem;
	p {
		display: inline;
	}
}
.contact__lead {
	padding-top: 1.4rem;
}
.contact__how {
	padding-top: 1.4rem;
	li {
		& + li {
			margin-top: .7rem;
		}
	}
}
.-inquiry,
.-download {
	.form {
		padding-top: 2.8rem;
	}
}
.form__country {
	display: none;
}
.form__title {
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
}
.form__step {
	display: none;
}
.form__content-secondary {
	padding: 1.2rem;
	background: $gray-ultra-light;
	border-radius: .6rem;
}
.form__content-thirdry {
	padding-top: 2.8rem;
	padding-bottom: 14rem;
}
.form__content-primary {
	.form__group:first-of-type {
		margin-top: 1.4rem;
	}
	& + .form__content-thirdry {
		padding-top: 0;
	}
}
.form__group {
	margin-bottom: 2.8rem;
	&.-button {
		margin-bottom: 2rem;
	}
	.require {
		display: inline-block;
		width: 3.2rem;
		font-size: 1.2rem;
		background: $red;
		color: #fff;
		font-weight: bold;
		line-height: 1;
		text-align: center;
		padding: .4rem .4rem;
		margin-right: 1.4rem;
		transform: translateY(-.1rem);
		&.-success {
			background: #00b900;
		}
	}
	dt {
		display: flex;
		font-size: 1.5rem;
		align-items: center;
		margin-bottom: .6rem;
	}
	dd {
		position: relative;
		font-size: 1.6rem;
		& + dt {
			padding-top: 1rem;
		}
		& + dd {
			margin-top: 1rem;
		}
	}
	.icon {
		display: block;
		position: absolute;
		top: .7rem;
		left: 17rem;
		width: 2rem;
		cursor: pointer;
	}
	.label {
		display: inline-block;
		position: relative;
		& + .label {
			margin-left: 2rem;
		}
	}
	.label__text {
		display: inline-block;
		padding-top: .2rem;
		padding-left: 3.2rem;
		cursor: pointer;
	}
	input:disabled + .imitate + .label__text {
		cursor: default
	}
	input[type="text"],
	input[type="email"],
	textarea,
	select {
		display: block;
		font-size: 1.6rem;
		width: 100%;
		min-height: 4.4rem;
		background: #fff;
		padding: .8rem;
		appearance: none;
		border: .1rem solid #ccc;
		border-radius: .4rem;
		color: #666;
		transition: all .4s;
		&:focus {
			background: #f5fff5;
			color: #000;
			border-color: #96cc96;
		}
	}
	input {
		&.-small {
			width: 20rem;
		}
		&.-zip {
			width: 16.8rem;
			padding-left: 2.8rem;
		}
	}
	select {
		appearance: none;
		height: 4rem;
	}
	textarea {
		min-height: 11.2em;
	}
	.zip-mark {
		display: block;
		position: absolute;
		top: .9rem;
		left: .8rem;
		width: 1.6rem;
		font-size: 1.6rem;
	}
	.imitate {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		width: 2.4rem;
		height: 2.4rem;
		border: .1rem solid #555;
		background: #fff;
		padding: .4rem;
		cursor: pointer;
		&::before {
			display: block;
			content: "";
			width: 100%;
			height: 100%;
		}
	}
	input[type="radio"],
	input[type="checkbox"] {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		opacity: 0;
	}
	input[type="radio"] {
		& + .imitate {
			border-radius: 100%;
			padding: .4rem;
			&::before {
				border-radius: 100%;
			}
		}
		&:checked + .imitate {
			&::before {
				background: $red;
			}
		}
	}
	input[type="checkbox"] {
		&:checked + .imitate {
			background: $red;
			&::before {
				content: url(../img/common/icon-check.svg);
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) scale(.75);
				margin-top: .1rem;
			}
		}
	}
	&.-inactive {
		dt,
		.label {
			opacity: .45;
		}
		& + .form__notice {
			opacity: .45;
		}
	}
	input:disabled {
		opacity: .45;
	}
}
.form__notice {
	font-size: 1.2rem;
	text-indent: -1em;
	padding-left: 1em;
	margin-top: -1rem;
}
.form__content-thirdry .form__group {
	.imitate {
		width: 2rem;
		height: 2rem;
	}
	input[type="checkbox"] {
		&:checked + .imitate {
			&::before {
				margin-top: -.2rem;
			}
		}
	}
	.label__text {
		font-size: 1.4rem;
		padding-top: 0;
		padding-left: 2.6rem;
		transform: translateY(-.2rem);
	}
	a {
		text-decoration: underline;
	}
}
.form__recaptcha {
	display: flex;
	justify-content: center;
	padding-bottom: 4rem;
}
#g-recaptcha-response,
#g-recaptcha-response-1 {
	display: block!important;
	position: absolute;
	margin: -78px 0 0 0!important;
	width: 302px!important;
	height: 76px!important;
	z-index: -999999;
	opacity: 0;
}
.form__button {
	.button {
		transition: all .4s;
		&:disabled {
			opacity: .5;
		}
	}
}
.form__result {
	display: none;
	text-align: center;
	margin-top: -10rem;
	margin-bottom: 4rem;
}
.form__result-title {
	font-size: 1.8rem;
	font-weight: bold;
}
.form__result-content {
	margin-top: 1.4rem;
	background: $gray-ultra-light;
	padding: .7rem;
	a {
		text-decoration: underline;
	}
}
.form__document {
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
	opacity: .3;
}
.form__document-content {
	display: flex;
	flex-direction: column;
	width: 49%;
	margin-bottom: 4rem;
	cursor: default;
	&:nth-of-type(2n) {
		margin-left: 2%;
	}
}
.form__document-image {
	position: relative;
	transition: all .6s;
	padding-top: 142%;
	background: #ddd;
	overflow: hidden;
	img {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		transform: translateY(-50%);
	}
}
.form__document-name {
	font-weight: bold;
	margin: .7rem 0 1rem;
}
.form__document-size {
	margin-top: auto;
	margin-bottom: 1rem;
	span {
		display: inline-block;
		font-size: 1.2rem;
		background: $gray-ultra-light;
		padding: .2rem .4rem;
		transition: all .6s;
	}
}
.form__document-button {
	width: 100%;
	text-align: center;
	border: .1rem solid $navy;
	line-height: 1;
	padding: 1rem 0;
	font-weight: bold;
	color: $navy;
	opacity: 0;
	transition: all .6s;
}
.form__document.-allow-download {
	opacity: 1;
	.form__document-content {
		cursor: pointer;
	}
	.form__document-button {
		opacity: 1;
	}
}
.error {
	display: none;
	font-size: 1.1rem;
	font-weight: bold;
	color: $red;
	padding-top: .7rem;
	line-height: 1;
}
.form__remind {
	text-align: center;
	font-weight: bold;
	margin: 1.4rem 0 2.4rem;
}
.-confirm {
	.form__content-primary {
		max-width: 102rem;
		margin-right: auto;
		margin-left: auto;
		padding-top: 0;
	}
	.form__button {
		padding-top: 4rem;
		.button + .button {
			margin-top: 2rem;
		}
	}
}
.confirm__group {
	dt,
	dd {
		width: 100%;
		padding: .7rem;
	}
	dt {
		background: $gray-ultra-light;
		font-weight: bold;
		br {
			display: none;
		}
	}
	dd {
		font-size: 1.6rem;
		word-break: break-all;
		span {
			display: block;
		}
	}
}
.button.-back {
	color: #8e969c;
	.button__line {
		background: #8e969c;
	}
}
// Mobile ( Large )
@media screen and (min-width: $mobile-large) {
	.form__content-secondary {
		padding: 1.6rem;
	}
	.contact__lead {
		padding-top: 1.6rem;
		text-align: center;
	}
	.contact__how {
		padding-top: 1.6rem;
		li {
			& + li {
				margin-top: .8rem;
			}
		}
	}
	.-inquiry,
	.-download {
		.form {
			padding-top: 4rem;
		}
	}
	.form__title {
		font-size: 2.4rem;
	}
	.form__document-name {
		font-size: 1.6rem;
		font-weight: bold;
		margin-top: 1rem;
	}
	.form__document-size {
		span {
			padding: .2rem .8rem;
		}
	}
	.form__document-button {
		font-size: 1.6rem;
		padding: 1.4rem 0;
	}
	.form__remind {
		font-size: 1.6rem;
		margin: 1.4rem 0 2.8rem;
	}
	.confirm__group {
		dt,
		dd {
			width: 100%;
			padding: 1rem;
		}
	}
	.form__thanks {
		font-size: 1.6rem;
	}
}
// Tablet ( Small )
@media screen and (min-width: $tablet-small) {
	.contact_tab {
		display: flex;
		font-size: 2.2rem;
		justify-content: center;
		li + li {
			margin-top: 0;
			margin-left: 4rem;
		}
		a {
			border-bottom-width: .3rem;
			padding: 0 1.4rem .8rem;
		}
	}
	.contact__message {
		text-align: center;
	}
	.contact__message-content {
		display: inline-block;
		padding: 1.4rem 2.8rem;
		p {
			display: block;
		}
	}
	.contact__lead {
		font-size: 1.6rem;
		padding-top: 3rem;
	}
	.contact__how,
	.form {
		width: 96%;
		max-width: 118rem;
		margin-right: auto;
		margin-left: auto;
	}
	.contact__how {
		display: flex;
		justify-content: center;
		padding-top: 3rem;
		li {
			width: calc((100% - 2rem) / 2);
			& + li {
				margin-top: 0;
				margin-left: 2rem;
			}
		}
	}
	.-inquiry,
	.-download {
		.form {
			padding-top: 6rem;
		}
	}
	.form__step {
		display: flex;
		font-size: 1.6rem;
		line-height: 1;
		justify-content: center;
		padding-bottom: 2.8rem;
		dl {
			display: flex;
			align-items: center;
			padding-top: 2.8rem;
			& + dl {
				&::before {
					display: inline-block;
					content: "";
					width: .8rem;
					height: .8rem;
					border-width: .2rem;
					border-style: solid;
					border-color: #676767 #676767 transparent transparent;
					transform: translateY(-.4rem) rotate(45deg);
					margin: 0 2rem 0 1rem;
				}
			}
			&.-current {
				dd {
					border-bottom-color: $red;
				}
			}
		}
		dt,
		dd {
			border-bottom: .1rem solid transparent;
			padding-bottom: .6rem;
		}
		dt {
			margin-right: .5em;
		}
	}
	.form__content-primary,
	.form__content-thirdry {
		padding-right: 1.6rem;
		padding-left: 1.6rem;
	}
	.form__content-primary {
		padding-top: 2.8rem;
	}
	.form__content-thirdry {
		padding-top: 4rem;
		padding-bottom: 18rem;
		.form__group {
			margin-bottom: 4rem;
		}
	}
	.form__group {
		margin-bottom: 3rem;
		&.-button {
			margin-bottom: 2.8rem;
		}
		.require {
			width: 4.8rem;
			padding: .4rem .8rem;
			transform: translateY(-.15rem);
		}
		dt {
			font-size: 1.6rem;
			margin-bottom: .6rem;
		}
		dd {
			& + dt {
				padding-top: 1.4rem;
			}
			& + dd {
				margin-top: 1.4rem;
			}
		}
		.label__text {
			padding-top: .1rem;
		}
	}
	.form__result-title {
		font-size: 2.4rem;
	}
	.form__result-content {
		display: inline-block;
		padding: 1.4rem 2.8rem;
		margin-top: 2rem;
	}
	.form__document-content {
		width: 24.25%;
		margin-right: 1%;
		margin-bottom: 6rem;
		&:nth-of-type(2n) {
			margin-left: 0;
		}
		&:nth-of-type(4n) {
			margin-right: 0;
		}
	}
	.form__remind {
		font-size: 2rem;
		margin: 0 0 3.2rem;
	}
	.confirm__group {
		dt,
		dd {
			padding: 1.4rem;
		}
	}
}
// Tablet ( Small Exception )
@media screen and (min-width: 644px) {
	.form__thanks {
		text-align: center;
		padding-top: .8rem;
	}
}
// Tablet ( Small Exception )
@media screen and (min-width: 672px) {
	.-confirm {
		.form__button {
			.button {
				width: 24rem;
				order: 2;
				& + .button {
					margin-top: 0;
				}
				&.-back {
					order: 1;
					margin-right: 4rem;
				}
			}
		}
	}
}
// Tablet ( Medium )
@media screen and (min-width: $tablet-medium) {
	.contact_tab {
		font-size: 2.4rem;
	}
	.contact__message-content {
		font-size: 2rem;
		margin-top: 4rem;
	}
	.contact__lead {
		font-size: 1.8rem;
		padding-top: 4rem;
	}
	.contact__how {
		padding-top: 4rem;
	}
	.form__title {
		font-size: 3rem;
	}
	.form__step {
		font-size: 1.8rem;
		dl {
			padding-top: 4rem;
			& + dl {
				&::before {
					width: 1rem;
					height: 1rem;
					border-width: .2rem;
					transform: translateY(-.3rem) rotate(45deg);
					margin: 0 3rem 0 2rem;
				}
			}
		}
	}
	.form__content-primary,
	.form__content-thirdry {
		padding-right: 2.4rem;
		padding-left: 2.4rem;
	}
	.form__content-primary {
		padding-top: 4rem;
	}
	.form__content-secondary {
		padding: 2.4rem;
	}
	.form__group {
		&.-button {
			margin-bottom: 3rem;
		}
		dt {
			font-size: 1.8rem;
			margin-bottom: .7rem;
		}
		dd {
			font-size: 1.8rem;
			& + dt {
				padding-top: 1.6rem;
			}
			& + dd {
				margin-top: 1.6rem;
			}
		}
		.icon {
			width: 2.2rem;
			top: .93rem;
			left: 18.4rem;
		}
		.label {
			& + .label {
				margin-left: 6rem;
			}
		}
		.label__text {
			padding-top: 0;
			padding-left: 3.8rem;
		}
		input[type="text"],
		input[type="email"],
		textarea,
		select {
			font-size: 2rem;
			padding: 1rem;
		}
		input {
			&.-small {
				width: 21.6rem;
			}
			&.-zip {
				width: 21rem;
				padding-left: 3.4rem;
			}
		}
		.zip-mark {
			left: 1rem;
			width: 2rem;
			font-size: 2rem;
		}
		.imitate {
			width: 2.8rem;
			height: 2.8rem;
		}
		input[type="checkbox"] {
			&:checked + .imitate {
				&::before {
					margin-top: .2rem;
				}
			}
		}
	}
	.form__content-thirdry {
		.form__group {
			.label__text {
				font-size: 1.8rem;
				padding-left: 3.4rem;
			}
			.imitate {
				width: 2.4rem;
				height: 2.4rem;
			}
			input[type="checkbox"] {
				&:checked + .imitate {
					&::before {
						margin-top: -.1rem;
					}
				}
			}
				}
	}
	.form__result-title {
		font-size: 2.8rem;
	}
	.form__result-content {
		font-size: 2rem;
		margin-top: 4rem;
	}
	.confirm__group {
		dt,
		dd {
			padding: 1.6rem;
		}
		dt {
			font-size: 1.6rem;
		}
		dd {
			font-size: 1.8rem;
		}
	}
	.-confirm {
		.form__button {
			padding-top: 6rem;
			.button {
				width: 29.3rem;
				&.-back {
					order: 1;
				}
			}
		}
	}
	.form__thanks {
		font-size: 1.8rem;
		padding-top: 2.8rem;
		padding-bottom: 2rem;
	}
}
// Tablet ( Large )
@media screen and (min-width: $tablet-large) {
	.contact_tab {
		font-size: 3.4rem;
		li {
			& + li {
				margin-left: 14rem;
			}
		}
		a {
			padding: 0 3.2rem 1.4rem;
		}
	}
	.contact__message {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 10rem;
	}
	.contact__message-image {
		display: block;
		&.-left {
			max-width: 24rem;
			transform: translate(4rem, -1rem);
		}
		&.-right {
			max-width: 23rem;
			transform: translate(-4.6rem, 0);
		}
	}
	.-download {
		.contact__message-image {
			&.-right {
				transform: translate(-6rem, 0);
			}
		}
	}
	.contact__message-content {
		white-space: nowrap;
		margin: 0 0;
		padding: 2.8rem 4.8rem;
	}
	.contact__lead {
		font-size: 2.2rem;
		padding-top: 6rem;
	}
	.contact__how {
		padding-top: 6rem;
		li {
			& + li {
				margin-left: 4.8rem;
			}
		}
	}
	.-inquiry,
	.-download {
		.form {
			padding-top: 14rem;
		}
	}
	.form__title {
		font-size: 4rem;
	}
	.form__step {
		font-size: 2.4rem;
		dl {
			& + dl {
				&::before {
					width: 1.4rem;
					height: 1.4rem;
					transform: translateY(-.2rem) rotate(45deg);
					margin: 0 5rem 0 4rem;
				}
			}
		}
	}
	.form__content-primary,
	.form__content-thirdry {
		padding-right: 4.8rem;
		padding-left: 4.8rem;
	}
	.form__content-primary {
		padding-top: 6rem;
	}
	.form__content-secondary {
		padding: 4.8rem;
	}
	.form__group {
		margin-bottom: 3.25rem;
		&.-button {
			margin-bottom: 4.4rem;
			.require {
				transform: translateY(0);
			}
		}
		.require {
			width: 5rem;
			font-size: 1.4rem;
			transform: translateY(-.2rem);
		}
		dt {
			font-size: 2rem;
			margin-bottom: .8rem;
		}
		dd {
			& + dt {
				padding-top: 2.4rem;
			}
			& + dd {
				margin-top: 2.4rem;
			}
		}
		.label__text {
			padding-top: .4rem;
			padding-left: 4.8rem;
		}
		.imitate {
			width: 3.4rem;
			height: 3.4rem;
		}
		input[type="checkbox"] {
			&:checked + .imitate {
				&::before {
					margin-top: .3rem;
				}
			}
		}
	}
	.form__notice {
		font-size: 2rem;
		margin-top: -4rem;
	}
	.form__content-thirdry {
		padding-top: 6rem;
		padding-bottom: 24rem;
		.form__group {
			margin-bottom: 6rem;
			.label__text {
				padding-left: 4.4rem;
				transform: translateY(0);
			}
			.imitate {
				width: 3rem;
				height: 3rem;
			}
			input[type="checkbox"] {
				&:checked + .imitate {
					&::before {
						margin-top: .2rem;
					}
				}
			}
		}
	}
	.form__recaptcha {
		padding-bottom: 6rem;
	}
	.form__result {
		margin-top: -14rem;
		margin-bottom: 6rem;
	}
	.form__document-content {
		width: 23.125%;
		margin-right: 2.5%;
		margin-bottom: 8rem;
	}
	.form__document-name {
		font-size: 1.8rem;
		margin-top: 2rem;
		padding-bottom: .4rem;
	}
	.form__document-size {
		margin-bottom: 2rem;
	}
	.form__remind {
		font-size: 2.4rem;
		margin: 3.2rem 0 6rem;
	}
	.-confirm {
		.form__content-primary {
			margin-bottom: 4rem;
			padding-top: 4.8rem;
			padding-bottom: 4.8rem;
			background: $gray-ultra-light;
		}
		.form__button {
			.button {
				&.-back {
					margin-right: 6rem;
				}
			}
		}
	}
	.confirm__group {
		border-top: .1rem solid #7e7e7e;
		&:last-of-type {
			border-bottom: .1rem solid #7e7e7e;
		}
		dt,
		dd {
			width: auto;
			padding: 2.8rem 2rem;
		}
		dt {
			width: 20.4rem;
			font-size: 1.8rem;
			background: none;
			text-align: center;
			br {
				display: block;
			}
		}
		dd {
			width: calc(100% - 20.4rem);
			span {
				display: inline;
				& + span {
					margin-left: .5em;
				}
			}
		}
	}
	.form__thanks {
		font-size: 2rem;
		padding-top: 0;
		padding-bottom: 4rem;
	}

	@media (hover) {
		.form__button {
			button.button:not(:disabled) {
				&:hover {
					background: $navy;
					color: #fff;
				}
			}
		}
		.label {
			&:hover {
				.label__text {
					opacity: .5;
				}
				input:disabled + .label__text,
				input:disabled + .imitate + .label__text {
					opacity: 1;
				}
			}
		}
		a.form__document-content {
			&:hover {
				opacity: 1;
			}
		}
		.form__document.-allow-download {
			a.form__document-content {
				&:hover {
					.form__document-image {
						opacity: .5;
					}
					.form__document-button {
						background: $red;
						color: #fff;
						border: .1rem solid $red;
					}
				}
			}
		}
	}
}
// PC ( Small )
@media screen and (min-width: $pc-small) {
	.form__content-primary,
	.form__content-thirdry {
		padding-right: 6rem;
		padding-left: 6rem;
	}
	.form__content-secondary {
		padding: 6rem;
	}
	.form__group {
		margin-bottom: 3.5rem;
		dt {
			margin-bottom: 1rem;
		}
		dd {
			& + dt {
				padding-top: 3.4rem;
			}
			& + dd {
				margin-top: 3.4rem;
			}
		}
	}
	.form__remind {
		font-size: 2.8rem;
		margin: 5.2rem 0 8rem;
	}
	.-confirm {
		.form__content-primary {
			padding-top: 6rem;
			padding-bottom: 6rem;
		}
	}
	.confirm__group {
		dt,
		dd {
			padding: 5.2rem 2.4rem;
		}
	}
}
