@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes cluody {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, -6px);
            transform: translate(0, -6px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes cluody {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, -6px);
            transform: translate(0, -6px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes blank {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blank {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes pulse {
  100% {
    opacity: 0;
    -webkit-transform: scale(2);
            transform: scale(2);
    background: none;
  }
}

@keyframes pulse {
  100% {
    opacity: 0;
    -webkit-transform: scale(2);
            transform: scale(2);
    background: none;
  }
}

@-webkit-keyframes fukidashi-left-turn {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
            transform: rotate(0) scale(0.6);
  }
  50% {
    opacity: 1;
    -webkit-transform: rotate(10deg) scale(1);
            transform: rotate(10deg) scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
            transform: rotate(0) scale(0.6);
  }
}

@keyframes fukidashi-left-turn {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
            transform: rotate(0) scale(0.6);
  }
  50% {
    opacity: 1;
    -webkit-transform: rotate(10deg) scale(1);
            transform: rotate(10deg) scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
            transform: rotate(0) scale(0.6);
  }
}

@-webkit-keyframes people-left-move {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes people-left-move {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes fukidashi-right-turn {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
            transform: rotate(0) scale(0.6);
  }
  50% {
    opacity: 1;
    -webkit-transform: rotate(-10deg) scale(1);
            transform: rotate(-10deg) scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
            transform: rotate(0) scale(0.6);
  }
}

@keyframes fukidashi-right-turn {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
            transform: rotate(0) scale(0.6);
  }
  50% {
    opacity: 1;
    -webkit-transform: rotate(-10deg) scale(1);
            transform: rotate(-10deg) scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
            transform: rotate(0) scale(0.6);
  }
}

@-webkit-keyframes people-right-move {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes people-right-move {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.mainvisual {
  position: relative;
  z-index: 2;
  background: #b10303;
  height: calc(100vh - (64px + 56px));
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
  overflow: hidden;
}

.mainvisual::before {
  display: block;
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: url(../img/index/effect-line-vertical.svg) no-repeat center center;
  background-size: cover;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: all 0.6s 0.2s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  transition: all 0.6s 0.2s cubic-bezier(0.7, 0.68, 0.26, 1.61);
}

.mainvisual.lazyloaded::before {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.mainvisual__inner {
  padding-top: 2.4rem;
}

.mainvisual__title {
  position: relative;
  z-index: 2;
  text-align: center;
}

.mainvisual__title img {
  width: 29rem;
  -webkit-transform: scale(3);
          transform: scale(3);
  opacity: 0;
  -webkit-transition: all .6s .2s ease-in;
  transition: all .6s .2s ease-in;
}

.lazyloaded .mainvisual__title img {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.mavinvisual-content {
  position: absolute;
  top: 16.5rem;
  left: 50%;
  z-index: 1;
  width: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}

.mainvisual__people-group {
  max-width: 54rem;
  margin: 0 auto;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: translateX(2%) scale(0);
          transform: translateX(2%) scale(0);
  -webkit-transition: all 1s 0.2s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  transition: all 1s 0.2s cubic-bezier(0.7, 0.68, 0.26, 1.61);
}

.mainvisual__people-group img {
  opacity: 0;
}

.mainvisual__people-group img.lazyloaded {
  opacity: 1;
}

.lazyloaded .mainvisual__people-group {
  -webkit-transform: translateX(2%) scale(1);
          transform: translateX(2%) scale(1);
}

.mainvisual__people-person {
  display: none;
}

.mainvisual__text {
  position: absolute;
  top: 33vw;
  left: 50%;
  z-index: 2;
  width: 200%;
  background: rgba(255, 255, 255, 0.9);
  -webkit-transform: translate(-250%, 0);
          transform: translate(-250%, 0);
  text-align: center;
  font-weight: bold;
  line-height: 1.4;
  font-size: 1.2rem;
  border-radius: 100%;
  letter-spacing: -.05rem;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  overflow: hidden;
}

.mainvisual__text li {
  padding: .4rem;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: -webkit-transform 1.8s 1s;
  transition: -webkit-transform 1.8s 1s;
  transition: transform 1.8s 1s;
  transition: transform 1.8s 1s, -webkit-transform 1.8s 1s;
}

.mainvisual__text li:not(:first-of-type) {
  display: none;
}

.lazyloaded .mainvisual__text {
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.lazyloaded .mainvisual__text li {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.mainvisual__banner {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 90%;
  z-index: 2;
  background: #fff;
  padding: 1rem 1rem 1rem 1rem;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  border-radius: .8rem;
  -webkit-transition: all 3s 3.5s ease;
  transition: all 3s 3.5s ease;
  opacity: 0;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.lazyloaded .mainvisual__banner {
  opacity: 1;
}

.mainvisual__banner-title {
  width: calc(100% - 8.8rem);
  text-align: left;
  font-weight: bold;
  line-height: 1;
}

.mainvisual__banner-title dt {
  font-size: 1.2rem;
}

.mainvisual__banner-title dd {
  padding: .4rem .7rem 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mainvisual__banner-news {
  width: 8.8rem;
  margin-left: auto;
}

.mainvisual__banner-news a {
  font-size: 1rem;
  height: 2.4rem;
  color: #E60000;
  border: 0.1rem solid #E60000;
  padding: .6rem 0;
  line-height: 1;
  font-weight: bold;
  text-align: center;
  border-radius: 1.2rem;
}

.mainvisual__banner-news .icon {
  width: .4rem;
  fill: #E60000;
  margin-left: .5rem;
}

@media screen and (min-width: 414px) {
  .mainvisual {
    height: calc(100vh - (64px + 74px));
  }
  .mainvisual__text {
    font-size: 1.4rem;
  }
  .mainvisual__banner {
    width: 92%;
    padding: 1.1rem 1.5rem 1.1rem 3rem;
  }
  .mainvisual__banner-title {
    width: calc(100% - 10rem);
  }
  .mainvisual__banner-title dd {
    font-size: 1.6rem;
    padding-top: 1rem;
  }
  .mainvisual__banner-news {
    width: 10rem;
  }
}

@media screen and (min-width: 414px) and (min-height: 700px) {
  .mavinvisual-content {
    top: 18rem;
  }
}

@media screen and (min-width: 600px) {
  .mainvisual__people-group {
    max-width: 60rem;
  }
  .mainvisual__banner {
    -webkit-transform: translate(-50%, -4rem);
            transform: translate(-50%, -4rem);
  }
}

@media screen and (min-width: 768px) {
  .mainvisual__inner {
    padding-top: 4rem;
  }
  .mainvisual__title {
    text-align: center;
  }
  .mainvisual__title img {
    width: 58rem;
  }
  .mavinvisual-content {
    top: 16rem;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .mainvisual__people-group {
    max-width: 64rem;
  }
  .mainvisual__text {
    top: 48%;
    font-size: 1.6rem;
  }
  .mainvisual__text li {
    padding: .8rem;
  }
  .mainvisual__banner {
    -webkit-transform: translate(-50%, -10rem);
            transform: translate(-50%, -10rem);
  }
}

@media screen and (min-width: 768px) and (min-height: 768px) {
  .mainvisual__inner {
    padding-top: 6rem;
  }
  .mavinvisual-content {
    top: 20rem;
  }
  .mainvisual__people-group {
    max-width: 72.8rem;
  }
}

@media screen and (min-width: 1024px) {
  .mainvisual {
    height: auto;
    background: none;
  }
  .mainvisual::before {
    display: none;
  }
  .mainvisual__outer {
    position: relative;
    height: 100vh;
    background: #b10303;
    border-bottom-right-radius: 100% 600px;
    border-bottom-left-radius: 100% 600px;
    margin-right: -400px;
    margin-left: -400px;
    padding-right: 400px;
    padding-left: 400px;
    overflow: hidden;
  }
  .mainvisual__outer::before {
    display: block;
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: url(../img/index/effect-line-horizontal.svg) no-repeat center center;
    background-size: cover;
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
    -webkit-transition: all 0.6s 0.2s cubic-bezier(0.7, 0.68, 0.26, 1.61);
    transition: all 0.6s 0.2s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  }
  .mainvisual__title img {
    width: 68rem;
  }
  .mainvisual__text {
    top: 47%;
    font-size: 2.2rem;
  }
  .mainvisual__text li {
    padding: .7rem;
  }
  .mainvisual__text span {
    display: inline;
  }
  .mainvisual__banner {
    left: auto;
    right: 41rem;
    width: 38rem;
    -webkit-transform: translate(0, -12rem);
            transform: translate(0, -12rem);
  }
  .lazyloaded .mainvisual__outer::before {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

@media screen and (min-width: 1280px) {
  .mainvisual {
    margin-right: calc(50% - 50vw);
    margin-left: calc(50% - 50vw);
  }
  .mainvisual__outer {
    margin-right: calc(50% - (50vw + 600px));
    margin-left: calc(50% - (50vw + 600px));
    padding-right: calc(50vw - (50vw + 600px));
    padding-left: calc(50vw - (50vw + 600px));
    height: calc(100vh - 26px);
    max-height: 112rem;
    border-bottom-right-radius: 100% 600px;
    border-bottom-left-radius: 100% 600px;
  }
  .mainvisual__outer::before {
    background-size: 85%;
  }
  .lazyloaded .mainvisual__outer {
    height: calc(100vh - 26px);
    max-height: 112rem;
    margin-bottom: 0;
  }
  .mainvisual__inner {
    padding-top: 4.7rem;
  }
  .mainvisual__title {
    position: relative;
    z-index: 2;
  }
  .mainvisual__title img {
    width: 80rem;
    -webkit-transition: all .4s .2s ease-in;
    transition: all .4s .2s ease-in;
  }
  .mavinvisual-content {
    width: 100%;
    max-width: 128rem;
    z-index: 1;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .mainvisual__people-group {
    display: none;
  }
  .mainvisual__people-person {
    display: block;
    position: relative;
    opacity: 0;
  }
  .mainvisual__people-person img {
    -webkit-transform-origin: center bottom;
            transform-origin: center bottom;
    -webkit-transform: translate(0, 10rem) scale(0);
            transform: translate(0, 10rem) scale(0);
  }
  .mainvisual__people-person img.lazyloaded {
    -webkit-transform: translate(0, 0) scale(1);
            transform: translate(0, 0) scale(1);
  }
  .mainvisual__people-person li {
    position: absolute;
  }
  .mainvisual__people-person li.person01 {
    top: -14rem;
    left: -14rem;
    width: 50.4rem;
  }
  .mainvisual__people-person li.person01 img {
    -webkit-transition: all 0.6s 0.2s cubic-bezier(0.7, 0.68, 0.26, 1.61);
    transition: all 0.6s 0.2s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  }
  .mainvisual__people-person li.person02 {
    top: 7rem;
    left: 25rem;
    width: 8rem;
  }
  .mainvisual__people-person li.person02 img {
    -webkit-transition: all 0.6s 0.6s cubic-bezier(0.7, 0.68, 0.26, 1.61);
    transition: all 0.6s 0.6s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  }
  .mainvisual__people-person li.person03 {
    top: 7rem;
    left: 34rem;
    width: 14rem;
  }
  .mainvisual__people-person li.person03 img {
    -webkit-transition: all 0.6s 1s cubic-bezier(0.7, 0.68, 0.26, 1.61);
    transition: all 0.6s 1s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  }
  .mainvisual__people-person li.person04 {
    top: 12rem;
    left: 51.6rem;
    width: 4.4rem;
  }
  .mainvisual__people-person li.person04 img {
    -webkit-transition: all 0.6s 1.4s cubic-bezier(0.7, 0.68, 0.26, 1.61);
    transition: all 0.6s 1.4s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  }
  .mainvisual__people-person li.person05 {
    top: 12.6rem;
    left: 61rem;
    width: 8rem;
  }
  .mainvisual__people-person li.person05 img {
    -webkit-transition: all 0.6s 1.6s cubic-bezier(0.7, 0.68, 0.26, 1.61);
    transition: all 0.6s 1.6s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  }
  .mainvisual__people-person li.person06 {
    top: 9rem;
    left: 71rem;
    width: 13rem;
  }
  .mainvisual__people-person li.person06 img {
    -webkit-transition: all 0.4s 1.2s cubic-bezier(0.7, 0.68, 0.26, 1.61);
    transition: all 0.4s 1.2s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  }
  .mainvisual__people-person li.person07 {
    top: 2.8rem;
    left: 84rem;
    width: 14rem;
  }
  .mainvisual__people-person li.person07 img {
    -webkit-transition: all 0.6s 0.8s cubic-bezier(0.7, 0.68, 0.26, 1.61);
    transition: all 0.6s 0.8s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  }
  .mainvisual__people-person li.person08 {
    top: -10rem;
    right: 1rem;
    width: 41.4rem;
  }
  .mainvisual__people-person li.person08.-b {
    top: -13rem;
    right: -2rem;
    width: 43rem;
  }
  .mainvisual__people-person li.person08 img {
    -webkit-transition: all 0.6s 0.4s cubic-bezier(0.7, 0.68, 0.26, 1.61);
    transition: all 0.6s 0.4s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  }
  .mainvisual__people-person.lazyloaded {
    opacity: 1;
  }
  .mainvisual__text {
    top: 22rem;
    font-size: 2.6rem;
  }
  .mainvisual__text li {
    padding: .5rem .5rem;
  }
  .mainvisual__banner {
    right: 7.6rem;
    -webkit-transform: translate(0, 37rem);
            transform: translate(0, 37rem);
  }
}

@media all and (-ms-high-contrast: none) and (min-width: 1280px) {
  .mainvisual__text li {
    padding: 1rem .5rem;
  }
}

@media screen and (min-width: 1400px) {
  .mainvisual__outer::before {
    background-size: cover;
  }
  .mainvisual__title img {
    width: 84.6rem;
  }
  .mavinvisual-content {
    max-width: 140rem;
  }
  .mainvisual__people-person li.person01 {
    top: -15.6rem;
    left: -13rem;
    width: 54.4rem;
  }
  .mainvisual__people-person li.person01.-b {
    left: -12rem;
  }
  .mainvisual__people-person li.person02 {
    top: 6.8rem;
    left: 31.4rem;
    width: 8.2rem;
  }
  .mainvisual__people-person li.person02.-b {
    left: 30rem;
  }
  .mainvisual__people-person li.person03 {
    top: 6.8rem;
    left: 41rem;
    width: 14.6rem;
  }
  .mainvisual__people-person li.person03.-b {
    top: 5.4rem;
  }
  .mainvisual__people-person li.person04 {
    top: 8.4rem;
    left: 58.4rem;
  }
  .mainvisual__people-person li.person05 {
    top: 10rem;
    left: 66rem;
  }
  .mainvisual__people-person li.person06 {
    top: 7rem;
    left: 77rem;
  }
  .mainvisual__people-person li.person07 {
    top: 3rem;
    left: 90rem;
    width: 16rem;
  }
  .mainvisual__people-person li.person07.-b {
    top: 6rem;
    left: 92rem;
  }
  .mainvisual__people-person li.person08 {
    top: -18rem;
    right: 0;
    width: 48rem;
  }
  .mainvisual__people-person li.person08.-b {
    top: -14rem;
    right: -3rem;
  }
  .mainvisual__text {
    top: 18rem;
  }
  .mainvisual__banner {
    -webkit-transform: translate(0, 36rem);
            transform: translate(0, 36rem);
  }
}

@media screen and (min-width: 1600px) {
  .mainvisual__inner {
    padding-top: 7.4rem;
  }
  .mainvisual__title img {
    width: 94rem;
  }
  .mavinvisual-content {
    top: 20%;
    max-width: 160rem;
  }
  .mainvisual__people-person li.person01 {
    top: -16.6rem;
    left: -11.6rem;
    width: 62rem;
  }
  .mainvisual__people-person li.person02 {
    top: 12rem;
    left: 34rem;
    width: 11rem;
  }
  .mainvisual__people-person li.person02.-b {
    left: 33rem;
  }
  .mainvisual__people-person li.person03 {
    top: 12rem;
    left: 48rem;
    width: 16rem;
  }
  .mainvisual__people-person li.person03.-b {
    top: 14rem;
    left: 48rem;
  }
  .mainvisual__people-person li.person04 {
    top: 16.8rem;
    left: 67.6rem;
    width: 5rem;
  }
  .mainvisual__people-person li.person04.-b {
    top: 18.4rem;
    width: 6rem;
  }
  .mainvisual__people-person li.person05 {
    top: 16rem;
    left: 79rem;
    width: 9.4rem;
  }
  .mainvisual__people-person li.person06 {
    top: 13rem;
    left: 90.4rem;
    width: 16.4rem;
  }
  .mainvisual__people-person li.person07 {
    top: 8rem;
    left: 107rem;
    width: 16rem;
  }
  .mainvisual__people-person li.person07.-b {
    top: 12rem;
    left: 110rem;
  }
  .mainvisual__people-person li.person08 {
    top: -16rem;
    right: -2rem;
    width: 56rem;
  }
  .mainvisual__people-person li.person08.-b {
    width: 53rem;
  }
  .mainvisual__text {
    top: 28rem;
  }
  .mainvisual__banner {
    -webkit-transform: translate(0, 47rem);
            transform: translate(0, 47rem);
  }
}

.service {
  position: relative;
  padding-top: 14rem;
  padding-bottom: 5rem;
}

.service.lazyloaded {
  background: url(../img/index/bg-service.jpg) no-repeat center top;
  background-size: cover;
}

.service__outer {
  position: relative;
  z-index: 2;
  background-image: url(../img/index/bg-flag-small.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}

.service__inner {
  padding: 5rem 0 6rem;
  color: #fff;
}

.service__person {
  display: block;
  position: absolute;
  top: 7rem;
  right: 1.4rem;
  z-index: 1;
  width: 16rem;
  opacity: 0;
  -webkit-transform: translateY(40rem);
          transform: translateY(40rem);
  -webkit-transition: opacity 1.4s 2s linear, top .1s, -webkit-transform 1.4s 2s linear;
  transition: opacity 1.4s 2s linear, top .1s, -webkit-transform 1.4s 2s linear;
  transition: transform 1.4s 2s linear, opacity 1.4s 2s linear, top .1s;
  transition: transform 1.4s 2s linear, opacity 1.4s 2s linear, top .1s, -webkit-transform 1.4s 2s linear;
}

.service__person.lazyloaded {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.service__header-title {
  font-family: 'Mkinas 4 Square';
  font-size: 2.6rem;
  text-align: center;
}

.service__header-subtitle {
  text-align: center;
  font-weight: bold;
  padding-top: .4rem;
}

.service__header-subtitle span {
  display: inline-block;
  white-space: nowrap;
}

.service__list {
  width: 100%;
  max-width: 29rem;
  margin-right: auto;
  margin-left: auto;
  padding: 3rem 0;
}

.service__list-dl {
  width: 32%;
  text-align: center;
}

.service__list-dl + .service__list-dl {
  margin-left: auto;
}

.service__list-dl.-plan img {
  width: 6rem;
}

.service__list-dl.-price img {
  width: 3.5rem;
}

.service__list-dl.-flow img {
  width: 6.7rem;
}

.service__list-dl dt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 4rem;
}

.service__list-dl dd {
  font-size: 1.2rem;
  padding-top: 1rem;
  font-weight: bold;
}

.service__tug-of-war {
  display: none;
}

.service__sdgs {
  position: relative;
  z-index: 2;
  text-align: center;
  margin-top: -4rem;
}

.service__sdgs-badge {
  display: inline-block;
  width: 9.4rem;
  background: #fff;
  border-radius: 100%;
  -webkit-box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.36);
          box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.36);
}

.service__sdgs-text {
  padding-top: .7rem;
  font-weight: bold;
}

@media screen and (min-width: 414px) {
  .service {
    padding-bottom: 6.8rem;
  }
  .service__person {
    top: 8rem;
  }
  .service__inner {
    padding: 10rem 0 8rem;
  }
  .service__header-title {
    font-family: 'Mkinas 4 Square';
    font-size: 3.6rem;
  }
  .service__list {
    padding: 5rem 0;
  }
  .service__sdgs-text {
    padding-top: 1rem;
  }
}

@media screen and (min-width: 600px) {
  .service__person {
    top: 8rem;
    right: 5%;
  }
}

@media screen and (min-width: 768px) {
  .service {
    padding-top: 16.2rem;
    padding-bottom: 16.2rem;
  }
  .service__person {
    right: 18%;
    width: 18.2rem;
  }
  .service__outer {
    background-image: url(../img/index/bg-flag.png);
    background-size: contain;
  }
  .service__inner {
    padding-top: 11.6rem;
    padding-bottom: 24vw;
    margin-top: 50rem;
    opacity: 0;
    -webkit-transition: margin 1s .4s ease-in, opacity 2s .8s ease-in;
    transition: margin 1s .4s ease-in, opacity 2s .8s ease-in;
  }
  .service__content {
    opacity: 0;
    -webkit-transition: opacity .8s .4s ease-in;
    transition: opacity .8s .4s ease-in;
  }
  .service__header {
    margin-top: -5rem;
  }
  .service__list {
    padding: 4rem 0 3rem;
  }
  .service__list-dl.-plan img {
    width: 7rem;
  }
  .service__list-dl.-price img {
    width: 4rem;
  }
  .service__list-dl.-flow img {
    width: 7.7rem;
  }
  .service__list-dl dd {
    font-size: 1.3rem;
  }
  .service__sdgs {
    margin-top: -19vw;
  }
  .service__sdgs-badge {
    width: 10.6rem;
  }
  .lazyloaded .service__inner {
    margin-top: 0;
    opacity: 1;
  }
  .lazyloaded .service__content {
    opacity: 1;
  }
}

@media screen and (min-width: 1024px) {
  .service {
    padding-top: 18.2rem;
    margin-top: -6rem;
  }
  .service__person {
    top: 10.4rem;
    right: 24%;
  }
}

@media screen and (min-width: 1024px) and (hover) {
  .service__sdgs img {
    -webkit-transition: 0.6s;
    transition: 0.6s;
  }
  .service__sdgs a:hover {
    opacity: 1;
  }
  .service__sdgs a:hover img {
    opacity: .5;
  }
  a.service__person:hover {
    opacity: 1;
    top: 9.4rem;
  }
}

@media screen and (min-width: 1280px) {
  .service {
    padding-top: 29rem;
  }
  .service.lazyloaded {
    background-attachment: fixed;
  }
  .service__person {
    top: 17.5rem;
    width: 24.8rem;
  }
  .service__inner {
    width: 94rem;
    height: 73.4rem;
    margin-right: auto;
    margin-left: auto;
    padding: 13rem 0 0;
  }
  .service__header-title {
    font-family: 'Mkinas 4 Square';
    font-size: 4.8rem;
  }
  .service__header-subtitle {
    font-size: 1.6rem;
  }
  .service__list {
    max-width: 44.4rem;
    padding: 7rem 0 6rem;
  }
  .service__list-dl.-plan img {
    width: 9.4rem;
  }
  .service__list-dl.-price img {
    width: 5.4rem;
  }
  .service__list-dl.-flow img {
    width: 10rem;
  }
  .service__list-dl dd {
    font-size: 1.6rem;
    padding-top: 2.6rem;
  }
  .service__detail {
    opacity: 0;
  }
  .service__detail.lazyloaded {
    -webkit-animation: blank 2s cubic-bezier(0.7, 0.68, 0.26, 1.61) 2s infinite normal;
            animation: blank 2s cubic-bezier(0.7, 0.68, 0.26, 1.61) 2s infinite normal;
  }
  .service__tug-of-war {
    display: block;
    position: relative;
    z-index: 1;
    line-height: 1;
    margin-top: -45.6rem;
    margin-bottom: 24rem;
  }
  .service__tug-of-war-content {
    width: 124rem;
    margin: 0 auto;
  }
  .service__tug-of-war-content img {
    display: block;
  }
  .service__tug-of-war-content .-fukidashi {
    opacity: 0;
  }
  .service__tug-of-war-left {
    width: 22rem;
    -webkit-transform: translate(1.4rem, 0);
            transform: translate(1.4rem, 0);
    opacity: 1;
    -webkit-transition: width .4s ease, opacity 1s ease;
    transition: width .4s ease, opacity 1s ease;
  }
  .service__tug-of-war-left .-fukidashi {
    width: 14rem;
    -webkit-transform-origin: center bottom;
            transform-origin: center bottom;
  }
  .service__tug-of-war-left .-fukidashi.lazyloaded {
    -webkit-animation: fukidashi-left-turn 2s cubic-bezier(0.7, 0.68, 0.26, 1.61) 2s infinite normal;
            animation: fukidashi-left-turn 2s cubic-bezier(0.7, 0.68, 0.26, 1.61) 2s infinite normal;
  }
  .service__tug-of-war-left .-people.lazyloaded {
    -webkit-animation: people-left-move 2s cubic-bezier(0.7, 0.68, 0.26, 1.61) 2s infinite normal;
            animation: people-left-move 2s cubic-bezier(0.7, 0.68, 0.26, 1.61) 2s infinite normal;
  }
  .service__tug-of-war-right {
    width: 22rem;
    -webkit-transform: translate(-1.6rem, -0.5rem);
            transform: translate(-1.6rem, -0.5rem);
    opacity: 0;
    -webkit-transition: width .4s ease, opacity 1s 1s ease;
    transition: width .4s ease, opacity 1s 1s ease;
  }
  .service__tug-of-war-right .-fukidashi {
    width: 12rem;
    margin-left: auto;
    -webkit-transform-origin: center bottom;
            transform-origin: center bottom;
  }
  .service__tug-of-war-right .-fukidashi.lazyloaded {
    -webkit-animation: fukidashi-right-turn 2s cubic-bezier(0.7, 0.68, 0.26, 1.61) 2s infinite normal;
            animation: fukidashi-right-turn 2s cubic-bezier(0.7, 0.68, 0.26, 1.61) 2s infinite normal;
  }
  .service__tug-of-war-right .-people.lazyloaded {
    -webkit-animation: people-right-move 2s cubic-bezier(0.7, 0.68, 0.26, 1.61) 2s infinite normal;
            animation: people-right-move 2s cubic-bezier(0.7, 0.68, 0.26, 1.61) 2s infinite normal;
  }
  .service__sdgs {
    width: 94rem;
    text-align: right;
    margin: -27.3rem auto 0;
  }
  .service__sdgs-badge {
    width: 18.2rem;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all 1.5s 1.5s ease-in-out;
    transition: all 1.5s 1.5s ease-in-out;
  }
  .service__sdgs-text {
    display: none;
  }
  .lazyloaded .service__tug-of-war-left,
  .lazyloaded .service__tug-of-war-right {
    opacity: 1;
  }
  .lazyloaded .service__sdgs-badge {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (min-width: 1280px) and (hover) {
  a.service__person:hover {
    top: 16.5rem;
  }
}

@media screen and (min-width: 1400px) {
  .service {
    margin-top: -8rem;
    padding-top: 31rem;
  }
  .service__person {
    top: 14.8rem;
    right: 26%;
    width: 30.8rem;
    -webkit-transition: opacity .8s 1.6s linear, -webkit-transform .8s 1.6s linear;
    transition: opacity .8s 1.6s linear, -webkit-transform .8s 1.6s linear;
    transition: transform .8s 1.6s linear, opacity .8s 1.6s linear;
    transition: transform .8s 1.6s linear, opacity .8s 1.6s linear, -webkit-transform .8s 1.6s linear;
  }
  .service__tug-of-war {
    margin-top: -46.4rem;
  }
  .service__tug-of-war-content {
    width: 136rem;
  }
  .service__tug-of-war-left {
    width: 28rem;
    -webkit-transform: translate(1.5rem, 0);
            transform: translate(1.5rem, 0);
  }
  .service__tug-of-war-left .-fukidashi {
    width: 14rem;
  }
  .service__tug-of-war-right {
    width: 28rem;
    -webkit-transform: translate(-1.6rem, -0.5rem);
            transform: translate(-1.6rem, -0.5rem);
  }
  .service__tug-of-war-right .-fukidashi {
    width: 12rem;
  }
}

@media screen and (min-width: 1400px) and (hover) {
  a.service__person:hover {
    top: 13.8rem;
  }
}

@media screen and (min-width: 1600px) {
  .service {
    margin-top: -18rem;
    padding-top: 41rem;
  }
  .service__person {
    top: 24.8rem;
    left: 50%;
    margin-left: -13.7rem;
    right: auto;
    -webkit-transform: translate(20rem, 40rem);
            transform: translate(20rem, 40rem);
  }
  .service__person.lazyloaded {
    -webkit-transform: translate(20rem, 0);
            transform: translate(20rem, 0);
  }
  .service__tug-of-war {
    margin-top: -50.3rem;
  }
  .service__tug-of-war-content {
    width: 160rem;
  }
  .service__tug-of-war-left {
    width: 38rem;
    -webkit-transform: translate(3.5rem, 0);
            transform: translate(3.5rem, 0);
  }
  .service__tug-of-war-left .-fukidashi {
    width: 17.8rem;
  }
  .service__tug-of-war-right {
    width: 44rem;
    -webkit-transform: translate(2.5rem, 0.65rem);
            transform: translate(2.5rem, 0.65rem);
  }
  .service__tug-of-war-right .-fukidashi {
    width: 12.8rem;
  }
}

@media screen and (min-width: 1600px) and (hover) {
  a.service__person:hover {
    top: 23.8rem;
  }
}

.about {
  position: relative;
  z-index: 2;
  margin-top: -3.2rem;
  overflow: hidden;
}

.about__container {
  background: #081927;
  border-top-right-radius: 100% 160px;
  border-top-left-radius: 100% 160px;
  margin-right: -60px;
  margin-left: -60px;
  padding-right: 60px;
  padding-left: 60px;
  color: #fff;
}

.about__inner {
  padding-top: 4.5rem;
}

.about__inner.lazyloaded {
  background: url(../img/index/bg-about.svg) no-repeat center 6rem;
  background-size: 100%;
}

.about__content {
  max-width: 34.8rem;
  padding-top: 4rem;
  margin: 0 auto;
}

.about__header-title {
  font-family: 'Mkinas 4 Square';
  font-size: 2.6rem;
  text-align: center;
  color: #2c4050;
  -webkit-transition: all 1s 1s ease;
  transition: all 1s 1s ease;
}

.lazyloaded .about__header-title {
  color: #fff;
}

.about__content-vertical {
  padding-right: 1.4rem;
  padding-left: 1.4rem;
}

.about__content-vertical ul {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin: 0 auto;
}

.about__content-vertical li {
  position: relative;
  font-size: 1.4rem;
  font-family: 'Kosugi Maru', sans-serif;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  line-height: 1;
  letter-spacing: .3rem;
  padding: .8rem .4rem;
  white-space: nowrap;
}

.about__content-vertical li span {
  position: relative;
  z-index: 2;
  color: #2c4050;
  -webkit-transition: all .8s 1s ease;
  transition: all .8s 1s ease;
}

.about__content-vertical li::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 0;
  -webkit-transition: all .8s 2s ease;
  transition: all .8s 2s ease;
}

.about__content-vertical.lazyloaded li span {
  color: #081927;
}

.about__content-vertical.lazyloaded li::after {
  height: 100%;
  background: #fff;
}

.about__content-vertical.lazyloaded .about__content-logo {
  opacity: 1;
}

.about__content-logo {
  text-align: right;
  margin-top: -5rem;
  opacity: 0;
  -webkit-transition: all 1.5s 2.5s ease;
  transition: all 1.5s 2.5s ease;
}

.about__content-logo img {
  width: 8rem;
}

.about__detail {
  padding: 6rem 0 4rem;
}

.about__lead {
  display: none;
}

.about__result-content {
  width: 100%;
  max-width: 27.6rem;
  text-align: center;
  padding: 2rem 0 3rem;
}

.about__result-content + .about__result-content {
  border-top: .1rem solid #fff;
}

.about__result-content:nth-of-type(2), .about__result-content:nth-of-type(4) {
  display: none;
}

.about__result-content:nth-of-type(1) .about__result-image img {
  width: 5.4rem;
}

.about__result-content:nth-of-type(3) .about__result-image img {
  width: 5.2rem;
}

.about__result-content:nth-of-type(5) .about__result-image img {
  width: 5.5rem;
}

.about__result-label {
  padding-top: 1.4rem;
}

.about__result-number {
  font-family: 'Mkinas 4 Square';
  line-height: 1;
  padding-top: 1.2rem;
}

.about__result-number span {
  font-size: 2rem;
}

.about__result-number b {
  font-size: 5rem;
  letter-spacing: .4rem;
  margin: 0 .4rem;
}

.about__result-date {
  font-size: 1.2rem;
  padding-top: 1.2rem;
}

.about__result-date span {
  display: block;
}

.about__result-slogan {
  display: none;
}

.about__result-person {
  display: none;
}

@media screen and (min-width: 375px) {
  .about__content-vertical {
    padding-right: 0;
    padding-left: 0;
  }
}

@media screen and (min-width: 414px) {
  .about__inner {
    padding-top: 8rem;
  }
  .about__header-title {
    font-family: 'Mkinas 4 Square';
    font-size: 3.6rem;
  }
  .about__content-vertical li {
    font-size: 1.8rem;
    letter-spacing: .6rem;
    padding: 1rem .5rem;
  }
}

@media screen and (min-width: 768px) {
  .about {
    margin-top: -6rem;
  }
  .about__container {
    border-top-right-radius: 100% 400px;
    border-top-left-radius: 100% 400px;
    margin-right: -200px;
    margin-left: -200px;
    padding-right: 200px;
    padding-left: 200px;
  }
  .about__inner {
    padding-top: 10rem;
  }
  .about__inner.lazyloaded {
    background-size: 54rem;
  }
  .about__content {
    max-width: 42rem;
    padding-top: 8rem;
  }
  .about__result-content {
    max-width: 29.3rem;
    padding: 3rem 0 4rem;
  }
  .about__result-content:nth-of-type(1) .about__result-image img {
    width: 6.4rem;
  }
  .about__result-content:nth-of-type(3) .about__result-image img {
    width: 6.2rem;
  }
  .about__result-content:nth-of-type(5) .about__result-image img {
    width: 6.5rem;
  }
  .about__result-label {
    padding-top: 2rem;
  }
  .about__result-number {
    padding-top: 1.4rem;
  }
  .about__result-number span {
    font-size: 3rem;
  }
  .about__result-number b {
    font-size: 6rem;
  }
  .about__result-date {
    font-size: 1.4rem;
    padding-top: 1.4rem;
  }
}

@media screen and (min-width: 1024px) {
  .about__container {
    border-top-right-radius: 100% 600px;
    border-top-left-radius: 100% 600px;
    margin-right: -400px;
    margin-left: -400px;
    padding-right: 400px;
    padding-left: 400px;
    overflow: hidden;
  }
  .about__outer {
    background-image: url(../img/index/bg-ichimatsu.svg), url(../img/index/bg-ichimatsu.svg);
    background-repeat: repeat-y;
    background-position: left top, right top;
    background-size: 4rem;
  }
  .about__inner.lazyloaded {
    background-size: 75.6rem;
  }
  .about__content {
    max-width: 100%;
    padding-top: 10rem;
  }
  .about__content-vertical {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 65.7rem;
    margin: 0 auto;
  }
  .about__content-vertical ul {
    margin: 0 -1.2rem 0 auto;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .about__content-vertical li {
    margin-right: 1.2rem;
    padding: .8rem .8rem;
  }
  .about__content-vertical li:nth-of-type(5) {
    margin-right: 7.2rem;
  }
  .about__content-logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 0;
  }
  .about__content-logo img {
    width: 15.6rem;
  }
  .about__detail {
    padding-bottom: 6.2rem;
  }
  .about__lead {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50.4rem;
    height: 11.2rem;
    background-image: url(../img/index/about-comment-white-left.svg), url(../img/index/about-comment-white-right.svg);
    background-repeat: no-repeat;
    background-position: left center, right center;
    background-size: contain;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 2.8rem;
    font-weight: bold;
    padding-top: 2rem;
    margin: 0 auto 1.2rem;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all 0.8s 1.4s cubic-bezier(0.7, 0.68, 0.26, 1.61);
    transition: all 0.8s 1.4s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  }
  .about__lead.lazyloaded {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .about__result {
    width: 84rem;
    margin: 0 auto;
  }
  .about__result-content {
    width: 16.8rem;
    padding: 0 0 0;
    color: #fff;
  }
  .about__result-content + .about__result-content {
    border-top: none;
  }
  .about__result-content:nth-of-type(2), .about__result-content:nth-of-type(4) {
    display: block;
  }
  .about__result-content:nth-of-type(2) .about__result-person, .about__result-content:nth-of-type(4) .about__result-person {
    margin-top: 16.8rem;
  }
  .about__result-content:nth-of-type(1) .about__result-image img, .about__result-content:nth-of-type(3) .about__result-image img, .about__result-content:nth-of-type(5) .about__result-image img {
    width: auto;
    height: 100%;
  }
  .about__result-content:nth-of-type(1), .about__result-content:nth-of-type(5) {
    color: #000;
  }
  .about__result-content:nth-of-type(1) .about__result-slogan-image img, .about__result-content:nth-of-type(5) .about__result-slogan-image img {
    width: 4.4rem;
  }
  .about__result-content:nth-of-type(1) .about__result-label, .about__result-content:nth-of-type(3) .about__result-label {
    padding-top: 1rem;
  }
  .about__result-content:nth-of-type(1) .about__result-number, .about__result-content:nth-of-type(3) .about__result-number {
    padding-top: 1rem;
  }
  .about__result-content:nth-of-type(1) .about__result-image {
    padding-top: .2rem;
  }
  .about__result-content:nth-of-type(1) .about__result-image img {
    width: 86%;
  }
  .about__result-content:nth-of-type(3) .about__result-circle {
    background: #E60000;
  }
  .about__result-content:nth-of-type(3) .about__result-circle::after {
    border-color: #E60000 transparent transparent transparent;
  }
  .about__result-content:nth-of-type(5) .about__result-image img {
    width: 88%;
    margin-top: -.4rem;
  }
  .about__result-content:nth-of-type(5) .about__result-label {
    padding-top: 0;
  }
  .about__result-content:nth-of-type(5) .about__result-number {
    padding-top: .4rem;
  }
  .about__result-content:nth-of-type(1) .about__result-person {
    -webkit-transition: all 0.4s 1.4s cubic-bezier(0.7, 0.68, 0.26, 1.61);
    transition: all 0.4s 1.4s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  }
  .about__result-content:nth-of-type(2) .about__result-person {
    -webkit-transition: all 0.4s 1.6s cubic-bezier(0.7, 0.68, 0.26, 1.61);
    transition: all 0.4s 1.6s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  }
  .about__result-content:nth-of-type(3) .about__result-person {
    -webkit-transition: all 0.4s 1.8s cubic-bezier(0.7, 0.68, 0.26, 1.61);
    transition: all 0.4s 1.8s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  }
  .about__result-content:nth-of-type(4) .about__result-person {
    -webkit-transition: all 0.4s 2s cubic-bezier(0.7, 0.68, 0.26, 1.61);
    transition: all 0.4s 2s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  }
  .about__result-content:nth-of-type(5) .about__result-person {
    -webkit-transition: all 0.4s 2.2s cubic-bezier(0.7, 0.68, 0.26, 1.61);
    transition: all 0.4s 2.2s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  }
  .about__result-content:nth-of-type(1) .about__result-circle, .about__result-content:nth-of-type(3) .about__result-circle, .about__result-content:nth-of-type(5) .about__result-circle {
    -webkit-transition: all 0.8s 2.8s cubic-bezier(0.7, 0.68, 0.26, 1.61);
    transition: all 0.8s 2.8s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  }
  .about__result-content:nth-of-type(1) .about__result-circle > *, .about__result-content:nth-of-type(3) .about__result-circle > *, .about__result-content:nth-of-type(5) .about__result-circle > * {
    -webkit-transition: all 0.8s 3xs cubic-bezier(0.7, 0.68, 0.26, 1.61);
    transition: all 0.8s 3xs cubic-bezier(0.7, 0.68, 0.26, 1.61);
  }
  .about__result-circle {
    position: relative;
    width: 100%;
    height: 16.8rem;
    background: #fff;
    padding: 1rem;
    border-radius: 100%;
    -webkit-transform: translateY(10rem) scale(0);
            transform: translateY(10rem) scale(0);
    -webkit-transform-origin: center bottom;
            transform-origin: center bottom;
  }
  .about__result-circle > * {
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
    opacity: 0;
  }
  .about__result-circle.lazyloaded {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
  .about__result-circle.lazyloaded > * {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  .about__result-circle::after {
    display: block;
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 14px 0 14px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    border-color: #fff transparent transparent transparent;
  }
  .about__result-person {
    display: block;
    -webkit-transform: translateY(20rem);
            transform: translateY(20rem);
  }
  .about__result-person.lazyloaded {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .about__result-person img {
    height: 14rem;
    margin-top: 1.6rem;
  }
  .about__result-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 3.4rem;
  }
  .about__result-label {
    font-size: 1.2rem;
    line-height: 1.3;
  }
  .about__result-number span {
    font-size: 1.4rem;
  }
  .about__result-number b {
    font-size: 3.4rem;
    margin: 0 0;
    letter-spacing: .1rem;
  }
  .about__result-date {
    font-size: 1rem;
    padding-top: .7rem;
    line-height: 1.3;
  }
  .about__result-slogan {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: -.4rem;
    right: -2.4rem;
    width: 6.4rem;
    height: 6.4rem;
    background: #fff;
    border-radius: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    line-height: 1.4;
  }
  .about__result-slogan-image {
    position: absolute;
    top: -1.5rem;
    text-align: center;
  }
  .about__result-slogan-text {
    font-size: 1rem;
    padding-top: .6rem;
    font-family: ta-f1blockline, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}

@media screen and (min-width: 1280px) {
  .about {
    margin-top: -7rem;
  }
  .about__container {
    border-top-right-radius: 100% 750px;
    border-top-left-radius: 100% 750px;
    margin-right: -500px;
    margin-left: -500px;
    padding-right: 500px;
    padding-left: 500px;
  }
  .about__outer {
    background-size: 6rem;
  }
  .about__header-title {
    font-family: 'Mkinas 4 Square';
    font-size: 4.8rem;
  }
  .about__inner {
    padding-top: 23.6rem;
  }
  .about__inner.lazyloaded {
    background-position: center 13rem;
    background-size: 85.6rem;
  }
  .about__content-vertical {
    max-width: 68.7rem;
  }
  .about__detail {
    padding: 8rem 0 6.8rem;
  }
  .about__result {
    width: 112.6rem;
  }
  .about__result-content {
    width: 22.5rem;
  }
  .about__result-content + .about__result-content {
    margin-left: auto;
  }
  .about__result-content:nth-of-type(2) .about__result-person, .about__result-content:nth-of-type(4) .about__result-person {
    margin-top: 22.5rem;
  }
  .about__result-content:nth-of-type(1) .about__result-slogan-image img, .about__result-content:nth-of-type(5) .about__result-slogan-image img {
    width: 5.6rem;
  }
  .about__result-content:nth-of-type(1) .about__result-label, .about__result-content:nth-of-type(3) .about__result-label {
    padding-top: 1.2rem;
  }
  .about__result-content:nth-of-type(1) .about__result-number, .about__result-content:nth-of-type(3) .about__result-number {
    padding-top: 2rem;
  }
  .about__result-content:nth-of-type(1) .about__result-image {
    padding-top: .2rem;
  }
  .about__result-content:nth-of-type(1) .about__result-image img {
    width: 5.8rem;
  }
  .about__result-content:nth-of-type(5) .about__result-image img {
    width: 6.2rem;
  }
  .about__result-content:nth-of-type(5) .about__result-label {
    padding-top: .4rem;
  }
  .about__result-content:nth-of-type(5) .about__result-number {
    padding-top: 1rem;
  }
  .about__result-circle {
    padding: 1.8rem;
    height: 22.5rem;
  }
  .about__result-person img {
    width: 100%;
    height: auto;
    margin-top: 2.4rem;
  }
  .about__result-image {
    height: 4.4rem;
  }
  .about__result-label {
    font-size: 1.4rem;
  }
  .about__result-number span {
    font-size: 2rem;
  }
  .about__result-number b {
    font-size: 4.4rem;
  }
  .about__result-date {
    font-size: 1.1rem;
    padding-top: 1.2rem;
  }
  .about__result-slogan {
    top: -1rem;
    right: -3rem;
    width: 8.4rem;
    height: 8.4rem;
  }
  .about__result-slogan-image {
    top: -1.8rem;
  }
  .about__result-slogan-text {
    font-size: 1.2rem;
    padding-top: .8rem;
  }
}

@media screen and (min-width: 1400px) {
  .about__outer {
    background-size: 8rem;
  }
}

.voice {
  background: #faf8f5;
}

.voice__outer {
  padding: 4rem 0 4rem;
  opacity: 0;
  -webkit-transition: all .6s .8s;
  transition: all .6s .8s;
}

.voice__outer.lazyloaded {
  opacity: 1;
}

.voice__header-title {
  font-family: 'Mkinas 4 Square';
  font-size: 2.6rem;
  text-align: center;
  -webkit-transition: all 1s 1.6s ease;
  transition: all 1s 1.6s ease;
  line-height: 1;
  padding-bottom: .6rem;
}

.voice__header-title b {
  display: block;
  font-weight: normal;
}

.voice__header-title-en {
  display: inline-block;
  padding-top: .5rem;
  padding-bottom: .5rem;
  -webkit-transform: translateY(0.8rem);
          transform: translateY(0.8rem);
}

.voice__header-title-en.-effect {
  padding-right: .8rem;
  padding-left: .8rem;
  color: transparent;
  margin-left: .4rem;
  -webkit-transition: all .6s 1.4s ease-in;
  transition: all .6s 1.4s ease-in;
}

.voice__header-title-en.-effect span {
  position: relative;
  z-index: 2;
}

.voice__header-title-en.-effect::after {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 0;
  height: 100%;
  background: #E60000;
  border-radius: .3rem;
  opacity: 0;
  -webkit-transition: all .6s 1.4s ease-in;
  transition: all .6s 1.4s ease-in;
}

.lazyloaded .voice__header-title-en.-effect {
  color: #fff;
}

.lazyloaded .voice__header-title-en.-effect::after {
  opacity: 1;
  width: 100%;
}

.voice__lead {
  font-size: 1.2rem;
  padding: 2rem 0 2rem;
  text-align: center;
}

.voice__detail {
  padding-top: 3.4rem;
}

.voice__detail .button {
  padding-right: 5.6rem;
  padding-left: 5.6rem;
}

.voice .swiper-container .card__small-text::after,
.voice .swiper-container .card__title::after,
.voice .swiper-container .card__tag::after {
  background: #faf8f5;
}

@media screen and (min-width: 414px) {
  .voice__outer {
    padding: 8rem 0 8rem;
  }
  .voice__header-title {
    font-family: 'Mkinas 4 Square';
    font-size: 3.6rem;
  }
  .voice__lead {
    font-size: 1.4rem;
    padding: 2.4rem 0 4.6rem;
  }
}

@media screen and (min-width: 768px) {
  .voice__outer {
    padding: 10rem 0 6.6rem;
  }
}

@media screen and (min-width: 1024px) {
  .voice__outer {
    padding: 13rem 0 8.6rem;
    -webkit-transform: translateY(50rem);
            transform: translateY(50rem);
    -webkit-transition: all 1s 1s;
    transition: all 1s 1s;
  }
  .voice__outer.lazyloaded {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .voice__header-title-en.-effect::after {
    -webkit-transition: all .6s 2s ease-in;
    transition: all .6s 2s ease-in;
  }
  .voice__lead {
    font-size: 2.4rem;
    padding: 5.4rem 0 5.4rem;
  }
  .voice__detail {
    padding-top: 6rem;
  }
}

@media screen and (min-width: 1280px) {
  .voice__outer {
    padding: 19rem 0 10.6rem;
  }
  .voice__header-title {
    font-family: 'Mkinas 4 Square';
    font-size: 4.8rem;
  }
  .voice__lead {
    padding-bottom: 9rem;
  }
  .voice__detail {
    padding-top: 7.2rem;
  }
}

@media screen and (min-width: 1400px) {
  .voice__outer {
    padding: 21rem 0 12.6rem;
  }
  .voice__detail {
    padding-top: 9rem;
  }
}

.column.lazyloaded {
  background: url(../img/index/bg-column-200x200.png) repeat left top;
  background-size: 10rem auto;
}

.column__outer {
  padding: 4rem 0 4rem;
}

.column__header-title {
  font-family: 'Mkinas 4 Square';
  font-size: 2.6rem;
  text-align: center;
  -webkit-transition: all 1s 1.6s ease;
  transition: all 1s 1.6s ease;
  line-height: 1;
}

.column__header-image {
  text-align: center;
  padding-top: 2rem;
}

.column__header-image img {
  max-width: 36.6rem;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.6s 1.4s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  transition: all 0.6s 1.4s cubic-bezier(0.7, 0.68, 0.26, 1.61);
}

.column__header-image.lazyloaded img {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.column__lead {
  font-size: 1.2rem;
  padding: 2rem 0 2rem;
  text-align: center;
}

.column__tag {
  text-align: center;
  height: 3.2rem;
  overflow: hidden;
}

.column__detail {
  padding-top: 3.4rem;
}

.column__detail .button {
  padding-right: 5.6rem;
  padding-left: 5.6rem;
}

@media screen and (min-width: 375px) {
  .column__lead {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 414px) {
  .column__outer {
    padding: 8rem 0 8rem;
  }
  .column__header-title {
    font-family: 'Mkinas 4 Square';
    font-size: 3.6rem;
  }
  .column__lead {
    font-size: 1.6rem;
    padding: 3.2rem 0 3.2rem;
  }
  .column__tag {
    height: 2.8rem;
  }
}

@media screen and (min-width: 600px) {
  .column__header-image img {
    max-width: 46.6rem;
  }
}

@media screen and (min-width: 768px) {
  .column__outer {
    padding: 10rem 0 6.6rem;
  }
  .column__header-image {
    padding-top: 3.7rem;
  }
  .column__header-image img {
    max-width: 56.6rem;
  }
  div.column__lead {
    font-size: 1.8rem;
    padding-top: 3.7rem;
    padding-bottom: 4.8rem;
  }
  .column__tag {
    width: 94%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1024px) {
  .column__outer {
    padding: 13rem 0 8.6rem;
    -webkit-transform: translateY(50rem);
            transform: translateY(50rem);
    -webkit-transition: all 1s 1s;
    transition: all 1s 1s;
  }
  .column__outer.lazyloaded {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .column__header-image img {
    max-width: 63.5rem;
  }
  div.column__lead {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1280px) {
  .column__outer {
    padding: 19rem 0 10.6rem;
  }
  .column__header-title {
    font-family: 'Mkinas 4 Square';
    font-size: 4.8rem;
  }
  div.column__lead {
    font-size: 2.4rem;
    padding-bottom: 4.5rem;
  }
  .column__tag {
    height: 4.5rem;
  }
  .column__tag .tag li {
    font-size: 2.2rem;
  }
  .column__detail {
    padding-top: 7.2rem;
  }
}

@media screen and (min-width: 1400px) {
  .column__outer {
    padding: 21rem 0 12.6rem;
  }
  .column__detail {
    padding-top: 9rem;
  }
}

.faq {
  background: #f0eeec;
}

.faq__outer {
  padding: 4rem 0 8rem;
  opacity: 1;
  -webkit-transition: all .6s .8s;
  transition: all .6s .8s;
}

.faq__outer.lazyloaded {
  opacity: 1;
}

.faq__header-title {
  font-family: 'Mkinas 4 Square';
  font-size: 2.6rem;
  text-align: center;
  -webkit-transition: all 1s 1.6s ease;
  transition: all 1s 1.6s ease;
  line-height: 1;
  padding-bottom: .6rem;
}

.faq__category {
  display: none;
}

.faq__content {
  width: 100%;
  max-width: 116.8rem;
  margin-right: auto;
  margin-left: auto;
  padding-top: 4rem;
}

.faq__include-category {
  margin-bottom: 1.4rem;
}

.faq__include-category span {
  font-size: 1.2rem;
  border-bottom: 0.1rem solid #E60000;
  padding: 0 .6rem .4rem;
}

.faq__detail {
  padding-top: 3.4rem;
}

@media screen and (min-width: 414px) {
  .faq__outer {
    padding: 8rem 0 8rem;
  }
  .faq__header-title {
    font-family: 'Mkinas 4 Square';
    font-size: 3.6rem;
  }
  .faq__include-category {
    margin-bottom: 2.8rem;
  }
  .faq__include-category span {
    font-size: 1.4rem;
    padding-bottom: .6rem;
  }
  .faq__content {
    padding-top: 6rem;
  }
  .faq__detail {
    padding: 4.6rem 0 4.6rem;
  }
}

@media screen and (min-width: 768px) {
  .faq__category {
    display: block;
    padding-top: 4rem;
  }
  .faq__include-category {
    margin-bottom: 3.2rem;
  }
}

@media screen and (min-width: 1024px) {
  .faq__outer {
    -webkit-transform: translateY(50rem);
            transform: translateY(50rem);
    -webkit-transition: all 1s 1s;
    transition: all 1s 1s;
  }
  .faq__outer.lazyloaded {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .faq__detail {
    padding-top: 6rem;
  }
}

@media screen and (min-width: 1280px) {
  .faq__outer {
    padding: 19rem 0 10.6rem;
  }
  .faq__header-title {
    font-family: 'Mkinas 4 Square';
    font-size: 4.8rem;
  }
  .faq__category {
    padding-top: 7rem;
  }
  .faq__category a {
    font-size: 2rem;
  }
  .faq__content {
    padding-top: 8rem;
  }
  .faq__detail {
    padding-top: 7.2rem;
  }
}

@media screen and (min-width: 1400px) {
  .faq__outer {
    padding: 21rem 0 12.6rem;
  }
  .faq__detail {
    padding-top: 9rem;
  }
}

.news {
  background: #f0eeec;
}

.news__outer {
  position: relative;
  background: #7b5c41;
  padding-bottom: 16rem;
  overflow: hidden;
  -webkit-transform: skewY(-6deg);
          transform: skewY(-6deg);
}

.news__flag {
  position: relative;
  width: calc(100% + 2.8rem);
  margin-left: -1.4rem;
}

.news__flag li {
  position: absolute;
  width: 16rem;
  height: calc(16rem * 0.8);
  z-index: 2;
}

.news__flag li.-left {
  top: -2rem;
  left: -4rem;
}

.news__flag li.-right {
  top: -1.2rem;
  right: -8rem;
}

.news__inner {
  padding-top: 5rem;
  padding-bottom: 10rem;
  -webkit-transform: skewY(6deg);
          transform: skewY(6deg);
}

.news__header {
  padding-bottom: 4rem;
}

.news__header-title {
  color: #fff;
  line-height: 1;
  text-align: center;
}

.news__header-title .-en {
  font-family: 'Mkinas 4 Square';
  font-size: 2.6rem;
  -webkit-transition: all 1s 1.6s ease;
  transition: all 1s 1.6s ease;
}

.news__header-title .-ja {
  font-size: 1.4rem;
  padding-top: 1.4rem;
}

.news__content {
  padding-top: 2.8rem;
  padding-bottom: 4.2rem;
  background: #fff;
}

.news__content-list {
  width: calc(100% - 2.8rem);
  margin: 0 auto;
  padding: 1.4rem 0 1rem;
  border-bottom: .1rem solid #000;
}

.news__content-info {
  font-size: 1.2rem;
  line-height: 1;
  padding-bottom: .6rem;
}

.news__content-info dd {
  padding: .3rem .4rem .2rem;
  margin-left: 1.2rem;
}

.news__content-info dd.-event {
  background: #6cffc0;
}

.news__content-info dd.-update {
  background: #82d0fa;
}

.news__content-info dd.-media {
  background: #ffd460;
}

.news__content-title {
  font-size: 1.6rem;
  line-height: 1.4;
}

.news__content-image {
  display: none;
}

.news__detail {
  padding-top: 3.4rem;
}

@media screen and (min-width: 414px) {
  .news__inner {
    padding-top: 8rem;
  }
  .news__flag li {
    width: 18rem;
    height: calc(18rem * 0.8);
  }
  .news__header-title .-en {
    font-family: 'Mkinas 4 Square';
    font-size: 3.6rem;
  }
  .news__header-title .-ja {
    font-size: 2rem;
    padding-top: 1.8rem;
  }
  .news__content {
    padding-top: 4.8rem;
    padding-bottom: 6.8rem;
  }
  .news__content-list {
    padding: 2rem 0 1.2rem;
  }
  .news__content-info {
    font-size: 1.4rem;
    padding-bottom: 1rem;
  }
  .news__content-info dd {
    margin-left: 2.2rem;
  }
  .news__content-title {
    font-size: 2rem;
  }
  .news__detail {
    padding-top: 4.6rem;
  }
}

@media screen and (min-width: 768px) {
  .news__inner {
    padding-top: 10rem;
  }
  .news__header {
    padding-bottom: 6rem;
  }
  .news__flag li {
    width: 20rem;
    height: calc(20rem * 0.8);
  }
  .news__content {
    width: 96%;
    margin-right: auto;
    margin-left: auto;
    padding: .8rem 0 2.8rem;
    border-radius: 2rem;
  }
  .news__content-list {
    width: calc(100% - 5.6rem);
  }
  .news__detail {
    padding-top: 6rem;
  }
}

@media screen and (min-width: 1024px) {
  .news__flag li {
    width: 30rem;
    height: calc(30rem * 0.8);
  }
  .news__flag li.-right {
    top: -2.6rem;
  }
  .news__content {
    position: relative;
    width: 94rem;
    border-radius: 30rem;
    padding: 4rem 12rem 6rem;
  }
  .news__content-info dd {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1280px) {
  .news__outer {
    padding-bottom: 28rem;
  }
  .news__flag {
    width: 100%;
  }
  .news__flag li.-left {
    left: 0;
  }
  .news__flag li.-right {
    right: -4rem;
  }
  .news__inner {
    padding-top: 19rem;
  }
  .news__header-title .-en {
    font-family: 'Mkinas 4 Square';
    font-size: 4.8rem;
  }
  .news__header-title .-ja {
    font-size: 2.8rem;
  }
  .news__content {
    width: 120rem;
    padding-right: 24rem;
    padding-left: 24rem;
    padding-top: 2rem;
  }
  .news__content-info {
    padding-bottom: 1.4rem;
  }
  .news__content-title {
    font-size: 2.8rem;
  }
  .news__content-image {
    display: block;
    position: absolute;
    opacity: 0;
  }
  .news__content-image.-top-right {
    top: -5rem;
    right: 0;
    width: 16rem;
    -webkit-transform-origin: center bottom;
            transform-origin: center bottom;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all 0.6s 1s cubic-bezier(0.7, 0.68, 0.26, 1.61);
    transition: all 0.6s 1s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  }
  .news__content-image.-top-right.lazyloaded {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .news__content-image.-center-left {
    top: 50%;
    left: -3rem;
    width: 24rem;
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-transform: translate(0, -50%) scale(0);
            transform: translate(0, -50%) scale(0);
    -webkit-transition: all 0.6s 1.4s cubic-bezier(0.7, 0.68, 0.26, 1.61);
    transition: all 0.6s 1.4s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  }
  .news__content-image.-center-left.lazyloaded {
    opacity: 1;
    -webkit-transform: translate(0, -50%) scale(1);
            transform: translate(0, -50%) scale(1);
  }
  .news__content-image.-bottom-right {
    bottom: -13rem;
    right: -2.5rem;
    width: 47rem;
    -webkit-transform-origin: center bottom;
            transform-origin: center bottom;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all 0.6s 1.8s cubic-bezier(0.7, 0.68, 0.26, 1.61);
    transition: all 0.6s 1.8s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  }
  .news__content-image.-bottom-right.lazyloaded.lazyloaded {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .news__detail {
    padding-top: 16rem;
  }
}

@media screen and (min-width: 1400px) {
  .news__flag li {
    width: 34rem;
    height: calc(34rem * 0.8);
  }
  .news__content {
    padding: 4.2rem 27rem 6.2rem;
  }
  .news__content-info {
    padding-bottom: 2.2rem;
  }
  .news__content-image.-top-right {
    top: -5.6rem;
    right: -5rem;
    width: 20rem;
  }
  .news__content-image.-center-left {
    left: -9rem;
    width: 28rem;
  }
  .news__content-image.-bottom-right {
    bottom: -14rem;
    right: -9rem;
    width: 51.2rem;
  }
}

.media {
  position: relative;
  background: #fff;
  overflow: hidden;
  margin-top: -16rem;
  -webkit-transform: skewY(6deg);
          transform: skewY(6deg);
}

.media__inner {
  padding: 8rem 0 14rem;
  -webkit-transform: skewY(-6deg);
          transform: skewY(-6deg);
}

.media__header-title {
  font-family: 'Mkinas 4 Square';
  font-size: 2.6rem;
  text-align: center;
  -webkit-transition: all 1s 1.6s ease;
  transition: all 1s 1.6s ease;
  line-height: 1;
  padding-bottom: .6rem;
}

.media__result {
  padding-top: 4.5rem;
}

.media__result-content {
  display: block;
  width: 100%;
  max-width: 27.6rem;
  margin-right: auto;
  margin-left: auto;
  line-height: 1;
  padding: 4rem 0;
  border-bottom: .1rem solid #000;
}

.media__result-content.-net .media__result-number {
  text-indent: 1rem;
}

.media__result-content-inner {
  width: 100%;
  max-width: 19.6rem;
  margin-right: auto;
  margin-left: auto;
}

.media__result-info {
  width: 9.8rem;
  text-align: center;
}

.media__result-image .icon {
  fill: #000;
}

.-tv .icon {
  width: 4.5rem;
}

.-book .icon {
  width: 5.6rem;
}

.-net .icon {
  width: 4rem;
}

.-radio .icon {
  width: 4.8rem;
}

.media__result-number {
  width: calc(100% - 9.8rem);
  font-size: 6.4rem;
  font-family: 'Mkinas 4 Square';
}

.media__result-genre {
  padding-top: 1rem;
}

.media__result-genre.-pc {
  display: none;
}

.media__detail {
  padding-top: 4.6rem;
}

@media screen and (min-width: 414px) {
  .media__inner {
    padding: 10rem 0 18.6rem;
  }
  .media__header-title {
    font-family: 'Mkinas 4 Square';
    font-size: 3.6rem;
  }
}

@media screen and (min-width: 768px) {
  .media__inner {
    padding: 12rem 0 12rem;
  }
  .media__result {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 84rem;
    margin-right: auto;
    margin-left: auto;
    padding-top: 8rem;
  }
  .media__result-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 17.4rem;
    height: 17.4rem;
    max-width: 100%;
    border-bottom: none;
    background: #efece8;
    border-radius: 100%;
    padding: 0;
    margin-right: 0;
    margin-left: 0;
  }
  .media__result-content + .media__result-content {
    margin-left: auto;
  }
  .media__result-content.-net .media__result-number {
    text-indent: 0;
  }
  .media__result-content-inner[class*="flex-"][class*="-wrap"] {
    display: block;
    margin: 0;
    max-width: 100%;
  }
  .media__result-content-inner {
    -webkit-transform: scale(0) rotate(360deg);
            transform: scale(0) rotate(360deg);
  }
  .media__result-content-inner.lazyloaded {
    -webkit-transform: scale(1) rotate(0);
            transform: scale(1) rotate(0);
  }
  .-tv .media__result-content-inner {
    -webkit-transition: all 1s 0.8s cubic-bezier(0.7, 0.68, 0.26, 1.61);
    transition: all 1s 0.8s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  }
  .-book .media__result-content-inner {
    -webkit-transition: all 1s 1.4s cubic-bezier(0.7, 0.68, 0.26, 1.61);
    transition: all 1s 1.4s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  }
  .-net .media__result-content-inner {
    -webkit-transition: all 1s 1.2s cubic-bezier(0.7, 0.68, 0.26, 1.61);
    transition: all 1s 1.2s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  }
  .-radio .media__result-content-inner {
    -webkit-transition: all 1s 1.6s cubic-bezier(0.7, 0.68, 0.26, 1.61);
    transition: all 1s 1.6s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  }
  .media__result-info,
  .media__result-genre,
  .media__result-number {
    width: 100%;
    text-align: center;
  }
  .-tv .media__result-image,
  .-radio .media__result-image {
    margin-top: -1.2rem;
    margin-bottom: .2rem;
  }
  .media__result-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 3.6rem;
    margin-top: -1rem;
    line-height: 1;
  }
  .media__result-image img {
    width: auto;
    height: 100%;
  }
  .media__result-number {
    font-size: 6.5rem;
    padding: .4rem 0 .6rem;
  }
  .media__result-genre {
    padding-top: 0;
  }
  .media__result-genre.-mobile {
    display: none;
  }
  .media__result-genre.-pc {
    display: block;
  }
  .media__detail {
    padding-top: 10rem;
  }
}

@media screen and (min-width: 1024px) {
  .media__inner {
    padding: 16rem 0 14rem;
  }
  .media__result {
    max-width: 127rem;
    padding-top: 10rem;
  }
  .media__result-content {
    width: 22rem;
    height: 22rem;
  }
  .-tv .media__result-image,
  .-radio .media__result-image {
    margin-top: -2.2rem;
  }
  .media__result-image {
    height: 4.4rem;
    margin-top: -2rem;
  }
  .media__result-number {
    font-size: 7.2rem;
    padding: 1rem 0 1.6rem;
  }
  .media__result-genre {
    font-size: 1.6rem;
  }
  .media__detail {
    padding-top: 12rem;
  }
}

@media screen and (min-width: 1024px) and (hover) {
  .media__result-content {
    -webkit-transition: all 0.6s cubic-bezier(0.7, 0.68, 0.26, 1.61);
    transition: all 0.6s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  }
  .media__result-content:hover {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    opacity: 1;
    background: #E60000;
    -webkit-transform: rotate(360deg) scale(1.1);
            transform: rotate(360deg) scale(1.1);
  }
  .media__result-content:hover .media__result-number {
    color: #fff;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .media__result-content:hover .media__result-genre {
    color: #fff;
  }
  .media__result-content:hover .icon {
    fill: #fff;
  }
}

@media screen and (min-width: 1280px) {
  .media {
    margin-top: -22rem;
  }
  .media__header-title {
    font-family: 'Mkinas 4 Square';
    font-size: 4.8rem;
  }
  .media__result {
    padding-top: 12rem;
  }
  .media__result-content {
    width: 28.8rem;
    height: 28.8rem;
  }
  .media__result-number {
    font-size: 7.6rem;
    padding: 1.6rem 0 2rem;
  }
  .media__result-genre {
    font-size: 2.4rem;
  }
  .media__detail {
    padding-top: 16rem;
  }
}

.contact {
  position: relative;
  background: url(../img/index/bg-contact.jpg) no-repeat center -8rem;
  background-size: 165.6rem auto;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  margin-top: -8rem;
  opacity: 0;
  -webkit-transition: all 1s .6s;
  transition: all 1s .6s;
  overflow: hidden;
}

.contact::before {
  display: block;
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: rgba(129, 0, 0, 0.86);
  -webkit-transition: all .6s .8s;
  transition: all .6s .8s;
}

.contact.lazyloaded {
  opacity: 1;
}

.contact.lazyloaded::before {
  top: 0;
}

.contact__outer {
  position: relative;
  z-index: 2;
}

.contact__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30rem;
  padding-bottom: 6.8rem;
  color: #fff;
}

.contact__header {
  font-size: 2.8rem;
  text-align: center;
  font-weight: bold;
  text-indent: .5em;
  letter-spacing: .1rem;
  opacity: 0;
  -webkit-transform: translateY(40rem);
          transform: translateY(40rem);
  -webkit-transition: all 0.8s 0.6s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  transition: all 0.8s 0.6s cubic-bezier(0.7, 0.68, 0.26, 1.61);
}

.contact__header.lazyloaded {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.contact__header-logo {
  margin: 2.8rem 0;
  text-indent: -.5em;
}

.contact__header-logo img {
  width: 12rem;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.8s 1.2s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  transition: all 0.8s 1.2s cubic-bezier(0.7, 0.68, 0.26, 1.61);
}

.lazyloaded .contact__header-logo img {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.contact__lead {
  padding: 2.8rem 0 8rem;
  font-size: 1.3rem;
  line-height: 1;
  opacity: 0;
  -webkit-transition: opacity 1s 2s;
  transition: opacity 1s 2s;
}

.contact__lead.lazyloaded {
  opacity: 1;
}

.contact__button {
  opacity: 0;
  -webkit-transform: translateY(20rem);
          transform: translateY(20rem);
  -webkit-transition: all 1s 1.4s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  transition: all 1s 1.4s cubic-bezier(0.7, 0.68, 0.26, 1.61);
}

.contact__button .button {
  background: #fff;
  color: #000;
}

.contact__button.lazyloaded {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.contact__line {
  margin-top: 6rem;
  opacity: 0;
  -webkit-transform: translateY(20rem);
          transform: translateY(20rem);
  -webkit-transition: all 1s 2s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  transition: all 1s 2s cubic-bezier(0.7, 0.68, 0.26, 1.61);
}

.contact__line.lazyloaded {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.contact__line-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: .1rem solid #fff;
  line-height: 1.4;
  padding: 1.2rem 0;
  border-radius: 5rem;
}

.contact__line-icon {
  width: 3.6rem;
  height: 3.6rem;
  margin-right: 1.8rem;
}

.contact__line-text {
  color: #fff;
}

.contact__line-id-qr {
  display: none;
}

@media screen and (min-width: 375px) {
  .contact__lead {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 414px) {
  .contact {
    margin-top: -14rem;
  }
  .contact__header {
    font-size: 3.4rem;
  }
  .contact__header-logo {
    margin: 5rem 0;
  }
  .contact__header-logo img {
    width: 14rem;
  }
}

@media screen and (min-width: 768px) {
  .contact {
    margin-top: 0;
  }
  .contact__inner {
    padding-top: 40rem;
    padding-bottom: 10.6rem;
  }
  .contact__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 4.4rem;
    text-indent: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact__header span {
    display: none;
  }
  .contact__header-logo {
    margin: 0 2.8rem;
  }
  .contact__header-logo img {
    width: 16rem;
  }
  div.contact__lead {
    font-size: 2.4rem;
    padding: 9.4rem 0 6.8rem;
  }
  .contact__button .button {
    width: 39rem;
    padding: 2.5rem 0;
  }
  .contact__line {
    width: 39rem;
    padding: 2.8rem 1.7rem;
    border-radius: 1rem;
    border: .1rem solid #fff;
  }
  .contact__line .button {
    width: 35.6rem;
  }
  .contact__line-button {
    font-size: 1.9rem;
    background: #fff;
    text-align: left;
    line-height: 1;
    font-weight: bold;
  }
  .contact__line-icon {
    margin-right: .5rem;
  }
  .contact__line-text {
    color: #000;
    padding-top: .1rem;
  }
  .contact__line-text br {
    display: none;
  }
  .contact__line-id-qr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 2rem;
  }
  .contact__line-id {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #fff;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: bold;
    color: #000;
    padding: .8rem 1.4rem;
    border-radius: 5rem;
  }
  .contact__line-id dt {
    font-size: 1.2rem;
  }
  .contact__line-id dd {
    font-size: 1.8rem;
    border-left: .1rem solid #00B900;
    margin-left: 1rem;
    padding-left: 1rem;
    -webkit-transform: translateY(-0.1rem);
            transform: translateY(-0.1rem);
  }
  .contact__line-qr {
    width: 14rem;
    background: #fff;
    padding: 1.2rem;
    margin-left: auto;
  }
}

@media screen and (min-width: 1024px) {
  .contact {
    background-size: cover;
    background-attachment: fixed;
  }
  .contact__header {
    font-size: 6.2rem;
    -webkit-transition: all 1s 1s cubic-bezier(0.7, 0.68, 0.26, 1.61);
    transition: all 1s 1s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  }
  .contact__header-logo {
    margin: 0 5rem;
    padding-top: .4rem;
  }
  .contact__header-logo img {
    width: 20rem;
  }
}

@media screen and (min-width: 1024px) and (hover) {
  .contact__inner a:hover {
    opacity: 1;
  }
  .contact__button a:hover {
    background: transparent;
  }
  .contact__button a:hover .button__text {
    color: #fff;
  }
  .contact__line-icon {
    -webkit-transition: -webkit-transform 0.2s 0s cubic-bezier(0.7, 0.68, 0.26, 1.61);
    transition: -webkit-transform 0.2s 0s cubic-bezier(0.7, 0.68, 0.26, 1.61);
    transition: transform 0.2s 0s cubic-bezier(0.7, 0.68, 0.26, 1.61);
    transition: transform 0.2s 0s cubic-bezier(0.7, 0.68, 0.26, 1.61), -webkit-transform 0.2s 0s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  }
  .contact__line-button {
    -webkit-transition: all .4s;
    transition: all .4s;
  }
  .contact__line-button:hover {
    background: transparent;
  }
  .contact__line-button:hover .contact__line-icon {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .contact__line-button:hover .contact__line-text {
    color: #fff;
  }
}

@media screen and (min-width: 1280px) {
  .contact__inner {
    padding-top: 36rem;
  }
}
/*# sourceMappingURL=index.css.map */