@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes cluody {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, -6px);
            transform: translate(0, -6px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes cluody {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, -6px);
            transform: translate(0, -6px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes blank {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blank {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes pulse {
  100% {
    opacity: 0;
    -webkit-transform: scale(2);
            transform: scale(2);
    background: none;
  }
}

@keyframes pulse {
  100% {
    opacity: 0;
    -webkit-transform: scale(2);
            transform: scale(2);
    background: none;
  }
}

@-webkit-keyframes fukidashi-left-turn {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
            transform: rotate(0) scale(0.6);
  }
  50% {
    opacity: 1;
    -webkit-transform: rotate(10deg) scale(1);
            transform: rotate(10deg) scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
            transform: rotate(0) scale(0.6);
  }
}

@keyframes fukidashi-left-turn {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
            transform: rotate(0) scale(0.6);
  }
  50% {
    opacity: 1;
    -webkit-transform: rotate(10deg) scale(1);
            transform: rotate(10deg) scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
            transform: rotate(0) scale(0.6);
  }
}

@-webkit-keyframes people-left-move {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes people-left-move {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes fukidashi-right-turn {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
            transform: rotate(0) scale(0.6);
  }
  50% {
    opacity: 1;
    -webkit-transform: rotate(-10deg) scale(1);
            transform: rotate(-10deg) scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
            transform: rotate(0) scale(0.6);
  }
}

@keyframes fukidashi-right-turn {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
            transform: rotate(0) scale(0.6);
  }
  50% {
    opacity: 1;
    -webkit-transform: rotate(-10deg) scale(1);
            transform: rotate(-10deg) scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
            transform: rotate(0) scale(0.6);
  }
}

@-webkit-keyframes people-right-move {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes people-right-move {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.wrapper {
  padding-bottom: 0;
}

.inquiry,
.gotop {
  display: none;
}

.notfound {
  background: #faf8f5;
}

.notfound__inner {
  padding: 2.8rem 0;
}

.notfound__image {
  text-align: center;
}

.notfound__image img {
  display: inline-block;
  width: 14rem;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.6s 0.2s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  transition: -webkit-transform 0.6s 0.2s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  transition: transform 0.6s 0.2s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  transition: transform 0.6s 0.2s cubic-bezier(0.7, 0.68, 0.26, 1.61), -webkit-transform 0.6s 0.2s cubic-bezier(0.7, 0.68, 0.26, 1.61);
}

.notfound__image.lazyloaded img {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.notfound__title {
  position: relative;
  text-align: center;
  font-weight: bold;
}

.notfound__title::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #faf8f5;
  -webkit-transition: -webkit-transform 1.4s .2s linear;
  transition: -webkit-transform 1.4s .2s linear;
  transition: transform 1.4s .2s linear;
  transition: transform 1.4s .2s linear, -webkit-transform 1.4s .2s linear;
}

.notfound__title.lazyloaded::before {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.notfound__title h2 {
  font-size: 3.4rem;
  font-family: 'Mkinas 4 Square';
}

.notfound__title p {
  font-size: 1.6rem;
}

.notfound__content {
  max-width: 40.4rem;
  margin-right: auto;
  margin-left: auto;
  opacity: 0;
  -webkit-transition: all 1s 1s linear;
  transition: all 1s 1s linear;
}

.notfound__content.lazyloaded {
  opacity: 1;
}

.notfound__lead {
  font-weight: bold;
  padding: 1rem 0;
}

.notfound__list {
  padding-bottom: 4rem;
}

.notfound__list li {
  font-size: 1.3rem;
  text-indent: -1em;
  padding-left: 1em;
}

.notfound__list li + li {
  margin-top: .7rem;
}

@media screen and (min-width: 414px) {
  .notfound__lead {
    padding: 1.4rem 0;
  }
  .notfound__list {
    padding-bottom: 6rem;
  }
}

@media screen and (min-width: 600px) {
  .notfound__inner {
    padding: 4rem 0 8rem;
  }
  .notfound__image img {
    width: 18rem;
  }
  .notfound__title h2 {
    font-size: 4rem;
  }
  .notfound__title p {
    font-size: 2rem;
  }
  .notfound__content {
    max-width: 52rem;
  }
  .notfound__lead {
    font-size: 1.8rem;
    padding: 4rem 0 2rem;
  }
  .notfound__list {
    padding-bottom: 6rem;
  }
  .notfound__list li {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1024px) {
  .notfound__inner {
    padding: 8rem 0 12rem;
  }
  .notfound__image img {
    width: 20rem;
  }
  .notfound__title h2 {
    font-size: 6rem;
  }
  .notfound__title p {
    font-size: 2.2rem;
  }
  .notfound__content {
    max-width: 60rem;
  }
  .notfound__lead {
    font-size: 2rem;
    text-align: center;
    padding: 4.8rem 0 2.8rem;
  }
  .notfound__list {
    padding-bottom: 6rem;
  }
  .notfound__list li {
    font-size: 1.8rem;
  }
}
/*# sourceMappingURL=notfound.css.map */