@import './_modules/common/config';
.wrapper {
	padding-bottom: 0;
}
.inquiry,
.gotop {
	display: none;
}
.notfound {
	background: $gray-ultra-light;
}
.notfound__inner {
	padding: 2.8rem 0;
}
.notfound__image {
	text-align: center;
	img {
		display: inline-block;
		width: 14rem;
		transform-origin: center bottom;
		transform: scale(0);
		transition: transform .6s .2s cubic-bezier(.7,.68,.26,1.61);
	}
	&.lazyloaded {
		img {
			transform: scale(1);
		}
	}
}
.notfound__title {
	position: relative;
	text-align: center;
	font-weight: bold;
	&::before {
		display: block;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: $gray-ultra-light;
		transition: transform 1.4s .2s linear;
	}
	&.lazyloaded {
		&::before {
			transform: translateX(-100%);
		}
	}
	h2 {
		font-size: 3.4rem;
		font-family: 'Mkinas 4 Square';
	}
	p {
		font-size: 1.6rem;
	}
}
.notfound__content {
	max-width: 40.4rem;
	margin-right: auto;
	margin-left: auto;
	opacity: 0;
	transition: all 1s 1s linear;
	&.lazyloaded {
		opacity: 1;
	}
}
.notfound__lead {
	font-weight: bold;
	padding: 1rem 0;
}
.notfound__list {
	padding-bottom: 4rem;
	li {
		font-size: 1.3rem;
		text-indent: -1em;
		padding-left: 1em;
		& + li {
			margin-top: .7rem;
		}
	}
}
// Mobile ( Large )
@media screen and (min-width: $mobile-large) {
	.notfound__lead {
		padding: 1.4rem 0;
	}
	.notfound__list {
		padding-bottom: 6rem;
	}
}
// Tablet ( Small )
@media screen and (min-width: $tablet-small) {
	.notfound__inner {
		padding: 4rem 0 8rem;
	}
	.notfound__image {
		img {
			width: 18rem;
		}
	}
	.notfound__title {
		h2 {
			font-size: 4rem;
		}
		p {
			font-size: 2rem;
		}
	}
	.notfound__content {
		max-width: 52rem;
	}
	.notfound__lead {
		font-size: 1.8rem;
		padding: 4rem 0 2rem;
	}
	.notfound__list {
		padding-bottom: 6rem;
		li {
			font-size: 1.6rem;
		}
	}
}
// Tablet ( Large )
@media screen and (min-width: $tablet-large) {
	.notfound__inner {
		padding: 8rem 0 12rem;
	}
	.notfound__image {
		img {
			width: 20rem;
		}
	}
	.notfound__title {
		h2 {
			font-size: 6rem;
		}
		p {
			font-size: 2.2rem;
		}
	}
	.notfound__content {
		max-width: 60rem;
	}
	.notfound__lead {
		font-size: 2rem;
		text-align: center;
		padding: 4.8rem 0 2.8rem;
	}
	.notfound__list {
		padding-bottom: 6rem;
		li {
			font-size: 1.8rem;
		}
	}
}