@import './_modules/common/config';
.page-header__title {
	padding-right: 1.4rem;
	padding-left: 1.4rem;
}
.privacy-section {
	max-width: 102rem;
	margin: 0 auto 2.8rem;
	&:last-of-type {
		padding-bottom: 2.8rem;
	}
}
.privacy-section__title {
	font-size: 1.6rem;
	font-weight: bold;
}
.privacy-section__ul {
	padding: 1em 0;
	li {
		text-indent: -.8em;
		padding-left: 1em;
		& + li {
			margin-top: 1em;
		}
	}
}
.privacy-section__dl {
	padding: 1em 0;
	> dt {
		font-weight: bold;
		text-indent: -1.2em;
		padding-left: 1em;
		padding-bottom: .7rem;
		margin-left: .2rem;
	}
	> dd {
		margin-left: 1.4em;
	}
}
.privacy-section__dl-child {
	padding: 1em 0 0;
	dt {
		text-indent: -.8em;
		padding-left: 1em;
	}
	dd {
		padding-left: 1em;
	}
}
// Tablet ( Small )
@media screen and (min-width: $tablet-small) {
	.page-header__title {
		padding-right: 1.6rem;
		padding-left: 1.6rem;
	}
}
// Tablet ( Medium )
@media screen and (min-width: $tablet-medium) {
	.page-header__title {
		padding-right: 2rem;
		padding-left: 2rem;
	}
	.privacy-section {
		margin-bottom: 6rem;
		&:last-of-type {
			padding-bottom: 6rem;
		}
	}
	.privacy-section__title {
		font-size: 2rem;
		margin-bottom: 1rem;
	}
}
// Tablet ( Large )
@media screen and (min-width: $tablet-large) {
	.privacy-section {
		margin-bottom: 8rem;
		&:last-of-type {
			padding-bottom: 8rem;
		}
	}
	.privacy-section__title {
		font-size: 2.6rem;
	}
	.privacy-section__content {
		font-size: 1.6rem;
	}
}
// PC ( Small )
@media screen and (min-width: $pc-small) {
	.page-header__title {
		width: 56.8rem;
	}
	.privacy-section__title {
		font-size: 3rem;
	}
	.privacy-section__content {
		font-size: 2rem;
	}
}