@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes cluody {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, -6px);
            transform: translate(0, -6px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes cluody {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, -6px);
            transform: translate(0, -6px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes blank {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blank {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes pulse {
  100% {
    opacity: 0;
    -webkit-transform: scale(2);
            transform: scale(2);
    background: none;
  }
}

@keyframes pulse {
  100% {
    opacity: 0;
    -webkit-transform: scale(2);
            transform: scale(2);
    background: none;
  }
}

@-webkit-keyframes fukidashi-left-turn {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
            transform: rotate(0) scale(0.6);
  }
  50% {
    opacity: 1;
    -webkit-transform: rotate(10deg) scale(1);
            transform: rotate(10deg) scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
            transform: rotate(0) scale(0.6);
  }
}

@keyframes fukidashi-left-turn {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
            transform: rotate(0) scale(0.6);
  }
  50% {
    opacity: 1;
    -webkit-transform: rotate(10deg) scale(1);
            transform: rotate(10deg) scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
            transform: rotate(0) scale(0.6);
  }
}

@-webkit-keyframes people-left-move {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes people-left-move {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes fukidashi-right-turn {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
            transform: rotate(0) scale(0.6);
  }
  50% {
    opacity: 1;
    -webkit-transform: rotate(-10deg) scale(1);
            transform: rotate(-10deg) scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
            transform: rotate(0) scale(0.6);
  }
}

@keyframes fukidashi-right-turn {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
            transform: rotate(0) scale(0.6);
  }
  50% {
    opacity: 1;
    -webkit-transform: rotate(-10deg) scale(1);
            transform: rotate(-10deg) scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
            transform: rotate(0) scale(0.6);
  }
}

@-webkit-keyframes people-right-move {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes people-right-move {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.page-header__title {
  padding-right: 1.4rem;
  padding-left: 1.4rem;
}

.privacy-section {
  max-width: 102rem;
  margin: 0 auto 2.8rem;
}

.privacy-section:last-of-type {
  padding-bottom: 2.8rem;
}

.privacy-section__title {
  font-size: 1.6rem;
  font-weight: bold;
}

.privacy-section__ul {
  padding: 1em 0;
}

.privacy-section__ul li {
  text-indent: -.8em;
  padding-left: 1em;
}

.privacy-section__ul li + li {
  margin-top: 1em;
}

.privacy-section__dl {
  padding: 1em 0;
}

.privacy-section__dl > dt {
  font-weight: bold;
  text-indent: -1.2em;
  padding-left: 1em;
  padding-bottom: .7rem;
  margin-left: .2rem;
}

.privacy-section__dl > dd {
  margin-left: 1.4em;
}

.privacy-section__dl-child {
  padding: 1em 0 0;
}

.privacy-section__dl-child dt {
  text-indent: -.8em;
  padding-left: 1em;
}

.privacy-section__dl-child dd {
  padding-left: 1em;
}

@media screen and (min-width: 600px) {
  .page-header__title {
    padding-right: 1.6rem;
    padding-left: 1.6rem;
  }
}

@media screen and (min-width: 768px) {
  .page-header__title {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .privacy-section {
    margin-bottom: 6rem;
  }
  .privacy-section:last-of-type {
    padding-bottom: 6rem;
  }
  .privacy-section__title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .privacy-section {
    margin-bottom: 8rem;
  }
  .privacy-section:last-of-type {
    padding-bottom: 8rem;
  }
  .privacy-section__title {
    font-size: 2.6rem;
  }
  .privacy-section__content {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1280px) {
  .page-header__title {
    width: 56.8rem;
  }
  .privacy-section__title {
    font-size: 3rem;
  }
  .privacy-section__content {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=privacy-policy.css.map */