@import './_modules/common/config';
.sdgs-section {
	& + .sdgs-section {
		margin-top: 4.8rem;
	}
}
.give,
.approach,
.rental {
	.section__header {
		text-align: left;
	}
	.section__header-text {
		line-height: 1.4;
	}
}
.introduction {
	max-width: 102rem;
	margin-right: auto;
	margin-left: auto;
}
.introduction__logo {
	text-align: center;
	margin-top: 2.8rem;
	img {
		width: 20rem;
	}
}
.introduction__breakdown {
	padding-top: 1.4rem;
}
.text-group {
	max-width: 95rem;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	padding-top: 1.4rem;
	div {
		position: relative;
		& + div {
			margin-top: 1.4rem;
		}
		&::before {
			@include myMask();
			transition: transform 1s .6s;
		}
	}
	&.lazyloaded {
		div {
			&::before {
				transform: translateX(100%);
			}
		}
	}
}
.introduction-sign {
	padding-top: 1.4rem;
	text-align: right;
	img {
		width: 20rem;
	}
}
.sport {
	max-width: 102.2rem;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
.sport__image {
	padding-top: 2.8rem;
	overflow: hidden;
}
.give,
.rental {
	margin-top: 2.8rem;
}
.give div[class *= "flex-"],
.rental div[class *= "flex-"] {
	max-width: 102rem;
	margin-right: auto;
	margin-left: auto;
}
.give__image,
.rental__image {
	position: relative;
	z-index: 2;
	max-width: 31.8rem;
	margin: 2.8rem auto 0;
	border-radius: 100%;
	overflow: hidden;
	transform: scale(0);
	transition: transform .68s .2s cubic-bezier(.7,.68,.26,1.61);
	&.lazyloaded {
		transform: scale(1);
	}
}
.give__text,
.rental__text {
	font-weight: bold;
}
.sdgs-list {
	max-width: 97.8rem;
	margin-right: auto;
	margin-left: auto;
	padding-top: 2.8rem;
}
.sdgs-list__image {
	width: 4.8rem;
	transform-origin: center center;
	transform: scale(0);
	transition: transform .68s .6s cubic-bezier(.7,.68,.26,1.61);
	img + img {
		margin-top: 1.4rem;
	}
}
.sdgs-list.lazyloaded {
	.sdgs-list__image {
		transform: scale(1);
	}
}
.sdgs-list__text {
	position: relative;
	width: calc(100% - 4.8rem);
	padding-left: .6rem;
	text-align: justify;
	dt {
		font-weight: bold;
		border-bottom: .2rem solid #000;
		padding-bottom: .4rem;
		line-height: 1.4;
		& + dt {
			padding-top: 1rem;
		}
	}
	dd {
		font-size: 1.2rem;
		padding-top: .4rem;
		& + dd {
			padding-top: 0;
		}
		& + dt {
			padding-top: 1rem;
		}
	}
	&::before {
		@include myMask();
		transition: transform 1s .6s;
	}
}
.sdgs-list.lazyloaded {
	.sdgs-list__text {
		&::before {
			transform: translateX(100%);
		}
	}
}
div[class *= "flex-"] + .sdgs-list-group {
	padding-top: 4rem;
}
.sdgs-list__text dt.-no01 {
	border-color: #e5233d;
}
.sdgs-list__text dt.-no02 {
	border-color: #dea73a;
}
.sdgs-list__text dt.-no03 {
	border-color: #4ca145;
}
.sdgs-list__text dt.-no04 {
	border-color: #c71f2e;
}
.sdgs-list__text dt.-no05 {
	border-color: #ef402c;
}
.sdgs-list__text dt.-no06 {
	border-color: #26bfe5;
}
.sdgs-list__text dt.-no07 {
	border-color: #fbc414;
}
.sdgs-list__text dt.-no08 {
	border-color: #a21b43;
}
.sdgs-list__text dt.-no09 {
	border-color: #f2692d;
}
.sdgs-list__text dt.-no10 {
	border-color: #e12984;
}
.sdgs-list__text dt.-no11 {
	border-color: #f99d29;
}
.sdgs-list__text dt.-no12 {
	border-color: #bf8d2b;
}
.sdgs-list__text dt.-no13 {
	border-color: #407f46;
}
.sdgs-list__text dt.-no14 {
	border-color: #1f96d4;
}
.sdgs-list__text dt.-no15 {
	border-color: #5aba46;
}
.sdgs-list__text dt.-no16 {
	border-color: #126a9e;
}
.sdgs-list__text dt.-no17 {
	border-color: #14496b;
}
.purpose__lead {
	position: relative;
	font-size: 1.6rem;
	padding-top: 2.8rem;
	font-weight: bold;
	&::before {
		@include myMask();
		transition: transform 1s .6s;
	}
	&.lazyloaded {
		&::before {
			transform: translateX(100%);
		}
	}
}
.purpose__button {
	padding: 2.8rem 0 8rem;
	font-weight: bold;
	opacity: 0;
	transform: translateY(10rem);
	transition: all 1s .6s;
	a {
		max-width: 44.6rem;
		margin-right: auto;
		margin-left: auto;
		border: .2rem solid $navy;
		line-height: 1;
		padding: 1rem;
	}
	img {
		width: 2rem;
		margin-left: 1rem;
	}
	&.lazyloaded {
		opacity: 1;
		transform: translateY(0);
	}
}

@media screen and (min-width: 354px) {
	.give {
		.section__header {
			text-align: center;
		}
		.section__header-text {
			line-height: 1;
		}
	}
}
@media screen and (min-width: 522px) {
	.approach,
	.rental {
		.section__header {
			text-align: center;
		}
		.section__header-text {
			line-height: 1;
		}
	}
}
// Mobile ( Large )
@media screen and (min-width: $mobile-large) {
	.sdgs-section {
		& + .sdgs-section {
			margin-top: 6.8rem;
		}
	}
	.sdgs-list__image {
		width: 6rem;
	}
	.sdgs-list__text {
		width: calc(100% - 6rem);
		padding-left: 1rem;
		dd {
			font-size: 1.3rem;
		}
	}
	.purpose__button {
		padding: 4rem 0 10rem;
		a {
			font-size: 1.6rem;
		}
		img {
			width: 2.2rem;
		}
	}
}
// Tablet ( Small )
@media screen and (min-width: $tablet-small) {
	.introduction__logo {
		text-align: center;
		margin-top: 4rem;
		img {
			width: 24rem;
		}
	}
	.sdgs-list {
		padding-top: 4rem;
	}
	.sdgs-list__image {
		width: 10rem;
		img + img {
			margin-top: 1.8rem;
		}
	}
	.sdgs-list__text {
		width: calc(100% - 10rem);
		padding-left: 1.6rem;
		dt {
			font-size: 1.6rem;
			padding-bottom: .8rem;
			& + dt {
				padding-top: 1.4rem;
			}
		}
		dd {
			font-size: 1.4rem;
			padding-top: .8rem;
			& + dt {
				padding-top: 1.4rem;
			}
		}
	}
	div[class *= "flex-"] + .sdgs-list-group {
		padding-top: 6rem;
	}
	.give div[class *= "flex-"],
	.rental div[class *= "flex-"] {
		padding-top: 2.8rem;
	}
	.give__image,
	.rental__image {
		max-width: 20rem;
		margin: 0 0 0 0;
		order: 2;
	}
	.give__text,
	.rental__text {
		width: calc(100% - 20rem);
		order: 1;
		margin-right: 0;
		margin-left: 0;
		padding-top: 0;
		padding-right: 1.4rem;
	}
	.purpose__lead {
		font-size: 2.2rem;
		padding-top: 4rem;
	}
	.purpose__button {
		padding-bottom: 14rem;
		a {
			font-size: 2rem;
			padding: 1.9rem 0;
		}
		img {
			width: 2.4rem;
		}
	}
}
// Tablet ( Medium )
@media screen and (min-width: $tablet-medium) {
	.introduction__logo {
		img {
			width: 40rem;
		}
	}
	.introduction-sign {
		padding-top: 2.8rem;
		img {
			width: 28rem;
		}
	}
	.text-group {
		font-size: 1.6rem;
		div + div {
			margin-top: 1.6rem;
		}
	}
	.sport {
		.text-group {
			padding-top: 4.8rem;
		}
	}
	.sport__image {
		padding-top: 4.8rem;
	}
	.give div[class *= "flex-"],
	.rental div[class *= "flex-"] {
		padding-top: 4rem;
	}
	.give__text,
	.rental__text {
		font-size: 1.8rem;
		padding-right: 5.4rem;
	}
	.sdgs-list__image {
		width: 12rem;
	}
	.sdgs-list__text {
		width: calc(100% - 12rem);
		padding-left: 1.8rem;
		dt {
			font-size: 1.8rem;
			& + dt {
				padding-top: 1.8rem;
			}
		}
		dd {
			font-size: 1.6rem;
			& + dt {
				padding-top: 1.8rem;
			}
		}
		&.-group {
			padding-top: 2.4rem;
		}
	}
	.purpose__lead {
		padding-top: 6rem;
	}
	.purpose__button {
		padding: 6rem 0 18rem;
	}
}
// Tablet ( Medium Exception )
@media screen and (min-width: 858px) {
	.purpose__lead {
		text-align: center;
	}
}
// Tablet ( Large )
@media screen and (min-width: $tablet-large) {
	.sdgs-section {
		& + .sdgs-section {
			margin-top: 12.8rem;
		}
	}
	.introduction__logo {
		margin-top: 2.8rem;
		margin-top: 8rem;
		img {
			width: 44rem;
		}
	}
	.introduction__breakdown {
		padding-top: 2.8rem;
	}
	.introduction-sign {
		img {
			width: 32rem;
		}
	}
	.sport__image {
		padding-top: 6.8rem;
	}
	.text-group {
		font-size: 2rem;
		div + div {
			margin-top: 2.8rem;
		}
	}
	.introduction {
		.text-group {
			padding-top: 4.8rem;
		}
	}
	.sport {
		.text-group {
			padding-top: 6.8rem;
		}
	}
	.give div[class *= "flex-"],
	.rental div[class *= "flex-"] {
		padding-top: 6.8rem;
	}
	.give__image,
	.rental__image {
		max-width: 26rem;
	}
	.give__text,
	.rental__text {
		width: calc(100% - 26rem);
		font-size: 2.2rem;
		padding-right: 6.6rem;
	}
	.sdgs-list-group {
		padding-top: 6rem;
	}
	.sdgs-list {
		padding-top: 6rem;
	}
	.sdgs-list__image {
		width: 14rem;
	}
	.sdgs-list__text {
		width: calc(100% - 14rem);
		padding-left: 4rem;
		dt {
			font-size: 2rem;
			border-bottom-width: .3rem;
			padding-bottom: 1rem;
			& + dt {
				padding-top: 2rem;
			}
		}
		dd {
			font-size: 1.8rem;
			padding-top: 1rem;
			& + dt {
				padding-top: 2rem;
			}
		}
	}
}
// PC ( Small )
@media screen and (min-width: $pc-small) {
	.sdgs-section {
		& + .sdgs-section {
			margin-top: 16.8rem;
		}
	}
	.give div[class *= "flex-"],
	.rental div[class *= "flex-"] {
		padding-top: 12rem;
	}
	.give__image,
	.rental__image {
		max-width: 30rem;
	}
	.give__text,
	.rental__text {
		width: calc(100% - 30rem);
		font-size: 2.4rem;
		padding-right: 7.2rem;
		div + div {
			margin-top: 4rem;
		}
	}
	.sdgs-list-group {
		padding-top: 10rem;
	}
	.sdgs-list {
		padding-top: 6.4rem;
	}
	.sdgs-list__image {
		width: 14.4rem;
	}
	.sdgs-list__text {
		width: calc(100% - 14.4rem);
		padding-left: 4rem;
		dt {
			font-size: 2.2rem;
			padding-bottom: 1.2rem;
			& + dt {
				padding-top: 3.2rem;
			}
		}
		dd {
			font-size: 2rem;
			padding-top: 1.2rem;
			& + dt {
				padding-top: 3.2rem;
			}
		}
		&.-group {
			padding-top: 3.2rem;
		}
	}
	div[class*="flex-"] + .sdgs-list-group {
		padding-top: 0;
	}
	.purpose__lead {
		font-size: 2.4rem;
		padding-top: 8rem;
	}
	.purpose__button {
		padding: 10rem 0 22rem;
	}

}