@import './_modules/common/config';
@import './_modules/common/modal';
.anchor {
	position: absolute;
	top: -10rem;
	left: 0;
	width: 100%;
	height: 4rem;
	z-index: -1;
}
.service-price-section {
	position: relative;
	& + .service-price-section {
		margin-top: 4.8rem;
	}
}
.both-circle {
	display: inline-block;
	position: relative;
	padding: 0 1.6rem;
	&::before,
	&::after {
		display: block;
		content: "";
		position: absolute;
		top: 50%;
		width: .6rem;
		height: .6rem;
		background: currentColor;
		border-radius: 100%;
		transform: translateY(-50%);
		margin-top: -.1rem;
	}
	&::before {
		left: 0;
	}
	&::after {
		right: 0;
	}
}
.reason,
.flow,
.example {
	max-width: 35rem;
	margin-right: auto;
	margin-left: auto;
}
.reason {
	background: url(../img/service-price/bg-reason.png) no-repeat center 3rem;
	background-size: 100%;
}
.reason__title {
	font-size: 2.2rem;
	text-align: center;
	font-weight: bold;
	padding-top: 4.8rem;
	span:not(.fc-red) {
		font-size: 2rem;
	}
	.fc-red {
		color: $red;
	}
}
.reason__lead {
	padding-top: 2rem;
	p {
		text-indent: 1em;
		& + p {
			padding-top: 1.4rem;
		}
	}
}
.reason__data,
.reason__catchcopy {
	padding-top: 6rem;
}
.reason__data {
	transform: scale(0);
	transition: all .68s .4s;
	will-change: contents;
	&.lazyloaded {
		transform: scale(1);
	}
}
.reason__catchcopy {
	text-align: center;
	font-weight: bold;
	line-height: 1;
	p + p {
		margin-top: .4rem;
	}
	b {
		display: inline-block;
		transform: skew(-25deg);
	}
	span {
		display: inline-block;
		transform: skew(25deg);
	}
	.-red b,
	.-yellow b {
		background-position: 100% 50%;
		background-size: 200% 100%;
		background-repeat: no-repeat;
		transition: all 1s ease-out;
		color: transparent;
	}
	.-red {
		b {
			font-size: 1.8rem;
			background-image: linear-gradient(90deg, $red 50%, transparent 50%);
			padding: .4rem 2rem;
		}
	}
	.-yellow {
		b {
			background-image: linear-gradient(90deg, $yellow 50%, transparent 50%);
			padding: .6rem 1.4rem .4rem;
		}
	}
	&.lazyloaded {
		.-red b {
			color: #fff;
			background-position: 0 0;
		}
		.-yellow b {
			color: #000;
			background-position: 0 0;
		}
	}
}
.reason__hero-image {
	display: none;
}
.reason__content-label {
	display: none;
}
.reason__content {
	margin-top: 2.8rem;
	background: $background-gray-light;
	padding: 2rem 1rem;
}
.reason__content-box {
	border-style: solid;
	border-width: .3rem;
	padding-right: 1.4rem;
	padding-left: 1.4rem;
	& + .reason__content-box {
		margin-top: 2.2rem;
	}
	&.-blue {
		border-color: #0873d0;
		.reason__content-box-title-set,
		.reason__content-box-appeal .reason__content-box-text {
			color: #0873d0;
		}
	}
	&.-green {
		border-color: #198b52;
		.reason__content-box-title-set,
		.reason__content-box-appeal .reason__content-box-text {
			color: #198b52;
		}
	}
	&.-orange {
		border-color: #eb6d00;
		.reason__content-box-title-set,
		.reason__content-box-appeal .reason__content-box-text {
			color: #eb6d00;
		}
	}
}
.reason__content-box-description,
.reason__content-box-appeal {
	width: 100%;
	padding-top: 1.4rem;
	padding-bottom: 1.4rem;
}
.reason__content-box-image {
	display: flex;
	width: 11.8rem;
	height: 11.8rem;
	margin-right: auto;
	margin-left: auto;
	background: #fff;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	border-style: solid;
	border-width: .2rem;
	padding: 2rem;
	margin-bottom: 1.4rem;
}
.reason__content-box-title-set {
	text-align: center;
	padding-bottom: 1.4rem;
	font-weight: bold;
	dt {
		font-size: 1.8rem;
	}
	dd {
		font-size: 1.2rem;
		line-height: 1;
	}
}
.reason__content-box-description {
	border-bottom: .1rem solid $navy;
	.reason__content-box-image {
		border-color: $red;
	}
	.reason__content-box-text {
		font-size: 1.8rem;
		text-align: justify;
	}
}
.reason__content-box-appeal {
	.reason__content-box-image {
		border-color: #333;
	}
	.reason__content-box-text {
		font-size: 1.6rem;
		font-weight: bold;
		text-align: center;
		p {
			transform-origin: center center;
			transform: scale(0);
			transition: all .6s;
		}
		br {
			display: none;
		}
		&.lazyloaded {
			p {
				transform: scale(1);
			}
		}
	}
}
.reason__content-goals {
	margin-top: 6rem;
	background: $background-gray-light;
	border: .3rem solid $navy;
	border-radius: .8rem;
	transform: translateY(10rem);
	opacity: 0;
	transition: all .4s;
}
.reason__content-goals-image {
	display: flex;
	width: 12rem;
	height: 12rem;
	justify-content: center;
	align-items: center;
	background: #fff;
	border-radius: 50%;
	margin: 2.8rem 0 2rem;
	box-shadow: 0 0 1.4rem 0 rgba(0, 0, 0, .36);
	transform: scale(0);
	transition: transform .6s .2s;
}
.reason__content-goals-text {
	width: 100%;
	font-size: 2.2rem;
	text-align: center;
	line-height: 1.4;
	color: transparent;
	padding-bottom: 2.8rem;
	transition: all .6s .2s;
}
.lazyloaded {
	transform: translateY(0);
	opacity: 1;
	.reason__content-goals-image {
		transform: scale(1);
	}
	.reason__content-goals-text {
		color: #000;
	}
}
.flow {
	padding-top: 8rem;
}
.flow__image01,
.flow__image02 {
	display: none;
}
.flow__box {
	transform: translateY(20rem);
	font-weight: bold;
	opacity: 0;
	transition: all .6s;
	&.lazyloaded {
		transform: translateY(0);
		opacity: 1;
	}
}
.flow__box:not(.flow__recommended) {
	background: $background-gray-light;
	padding: 2rem 1rem;
	border-radius: 1rem;
	text-align: center;
}
.flow__section {
	& + .flow__section {
		margin-top: 4.8rem;
	}
	&.-yellow {
		background: $yellow;
		border-radius: 1rem;
		padding-right: 1.4rem;
		padding-left: 1.4rem;
	}
}
.flow__label {
	display: inline-block;
	font-size: 1.2rem;
	background: $yellow;
	padding: .4rem .4rem;
	border-radius: 2rem;
	margin-bottom: 1rem;
	transform: translate(0, -1.2rem);
	span {
		padding: .2rem 1.2rem;
		white-space: nowrap;
		line-height: 1;
		background: #fff;
		border-radius: 2rem;
	}
}
.flow__title {
	font-size: 2rem;
	padding-bottom: 2rem;
	.both-circle {
		&::before,
		&::after {
			background: $red;
		}
	}
}
.flow__subtitle {
	font-size: 1.6rem;
	margin-bottom: 2rem;
	span {
		border-bottom: .1rem solid $red;
		padding-bottom: .4rem;
	}
}
.flow__description {
	padding-bottom: 2rem;
}
.flow__notice {
	font-size: 1.2rem;
	font-weight: normal;
	padding-bottom: 2rem;
	line-height: 1.2;
}
.flow__box.flow__today {
	background: transparent;
	border: .3rem solid $red;
	.flow__title {
		span {
			display: inline-block;
			background-image: url(../img/service-price/flag-left.svg), url(../img/service-price/flag-right.svg);
			background-repeat: no-repeat;
			background-position: left top, right top;
			background-size: 4rem;
			padding: 0 4.8rem;
		}
	}
}
.flow__after {
	.flow__title {
		padding-bottom: 4rem;
	}
}
.flow__recommended {
	padding-top: 4rem;
	text-align: center;
	.flow__title {
		font-size: 1.6rem;
	}
}
.flow__box.flow__recommended {
	.flow__title {
		padding-bottom: 0;
	}
}
.flow__arrow {
	padding: 4rem 0;
	text-align: center;
	img {
		width: 4rem;
		height: 4rem;
	}
}
.flow__program {
	margin-top: 2rem;
	padding-top: 2.8rem;
	padding-bottom: 2.8rem;
	color: transparent;
	background-image: linear-gradient(90deg, $yellow 50%, transparent 50%);
	background-position: 100% 50%;
	background-size: 200% 100%;
	background-repeat: no-repeat;
	transition: all 1s ease-out;
	&.lazyloaded {
		color: #000;
		background-position: 0 0;
	}
}
.flow__program-title {
	font-size: 2.2rem;
	text-align: center;
	font-weight: bold;
	padding-bottom: 2rem;
}
.flow__program-content {
	font-weight: normal;
	text-align: justify;
	padding-bottom: 2.8rem;
}
.flow__program-detail {
	p {
		width: 100%;
		padding-top: 1.4rem;
		line-height: 1;
		text-align: center;
	}
	img {
		display: none;
	}
}
.plan,
.detail,
.example {
	padding-top: 4.8rem;
}
.plan__title {
	font-size: 2rem;
	text-align: center;
	font-weight: bold;
	padding-bottom: 2rem;
	.both-circle {
		&::before,
		&::after {
			background: $red;
		}
	}
}
.plan__content.-large {
	display: none;
}
.plan__lead {
	font-size: 1.5rem;
	text-align: center;
}
.plan__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	a {
		display: block;
		width: 23rem;
	}
}
.plan__info {
	font-size: 1.8rem;
	text-align: center;
	border: .2rem solid $red;
	border-radius: .4rem;
	margin-top: 2.4rem;
	padding: 1.2rem 0 .8rem;
	line-height: 1;
	dd {
		margin-top: .6rem;
	}
}
.plan__image {
	display: none;
}
.detail {
	overflow: hidden;
}
.detail__box-group {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.detail__box-group + .detail__box-group,
.detail__box + .detail__box {
	margin-top: 4.8rem;
}
.detail__box {
	transform: translateY(10rem);
	opacity: 0;
	transition: all .6s;
	&.lazyloaded {
		transform: translateY(0);
		opacity: 1;
	}
}
.detail__box-title {
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	padding: 2rem 0;
	line-height: 1.4;
}
.detail__box-list {
	width: 18rem;
	text-align: left;
	li {
		font-size: 1.6rem;
		white-space: nowrap;
		&::before {
			content: "・";
		}
	}
}
.example {
	padding-bottom: 18.8rem;
}
.example__box {
	transform: translateY(10rem);
	opacity: 0;
	transition: all .6s;
	&.lazyloaded {
		transform: translateY(0);
		opacity: 1;
	}
	& + .example__box {
		margin-top: 4.8rem;
	}
}
.example__text {
	background: $background-gray-light;
	margin: 1.4rem .7rem 0;
	padding: 1.4rem;
	border-radius: 1rem;
}
.example__title {
	font-size: 1.8rem;
	border-bottom: .1rem solid $red;
	padding-bottom: .2rem;
}
.example__list {
	padding-top: .7rem;
	dd {
		font-weight: bold;
	}
}
.example__rental {
	font-size: 1.6rem;
	padding-top: 1.4rem;
	text-align: center;
	span {
		text-decoration: underline;
	}
	img {
		width: 21.6rem;
	}
}
// Mobile ( Large )
@media screen and (min-width: $mobile-large) {
	.service-price-section {
		& + .service-price-section {
			margin-top: 6.8rem;
		}
	}
	.reason__title {
		font-size: 2.4rem;
		padding-top: 6rem;
	}
	.reason__lead {
		font-size: 1.6rem;
		p {
			& + p {
				padding-top: 2.4rem;
			}
		}
	}
	.reason__catchcopy {
		.-red {
			b {
				font-size: 2rem;
			}
		}
		.-yellow {
			b {
				font-size: 1.6rem;
			}
		}
	}
	.reason__content {
		margin-top: 4.8rem;
	}
	.reason__content-box {
		padding-right: 2rem;
		padding-left: 2rem;
		& + .reason__content-box {
			margin-top: 2.4rem;
		}
	}
	.reason__content-box-description,
	.reason__content-box-appeal {
		padding-top: 2.4rem;
		padding-bottom: 2.4rem;
	}
	.reason__content-box-title-set {
		padding-bottom: 2.4rem;
	}
	.reason__content-box-appeal {
		.reason__content-box-text {
			font-size: 2rem;
		}
	}
	.flow__box:not(.flow__recommended) {
		padding: 4rem 1.2rem;
	}
	.flow__title {
		font-size: 2.2rem;
		padding-bottom: 2.2rem;
	}
	.flow__description {
		font-size: 1.6rem;
		padding-bottom: 2rem;
	}
	.flow__program {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}
	.flow__program-title {
		padding-bottom: 2.8rem;
	}
	.flow__program-content {
		font-size: 1.6rem;
	}
	.plan__lead {
		font-size: 1.6rem;
	}
	.detail {
		padding-top: 6.8rem;
	}
	.example__list {
		font-size: 1.6rem;
		dt {
			br {
				display: none;
			}
		}
	}

}
// Tablet ( Small )
@media screen and (min-width: $tablet-small) {
	.service-price-section {
		& + .service-price-section {
			margin-top: 10rem;
		}
	}
	.reason,
	.flow {
		max-width: 54.6rem;
	}
	.reason__content {
		margin-top: 5rem;
	}
	.reason__content-box {
		& + .reason__content-box {
			margin-top: 4rem;
		}
	}
	.reason__content-box-image {
		width: 12.8rem;
		height: 12.8rem;
	}
	.flow__title {
		font-size: 2.6rem;
		padding-bottom: 2.6rem;
	}
	.flow__after {
		.flow__title {
			padding-bottom: 4.8rem;
		}
	}
	.flow__subtitle {
		font-size: 1.8rem;
	}
	.flow__arrow {
		padding: 6rem 0;
		img {
			width: 6rem;
			height: 6rem;
		}
	}
	.plan {
		padding-top: 6.8rem;
	}
	.plan__title {
		font-size: 2.6rem;
		padding-bottom: 4rem;
	}
	.plan__lead {
		font-size: 2rem;
	}
	.plan__list {
		width: 48.4rem;
		margin-right: auto;
		margin-left: auto;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		padding-top: 2.4rem;
		a {
			&:nth-of-type(even) {
				margin-left: 2.4rem;
			}
		}
	}
	.detail {
		padding-top: 10.8rem;
	}
	.detail__content {
		padding-top: 4rem;
	}
	.detail__box-group {
		flex-direction: row;
		align-items: flex-start;
		justify-content: center;
		& + .detail__box-group {
			margin-top: 6.8rem;
		}
	}
	.detail__box {
		width: 18rem;
		& + .detail__box {
			margin-top: 0;
			margin-left: 2rem;
		}
	}
}
// Tablet ( Medium )
@media screen and (min-width: $tablet-medium) {
	.wrapper {
		.service-price-section {
			& + .service-price-section {
				margin-top: 12rem;
			}
		}
		.reason {
			max-width: 100%;
			background-size: 74rem;
		}
		.reason__title {
			font-size: 5rem;
			padding-top: 8rem;
			span:not(.fc-red) {
				font-size: 4.2rem;
			}
		}
		.reason__lead {
			width: 71rem;
			font-size: 2rem;
			margin-right: auto;
			margin-left: auto;
			p {
				& + p {
					padding-top: 5.4rem;
				}
			}
		}
		.reason__data {
			text-align: center;
			img {
				width: 55.8rem;
			}
		}
		.reason__catchcopy {
			padding-top: 10rem;
			p + p {
				margin-top: 1rem;
			}
			.-red {
				b {
					font-size: 4rem;
					padding: 1rem 4rem .8rem;
				}
			}
			.-yellow {
				b {
					font-size: 2.8rem;
					padding: 1rem 2.8rem .8rem;
				}
			}
		}
		.reason__hero-image {
			display: block;
			text-align: center;
			padding-top: 6rem;
			transform: translateY(20rem);
			opacity: 0;
			transition: all .68s .2s;
			img {
				width: 90%;
				max-width: 84rem;
			}
			&.lazyloaded {
				transform: translateY(0);
				opacity: 1;
			}
		}
		.reason__content {
			max-width: 106rem;
			margin-right: auto;
			margin-left: auto;
			padding: 4rem 1.8rem;
		}
		.reason__content-box {
			padding-top: 2rem;
			padding-bottom: 2rem;
			& + .reason__content-box {
				margin-top: 2.8rem;
			}
		}
		.reason__content-label {
			display: flex;
			font-size: 3rem;
			padding-bottom: 2.8rem;
			line-height: 1;
			font-weight: bold;
			dt,
			dd {
				width: 50%;
				text-align: center;
			}
			dt {
				color: $red;
			}
		}
		.reason__content-box-image {
			display: none;
		}
		.reason__content-box-description,
		.reason__content-box-appeal {
			width: 50%;
		}
		.reason__content-box-title-set {
			padding-bottom: .6rem;
			dt {
				font-size: 2rem;
			}
			dd {
				font-size: 1.6rem;
				line-height: 1.4;
			}
		}
		.reason__content-box-description {
			border-bottom: none;
			border-right: .1rem solid $navy;
			padding: 0 1.4rem 0 0;
			.reason__content-box-text {
				font-size: 1.4rem;
				line-height: 1.4;
			}
		}
		.reason__content-box-appeal {
			.reason__content-box-text {
				text-indent: 1em;
				br {
					display: block;
				}
			}
		}
		.reason__content-goals {
			width: 90%;
			max-width: 80.6rem;
			margin: 8rem auto 0;
		}
		.reason__content-goals-image {
			width: 14rem;
			height: 14rem;
			margin: 3rem 3rem 3rem;
		}
		.reason__content-goals-text {
			width: auto;
			font-size: 3rem;
			padding-top: 2rem;
			padding-bottom: 0;
		}
		.flow,
		.example {
			max-width: 90.6rem;
			margin-right: auto;
			margin-left: auto;
		}
		.flow__box:not(.flow__recommended) {
			padding: 5rem 1rem;
		}
		.flow__box.flow__today {
			.flow__title {
				span {
					background-size: 6rem;
					padding: 0 8.8rem;
				}
			}
		}
		.flow__after {
			.flow__title {
				padding-bottom: 6rem;
			}
		}
		.flow__section {
			& + .flow__section {
				margin-top: 6.8rem;
			}
			&.-yellow {
				max-width: 71.2rem;
				margin-right: auto;
				margin-left: auto;
			}
		}
		.flow__label {
			padding: .8rem .4rem 0;
			transform: translate(0, -1.4rem);
			span {
				padding: .6rem 2.4rem;
			}
		}
		.flow__title {
			font-size: 3.4rem;
			padding-bottom: 3.4rem;
		}
		.flow__subtitle {
			font-size: 2rem;
		}
		.flow__description {
			font-size: 2.4rem;
		}
		.flow__notice {
			font-size: 1.4rem;
			line-height: 1.4;
		}
		.flow__today {
			border-width: .6rem;
			.flow__title {
				span {
					background-size: 8rem;
				}
			}
		}
		.flow__recommended {
			padding-top: 6rem;
			.flow__title {
				font-size: 2.4rem;
			}
		}
		.flow__program {
			margin-top: 4rem;
			padding-top: 6rem;
			padding-bottom: 6rem;
		}
		.flow__program-content {
			font-size: 2rem;
			padding: 0 2rem 4rem;
		}
		.plan__title {
			font-size: 3.4rem;
		}
		.detail {
			padding-top: 12.8rem;
		}
		.detail__box {
			width: 20rem;
			& + .detail__box {
				margin-left: 4rem;
			}
		}
		.example {
			padding-bottom: 32rem;
		}
		.example__box {
			display: flex;
			align-items: center;
			& + .example__box {
				margin-top: 6.8rem;
			}
		}
		.example__image {
			width: 38rem;
		}
		.example__text {
			width: calc(100% - 38rem);
			margin: 0 0 0 2rem;
		}
		.example__title {
			font-size: 1.8rem;
		}
		.example__list {
			font-size: 1.6rem;
		}
		.example__rental {
			padding-top: 0;
		}
	}
}
// Tablet ( Large )
@media screen and (min-width: $tablet-large) {
	.wrapper {
		.service-price-section {
			& + .service-price-section {
				margin-top: 20rem;
			}
		}
		.both-circle {
			padding: 0 2.4rem;
			&::before,
			&::after {
				width: 1rem;
				height: 1rem;
			}
		}
		.reason {
			background-position: center 5rem;
			background-size: 80.2rem;
		}
		.reason__title {
			font-size: 5.6rem;
			padding-top: 10rem;
		}
		.reason__data {
			padding-top: 10rem;
		}
		.reason__catchcopy {
			padding-top: 14rem;
			p + p {
				margin-top: 1.7rem;
			}
			.-red {
				b {
					font-size: 4.8rem;
					padding: 1rem 4.8rem .8rem;
				}
			}
			.-yellow {
				b {
					font-size: 3.8rem;
					padding: 1.2rem 3.8rem .8rem;
				}
			}
		}
		.reason__hero-image {
			padding-top: 7rem;
		}
		.reason__content {
			margin-top: 7rem;
		}
		.reason__content-box {
			padding-top: 2.8rem;
			padding-bottom: 2.8rem;
		}
		.reason__content-label {
			font-size: 3.5rem;
			padding-bottom: 3.6rem;
		}
		.reason__content-box-title-set {
			padding-bottom: 1rem;
			dt {
				font-size: 2.4rem;
			}
			dd {
				font-size: 2rem;
			}
		}
		.reason__content-box-description {
			padding-right: 2rem;
			.reason__content-box-text {
				font-size: 1.8rem;
			}
		}
		.reason__content-box-appeal {
			.reason__content-box-text {
				font-size: 2.6rem;
			}
		}
		.reason__content-goals {
			margin-top: 10rem;
		}
		.reason__content-goals-text {
			font-size: 3.6rem;
			padding-top: .8rem;
		}
		.flow {
			padding-top: 12rem;
		}
		.flow__image01,
		.flow__image02 {
			display: block;
			position: absolute;
		}
		.flow__box {
			position: relative;
		}
		.flow__preparation {
			.flow__image01 {
				width: 21.4rem;
				top: -6rem;
				right: 4rem;
			}
		}
		.flow__box.flow__today {
			border-width: 1rem;
			padding-top: 0;
			.flow__title {
				span {
					background-size: 10.8rem;
					padding: 2.8rem 14rem 0;
					color: $red;
				}
			}
			.flow__image01 {
				width: 14rem;
				top: -10.4rem;
				left: -5.6rem;
			}
			.flow__image02 {
				width: 31rem;
				bottom: -5.6rem;
				right: -6rem;
			}
		}
		.flow__after {
			.flow__image01 {
				width: 56rem;
				bottom: -19rem;
				left: 14rem;
			}
		}
		.flow__recommended {
			padding-top: 24rem;
		}
		.flow__section {
			& + .flow__section {
				margin-top: 8.8rem;
			}
		}
		.flow__arrow {
			padding: 7.5rem 0;
			img {
				width: 7.5rem;
				height: 7.5rem;
			}
		}
		.flow__program {
			margin: 12rem auto 0;
			padding: 6rem 0;
			border-radius: 22rem;
		}
		.flow__program-title {
			font-size: 3rem;
			padding-bottom: 2rem;
		}
		.flow__program-content {
			width: 75.6rem;
			margin-right: auto;
			margin-left: auto;
			padding: 0 0 4rem;
		}
		.flow__program-detail {
			position: relative;
			img {
				display: block;
				position: absolute;
				top: -1rem;
				left: 64rem;
				width: 7.8rem;
			}
		}
		.plan,
		.detail,
		.example {
			padding-top: 12rem;
		}
		.plan__title {
			font-size: 3.4rem;
			padding-bottom: 4rem;
		}
		.plan__content.-small {
			display: none;
		}
		.plan__content.-large {
			display: block;
			span {
				border-bottom: .3rem solid $red;
			}
		}
		.plan__graph,
		.plan__graph-notice,
		.plan__image {
			width: 100rem;
			margin-right: auto;
			margin-left: auto;
		}
		.plan__graph {
			position: relative;
			height: 61.3rem;
			margin-top: 2.4rem;
		}
		.plan__graph-data {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		.plan__graph-content {
			display: inline-block;
			min-width: 9.6rem;
			position: absolute;
			opacity: 0;
		}
		.lazyloaded {
			.plan__graph-content {
				opacity: 1;
			}
		}
		.plan__info {
			display: block;
			position: absolute;
			top: -6rem;
			left: 50%;
			font-size: 1.6rem;
			z-index: 2;
			background: #fff;
			margin-top: 0;
			white-space: nowrap;
			padding: 1rem 1rem .6rem;
			transform-origin: center bottom;
			transform: translateX(-50%) scale(0);
			opacity: 0;
			transition: all .4s ease-out;
			&::before,
			&::after {
				display: block;
				content: "";
				position: absolute;
				left: 50%;
				border-style: solid;
				transform: translateX(-50%);
			}
			&::before {
				bottom: -1rem;
				border-width: 1rem 1rem 0 1rem;
				border-color: $red transparent transparent transparent;
			}
			&::after {
				bottom: -.8rem;
				border-width: 1rem 1rem 0 1rem;
				border-color: #fff transparent transparent transparent;
			}
		}
		.plan__circle {
			background: $red;
			position: relative;
			margin-right: auto;
			margin-left: auto;
			border-radius: 100%;
		}
		.plan__graph-content[href="modal01"] {
			top: 51.5rem;
			left: 12rem;
			transition: all 1s 1s;
			.plan__circle {
				width: 3.5rem;
				height: 3.5rem;
			}
		}
		.plan__graph-content[href="modal02"] {
			top: 33.2rem;
			left: 19.9rem;
			transition: all 1s .4s;
			.plan__circle {
				width: 17rem;
				height: 17rem;
			}
		}
		.plan__graph-content[href="modal03"] {
			top: 22.4rem;
			left: 46.2rem;
			transition: all 1s .8s;
			.plan__circle {
				width: 2.9rem;
				height: 2.9rem;
			}
		}
		.plan__graph-content[href="modal04"] {
			top: 1.5rem;
			left: 84.1rem;
			transition: all 1s .2s;
			.plan__circle {
				width: 2.4rem;
				height: 2.4rem;
			}
		}
		.plan__graph-notice {
			font-size: 2rem;
			text-align: right;
			padding-top: 4.8rem;
		}
		.plan__image {
			display: block;
			padding-top: 4.8rem;
			img {
				width: 24.6rem;
			}
		}
		.detail__title {
			padding-bottom: 8.4rem;
		}
		.detail__box-group {
			width: 94rem;
			margin-right: auto;
			margin-left: auto;
			& + .detail__box-group {
				margin-top: 10.8rem;
			}
		}
		.detail__box {
			width: 24rem;
			& + .detail__box {
				margin-left: auto;
			}
		}
		.detail__box-image {
			img {
				width: 15.4rem;
			}
		}
		.detail__box-title {
			font-size: 2.6rem;
			padding-top: 3rem;
		}
		.detail__box-list {
			display: inline-block;
			width: auto;
			max-width: 100%;
			li {
				font-size: 2rem;
			}
		}
		.example {
			max-width: 98.6rem;
		}
		.example__content {
			padding-top: 6rem;
		}
		.example__box {
			& + .example__box {
				margin-top: 12.8rem;
			}
		}
		.example__image {
			width: 51rem;
		}
		.example__text {
			width: 44.6rem;
			margin: 0 0 0 auto;
			padding: 2.8rem;
		}
		.example__title {
			font-size: 2.4rem;
		}
		.example__list {
			font-size: 2rem;
		}
		.example__rental {
			padding-top: 0;
		}
		.example__rental {
			font-size: 1.6rem;
			padding-top: 1rem;
		}
		.example__rental-logo {
			width: 21.8rem;
		}
	}
	@media (hover) {
		a.plan__graph-content {
			&:hover {
				opacity: 1;
			}
		}
		.plan__circle:hover {
			& + .plan__info {
				transform: translateX(-50%) scale(1);
				opacity: 1;
			}
		}
	}
}
// Tablet ( Large Exception )
@media screen and (min-width: 1080px) {
	.wrapper {
		.plan__graph,
		.plan__graph-notice,
		.plan__image {
			width: 104rem;
		}
		.plan__graph {
			height: 63.8rem;
		}
		.plan__graph-content[href="modal01"] {
			top: 53.6rem;
			left: 12.8rem;
			.plan__circle {
				width: 3.6rem;
				height: 3.6rem;
			}
		}
		.plan__graph-content[href="modal02"] {
			top: 34.6rem;
			left: 20.7rem;
			.plan__circle {
				width: 17.7rem;
				height: 17.7rem;
			}
		}
		.plan__graph-content[href="modal03"] {
			top: 23.4rem;
			left: 48.2rem;
			.plan__circle {
				width: 2.9rem;
				height: 2.9rem;
			}
		}
		.plan__graph-content[href="modal04"] {
			top: 1.6rem;
			left: 87.7rem;
		}
	}
}

// PC ( Small )
@media screen and (min-width: $pc-small) {
	.wrapper {
		.service-price-section {
			& + .service-price-section {
				margin-top: 24rem;
			}
		}
		.reason__content-box-appeal {
			.reason__content-box-text {
				font-size: 2.8rem;
			}
		}
		.flow__program-detail {
			img {
				left: 68rem;
			}
		}
	}
}