@import './_modules/common/config';
.tab {
	padding-bottom: 4rem;
	text-align: center;
	ul {
		margin-bottom: 1.4rem;
		&:last-of-type {
			margin-bottom: 0;
			li {
				margin-bottom: 0;
			}
		}
	}
	li {
		margin-bottom: 1.4rem;
	}
	a {
		border-bottom-color: #000;
	}
}
.department {
	padding-bottom: 4.8rem;
}
.department__person {
	display: block;
	position: relative;
	max-width: 20rem;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	& + .department__person {
		margin-top: 7.5rem;
	}
}
.department__person-image {
	max-width: 16.8rem;
	border-radius: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
	img {
		display: block;
		transition: transform .2s 0s;
	}
}
.department__person-text {
	transition: all .2s 0s;
}
.department__person-catchcopy {
	font-size: 1.2rem;
	padding: 2.8rem 0 .7rem;
	p {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
.department__person-name {
	font-size: 2.4rem;
	font-weight: bold;
	padding: .8rem 0;
	border-top: .1rem solid $red;
}
.department__person-belong {
	dl {
		display: inline-block;
		font-size: 1.2rem;
		line-height: 1.4;
		background: $gray-ultra-light;
		padding: .8rem 4rem;
	}
}
.staff__header,
.staff__message {
	max-width: 57.2rem;
	margin-right: auto;
	margin-left: auto;
}
.staff__header-image {
	max-width: 16.8rem;
	border-radius: 100%;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
	transform: scale(0);
	transition: all .48s .2s cubic-bezier(.7,.68,.26,1.61);
	&.lazyloaded {
		transform: scale(1);
	}
}
.staff__header-lead {
	font-size: 1.6rem;
	font-weight: bold;
	padding: 1.6rem 0;
	br {
		display: none;
	}
}
.staff__header-person {
	width: 100%;
	text-align: center;
}
.staff__header-catchcopy {
	font-size: 1.2rem;
	padding-bottom: .7rem;
}
.staff__header-name {
	padding: .8rem 0;
	border-top: .1rem solid $red;
}
.staff__header-name-text {
	font-size: 3rem;
	font-weight: bold;
}
.staff__header-belong {
	dl {
		display: inline-block;
		font-size: 1.2rem;
		text-align: center;
		line-height: 1.4;
		background: $gray-ultra-light;
		padding: .8rem 4rem;
	}
}
.staff__message {
	font-size: 1.4rem;
	margin-top: 1.4rem;
	border: .3rem solid $navy;
	padding: 1.4rem;
	text-align: justify;
	border-radius: .6rem;
}
.staff__button {
	padding-bottom: 4rem;
}
// Mobile ( Large )
@media screen and(min-width: $mobile-large) {
	.staff__header-lead {
		font-size: 2rem;
		padding: 2rem 0;
	}
	.staff__header-catchcopy {
		font-size: 1.4rem;
	}
	.staff__header-belong {
		dl {
			font-size: 1.4rem;
		}
	}
	.staff__message {
		margin-top: 2rem;
	}
	.staff__button {
		padding-bottom: 6rem;
	}
}
// Tablet ( Small )
@media screen and(min-width: $tablet-small) {
	.tab {
		padding-bottom: 6.8rem;
		ul {
			display: flex;
			justify-content: center;
		}
		li {
			width: 32.6666%;
			& + li {
				margin-left: 1%;
			}
		}
	}
	.department {
		padding-bottom: 6.8rem;
	}
	.department__content {
		display: flex;
		width: 48rem;
		flex-wrap: wrap;
		margin-right: auto;
		margin-left: auto;
	}
	.department__person {
		margin-right: 0;
		margin-left: 0;
		& + .department__person {
			margin-top: 0;
		}
		&:nth-of-type(2n) {
			margin-left: 8rem;
		}
		&:nth-of-type(n + 3) {
			margin-top: 6rem;
		}
	}
	.staff__header-lead {
		font-size: 2.2rem;
		padding: 2.2rem 0;
	}
	.staff__message {
		font-size: 1.6rem;
		margin-top: 2rem;
		padding: 1.6rem;
	}
}
// Tablet ( Medium )
@media screen and(min-width: $tablet-medium) {
	.tab {
		padding: 4.8rem 0 8.8rem;
		ul,
		li {
			margin-bottom: 2rem;
		}
		a {
			font-size: 1.6rem;
		}
	}
	.department {
		padding-bottom: 8.8rem;
	}
	.department__content {
		width: 100%;
		justify-content: center;
		margin-right: 0;
		margin-left: 0;
	}
	.department__person {
		width: 23.125%;
		margin-left: 2.5%;
		&:nth-of-type(2n) {
			margin-left: 2.5%;
		}
		&:nth-of-type(1),
		&:nth-of-type(5),
		&:nth-of-type(9),
		&:nth-of-type(13),
		&:nth-of-type(17),
		&:nth-of-type(21),
		&:nth-of-type(25) {
			margin-left: 0;
		}
		&:nth-of-type(4n) {
			margin-right: 0;
		}
		&:nth-of-type(n + 3) {
			margin-top: 0;
		}
		&:nth-of-type(n + 5) {
			margin-top: 6rem;
		}
	}
	.department__person-name {
		font-size: 2rem;
	}
	.department__person-belong {
		dl {
			width: 100%;
			padding: .5rem .8rem;
		}
	}
	.staff__header,
	.staff__message {
		max-width: 74rem;
	}
	.staff__header {
		display: flex;
		position: relative;
		align-items: center;
	}
	.staff__header-image {
		margin: 0;
	}
	.staff__header-text {
		max-width: 100%;
		width: calc(100% - 16.8rem);
		padding: 1.6rem 0 0 2.8rem;
	}
	.staff__header-lead {
		line-height: 1.3;
		padding: 0 0 1rem;
		border-bottom: .1rem solid $red;
	}
	.staff__header-info {
		padding-top: 1.4rem;
	}
	.staff__header-person {
		width: auto;
		text-align: left;
	}
	.staff__header-catchcopy {
		line-height: 1;
		padding-bottom: .8rem;
	}
	.staff__header-name {
		padding: 0 0;
		border-top: none;
		line-height: 1;
	}
	.staff__header-name-text {
		font-size: 3rem;
	}
	.staff__header-belong {
		margin-top: auto;
		margin-left: auto;
		dl {
			font-size: 1.2rem;
			padding: .4rem 2.4rem;
		}
	}
	.staff__message {
		font-size: 1.4rem;
		border: none;
		margin-top: 1rem;
		padding: 0 0 0 19.6rem;
	}
	.staff__button {
		padding-bottom: 8rem;
	}
}
// Tablet ( large )
@media screen and(min-width: $tablet-large) {
	.tab {
		padding-bottom: 10.8rem;
		a {
			font-size: 2rem;
		}
	}
	.department {
		padding-bottom: 10.8rem;
	}
	.department__person {
		width: 20%;
		max-width: 100%;
		margin-left: 6.6666%;
		&:nth-of-type(2n) {
			margin-left: 6.6666%;
		}
		&:nth-of-type(n + 5) {
			margin-top: 6.6rem;
		}
	}
	.department__person-catchcopy {
		font-size: 1.4rem;
		padding: 3.4rem 0 1rem;
	}
	.department__person-name {
		font-size: 2.8rem;
		padding: 1.4rem 0 1.4rem;
	}
	.staff__header,
	.staff__message {
		max-width: 90rem;
	}
	.staff__button {
		padding-bottom: 10.8rem;
	}
}
// PC ( Small )
@media screen and(min-width: $pc-small) {
	.tab {
		a {
			font-size: 2.2rem;
		}
	}
	.department {
		padding-right: 5rem;
		padding-left: 5rem;
		padding-bottom: 20rem;
	}
	.department__person {
		width: 20rem;
		margin-left: 12.6rem;
		&:nth-of-type(2n) {
			margin-left: 12.6rem;
		}
	}
	.staff__header,
	.staff__message {
		max-width: 120rem;
	}
	.staff__header {
		padding-top: 2.2rem;
	}
	.staff__header-image {
		max-width: none;
		width: 26.8rem;
		height: 26.8rem;
		position: absolute;
		top: 8.4rem;
		z-index: 2;
	}
	.staff__header-text {
		position: relative;
		max-width: 100%;
		width: calc(100% - 28.8rem);
		padding: 0 0 0 0;
		margin: -2rem 12rem 0 auto;
		border-bottom: .6rem solid $navy;
		overflow: hidden;
		&::before {
			display: block;
			content: "";
			position: absolute;
			top: 0;
			left: 14.7rem;
			z-index: 1;
			width: 61.8rem;
			height: .6rem;
			background: $navy;
		}
	}
	.staff__header-content {
		width: calc(100% - 12.6rem);
		height: 25.4rem;
		position: relative;
		margin: 0 auto;
		padding: 5.4rem 8.6rem 2.4rem 8.6rem;
		&::before,
		&::after {
			display: block;
			content: "";
			position: absolute;
			top: -3.8rem;
			z-index: 1;
			width: .6rem;
			height: 117%;
			background: $navy;
			transform-origin: center bottom;
		}
		&::before{
			left: -6.5rem;
			transform: rotate(30deg);

		}
		&::after {
			right: -6.5rem;
			transform: rotate(-30deg);
		}
	}
	.staff__header-lead {
		font-size: 3.2rem;
		padding-bottom: 1.5rem;
	}
	.staff__header-info {
		padding-top: 2.4rem;
	}
	.staff__header-name-text {
		font-size: 3.2rem;
	}
	.staff__message {
		position: relative;
		z-index: 1;
		font-size: 1.8rem;
		background: #fff;
		margin-top: 2.8rem;
		padding: 1.8rem 12.6rem 0 28rem;
		margin-right: 2rem;
		border-radius: 0;
	}
	.staff__button {
		padding-bottom: 14.8rem;
	}
	@media (hover) {
		.tab a {
			&:hover {
				border-bottom-color: $red;
			}
		}
		.department__person-cloud {
			display: flex;
			position: absolute;
			top: -10rem;
			left: -5rem;
			z-index: 2;
			width: 24rem;
			height: 13.4rem;
			background: url(../img/staff/bg-staff-person-cloud.svg) no-repeat left top;
			background-size: 100%;
			justify-content: center;
			align-items: center;
			opacity: 0;
			transform-origin: center bottom;
			transform: scale(0);
			transition: all .4s 0s cubic-bezier(.7, .68, .26, 1.61);
			p {
				width: 18.8rem;
				height: 2.8em;
				font-size: 1.4rem;
				line-height: 1.4;
				overflow: hidden;
			}
		}
		.department__person {
			&:hover {
				opacity: 1;
				.department__person-cloud {
					opacity: 1;
					transform: scale(1);
				}
				.department__person-image {
					box-shadow: 0 0 10px 0 rgba(0, 0, 0, .4);
					img {
						opacity: 0;
					}
				}
				.department__person-text {
					opacity: .5;
				}
			}
		}
	}
}