@-webkit-keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@-webkit-keyframes cluody {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
  }
  50% {
    -webkit-transform: translate(0, -6px);
    transform: translate(0, -6px)
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
  }
}

@keyframes cluody {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
  }
  50% {
    -webkit-transform: translate(0, -6px);
    transform: translate(0, -6px)
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
  }
}

@-webkit-keyframes blank {
  0% {
    opacity: 0
  }
  50% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

@keyframes blank {
  0% {
    opacity: 0
  }
  50% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

@-webkit-keyframes pulse {
  100% {
    opacity: 0;
    -webkit-transform: scale(2);
    transform: scale(2);
    background: none
  }
}

@keyframes pulse {
  100% {
    opacity: 0;
    -webkit-transform: scale(2);
    transform: scale(2);
    background: none
  }
}

@-webkit-keyframes fukidashi-left-turn {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
    transform: rotate(0) scale(0.6)
  }
  50% {
    opacity: 1;
    -webkit-transform: rotate(10deg) scale(1);
    transform: rotate(10deg) scale(1)
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
    transform: rotate(0) scale(0.6)
  }
}

@keyframes fukidashi-left-turn {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
    transform: rotate(0) scale(0.6)
  }
  50% {
    opacity: 1;
    -webkit-transform: rotate(10deg) scale(1);
    transform: rotate(10deg) scale(1)
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
    transform: rotate(0) scale(0.6)
  }
}

@-webkit-keyframes people-left-move {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  50% {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem)
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
}

@keyframes people-left-move {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  50% {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem)
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
}

@-webkit-keyframes fukidashi-right-turn {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
    transform: rotate(0) scale(0.6)
  }
  50% {
    opacity: 1;
    -webkit-transform: rotate(-10deg) scale(1);
    transform: rotate(-10deg) scale(1)
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
    transform: rotate(0) scale(0.6)
  }
}

@keyframes fukidashi-right-turn {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
    transform: rotate(0) scale(0.6)
  }
  50% {
    opacity: 1;
    -webkit-transform: rotate(-10deg) scale(1);
    transform: rotate(-10deg) scale(1)
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
    transform: rotate(0) scale(0.6)
  }
}

@-webkit-keyframes people-right-move {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  50% {
    -webkit-transform: translateX(1rem);
    transform: translateX(1rem)
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
}

@keyframes people-right-move {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  50% {
    -webkit-transform: translateX(1rem);
    transform: translateX(1rem)
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block
}

audio, canvas, video {
  display: inline-block
}

audio:not([controls]) {
  display: none;
  height: 0
}

[hidden] {
  display: none
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  line-break: strict;
  -webkit-line-break: strict;
  word-break: break-strict;
  -webkit-word-break: break-strict
}

a:focus {
  outline: thin dotted
}

a:active, a:hover {
  outline-width: 0
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400
}

abbr[title] {
  border-bottom: 1px dotted
}

b {
  font-weight: 700
}

strong {
  font-weight: 400
}

dfn {
  font-style: italic
}

mark {
  background: #ff0;
  color: #000
}

a {
  text-decoration: none
}

ol, ul {
  list-style: none
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019"
}

small {
  font-size: 80%
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sup {
  top: -.5em
}

sub {
  bottom: -.25em
}

img {
  vertical-align: middle;
  border: 0;
  max-width: 100%;
  height: auto
}

svg:not(:root) {
  overflow: hidden
}

figure {
  margin: 0
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em
}

legend {
  border: 0;
  padding: 0
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0
}

button, input {
  line-height: normal
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer
}

button[disabled], input[disabled] {
  cursor: default
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0
}

textarea {
  overflow: auto;
  vertical-align: top
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%
}

table[class] {
  border-top-width: 1px;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 1px
}

table[class] th, table[class] td {
  border-top-width: 0;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 0;
  border-color: #c9c9c9
}

table[class] th {
  font-weight: normal;
  text-align: center
}

*:focus {
  outline: none
}

a, a:link, a:hover, a:focus, a:active {
  outline: none
}

html {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: unset
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;
  font-size: 1.4rem;
  background: #fff;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  font-weight: 500;
  color: #000;
  line-height: 1.6;
  counter-reset: number 0;
  overflow-x: hidden;
  -ms-overflow-style: none
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit
}

a, a:link, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none
}

@font-face {
  font-display: swap;
  font-family: 'Mkinas 4 Square';
  src: url("../font/Makinas-4-Square.woff2") format("woff2"), url("../font/Makinas-4-Square.woff") format("woff"), url("../font/Makinas-4-Square.otf") format("otf")
}

@font-face {
  font-display: swap;
  font-family: 'Kosugi Maru';
  src: url("../font/KosugiMaru-Regular.woff2") format("woff2"), url("../font/KosugiMaru-Regular.woff") format("woff"), url("../font/KosugiMaru-Regular.otf") format("otf")
}

[class*="flex-"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

[class*="flex-"][class*="-top"] {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start
}

[class*="flex-"][class*="-middle"] {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

[class*="flex-"][class*="-baseline"] {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline
}

[class*="flex-"][class*="-bottom"] {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end
}

[class*="flex-"][class*="-left"] {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start
}

[class*="flex-"][class*="-center"] {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

[class*="flex-"][class*="-right"] {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end
}

[class*="flex-"][class*="-between"] {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

[class*="flex-"][class*="-around"] {
  -ms-flex-pack: distribute;
  justify-content: space-around
}

[class*="flex-"][class*="-evenly"] {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly
}

[class*="flex-"][class*="-wrap"] {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.release-element {
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw)
}

.release-background {
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
  padding-right: calc(50vw - 50%);
  padding-left: calc(50vw - 50%)
}

.wrapper {
  width: 100%;
  max-width: 128rem;
  margin-right: auto;
  margin-left: auto;
  padding: 0 1.4rem 5.6rem
}

.container {
  padding-top: 6.3rem
}

.button {
  display: inline-block;
  position: relative;
  width: 27.6rem;
  font-size: 1.6rem;
  line-height: 1;
  font-weight: bold;
  padding: 2.2rem 0;
  text-align: center
}

.button.-white {
  color: #fff
}

.button.-white .button__line {
  background: #fff
}

.button.-black {
  color: #081927
}

.button.-black .button__line {
  background: #081927
}

button.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff;
  border: none
}

.button__text {
  display: inline-block;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 1s 2s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  transition: -webkit-transform 1s 2s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  transition: transform 1s 2s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  transition: transform 1s 2s cubic-bezier(0.7, 0.68, 0.26, 1.61), -webkit-transform 1s 2s cubic-bezier(0.7, 0.68, 0.26, 1.61)
}

.button__line {
  display: block;
  position: absolute;
  -webkit-transition: width 1s 1s cubic-bezier(0.7, 0.68, 0.26, 1.61), height 1s 1.1s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  transition: width 1s 1s cubic-bezier(0.7, 0.68, 0.26, 1.61), height 1s 1.1s cubic-bezier(0.7, 0.68, 0.26, 1.61)
}

.button__line.-top, .button__line.-bottom {
  width: 0;
  height: .2rem
}

.button__line.-right, .button__line.-left {
  width: .2rem;
  height: 0
}

.button__line.-top {
  top: 0;
  left: 0
}

.button__line.-right {
  top: 0;
  right: 0
}

.button__line.-bottom {
  bottom: 0;
  right: 0
}

.button__line.-left {
  top: 0;
  left: 0
}

.button.lazyloaded .button__text {
  -webkit-transform: scale(1);
  transform: scale(1)
}

.button.lazyloaded .button__line.-top, .button.lazyloaded .button__line.-bottom {
  width: 100%
}

.button.lazyloaded .button__line.-right, .button.lazyloaded .button__line.-left {
  height: 100%
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100vw;
  background: #E60000;
  -webkit-transition: .28s;
  transition: .28s;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3)
}

.header__inner {
  width: 100%;
  max-width: 128rem;
  margin-right: auto;
  margin-left: auto;
  padding: 1.6rem
}

.header__logo {
  position: relative;
  width: 14.5rem;
  line-height: 1;
  z-index: 101
}

.header__logo a .-large {
  display: none
}

.header__tel {
  width: calc(100% - 2rem);
  max-width: 34.2rem;
  margin: 0 auto;
  padding: .8rem;
  border: .1rem solid #fff
}

.header__tel img {
  width: 80%
}

.header__contact {
  width: calc(100% - 2rem);
  max-width: 34.2rem;
  padding: .5rem;
  border: .1rem solid #fff;
  margin: 1.2rem auto 0;
  text-align: center
}

.header__form, .header__line {
  width: 50%;
  font-size: 1.1rem;
  font-weight: bold;
  padding: .2rem 0
}

.header__form dt, .header__line dt {
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem
}

.header__form dd, .header__line dd {
  font-size: 0.8rem;
  letter-spacing: -.03rem
}

.header__form {
  border-right: .1rem solid #fff
}

.header__form dt {
  line-height: 2.8rem
}

.header__form dd {
  padding-top: .4rem;
  text-indent: -.5rem
}

.header__line dd {
  padding-top: .4rem;
  text-indent: 1rem
}

.header__burger {
  position: relative;
  width: 2.4rem;
  height: 2.2rem;
  z-index: 101;
  margin-left: auto;
  -webkit-transform: translate(0, -0.5rem);
  transform: translate(0, -0.5rem)
}

.header__burger-button {
  position: relative;
  width: 100%;
  height: 100%;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none
}

.header__burger-button::before, .header__burger-button::after {
  display: block;
  content: " ";
  position: absolute;
  width: 100%;
  height: .3rem;
  left: 0;
  border-radius: 3px;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-transition: .6s;
  transition: .6s
}

.header__burger-button::before {
  top: 0;
  background: #fff
}

.header__burger-button::after {
  bottom: 0;
  background: #fff
}

.header__burger-line {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: .3rem;
  background: #fff;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: .4s;
  transition: .4s
}

.is-menu-open .header__burger-button {
  -webkit-transform: scale(-1);
  transform: scale(-1)
}

.is-menu-open .header__burger-button::before {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg) scale(-1);
  transform: translateY(-50%) rotate(45deg) scale(-1)
}

.is-menu-open .header__burger-button::after {
  bottom: 50%;
  -webkit-transform: translateY(50%) rotate(-45deg) scale(-1);
  transform: translateY(50%) rotate(-45deg) scale(-1)
}

.is-menu-open .header__burger-line {
  width: 0;
  opacity: 0
}

.nav {
  color: #fff;
  -webkit-transition: .6s;
  transition: .6s
}

.header .nav {
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: #081927;
  background-size: 100%;
  padding: 19vh 1.6rem 0;
  overflow: auto
}

.nav__main {
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
  line-height: 1
}

.nav__main>li+li {
  margin-top: 3.5vh
}

.nav__main>li:last-of-type {
  display: none
}

.nav__sns {
  width: 100%;
  max-width: 38.2rem;
  margin-right: auto;
  margin-left: auto;
  padding: 3.5vh 0
}

.nav__sns li+li {
  margin-left: auto
}

.nav__sns a {
  display: block;
  width: 3.2rem;
  height: 3.2rem
}

.nav__sub, .nav__external, .nav__relation, .nav__info {
  display: none
}

.nav__external-list li:nth-of-type(4) span:not(.small-text) {
  border-bottom: none
}

.nav__external-list a {
  display: block;
  line-height: 1
}

.nav__external-list a::after {
  display: inline-block;
  content: url(../img/common/icon-external-link-white.svg);
  width: 1.2rem;
  height: 1.2rem;
  margin-left: .4rem;
  -webkit-transform: translateY(0.1rem);
  transform: translateY(0.1rem)
}

.nav__external-list span {
  padding-bottom: .4rem;
  border-bottom: .1rem dashed #fff
}

.nav__external-list .small-text {
  display: inline-block;
  font-size: 1rem;
  text-indent: -.5em;
  padding-top: .4rem;
  line-height: 1
}

.nav__relation-list a {
  display: block;
  line-height: 1
}

.nav__relation-list a::after {
  display: inline-block;
  content: url(../img/common/icon-external-link-white.svg);
  width: 1.2rem;
  height: 1.2rem;
  margin-left: .4rem;
  -webkit-transform: translateY(0.1rem);
  transform: translateY(0.1rem)
}

.nav__relation-list span {
  padding-bottom: .4rem;
  border-bottom: .1rem dashed #fff
}
.nav__info-copyright a {
  text-decoration: underline
}

.is-menu-open .header .nav {
  -webkit-transform: translate(-100%, 0);
  transform: translate(-100%, 0)
}

.page-header {
  background-repeat: no-repeat;
  background-position: center top;
  background-image: url(../img/common/bg-page-header-medium.jpg);
  background-size: cover
}

.page-header__inner {
  height: 13.4rem;
  background: rgba(8, 25, 39, 0.6);
  color: #fff;
  text-align: center;
  padding-top: 2rem
}

.page-header__content {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0)
}

.page-header__icon img {
  width: .7rem;
  margin-left: .4rem
}

.page-header__slug {
  width: 11rem;
  font-size: 1rem;
  margin: 0 auto;
  padding: .6rem 0 .4rem;
  line-height: 1;
  border-bottom: 0.2rem solid #E60000;
  margin-bottom: .4rem
}

.page-header__title {
  display: inline-block;
  min-width: 18rem;
  background: #fff;
  font-family: 'Mkinas 4 Square';
  color: #081927;
  line-height: 1;
  padding: 1rem 0 .7rem;
  -webkit-transform: perspective(20px) rotateX(2.5deg);
  transform: perspective(20px) rotateX(2.5deg);
  outline: 1px solid transparent
}

.page-header__title-text {
  font-size: 2.2rem;
  -webkit-transform: perspective(20px) rotateX(-2.5deg);
  transform: perspective(20px) rotateX(-2.5deg)
}

.-column .page-header__title {
  width: 30.8rem;
  background: transparent;
  padding: 0;
  -webkit-transform: perspective(0) rotateX(0);
  transform: perspective(0) rotateX(0)
}

.-column .page-header__title img {
  background: #fff
}

.-column .page-header__title-text {
  font-size: 1.3rem;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  color: #fff;
  padding-top: .7rem;
  -webkit-transform: perspective(0) rotateX(0);
  transform: perspective(0) rotateX(0)
}

.post-header {
  position: relative;
  border: .3rem solid #000;
  border-radius: .6rem;
  padding: 1.4rem
}

.post-header__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  right: 1.4rem;
  z-index: 2;
  width: 7rem;
  height: 7rem;
  font-size: 1rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: .3rem solid #000;
  background: #fff;
  border-radius: 100%;
  overflow: hidden;
  -webkit-transform: translateY(-3.5rem);
  transform: translateY(-3.5rem)
}

.post-header__small-text {
  position: relative;
  padding-bottom: .7rem;
  -webkit-transition: all .4s .4s;
  transition: all .4s .4s
}

.post-header__small-text::before {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: .1rem;
  background: #E60000
}

.post-header__title {
  position: relative;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.4;
  word-break: break-all;
  padding-top: .7rem;
  -webkit-transition: all .4s .4s;
  transition: all .4s .4s
}

.post-header__tag {
  margin-top: 1.4rem
}

.post__button {
  padding-top: 2.8rem;
  padding-bottom: 1.6rem
}

.section__header {
  text-align: center
}

.department__person-cloud {
  display: none
}

.section__header-text {
  display: inline-block;
  font-size: 2.4rem;
  background: url(../img/staff/flag-small-red-gray.svg) no-repeat 0.8rem top;
  background-size: 4.4rem;
  font-weight: bold;
  border-bottom: 0.3rem solid #E60000;
  padding: 3.6rem 1rem 1rem;
  line-height: 1
}

.section__header-lead {
  padding: 1.4rem 0 4rem;
  line-height: 1
}

.breadcrumb {
  padding: 1rem 0 2.8rem
}

.breadcrumb__list {
  font-size: 1rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.breadcrumb__list li+li::before {
  display: inline-block;
  content: "";
  width: .5rem;
  height: .5rem;
  border-width: .1rem;
  border-style: solid;
  border-color: #676767 #676767 transparent transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin: 0 .4rem 0 .2rem
}

.breadcrumb__list a {
  color: #676767
}

.tag {
  font-size: 0;
  position: relative
}

.tag li {
  display: inline-block;
  font-size: 1.4rem;
  margin-right: .7rem;
  margin-bottom: 2rem;
  white-space: nowrap
}

.tag-all {
  background: #faf8f5
}

.tag-all a {
  color: #081927
}

.tag-all__inner {
  padding: 2.8rem 0 1.8rem;
  text-align: center
}

.tag-all__inner li {
  margin-bottom: 1rem
}

.card-wrapper {
  padding-bottom: 6.8rem
}

.card+.card {
  margin-top: 6.8rem
}

.card__content {
  position: relative;
  border: .3rem solid #000;
  border-radius: .6rem;
  padding: 1.4rem 1.4rem 3.2rem
}

.card__link {
  display: block;
  position: relative
}

.card__small-text {
  position: relative;
  margin-top: 1.4rem;
  padding-bottom: .7rem;
  -webkit-transition: all .4s .4s;
  transition: all .4s .4s
}

.card__small-text::before {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: .1rem;
  background: #E60000
}

.card__title {
  position: relative;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.4;
  word-break: break-all;
  margin-top: .7rem;
  margin-bottom: 1.4rem;
  -webkit-transition: all .4s .4s;
  transition: all .4s .4s
}

.card__tag {
  max-height: 5.2rem;
  overflow: hidden
}

.card__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: -7rem;
  right: 1.4rem;
  z-index: 2;
  width: 7rem;
  height: 7rem;
  font-size: 1rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: .3rem solid #000;
  background: #fff;
  border-radius: 100%;
  overflow: hidden;
  -webkit-transform: translateY(-3.5rem);
  transform: translateY(-3.5rem)
}

.swiper-container .card+.card {
  margin-top: 0
}

.swiper-container .card__content {
  border-color: #ddd;
  -webkit-transition: all .6s .6s;
  transition: all .6s .6s
}

.swiper-container .card__image {
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-transition: all 0.6s 0.2s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  transition: all 0.6s 0.2s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  background: #fff;
  overflow: hidden
}

.swiper-container .card__small-text, .swiper-container .card__title, .swiper-container .card__tag {
  overflow: hidden
}

.swiper-container .card__small-text::after, .swiper-container .card__title::after, .swiper-container .card__tag::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff
}

.swiper-container .card__small-text:after, .swiper-container .card__tag:after {
  -webkit-transition: all .6s 1s;
  transition: all .6s 1s
}

.swiper-container .card__title:after {
  -webkit-transition: all .6s .8s;
  transition: all .6s .8s
}

.swiper-container .card__date {
  background: #faf8f5;
  color: #ddd;
  border-color: currentColor;
  -webkit-transition: all 1.2s 1.4s;
  transition: all 1.2s 1.4s
}

.card[class*="active"] .card__content {
  border-color: #000
}

.card[class*="active"] .card__image {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-box-shadow: 0.4rem 0.4rem 1rem 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0.4rem 0.4rem 1rem 0 rgba(0, 0, 0, 0.3)
}

.card[class*="active"] .card__small-text::after, .card[class*="active"] .card__title::after, .card[class*="active"] .card__tag::after {
  -webkit-transform: translateX(100%);
  transform: translateX(100%)
}

.card[class*="active"] .card__date {
  color: #000
}

.tag-header {
  text-align: center;
  padding-bottom: 2.8rem
}

.tag-header__ttile {
  position: relative;
  font-size: 2.6rem;
  line-height: 1
}

.tag-header__sub {
  font-size: 1.2rem;
  line-height: 1;
  padding-top: .6rem
}

.list-tab {
  max-width: 98rem;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 1.4rem
}

.list-tab ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.list-tab ul li {
  margin-bottom: 1rem
}

.list-tab ul li+li {
  margin-left: 1rem
}

.list-tab ul a {
  padding: 0 .7rem .4rem;
  border-bottom-color: #000
}

.pagination {
  width: 100%;
  font-size: 1.6rem;
  padding-bottom: 6.8rem
}

.pagination li+li {
  margin-left: .5rem
}

.pagination li.-prev a, .pagination li.-next a {
  position: relative;
  width: 2rem;
  font-size: 0;
  border: none
}

.pagination li.-prev a::before, .pagination li.-next a::before {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.4rem;
  height: 1.4rem;
  border-top: .1rem solid #000
}

.pagination li.-prev.-prev a::before, .pagination li.-next.-prev a::before {
  border-left: .1rem solid #000;
  margin-left: .7rem;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg)
}

.pagination li.-prev.-next a::before, .pagination li.-next.-next a::before {
  border-right: .1rem solid #000;
  margin-left: -.7rem;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg)
}

.pagination a, .pagination span, .pagination b {
  display: block;
  width: 3.4rem;
  height: 3.4rem;
  text-align: center;
  line-height: 3.4rem;
  border-radius: 100%;
  border: .1rem solid #000
}

.pagination b {
  background: #E60000;
  border-color: #E60000;
  color: #fff
}

.pagination span {
  width: 2rem;
  border-color: transparent
}

.tab {
  font-size: 1.4rem
}

.tab a {
  border-bottom: 0.1rem solid #E60000;
  padding-bottom: .4rem
}

.faq__accordion-box {
  position: relative;
  background: #fff;
  border-left: 1.4rem solid #fff;
  border-radius: .6rem;
  padding: 1.4rem 1.8rem;
  overflow: hidden;
  -webkit-transition: all .6s 1.8s;
  transition: all .6s 1.8s
}

.faq__accordion-box+.faq__accordion-box {
  margin-top: 2.4rem
}

.faq__accordion-box::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-transition: all 1s .8s;
  transition: all 1s .8s
}

.faq__accordion-box.lazyloaded {
  border-left: 1.4rem solid #E60000
}

.faq__accordion-box.lazyloaded::after {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%)
}

.faq__question dt, .faq__answer dt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.4rem;
  width: 2.4rem;
  height: 2.4rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 1;
  border-radius: 100%;
  color: #fff;
  opacity: 0;
  -webkit-transform: translateY(1rem);
  transform: translateY(1rem);
  -webkit-transition: all 1s 2s;
  transition: all 1s 2s
}

.faq__question dd, .faq__answer dd {
  width: calc(100% - 2.4rem);
  padding-left: .8rem;
  line-height: 1.4;
  padding-top: .2rem;
  text-align: justify
}

.lazyloaded .faq__question dt, .lazyloaded .faq__answer dt {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0)
}

.faq__question {
  margin-bottom: 1.4rem
}

.faq__question dt {
  background: #E60000
}

.faq__question dd {
  font-size: 1.6rem;
  font-weight: bold
}

.faq__answer dt {
  background: #081927
}

.faq__answer dd {
  position: relative;
  font-weight: normal;
  overflow: hidden;
  -webkit-transition: height .6s;
  transition: height .6s;
  word-break: break-all;
  opacity: 0
}

.faq__answer dd br {
  display: none
}

.faq__answer b, .faq__answer strong {
  font-weight: bold
}

.faq__answer i {
  font-style: italic
}

.faq__answer a {
  color: #26b7ff;
  text-decoration: underline
}

.accordion__more {
  padding-top: .7rem
}

.accordion__more-button {
  font-size: 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  margin-left: auto;
  background: transparent;
  padding-right: .4rem
}

.accordion__more-button .icon {
  width: 1.4rem;
  fill: currentColor;
  margin-left: .7rem;
  margin-top: -.1rem;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-transition: all .6s;
  transition: all .6s
}

.accordion__more-button.-active {
  color: #E60000
}

.accordion__more-button.-active .icon {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
}

.swiper-container {
  padding-bottom: 4.8rem;
  -webkit-transform: translateY(20rem);
  transform: translateY(20rem);
  -webkit-transition: all 1s .5s;
  transition: all 1s .5s;
  opacity: 0
}

.swiper-container.lazyloaded {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1
}

.swiper-container-horizontal>.swiper-pagination-bullets {
  height: 1rem;
  line-height: 0;
  bottom: 0
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 .75rem
}

.swiper-pagination-bullet {
  width: 1rem;
  height: 1rem;
  background: #e8e8e8;
  opacity: 1
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #E60000
}

.parts-contact {
  display: block;
  position: relative;
  background: #efece8;
  padding: 1.4rem;
  border-radius: .6rem;
  margin-bottom: 2.8rem;
  opacity: 0;
  -webkit-transform: translateY(20rem);
  transform: translateY(20rem);
  -webkit-transition: opacity .4s .2s, -webkit-transform 1s .8s;
  transition: opacity .4s .2s, -webkit-transform 1s .8s;
  transition: transform 1s .8s, opacity .4s .2s;
  transition: transform 1s .8s, opacity .4s .2s, -webkit-transform 1s .8s
}

.parts-contact.lazyloaded {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0)
}

.parts-contact a {
  color: #000;
  text-decoration: none
}

.parts-contact__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 14rem;
  height: 14rem;
  background: #fff;
  border-radius: 100%;
  padding: 3.4rem;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.18);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.18)
}

.parts-contact__message {
  text-align: center;
  font-size: 1.4rem;
  padding: 1.4rem 0 2.8rem
}

.parts-contact__lead {
  text-align: center;
  line-height: 1
}

.parts-contact__lead b {
  display: block;
  font-size: 3rem;
  padding-top: .7rem
}

.parts-contact__how {
  max-width: 26.8rem;
  margin-right: auto;
  margin-left: auto;
  padding-top: 2.8rem
}

.parts-contact__online {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.parts-contact__online dl {
  width: 49%;
  padding-top: 2rem
}

.parts-contact__online dl+dl {
  margin-left: auto
}

.parts-contact__online dt {
  width: 3.4rem
}

.parts-contact__online dd {
  width: 9rem;
  padding-left: 0
}

.parts-contact__online dd span {
  display: block;
  font-size: 1.2rem;
  line-height: 1.3;
  text-align: center
}

.writer {
  position: relative;
  max-width: 48rem;
  background: #efece8;
  padding: 1.4rem;
  margin: 8rem auto 4rem;
  border-radius: .6rem
}

.writer__cloud {
  position: absolute;
  top: -4rem;
  left: 50%;
  width: 18rem;
  margin-left: 4rem;
  opacity: 0;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: translateX(-50%) scale(0);
  transform: translateX(-50%) scale(0);
  -webkit-transition: all 0.6s 0.8s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  transition: all 0.6s 0.8s cubic-bezier(0.7, 0.68, 0.26, 1.61)
}

.writer__image {
  width: 10rem;
  height: 10rem;
  overflow: hidden;
  border-radius: 100%;
  opacity: 0;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.6s 1s cubic-bezier(0.7, 0.68, 0.26, 1.61);
  transition: all 0.6s 1s cubic-bezier(0.7, 0.68, 0.26, 1.61)
}

.writer__text {
  text-align: center;
  padding-left: 1.4rem
}

.writer__catchcopy {
  font-size: 1.2rem;
  border-bottom: 0.1rem solid #E60000;
  padding: 1rem .6rem .4rem
}

.writer__name {
  font-size: 2rem
}

.writer.lazyloaded .writer__cloud {
  opacity: 1;
  -webkit-transform: translateX(-50%) scale(1);
  transform: translateX(-50%) scale(1)
}

.writer.lazyloaded .writer__image {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1)
}

.aside {
  padding: 4rem 0 4rem;
  opacity: 0;
  -webkit-transform: translateY(20rem);
  transform: translateY(20rem);
  -webkit-transition: all 1s .8s;
  transition: all 1s .8s
}

.aside.lazyloaded {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0)
}

.aside__inner {
  border-bottom: 0.3rem solid #081927
}

.aside__pagefeed {
  padding-bottom: 4rem
}

.aside__pagefeed li+li {
  margin-left: auto
}

.aside__title {
  font-size: 1.6rem
}

.aside__title span {
  display: inline-block;
  position: relative
}

.aside__title span::before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  bottom: -.3rem;
  width: 100%;
  height: .3rem;
  background: #E60000
}

.carousel {
  padding-top: 1.6rem
}

.carousel .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #E60000
}

.column .carousel .swiper-pagination-bullet {
  background: #fff
}

.column .carousel .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #E60000
}

.column__slide {
  position: relative
}

.carousel__link {
  position: relative
}

.carousel-image {
  position: relative;
  border-radius: .6rem .6rem 0 0;
  overflow: hidden;
  padding-top: 60%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-transition: all 1s 1.2s;
  transition: all 1s 1.2s
}

.carousel-content, .carousel-tag {
  border-style: solid;
  border-color: #000;
  padding-right: 1.4rem;
  padding-left: 1.4rem
}

.carousel-content {
  border-width: 0 .3rem;
  background: #fff
}

.carousel-tag {
  border-width: 0 .3rem .3rem;
  border-radius: 0 0 .6rem .6rem
}

.carousel-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-bottom: .1rem solid transparent;
  padding-top: 1.4rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 1s .8s;
  transition: all 1s .8s
}

.carousel-date {
  position: relative;
  font-size: 1.2rem
}

.carousel-category {
  position: relative;
  margin-left: auto
}

.carousel-title {
  position: relative;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.4;
  word-break: break-all;
  margin-top: .7rem;
  -webkit-transition: all .4s .4s;
  transition: all .4s .4s
}

.carousel-tag {
  position: relative;
  background: #fff;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem
}

.carousel-tag .tag {
  height: 5.2rem;
  overflow: hidden
}

.carousel-date, .carousel-category, .carousel-title, .carousel-tag {
  overflow: hidden
}

.carousel-date::after, .carousel-category::after, .carousel-title::after, .carousel-tag::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 2
}

.carousel-date:after, .carousel-tag:after {
  -webkit-transition: all .6s 1s;
  transition: all .6s 1s
}

.carousel-category:after, .carousel-title:after {
  -webkit-transition: all .6s .8s;
  transition: all .6s .8s
}

.carousel [class*="active"] .carousel-image {
  opacity: 1
}

.carousel [class*="active"] .carousel-info {
  border-color: #E60000
}

.carousel [class*="active"] .carousel-date::after, .carousel [class*="active"] .carousel-category::after, .carousel [class*="active"] .carousel-title::after, .carousel [class*="active"] .carousel-tag::after {
  -webkit-transform: translateX(100%);
  transform: translateX(100%)
}

.footer {
  background: #081927
}

.footer .nav {
  padding: 6rem 0
}

.footer .nav .nav__main {
  display: none
}

.footer .nav .nav__external {
  display: block;
  text-align: center
}
footer .nav .nav__external ul+ul{
    padding-top: 0
  }	
.footer .nav .nav__external-title {
  font-size: 1.8rem
}

.footer .nav .nav__external-list {
  padding-top: 4rem
}

.footer .nav .nav__external-list li+li {
  margin-top: 3rem
}

.footer .nav .nav__relation {
  display: block;
  text-align: center;
	  padding-top: 3rem
}

.footer .nav .nav__relation-list {
  padding-top: 3rem;
padding-bottom: 1rem;
	  margin-bottom:10rem;
}
.footer .nav .nav__relation-list li+li {
  margin-top: 3rem;
}

.footer .nav .nav__sport {
  font-size: 1.6rem;
  font-weight: bold;
  padding-top: 4rem;
  line-height: 1
}

.footer .nav .nav__sport a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.footer .nav .nav__sport-image {
  width: 3.2rem;
  margin-right: .8rem
}

.footer .nav .nav__sns {
  padding: 4rem 2rem 0
}

.footer .nav .nav__info {
  display: block;
  text-align: center;
  padding-top: 4rem
}

.footer .nav .nav__info-logo {
  display: inline-block;
  width: 20rem
}

.footer .nav .nav__info-sitepolicy {
  font-size: 1.4rem;
  padding-bottom: 3rem
}

.footer .nav .nav__info-copyright {
  font-size: 1.1rem;
  padding-top: 1.4rem
}

.is-menu-open .footer .nav__external-list a::after {
  position: relative;
  z-index: -1
}

.is-menu-open .footer .nav__relation-list a::after {
  position: relative;
  z-index: -1
}

.inquiry {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2)
}

.inquiry__person {
  position: absolute;
  bottom: -20rem;
  left: .4rem;
  width: 12.4rem;
  -webkit-transition: bottom .68s 1.68s linear;
  transition: bottom .68s 1.68s linear
}

.inquiry__list-small {
  text-align: center;
  padding: .5rem 0;
  margin-left: auto;
  opacity: 0;
  -webkit-transition: all .4s 1.4s ease;
  transition: all .4s 1.4s ease
}

.inquiry__list-small a {
  padding: 0 1.8rem
}

.inquiry__list-small a:not(:last-of-type) {
  border-right: 0.1rem solid #081927
}

.inquiry__list-small dt {
  height: 3rem
}

.inquiry__list-small dd {
  font-size: 1rem;
  font-weight: bold
}

.inquiry__list-small .inquiry__form img {
  width: 3rem
}

.inquiry__list-small .inquiry__tel img {
  width: 2rem
}

.inquiry__list-small .inquiry__line img {
  width: 2.8rem
}

.inquiry__list-medium {
  display: none
}

.gotop {
  position: fixed;
  bottom: -12rem;
  right: .7rem;
  z-index: 2;
  width: 8rem;
  -webkit-transition: all .6s;
  transition: all .6s
}

.gotop.is-inview {
  bottom: 6.6rem
}

.gotop__button {
  display: block;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: transparent
}

.is-loaded .inquiry__person {
  bottom: 0
}

.is-loaded .inquiry__list-small {
  opacity: 1
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
  }
}

@media (hover) {
  a:hover {
    opacity: .5
  }
  .parts-contact:hover {
    opacity: 1;
    background: #f7f4f0
  }
  .parts-contact:hover a {
    opacity: 1
  }
  .parts-contact:hover .parts-contact__logo {
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.18);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.18)
  }
}

@media screen and (min-width: 414px) {
  .button {
    width: 29.3rem;
    font-size: 2rem
  }
  .header__form, .header__line {
    font-size: 1.2rem
  }
  .nav__main>li+li {
    margin-top: 4vh
  }
  .nav__sns {
    padding: 4vh 0
  }
  .page-header__inner {
    height: 15rem
  }
  .page-header__title {
    min-width: 18.8rem
  }
  .page-header__title-text {
    font-size: 2.4rem
  }
  .-column .page-header__title {
    width: 34.8rem
  }
  .-column .page-header__title-text {
    font-size: 1.4rem
  }
  .post-header__small-text {
    font-size: 1.6rem;
    padding-bottom: 1.3rem
  }
  .post-header__title {
    font-size: 2.2rem;
    padding-top: 2rem
  }
  .post-header__tag {
    max-height: 5.8rem;
    margin-top: 3.2rem
  }
  .post-header__date {
    width: 7.6rem;
    height: 7.6rem
  }
  .post__button {
    padding-bottom: 2rem
  }
  .tag li {
    font-size: 1.6rem;
    margin-right: 1rem
  }
  .tag-all__inner {
    padding: 3.2rem 0 1.6rem
  }
  .tag-all__inner li {
    margin-bottom: 1.6rem
  }
  .card__content {
    border-radius: 1rem
  }
  .card__small-text {
    font-size: 1.6rem;
    margin-top: 2rem;
    padding-bottom: 1.3rem
  }
  .card__title {
    font-size: 2.2rem;
    margin-top: 2rem;
    margin-bottom: 3.2rem
  }
  .card__tag {
    height: 5.8rem;
    max-height: none
  }
  .card__date {
    bottom: -7.6rem;
    width: 7.6rem;
    height: 7.6rem
  }
  .swiper-container .card__content {
    padding: 2.2rem 2.2rem 4rem
  }
  .tag-header__ttile {
    font-size: 3rem
  }
  .tag-header__sub {
    font-size: 1.4rem;
    padding-top: 1rem
  }
  .list-tab ul li {
    margin-bottom: 1.4rem
  }
  .list-tab ul li+li {
    margin-left: 1.4rem
  }
  .pagination li+li {
    margin-left: .8rem
  }
  .pagination li a, .pagination li span, .pagination li b {
    width: 4rem;
    height: 4rem;
    line-height: 4rem
  }
  .faq__accordion-box {
    border-radius: 1rem;
    border-left-width: 1.8rem;
    padding: 2.4rem 2.8rem 2.4rem 1.8rem
  }
  .faq__accordion-box+.faq__accordion-box {
    margin-top: 2.8rem
  }
  .faq__question dt, .faq__answer dt {
    font-size: 1.6rem;
    width: 2.8rem;
    height: 2.8rem
  }
  .faq__question dd, .faq__answer dd {
    width: calc(100% - 2.8rem);
    padding-left: 2rem;
    padding-top: .3rem
  }
  .faq__question {
    margin-bottom: 2rem
  }
  .faq__question dd {
    font-size: 2.2rem;
    padding-top: 0
  }
  .faq__answer dd {
    font-size: 1.8rem
  }
  .accordion__more {
    padding-top: 2rem
  }
  .accordion__more-button {
    font-size: 1.2rem
  }
  .accordion__more-button .icon {
    width: 1.8rem;
    margin-left: .9rem;
    margin-top: 0
  }
  .parts-contact {
    padding: 2.8rem
  }
  .parts-contact__lead b {
    display: block;
    font-size: 3.4rem
  }
  .writer {
    margin-top: 10rem;
    margin-bottom: 8rem;
    padding: 2.8rem 0
  }
  .writer__cloud {
    top: -5rem;
    width: 22rem;
    margin-left: 6rem
  }
  .writer__image {
    width: 12.8rem;
    height: 12.8rem
  }
  .writer__catchcopy {
    font-size: 1.4rem;
    padding: 2.6rem .7rem 1rem
  }
  .writer__name {
    font-size: 2.6rem;
    padding-top: .4rem
  }
  .aside__pagefeed {
    padding-bottom: 4.8rem
  }
  .aside__title {
    font-size: 1.8rem
  }
  .carousel {
    padding-top: 3.2rem
  }
  .carousel-image {
    border-radius: 2rem 2rem 0 0
  }
  .carousel-content, .carousel-tag {
    padding-right: 2.2rem;
    padding-left: 2.2rem
  }
  .carousel-info {
    padding: 2rem 0 .8rem
  }
  .carousel-date {
    font-size: 1.4rem
  }
  .carousel-category {
    font-size: 1.6rem
  }
  .carousel-title {
    font-size: 2.2rem;
    margin-top: 2rem
  }
  .carousel-tag {
    padding-top: 3.2rem;
    padding-bottom: 2.2rem;
    border-radius: 0 0 2rem 2rem
  }
  .carousel-tag .tag {
    height: 5.8rem
  }
  .footer .nav {
    padding: 12rem 0
  }
  .footer .nav__external-list {
    padding-top: 5.4rem
  }
  .footer .nav__external-list li+li {
    margin-top: 4rem
  }
	
	  .footer .nav__relation-list {
    padding-top: 1rem;
		  padding-bottom: 1rem;

  }
  .footer .nav__relation-list li+li {
    margin-top: 4rem
  }
  .footer .nav__sport {
    font-size: 2rem;
    padding-top: 8rem
  }
  .footer .nav__sport-text {
    padding-top: .1rem
  }
  .footer .nav__sns {
    padding-top: 8rem
  }
  .footer .nav__info {
    padding-top: 8.9rem
  }
	.footer .nav__info-sitepolicy {
    font-size: 1.8rem;
		    padding-bottom: 7.3rem
  }
  .footer .nav__info-copyright {
    font-size: 1.4rem;
    padding-top: 7.3rem
  }
  .inquiry__person {
    left: 1rem;
    width: 14rem
  }
  .inquiry__list-small {
    padding: 1.2rem 0
  }
  .inquiry__list-small a {
    padding: 0 2.8rem
  }
  .inquiry__list-small dt {
    height: 3.4rem
  }
  .inquiry__list-small .inquiry__form img {
    width: 3.5rem
  }
  .inquiry__list-small .inquiry__tel img {
    width: 2.4rem
  }
  .inquiry__list-small .inquiry__line img {
    width: 3.2rem
  }
  .gotop {
    bottom: -20rem
  }
  .gotop.is-inview {
    bottom: 6.4rem
  }
  .wrapper {
    padding-bottom: 7.4rem
  }
}

@media screen and (min-width: 1280px) {
  .button {
    width: 38.9rem;
    font-size: 2.4rem;
    padding: 2.35rem 0
  }
  .header__inner {
    padding: 5.1rem 0
  }
  .header__logo {
    width: 17.4rem;
    margin-left: 2rem
  }
  .header__logo a {
    top: -3rem;
    height: 17.4rem
  }
  .header__logo a img {
    width: 8.8rem
  }
  .header__burger {
    margin-left: 3.4rem;
    margin-right: 5.6rem
  }
  .is-menu-open .header__burger {
    width: 3.8rem;
    height: 3.8rem
  }
  .wrapper .nav {
    margin-left: 4.8rem
  }
  .wrapper .nav .nav__main {
    padding-top: 0
  }
  .wrapper .nav .nav__main>li {
    padding: 0 0;
    font-size: 1.8rem
  }
  .wrapper .nav .nav__main>li+li {
    margin-left: 4.4rem
  }
  .is-menu-open .header .nav {
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
    padding-bottom: 2rem
  }
  .is-menu-open .header ul.nav__main {
    width: 100%;
    max-width: 106.4rem;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.8rem;
    padding: 20rem 0 0 0;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
  }
  .is-menu-open .header ul.nav__main>li {
    padding: 0 0
  }
  .is-menu-open .header ul.nav__main>li+li {
    margin-left: auto
  }
  .is-menu-open .header .nav__external {
    padding-top: 8rem
  }
	.is-menu-open .header .nav__external ul+ul{
    padding-top: 0
  }
  .is-menu-open .header .nav__external-list li {
    font-size: 1.4rem
  }
  .is-menu-open .header .nav__external-list li:nth-of-type(2), .is-menu-open .header .nav__external-list li:nth-of-type(6), .is-menu-open .header .nav__external-list li:nth-of-type(3), .is-menu-open .header .nav__external-list li:nth-of-type(7), .is-menu-open .header .nav__external-list li:nth-of-type(4), .is-menu-open .header .nav__external-list li:nth-of-type(8) {
    margin-left: 8rem
  }
  .page-header div.page-header__inner {
    height: 38rem;
    padding-top: 10.8rem
  }
  .page-header__icon img {
    width: 1.6rem
  }
  .page-header__slug {
    width: 26rem;
    font-size: 1.6rem;
    padding: .8rem 0 .8rem;
    border-bottom-width: .3rem;
    margin-bottom: .8rem
  }
  div.page-header__title {
    min-width: 42.8rem;
    padding: 1.8rem 0 1.2rem
  }
  div.page-header__title .page-header__title-text {
    font-size: 5rem
  }
  .page-header.-column div.page-header__title {
    width: 60rem
  }
  .page-header.-column .page-header__title-text {
    font-size: 2.2rem
  }
  .main div.post-header {
    padding-right: 6rem;
    padding-left: 6rem;
    margin-bottom: -2.8rem
  }
  .main div.post-header .post-header__date {
    top: -1.8rem;
    right: 6rem;
    width: 10.6rem;
    height: 10.6rem;
    font-size: 1.4rem
  }
  .main div.post-header .post-header__small-text {
    font-size: 2rem
  }
  .main div.post-header .post-header__title {
    font-size: 3.4rem
  }
  .section__header-lead {
    padding-bottom: 12rem
  }
  div.breadcrumb .breadcrumb__list {
    font-size: 1.4rem
  }
  div.breadcrumb .breadcrumb__list li+li::before {
    width: .7rem;
    height: .7rem;
    margin: 0 1.2rem 0 .5rem
  }
  div.swiper-container .swiper-wrapper .card {
    -webkit-transform: translate(28.7rem, 0);
    transform: translate(28.7rem, 0);
    padding-top: 5.8rem
  }
  div.swiper-container .swiper-wrapper .card__content {
    width: calc(100% - 28.7rem);
    padding: 0 0 0
  }
  div.swiper-container .swiper-wrapper .card__image {
    top: 5rem;
    left: -28.7rem;
    width: 57.4rem
  }
  div.swiper-container .swiper-wrapper .card__small-text, div.swiper-container .swiper-wrapper .card__title, div.swiper-container .swiper-wrapper .card__tag {
    margin-left: 31.5rem;
    margin-right: 2.8rem
  }
  div.swiper-container .swiper-wrapper .card__small-text {
    font-size: 2rem;
    margin-top: 6rem;
    padding-bottom: 1.4rem
  }
  div.swiper-container .swiper-wrapper .card__title {
    font-size: 2.8rem;
    margin-top: 1.8rem;
    margin-bottom: 4rem
  }
  div.swiper-container .swiper-wrapper .card__tag {
    margin-bottom: 4.5rem
  }
  div.swiper-container .swiper-wrapper .card__date {
    top: 4.2rem;
    right: 28.7rem;
    width: 10.6rem;
    height: 10.6rem;
    font-size: 1.4rem;
    margin-right: 5.6rem
  }
  div.card-wrapper[class*="flex"] {
    padding-bottom: 18.8rem
  }
  div.card-wrapper[class*="flex"] .card:nth-of-type(n+4) {
    margin-top: 8.6rem
  }
  div.card-wrapper[class*="flex"] .card__title {
    height: 2.8em
  }
  div.card-wrapper[class*="flex"] .card__content {
    padding: 2.8rem 2.8rem 4rem
  }
  h3.tag-header__ttile {
    font-size: 3.6rem
  }
  p.tag-header__sub {
    font-size: 1.8rem;
    padding-top: 2.4rem
  }
  .tag-header+div.list-tab.tab {
    padding-top: 0
  }
  div.list-tab.tab {
    padding-bottom: 4.6rem
  }
  div.list-tab.tab li {
    margin-bottom: 4rem
  }
  .wrapper .pagination {
    padding-bottom: 18.8rem
  }
  .tab li+li {
    margin-left: 3.2rem
  }
  .tab a {
    font-size: 2.2rem
  }
  .swiper-container {
    padding-bottom: 14rem
  }
  .main div.parts-contact {
    margin-top: 10.8rem;
    margin-bottom: 10.8rem
  }
  .main div.parts-contact .parts-contact__logo {
    position: absolute;
    top: -6.5rem;
    left: -6.5rem;
    width: 13rem;
    height: 13rem;
    padding: 3rem
  }
  .aside {
    padding: 10.8rem 0
  }
  .aside .aside__pagefeed {
    padding-bottom: 12.8rem
  }
  .aside .aside__title {
    font-size: 3rem;
    padding: 0 6rem
  }
  .carousel {
    padding-top: 7rem
  }
  .carousel-image {
    border-radius: 4rem 4rem 0 0
  }
  .carousel-info {
    padding: 2.2rem 0 1rem
  }
  .carousel-date {
    padding-right: 2.8rem
  }
  div.carousel-title {
    font-size: 2.8rem
  }
  .carousel-content, .carousel-tag {
    padding-right: 3.8rem;
    padding-left: 3.8rem
  }
  .carousel-tag {
    padding-top: 2.8rem;
    padding-bottom: 3.8rem;
    border-radius: 0 0 4rem 4rem
  }
  .footer .nav {
    padding: 14.2rem 0 28.8rem;
    margin-left: 0
  }
  .footer .nav ul.nav__main {
    width: 116rem;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
  }

  .footer .nav ul.nav__main>li {
    font-size: 1.6rem;
    padding: 0 0
  }
  .footer .nav ul.nav__main>li+li {
    margin-left: 8.8rem
  }
  .footer .nav .nav__external {
    width: 101.2rem;
    max-width: 100%;
    padding-top: 19rem
  }
  
.footer .nav .nav__external ul+ul{
    padding-top: 0
  }	
  .footer .nav .nav__external-title {
    font-size: 1.8rem;
    font-weight: bold
  }
  .footer .nav .nav__external-list {
    font-size: 1.4rem;
    padding-top: 5.6rem
  }
  .footer .nav .nav__external-list li:nth-of-type(1), .footer .nav .nav__external-list li:nth-of-type(2), .footer .nav .nav__external-list li:nth-of-type(3) {
    padding-top: 1.1rem
  }
  .footer .nav .nav__external-list li:nth-of-type(1), .footer .nav .nav__external-list li:nth-of-type(5) {
    width: 22.8rem
  }
  .footer .nav .nav__external-list li:nth-of-type(2), .footer .nav .nav__external-list li:nth-of-type(6) {
    width: 16.4rem;
    margin-left: 4rem
  }
  .footer .nav .nav__external-list li:nth-of-type(3), .footer .nav .nav__external-list li:nth-of-type(7) {
    width: 10rem;
    margin-left: 4rem
  }
  .footer .nav .nav__external-list li:nth-of-type(4), .footer .nav .nav__external-list li:nth-of-type(8) {
    width: 27.4rem;
    margin-left: 4rem
  }
  .footer .nav .nav__external-list li:nth-of-type(4) a::after {
    -webkit-transform: translateY(0.4rem);
    transform: translateY(0.4rem)
  }
  .footer .nav .nav__external-list li:nth-last-of-type(-n+4) {
    margin-top: 2.4rem
  }
  .footer .nav .nav__external-list a {
    -webkit-transition: .4s;
    transition: .4s
  }
  .footer .nav .nav__external-list a::after {
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
    -webkit-transform: translateY(0.5rem);
    transform: translateY(0.5rem);
    -webkit-transition: .4s;
    transition: .4s
  }
  .footer .nav .nav__external-list .small-text {
    text-indent: 0;
    padding-top: 0;
    -webkit-transform: translateY(-0.4rem);
    transform: translateY(-0.4rem)
  }
	
	  .footer .nav .nav__relation {
    width: 101.2rem;
    max-width: 100%;
    padding-top: 19rem;

  }
	
	  .footer .nav .nav__relation-list {
    font-size: 1.4rem;
    padding-top:1.9rem;
		    padding-bottom: 0
  }

 
	  .footer .nav .nav__relation-list a {
    -webkit-transition: .4s;
    transition: .4s
  }
  .footer .nav .nav__relation-list a::after {
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
    -webkit-transform: translateY(0.5rem);
    transform: translateY(0.5rem);
    -webkit-transition: .4s;
    transition: .4s
  }
  .footer .nav .nav__sns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 40rem;
    padding-top: 31.4rem
  }
  .footer .nav .nav__info {
    padding-top: 8.4rem
  }
  .footer .nav .nav__info-logo {
    width: 21.4rem
  }
  .footer .nav .nav__info-sitepolicy {
    padding-bottom: 5rem
  }
  .footer .nav .nav__info-copyright {
    padding-top: 4.4rem
  }
  .inquiry {
    width: 52.6rem;
    height: 6.6rem;
    bottom: -30rem;
    left: auto;
    margin-left: 2.6rem;
    background: transparent url(../img/common/bg-inquiry-small.png) no-repeat left top;
    background-size: 100%;
    -webkit-transition: bottom 1s 2.5s cubic-bezier(0.62, 0.85, 0.69, 1.09);
    transition: bottom 1s 2.5s cubic-bezier(0.62, 0.85, 0.69, 1.09);
    -webkit-box-shadow: none;
    box-shadow: none
  }
  .inquiry__person {
    bottom: 0;
    left: -2.7rem;
    opacity: 1
  }
  .inquiry__list-small {
    display: none
  }
  .inquiry__list-medium {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 100%;
    padding-top: 1.2rem
  }
  .inquiry__list-medium img {
    width: 100%
  }
  .inquiry__list-medium .inquiry__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 20.8rem;
    padding-right: 2rem;
    margin-left: 6rem
  }
  .inquiry__list-medium .inquiry__form::after {
    display: block;
    content: "";
    position: absolute;
    top: .4rem;
    right: 0;
    width: .1rem;
    height: 3.2rem;
    background: #081927
  }
  .inquiry__list-medium .inquiry__tel {
    display: inline-block;
    width: 19.4rem;
    padding-left: 2rem
  }
  div.gotop {
    bottom: -15rem;
    right: auto;
    margin-left: 116rem;
    width: 12.6rem
  }
  div.gotop.is-inview {
    bottom: .5rem
  }
  .is-loaded .inquiry {
    bottom: 2rem
  }
  .is-loaded .inquiry__person img {
    -webkit-animation: cluody 1.4s linear 3.8s 6 alternate;
    animation: cluody 1.4s linear 3.8s 6 alternate
  }
  .wrapper {
    padding-right: 0;
    padding-left: 0
  }
  .container {
    padding-top: 10.2rem
  }
}

@media screen and (min-width: 375px) {
  .header__tel {
    width: calc(100% - 4rem);
    margin-bottom: 2rem;
    padding: 1.2rem
  }
  .header__contact {
    width: calc(100% - 4rem);
    padding: 1rem;
    margin-top: 1.4rem
  }
  .header__form, .header__line {
    font-size: 1.2rem
  }
  .header .nav {
    padding-top: 12vh
  }
}

@media screen and (min-width: 768px) {
  .header__tel, .header__contact {
    display: none
  }
  .nav {
    padding-top: 0
  }
  .nav .nav__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 74rem;
    margin-right: auto;
    margin-left: auto;
    height: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 10rem;
    text-align: left
  }
  .nav .nav__main>li {
    font-size: 1.4rem
  }
  .nav .nav__main>li+li {
    margin-top: 0;
    margin-left: auto
  }
  .nav .nav__main>li:last-of-type {
    display: block
  }
  .nav .nav__sub, .nav .nav__external {
    display: block
  }
	  .nav .nav__sub, .nav .nav__relation {
    display: block;
  }
  .nav .nav__sub {
    font-size: 1.2rem;
    padding: 2.8rem 0
  }
  .nav .nav__external {
    width: 100%;
    max-width: 74rem;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10rem
  }
  .nav .nav__external-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.3rem;
    padding-top: 3.6rem;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }
  .nav .nav__external-list li {
    text-align: center
  }
  .nav .nav__external-list li:nth-of-type(1), .nav .nav__external-list li:nth-of-type(2), .nav .nav__external-list li:nth-of-type(3) {
    padding-top: 1.4rem
  }
  .nav .nav__external-list li:nth-of-type(1), .nav .nav__external-list li:nth-of-type(5) {
    width: 20rem
  }
  .nav .nav__external-list li:nth-of-type(2), .nav .nav__external-list li:nth-of-type(6) {
    width: 14rem;
    margin-left: 1.5rem
  }
  .nav .nav__external-list li:nth-of-type(3), .nav .nav__external-list li:nth-of-type(7) {
    width: 8.8rem;
    margin-left: 1.5rem
  }
  .nav .nav__external-list li:nth-of-type(4), .nav .nav__external-list li:nth-of-type(8) {
    width: 26rem;
    margin-left: 1.5rem
  }
  .nav .nav__external-list li:nth-of-type(4) span:not(.small-text) {
    border-bottom: none
  }
  .nav .nav__external-list li:nth-last-of-type(-n+4) {
    margin-top: 3.6rem
  }
  .nav .nav__external-title {
    width: 100%;
    font-size: 1.6rem;
    text-align: center
  }
	  .nav .nav__relation{
    width: 100%;
    max-width: 74rem;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10rem
  }
  .nav .nav__relation-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.3rem;
    padding-top: 1.6rem;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .nav__relation-list li {
    text-align: center;
	  	     	      margin: 0 auto;

  }


  .nav .nav__sns {
    width: 30rem;
    padding-top: 10rem
  }
  .nav .nav__info {
    display: block;
    text-align: center;
    padding-top: 3rem
  }
  .nav .nav__info-logo {
    display: inline-block;
    width: 21.4rem
  }
  .nav .nav__info-address {
    padding-top: 2.8rem
  }

  .nav .nav__info-copyright {
    padding-top: 4.4rem
  }
  .page-header {
    background-image: url(../img/common/bg-page-header-large.jpg)
  }
  div.page-header__inner {
    height: 26rem;
    padding-top: 6.8rem
  }
  .page-header__icon img {
    width: 1.4rem
  }
  .page-header__title {
    min-width: 30.8rem
  }
  .page-header__title-text {
    font-size: 3.4rem
  }
  .-column div.page-header__title {
    width: 48rem
  }
  .-column .page-header__title-text {
    font-size: 1.8rem;
    padding-top: 1.8rem
  }
  div.post-header {
    padding: 3rem
  }
  .post-header__title {
    font-size: 2.6rem
  }
  .section__header-text {
    background-position: left top;
    font-size: 3rem;
    padding: 3.6rem 1.6rem 1rem
  }
  .section__header-lead {
    font-size: 1.6rem;
    padding: 2.8rem 0 6.4rem
  }
  .breadcrumb__list {
    font-size: 1.2rem
  }
  .breadcrumb__list li+li::before {
    width: .6rem;
    height: .6rem;
    margin: 0 .8rem 0 .4rem
  }
  .swiper-container .swiper-wrapper .card__content {
    padding: 3rem 3rem 6rem
  }
  .card+.card {
    margin-top: 0
  }
  .card-wrapper {
    padding-bottom: 14.8rem
  }
  .card-wrapper .card {
    width: 49%;
    margin-right: 2%
  }
  .card-wrapper .card:nth-of-type(n+3) {
    margin-top: 8rem
  }
  .card-wrapper .card:nth-of-type(2n) {
    margin-right: 0
  }
  .card-wrapper .card__image {
    position: relative;
    padding-top: 60%;
    overflow: hidden
  }
  .card-wrapper .card__image img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%
  }
  .card-wrapper .card__title {
    font-size: 2.2rem;
    height: 4.2em;
    margin-top: 2rem;
    margin-bottom: 3.2rem;
    overflow: hidden
  }
  .tag-header__ttile {
    font-size: 3.2rem
  }
  .tag-header__sub {
    font-size: 1.6rem
  }
  .list-tab {
    padding-bottom: 2.8rem
  }
  .list-tab ul li {
    margin-bottom: 2rem
  }
  .list-tab ul li+li {
    margin-left: 2rem
  }
  .tag-header {
    padding-bottom: 4rem
  }
  .tag-header__ttile {
    font-size: 3.6rem
  }
  .list-tab {
    padding-bottom: 4rem
  }
  .list-tab ul a {
    font-size: 1.8rem;
    padding: 0 1rem .6rem
  }
  .wrapper .pagination {
    padding-bottom: 14.8rem
  }
  .wrapper .pagination li+li {
    margin-left: 1.8rem
  }
  .wrapper .pagination li.-prev a {
    width: 4.4rem
  }
  .wrapper .pagination li.-prev a::before {
    margin-left: .5rem
  }
  .wrapper .pagination li.-next a {
    width: 4.4rem
  }
  .wrapper .pagination li.-next a::before {
    margin-left: -.5rem
  }
  .wrapper .pagination a, .wrapper .pagination span, .wrapper .pagination b {
    width: 4.4rem;
    height: 4.4rem;
    line-height: 4.4rem
  }
  .wrapper .pagination span {
    width: 2.4rem
  }
  .tab {
    display: block;
    font-size: 2rem
  }
  .tab li+li {
    margin-left: 2rem
  }
  div.faq__accordion-box {
    padding: 2.2rem 3rem;
    border-left-width: 2.6rem;
    border-radius: 1.4rem
  }
  div.faq__accordion-box+.faq__accordion-box {
    margin-top: 6rem
  }
  .faq__question, .faq__answer {
    padding-left: 1.8rem
  }
  .faq__question dd, .faq__answer dd {
    padding-left: 2.6rem
  }
  .faq__question {
    margin-bottom: 2.8rem
  }
  .faq__question dd {
    font-size: 2.8rem;
    padding-top: 0;
    -webkit-transform: translateY(-0.4rem);
    transform: translateY(-0.4rem)
  }
  .faq__answer dd {
    font-size: 2rem;
    -webkit-transform: translateY(-0.2rem);
    transform: translateY(-0.2rem)
  }
  .accordion__more {
    padding-top: 1rem
  }
  .accordion__more-button {
    font-size: 1.4rem
  }
  .accordion__more-button .icon {
    width: 2.2rem;
    margin-left: 1.1rem;
    margin-top: -.15rem
  }
  .aside {
    padding: 6.8rem 0
  }
  .aside__pagefeed {
    padding-bottom: 6.8rem;
    font-size: 1.6rem
  }
  .aside__title {
    width: 94%;
    font-size: 2.4rem;
    margin: 0 auto;
    padding: 0 2.4rem
  }
  .aside__title span {
    padding-bottom: .4rem
  }
  .carousel {
    width: 94%;
    max-width: 113.6rem;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5rem
  }
  .footer .nav .nav__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0
  }
  .footer .nav .nav__sub {
    display: block
  }
  .footer .nav .nav__external-list li+li {
    margin-top: 0
  }
  .footer .nav .nav__external-list li:nth-last-of-type(-n+4) {
    margin-top: 3.6rem
  }
	  .footer .nav .nav__relation-list li+li {
    margin-top: 0rem
  }
	
  .footer .nav .nav__sport {
    font-size: 2.4rem;
    padding-top: 12rem
  }
  .footer .nav .nav__sport-image {
    width: 3.4rem;
    margin-right: 1.2rem
  }
  .footer .nav .nav__sns {
    padding-top: 10rem
  }
  .inquiry__person {
    width: 24rem
  }
  .gotop {
    bottom: -20rem;
    right: 1.4rem;
    width: 8.4rem
  }
  .gotop.is-inview {
    bottom: 10rem
  }
}

@media screen and (min-width: 1024px) {
  .header__inner {
    height: 7.4rem;
    padding: 2.4rem 0
  }
  .header__logo {
    width: 14rem;
    margin-left: 1.6rem
  }
  .header__logo a {
    display: block;
    position: absolute;
    top: -2rem;
    width: 100%;
    height: 14rem
  }
  .header__logo a::before {
    display: block;
    content: " ";
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 100%
  }
  .header__logo a .-small {
    display: none
  }
  .header__logo a .-large {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8rem;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
  }
  .not-small-logo .header__logo .-small {
    display: block
  }
  .not-small-logo .header__logo .-large {
    display: none
  }
  .header__burger {
    width: 3rem;
    height: 2.6rem;
    margin-left: 1.6rem;
    margin-right: 3rem;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
  }
  .is-small-logo:not(.is-menu-open) .header__logo, .not-small-logo:not(.is-menu-open) .header__logo {
    position: relative
  }
  .is-small-logo:not(.is-menu-open) .header__logo a, .not-small-logo:not(.is-menu-open) .header__logo a {
    position: static;
    width: auto;
    height: auto
  }
  .is-small-logo:not(.is-menu-open) .header__logo a img, .not-small-logo:not(.is-menu-open) .header__logo a img {
    width: 100%
  }
  .is-small-logo:not(.is-menu-open) .header__logo a::before, .not-small-logo:not(.is-menu-open) .header__logo a::before {
    display: none
  }
  .is-menu-open .header__logo a::before {
    background: transparent
  }
  .is-menu-open .header__burger {
    top: 2rem;
    margin-left: auto
  }
  .header .nav {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    background: transparent;
    padding: 0;
    opacity: 1;
    margin: 0 auto;
    -webkit-transition: width .6s, height .6s;
    transition: width .6s, height .6s
  }
  .nav .nav__main {
    max-width: 100%;
    padding-top: 0
  }
  .nav .nav__main>li {
    font-size: 1.6rem
  }
  .nav .nav__main>li+li {
    margin-left: 2.4rem
  }
  .nav .nav__main>li.-current a::after {
    width: 100%
  }
  .nav .nav__main>li>a {
    display: inline-block;
    position: relative;
    margin-top: 1rem;
    padding-bottom: 1rem
  }
  .nav .nav__main>li>a::after {
    display: block;
    position: absolute;
    content: "";
    width: 0;
    height: .3rem;
    bottom: 0;
    left: 0;
    background: #fff;
    -webkit-transition: width .24s;
    transition: width .24s
  }
  .nav .nav__sub {
    display: none
  }
  .nav .nav__external {
    display: none
  }
	  .nav .nav__relation {
    display: none
  }
  .nav .nav__sns {
    display: none
  }
  .nav .nav__info {
    display: none
  }
  .is-menu-open .header .nav {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #081927;
    padding: 0 2rem 2rem;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
  }
  .is-menu-open .header .nav__main {
    padding-top: 18rem
  }
  .is-menu-open .header .nav__main>li {
    font-size: 2rem;
    padding: 0 0
  }
  .is-menu-open .header .nav__main>li+li {
    margin-left: 3rem
  }
  .is-menu-open .header .nav__sub {
    display: block;
    padding-top: 1rem
  }
  .is-menu-open .header .nav__sub>li>a {
    display: inline-block;
    position: relative;
    margin-top: 1rem;
    padding-bottom: 1rem
  }
  .is-menu-open .header .nav__sub>li>a::after {
    display: block;
    position: absolute;
    content: "";
    width: 0;
    height: .1rem;
    bottom: 0;
    left: 0;
    background: #fff;
    -webkit-transition: width .24s;
    transition: width .24s
  }
  .is-menu-open .header .nav__external {
    display: block;
    width: 100%;
    max-width: 101.2rem;
    padding-top: 4rem
  }
	.is-menu-open .header .nav__external ul+ul{
    padding-top: 0
  }
  .is-menu-open .header .nav__external-title {
    font-size: 2rem
  }
  .is-menu-open .header .nav__external-list {
    font-size: 1.4rem;
    padding-top: 2.4rem
  }
  .is-menu-open .header .nav__external-list li:nth-of-type(1), .is-menu-open .header .nav__external-list li:nth-of-type(2), .is-menu-open .header .nav__external-list li:nth-of-type(3) {
    padding-top: 1.1rem
  }
  .is-menu-open .header .nav__external-list li:nth-of-type(1), .is-menu-open .header .nav__external-list li:nth-of-type(5) {
    width: 22.8rem
  }
  .is-menu-open .header .nav__external-list li:nth-of-type(2), .is-menu-open .header .nav__external-list li:nth-of-type(6) {
    width: 16.4rem;
    margin-left: 4rem
  }
  .is-menu-open .header .nav__external-list li:nth-of-type(3), .is-menu-open .header .nav__external-list li:nth-of-type(7) {
    width: 10.4rem;
    margin-left: 4rem
  }
  .is-menu-open .header .nav__external-list li:nth-of-type(4), .is-menu-open .header .nav__external-list li:nth-of-type(8) {
    width: 27.4rem;
    margin-left: 4rem
  }
  .is-menu-open .header .nav__external-list li:nth-of-type(4) a::after {
    -webkit-transform: translateY(0.7rem);
    transform: translateY(0.7rem)
  }
  .is-menu-open .header .nav__external-list li:nth-last-of-type(-n+4) {
    margin-top: 2.4rem
  }
  .is-menu-open .header .nav__external-list a {
    -webkit-transition: .4s;
    transition: .4s
  }
  .is-menu-open .header .nav__external-list a::after {
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
    -webkit-transform: translateY(0.5rem);
    transform: translateY(0.5rem);
    -webkit-transition: .4s;
    transition: .4s
  }
  .is-menu-open .header .nav__external-list .small-text {
    text-indent: 0;
    padding-top: 0;
    -webkit-transform: translateY(-0.4rem);
    transform: translateY(-0.4rem)
  }
  .is-menu-open .header .nav__sns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 5rem;
    padding-bottom: 0
  }
  .is-menu-open .header .nav__sns a {
    -webkit-transition: .4s;
    transition: .4s
  }
  .is-menu-open .header .nav__info {
    display: block;
    padding-top: 4rem
  }
  .is-menu-open .header .nav__info a {
    -webkit-transition: .4s;
    transition: .4s
  }
  .is-menu-open .header .nav__info-address {
    padding-top: 2rem
  }

  .is-menu-open .header .nav__info-copyright {
    padding-top: .7rem
  }
  div.page-header__inner {
    height: 30rem;
    padding-top: 8.6rem
  }
  .page-header__slug {
    font-size: 1.4rem;
    padding: .8rem 0 .8rem;
    margin-bottom: .8rem
  }
  .page-header__title {
    min-width: 36.8rem;
    padding: 1.4rem 0 1rem
  }
  .page-header__title-text {
    font-size: 4rem
  }
  .-column div.page-header__title {
    width: 54rem
  }
  .post-header__title {
    font-size: 3rem
  }
  .post-header__tag {
    margin-top: 2rem
  }
  .post__button {
    padding-top: 0;
    padding-bottom: 4rem
  }
  .section__header-text {
    font-size: 4.2rem;
    background-size: 6.8rem;
    padding: 5rem 2.8rem 1.8rem
  }
  .section__header-lead {
    font-size: 2.4rem;
    padding: 4rem 0 10rem
  }
  div.breadcrumb {
    padding: 2.4rem 0 6.8rem
  }
  .tag a {
    display: inline-block;
    position: relative;
    line-height: 1;
    padding: .4rem .4rem
  }
  .tag a span {
    position: relative;
    z-index: 2
  }
  .tag a::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 0;
    height: 100%;
    background: #fff03e;
    -webkit-transition: width .4s .1s;
    transition: width .4s .1s
  }
  div.tag-all__inner {
    padding: 9rem 1.8rem 7rem
  }
  div.tag-all__inner li {
    font-size: 2rem;
    margin-bottom: 2rem
  }
  .swiper-container .swiper-wrapper .card {
    position: relative;
    -webkit-transform: translate(21rem, 0);
    transform: translate(21rem, 0);
    padding-top: 3.8rem
  }
  .swiper-container .swiper-wrapper .card__content {
    position: static;
    width: calc(100% - 21rem);
    padding: 0 0 0
  }
  .swiper-container .swiper-wrapper .card__image {
    position: absolute;
    top: 2rem;
    left: -21rem;
    width: 42rem;
    -webkit-transition: all .6s .8s;
    transition: all .6s .8s
  }
  .swiper-container .swiper-wrapper .card__image img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: -webkit-filter .6s .8s;
    transition: -webkit-filter .6s .8s;
    transition: filter .6s .8s;
    transition: filter .6s .8s, -webkit-filter .6s .8s
  }
  .swiper-container .swiper-wrapper .card__small-text, .swiper-container .swiper-wrapper .card__title, .swiper-container .swiper-wrapper .card__tag {
    margin-left: 23rem;
    margin-right: 2rem
  }
  .swiper-container .swiper-wrapper .card__small-text {
    margin-top: 3rem;
    padding-bottom: 1rem
  }
  .swiper-container .swiper-wrapper .card__title {
    margin-top: 1rem;
    margin-bottom: 2rem
  }
  .swiper-container .swiper-wrapper .card__tag {
    margin-bottom: 1.5rem
  }
	  .card__tag li {
    margin-top: 0 ;
		      margin-bottom: 10px ;
  }
  .swiper-container .swiper-wrapper .card__small-text:after, .swiper-container .swiper-wrapper .card__tag:after {
    -webkit-transition: all 1s 1s;
    transition: all 1s 1s
  }
  .swiper-container .swiper-wrapper .card__title:after {
    -webkit-transition: all 1s .8s;
    transition: all 1s .8s
  }
  .swiper-container .swiper-wrapper .card__tag:after {
    z-index: 2
  }
  .swiper-container .swiper-wrapper .card__date {
    top: 3.8rem;
    right: 21rem;
    bottom: auto;
    width: 7.6rem;
    height: 7.6rem;
    margin-right: 4rem
  }
  .card[class*="active"] .card__image img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0)
  }
  .card-wrapper[class*="flex"] {
    padding-bottom: 16.8rem
  }
  .card-wrapper[class*="flex"] .card {
    width: 32%;
    max-width: 39.8rem
  }
  .card-wrapper[class*="flex"] .card:nth-of-type(3) {
    margin-top: 0
  }
  .card-wrapper[class*="flex"] .card:nth-of-type(n+4) {
    margin-top: 8rem
  }
  .card-wrapper[class*="flex"] .card:nth-of-type(2n) {
    margin-right: 2%
  }
  .card-wrapper[class*="flex"] .card:nth-of-type(3n) {
    margin-right: 0
  }
  .card-wrapper[class*="flex"] .card__small-text {
    margin-top: 3rem
  }
  .card-wrapper[class*="flex"] .card__title {
    margin-top: 1.5rem;
    margin-bottom: 4.4rem
  }
  .tag-header {
    position: relative;
    text-align: left;
    padding-bottom: 6.8rem
  }
  .tag-header::before {
    display: block;
    content: "";
    position: absolute;
    top: 1rem;
    left: -50%;
    width: 100%;
    height: .4rem;
    background: #E60000
  }
  .tag-header__content {
    position: relative;
    background: #fff;
    z-index: 2;
    margin-left: 4rem;
    padding-left: 1.6rem
  }
  p.tag-header__sub {
    padding-top: 2rem
  }
  div.list-tab {
    padding-bottom: 6.6rem
  }
  div.list-tab ul li {
    margin-bottom: 2.4rem
  }
  div.list-tab ul li+li {
    margin-left: 4rem
  }
  div.list-tab ul a {
    font-size: 2rem
  }
  .wrapper .pagination {
    font-size: 2rem;
    padding-bottom: 14.8rem
  }
  .wrapper .pagination li+li {
    margin-left: 2.4rem
  }
  .wrapper .pagination li.-prev a, .wrapper .pagination li.-next a {
    width: 5rem
  }
  .wrapper .pagination li.-prev a::before, .wrapper .pagination li.-next a::before {
    display: block;
    content: "";
    position: absolute;
    width: 2rem;
    height: 2rem
  }
  .wrapper .pagination a, .wrapper .pagination span, .wrapper .pagination b {
    width: 5rem;
    height: 5rem;
    line-height: 5rem
  }
  .wrapper .pagination span {
    width: 3rem
  }
  .tab li+li {
    margin-left: 2.8rem
  }
  .tab a {
    border-bottom-width: .2rem
  }
  .swiper-container {
    padding-bottom: 10.8rem;
    -webkit-transform: translateY(50rem);
    transform: translateY(50rem)
  }
  .main .parts-contact {
    border-width: .5rem;
    padding: 4rem;
    margin-top: 9.8rem;
    margin-bottom: 6.8rem;
    border-radius: 1.2rem
  }
  .main .parts-contact .parts-contact__logo {
    position: absolute;
    top: -6rem;
    left: -6rem;
    width: 12rem;
    height: 12rem;
    -webkit-transform: translate(0);
    transform: translate(0);
    padding: 2.8rem;
    border: none
  }
  .main .parts-contact .parts-contact__message {
    font-size: 2rem;
    padding-top: 0;
    padding-bottom: 1.8rem
  }
  .main .parts-contact .parts-contact__message br {
    display: none
  }
  .main .parts-contact .parts-contact__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }
  .main .parts-contact .parts-contact__lead {
    font-size: 2.4rem;
    padding-top: 2.4rem
  }
  .main .parts-contact .parts-contact__lead b {
    font-size: 4.6rem;
    padding-top: 2rem
  }
  .main .parts-contact .parts-contact__how {
    max-width: 100%;
    width: 34rem;
    padding-top: 0;
    margin: 0 0 0 6rem
  }
  .main .parts-contact .parts-contact__tel img {
    width: 100%
  }
  .main .parts-contact .parts-contact__online {
    padding-left: .4rem
  }
  .main .parts-contact .parts-contact__online dt {
    width: 4rem
  }
  .main .parts-contact .parts-contact__online dd {
    width: calc(100% - 4rem)
  }
  .main .parts-contact .parts-contact__online dd span {
    font-size: 1.6rem
  }
  .writer {
    max-width: 58rem
  }
  .writer .writer__cloud {
    top: -5.4rem;
    width: 26rem;
    margin-left: 8rem
  }
  .writer .writer__image {
    width: 16rem;
    height: 16rem
  }
  .writer .writer__text {
    padding-left: 4rem
  }
  .writer .writer__catchcopy {
    font-size: 1.6rem
  }
  .writer .writer__name {
    font-size: 3.4rem
  }
  .aside {
    padding: 8.8rem 0
  }
  .aside__pagefeed {
    padding-bottom: 8.8rem;
    font-size: 2rem
  }
  .aside__title {
    font-size: 2.6rem;
    padding: 0 2.6rem
  }
  .carousel-content, .carousel-tag {
    padding-right: 2.4rem;
    padding-left: 2.4rem
  }
  .carousel-tag {
    padding-bottom: 2.4rem
  }
  .carousel-info {
    position: relative;
    margin-bottom: 1.2rem
  }
  div.carousel-title {
    height: 2.8em
  }
  .carousel-date {
    position: absolute;
    bottom: -1.2rem;
    background: #fff;
    padding-right: 1.4rem
  }
  .column__detail {
    padding-top: 6rem
  }
  .footer .nav .nav__main li {
    padding: 0 0
  }
  .footer .nav .nav__main li+li {
    margin-left: 4.8rem
  }
  .footer .nav .nav__sport {
    font-size: 2.6rem;
    padding-top: 14rem
  }
  .footer .nav .nav__sns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 12rem
  }
  .wrapper {
    padding-bottom: 0
  }
  .container {
    padding-top: 7.4rem
  }
}

@media screen and (min-width: 1024px) and (hover) {
  .header__logo a:hover {
    opacity: 1
  }
  .nav__main a, .nav__sub a, .nav__external-list a, .nav__relation-list a, .nav__sns a {
    -webkit-transition: .4s;
    transition: .4s
  }
  .nav__info a:hover {
    text-decoration: none
  }
  .tag a {
    opacity: 1;
    color: #555
  }
  .tag a:hover::before {
    width: 100%
  }
  .tag-all a {
    color: #081927
  }
  .swiper-container .card__date {
    -webkit-transition: color .6s;
    transition: color .6s
  }
  .swiper-container .card__content {
    -webkit-transition: border-color .6s;
    transition: border-color .6s
  }
  .swiper-container .card__content:hover {
    border-color: #E60000
  }
  .swiper-container .card__content:hover .card__date {
    color: #E60000
  }
  .swiper-container a.card__link:hover, .swiper-container a.card__date:hover {
    opacity: 1
  }
  div.list-tab a:hover {
    opacity: 1;
    border-bottom-color: #E60000
  }
  .carousel__slide:hover {
    opacity: .5;
    -webkit-transition: all .6s;
    transition: all .6s
  }
  .carousel__slide:hover .carousel-content, .carousel__slide:hover .carousel-tag {
    border-color: #E60000
  }
}

@media screen and (min-width: 600px) {
  .nav__main>li+li {
    margin-top: 5vh
  }
  .nav__sns {
    padding: 5vw 0
  }
  .page-header__inner {
    height: 18rem;
    padding-top: 4rem
  }
  .-column .page-header__title {
    width: 40rem
  }
  .post-header {
    padding: 2.2rem
  }
  .breadcrumb {
    padding: 1.2rem 0 4.8rem
  }
  .tag-all__inner {
    padding: 4rem 1.6rem 2.4rem
  }
  .tag-all__inner {
    padding: 5.4rem 1.8rem 3.6rem
  }
  .tag-all__inner li {
    font-size: 1.8rem;
    margin-bottom: 1.8rem
  }
  .swiper-container .card__content {
    padding: 2.2rem 2.2rem 4rem
  }
  .faq__accordion-box+.faq__accordion-box {
    margin-top: 3.4rem
  }
  .faq__answer dd br {
    display: block
  }
  .parts-contact {
    border: 0.3rem solid #E60000;
    margin-top: 9.8rem;
    margin-bottom: 4rem
  }
  .parts-contact__logo {
    position: absolute;
    top: -7rem;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    border: 0.3rem solid #E60000
  }
  .parts-contact__message {
    font-size: 1.6rem;
    padding-top: 6rem
  }
  .parts-contact__how {
    padding-top: 2rem
  }
  .writer__image {
    width: 14rem;
    height: 14rem
  }
  .writer__catchcopy {
    font-size: 1.4rem;
    padding: 2.6rem .7rem .8rem
  }
  .writer__name {
    font-size: 3rem;
    padding-top: .4rem
  }
  .carousel [class*="active"]+.swiper-slide .carousel-image {
    opacity: 1
  }
  .carousel [class*="active"]+.swiper-slide .carousel-info {
    border-color: #E60000
  }
  .carousel [class*="active"]+.swiper-slide .carousel-date::after, .carousel [class*="active"]+.swiper-slide .carousel-category::after, .carousel [class*="active"]+.swiper-slide .carousel-title::after, .carousel [class*="active"]+.swiper-slide .carousel-tag::after {
    -webkit-transform: translateX(100%);
    transform: translateX(100%)
  }
  .carousel-title {
    height: 4em;
    overflow: hidden
  }
}

@media screen and (min-width: 1024px) and (min-height: 768px) {
  .is-menu-open .header .nav__main {
    padding-top: 20rem
  }
  .is-menu-open .header .nav__sub {
    padding-top: 2rem
  }
  .is-menu-open .header .nav__external {
    padding-top: 6rem
  }
	.is-menu-open .header .nav__external ul+ul{
    padding-top: 0
  }
  .is-menu-open .header .nav__sns {
    padding-top: 8rem
  }
  .is-menu-open .header .nav__info {
    padding-top: 6rem
  }
  .is-menu-open .header .nav__info-address {
    padding-top: 2.4rem
  }
	  .is-menu-open .header .nav__info-sitepolicy {
    padding-bottom: 1.4rem
  }
  .is-menu-open .header .nav__info-copyright {
    padding-top: 1.4rem
  }
}

@media screen and (min-width: 1280px) and (min-height: 901px) {
  .is-menu-open .header .nav__main {
    padding-top: 24rem
  }
  .is-menu-open .header .nav__sub {
    padding-top: 2.4rem
  }
  .is-menu-open .header .nav__external {
    padding-top: 8rem
  }
	.is-menu-open .header .nav__external ul+ul{
    padding-top: 0
  }
  .is-menu-open .header .nav__sns {
    padding-top: 7rem
  }
  .is-menu-open .header .nav__info {
    padding-top: 5rem
  }
	  .is-menu-open .header .nav__info-sitepolicy {
    padding-bottom: 2rem
  }
  .is-menu-open .header .nav__info-copyright {
    padding-top: 2rem
  }
}

@media screen and (min-width: 1400px) {
  .page-header div.page-header__inner {
    height: 40rem;
    padding-top: 12rem
  }
  .page-header.-column div.page-header__inner {
    padding-top: 13rem
  }
  .page-header__slug {
    padding: 1rem 0 1rem;
    margin-bottom: 1.4rem
  }
  .page-header__title {
    padding: 1.4rem 10rem 1rem
  }
  .page-header__title .page-header__title-text {
    font-size: 6rem
  }
  .swiper-container {
    padding-bottom: 16rem
  }
}

@media screen and (min-width: 1280px) and (hover) {
  .inquiry__person a:hover {
    opacity: 1
  }
}

/*SNS Button*/

#snsboxArea {
  margin-bottom: 1em;
  width: 100%;
  display: table;
  padding-left: 2px;
  vertical-align: middle;
}

.snsboxfb {
  width: 84px;
  height: 22px;
  float: left;
}

.snsboxtw {
  width: 78px;
  height: 22px;
  float: left;
}

.snsboxhb {
	  width: 90px;
  height: 22px;
  float: left;
}

.line-it-button {
  width: 85px;
  height: 20px;
  float: left;
}

@media screen and (max-width: 768px) {
  #snsboxArea {
    margin-top: 1em;
	    padding-left: 0;
  }
  .snsboxfb, .snsboxtw, .line-it-button,.snsboxhb {
    width: 25%;
	      width: -webkit-calc(100% / 4);
    width: calc(100% / 4);
    height: auto;
    float: left;
  }

}

/*SNS Share*/

.share_box {
  width: 100%;
 margin-top: 2em;
	margin-bottom: 1em;
		text-align:center;

	font-size: 1.2em;
	font-weight: bold;
}

.fb_share {
  background: #3b5998;
	  display:inline-block;
  height: 45px;
	width:40%;
  padding: 5px;
    position: relative;

}

.fb_share a,.tw_share a {
    position: absolute;
    top: 25%;
    left: 0%;
    height:100%;
    width: 100%;
	color: #fff;
		  text-decoration: none;
}

.fb_share a i,.tw_share a i{
  margin:0 2em;

}

.tw_share {
  background: #00acee;
		  display:inline-block;
  height: 45px;
	width:40%;
  padding: 5px;
    position: relative;
}

.fb_share:hover,.tw_share:hover{
	 filter:alpha(opacity=60);
 -ms-filter: "alpha(opacity=60)";
 -moz-opacity:0.6;
 -khtml-opacity: 0.6;
 opacity:0.6;
}



 @media screen and (max-width: 768px) {
     .share_box{
		 width: 100%;
         display: block;
		   margin: 0.5em auto;

	  text-decoration: none;
	font-size: 1.5em;
     }
     .fb_share {
         width: 100%;
         margin-bottom: 5px;
		   padding: 10px 0;
text-align:center;
     }
     .tw_share {
         width: 100%;

		   padding: 10px 0;
text-align:center;
     }
 }

/*YouTube*/

.youtube {
    text-align: center;
  margin:0px auto 10px auto;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;

}
 
.youtube iframe {

  position: absolute;
  top: 0;
  left: 0;
    width: 100%;
  height: 100%;

}


@media only screen and (max-width: 750px) {
    .youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
	}
}

/*お困りごと*/

						.trouble_nav {
						  max-width: 1080px;
						  text-align: center;
						  margin: 60px auto 120px;
						}

						.trouble_nav p {
						  font-size: 3em;
						  font-weight: bold;
						  padding: 40px 0;
						}

						.trouble_nav ul {
							display:flex;
width:100%;
justify-content:space-between;
						  margin: 0;
						  padding: 0;
						}

						.trouble_nav ul li {
						  list-style: none;

						  width: 100%;
						  margin: 0;
						}

						.trouble_nav ul li img {
						  max-width: 360px;
						  width: 100%;
						  height: auto;
						  -webkit-backface-visibility: hidden;
						}

						.trouble_nav ul li a:hover img {
						  opacity: 0.6;
						  filter: alpha(opacity=60);
						  -ms-filter: "alpha( opacity=60 )";
						}

						.top_trial_bnr {
						  text-align: center;
						  margin: 60px auto 0;
						}

						.top_trial_bnr img {
						  max-width: 640px;
						  width: 100%;
						  height: auto;
						  -webkit-backface-visibility: hidden;
						  border: 2px #888 solid;
						}

						@media only screen and (max-width: 768px) {
						  .trouble_nav {
						    margin: 20px auto 60px;
						  }
						  .trouble_nav p {
						    font-size: 1.6em;
						    padding: 20px 0;
						  }
													  .trouble_nav ul{
						    display: block;
						  }
						  .trouble_nav ul li {

						    margin: 20px auto;
						  }
						}
/*# sourceMappingURL=maps/common.css.map */