@-webkit-keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@-webkit-keyframes cluody {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
  }
  50% {
    -webkit-transform: translate(0, -6px);
    transform: translate(0, -6px)
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
  }
}

@keyframes cluody {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
  }
  50% {
    -webkit-transform: translate(0, -6px);
    transform: translate(0, -6px)
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
  }
}

@-webkit-keyframes blank {
  0% {
    opacity: 0
  }
  50% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

@keyframes blank {
  0% {
    opacity: 0
  }
  50% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

@-webkit-keyframes pulse {
  100% {
    opacity: 0;
    -webkit-transform: scale(2);
    transform: scale(2);
    background: none
  }
}

@keyframes pulse {
  100% {
    opacity: 0;
    -webkit-transform: scale(2);
    transform: scale(2);
    background: none
  }
}

@-webkit-keyframes fukidashi-left-turn {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
    transform: rotate(0) scale(0.6)
  }
  50% {
    opacity: 1;
    -webkit-transform: rotate(10deg) scale(1);
    transform: rotate(10deg) scale(1)
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
    transform: rotate(0) scale(0.6)
  }
}

@keyframes fukidashi-left-turn {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
    transform: rotate(0) scale(0.6)
  }
  50% {
    opacity: 1;
    -webkit-transform: rotate(10deg) scale(1);
    transform: rotate(10deg) scale(1)
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
    transform: rotate(0) scale(0.6)
  }
}

@-webkit-keyframes people-left-move {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  50% {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem)
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
}

@keyframes people-left-move {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  50% {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem)
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
}

@-webkit-keyframes fukidashi-right-turn {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
    transform: rotate(0) scale(0.6)
  }
  50% {
    opacity: 1;
    -webkit-transform: rotate(-10deg) scale(1);
    transform: rotate(-10deg) scale(1)
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
    transform: rotate(0) scale(0.6)
  }
}

@keyframes fukidashi-right-turn {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
    transform: rotate(0) scale(0.6)
  }
  50% {
    opacity: 1;
    -webkit-transform: rotate(-10deg) scale(1);
    transform: rotate(-10deg) scale(1)
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
    transform: rotate(0) scale(0.6)
  }
}

@-webkit-keyframes people-right-move {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  50% {
    -webkit-transform: translateX(1rem);
    transform: translateX(1rem)
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
}

@keyframes people-right-move {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  50% {
    -webkit-transform: translateX(1rem);
    transform: translateX(1rem)
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
}

.article {
  max-width: 57.2rem;
  margin-right: auto;
  margin-left: auto
}

.editor {
  padding: 2.8rem 0
}

.editor>*+*:not(.parts-contact) {
  margin-top: 2.4rem
}

.editor h3 {
  font-size: 2rem;
  font-weight: bold;
	  padding-top: .8rem;
  padding-bottom: .8rem;
	margin-bottom: 3rem;
  line-height: 1.4;
    border-top: 0.3rem solid #E60000;
  border-bottom: 0.3rem solid #E60000
}

.editor h4 {
  font-size: 1.8rem;
  font-weight: bold;
  border-left: 0.5rem solid #E60000;
  padding: .4rem 1rem;
  background: #efece8
}

.editor h5 {
  position: relative;
  font-size: 1.6rem;
  font-weight: bold;
  padding-bottom: .4rem;
  border-bottom: 0.3rem solid #081927
}

.editor h5::before {
  display: block;
  content: "";
  position: absolute;
  bottom: -.3rem;
  left: 0;
  width: 8rem;
  height: .3rem;
  background: #E60000
}

.editor h6 {
  font-size: 1.4rem;
  font-weight: bold;
  padding-bottom: .4rem;
  border-bottom: 0.2rem dotted #081927
}

.editor img {
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2)
}

.editor .parts-contact {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0)
}

.editor .parts-contact img {
  -webkit-box-shadow: none;
  box-shadow: none
}

.editor blockquote {
  position: relative;
  padding: 3rem 2.8rem;
  background: #efece8;
  border-radius: .3rem
}

.editor blockquote::before, .editor blockquote::after {
  display: block;
  position: absolute;
  width: 1.8rem;
  line-height: 1
}

.editor blockquote::before {
  content: url(../img/common/quote-start.svg);
  top: 1rem;
  left: 1rem
}

.editor blockquote::after {
  content: url(../img/common/quote-end.svg);
  bottom: 1rem;
  right: 1rem
}

.editor ol li, .editor ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.editor ol li::before, .editor ul li::before {
  display: block;
  width: 2.4rem;
  white-space: nowrap;
  color: #E60000
}

.editor ol li>span, .editor ul li>span {
  display: block;
  width: calc(100% - 2.4rem);
  padding-top: .1rem
}

.editor ol li+li, .editor ul li+li {
  margin-top: .7rem
}

.editor ol li::before {
  content: counter(number) " . ";
  counter-increment: number 1;
  font-family: 'Mkinas 4 Square'
}

.editor ul li::before {
  content: "・";
  font-size: 2.4rem;
  line-height: 1;
  margin-left: -.3rem
}

.editor a {
  color: #26b7ff;
  text-decoration: underline
}

.editor .parts-contact a {
  color: #000;
  text-decoration: none
}

.editor .wp-block-image figcaption {
  font-size: .8em;
  color: #999;
  margin-top: .4em
}

@media screen and (min-width: 414px) {
  .editor {
    padding: 4rem 0
  }
  .editor h3 {
    font-size: 2rem
  }
  .editor h4 {
    font-size: 1.8rem
  }
  .editor h5 {
    font-size: 1.6rem;
    font-weight: bold
  }
  .editor h6 {
    font-size: 1.4rem
  }
}

@media screen and (min-width: 768px) {
  .article {
    max-width: 74rem
  }
  .editor {
    font-size: 1.6rem;
    padding: 6rem 0
  }
  .editor>*+*:not(.parts-contact) {
    margin-top: 2rem
  }
  .editor h3+*, .editor h4+*, .editor h5+*, .editor h6+* {
    margin-top: 4rem
  }
  .editor h3 {
    font-size: 2.4rem
  }
  .editor h4 {
    font-size: 2rem
  }
  .editor h5 {
    font-size: 1.8rem
  }
  .editor h6 {
    font-size: 1.6rem
  }
  .editor ol li::before, .editor ul li::before {
    width: 3rem
  }
  .editor ol li>span, .editor ul li>span {
    width: calc(100% - 3rem)
  }
  .editor ol li+li, .editor ul li+li {
    margin-top: 1rem
  }
}

@media screen and (min-width: 1024px) {
  .article {
    max-width: 90rem
  }
  .editor {
    font-size: 1.8rem;
    padding: 10rem 0
  }
  .editor>*+*:not(.parts-contact) {
    margin-top: 2.5rem
  }
  .editor h3 {
    font-size: 2.8rem
  }
  .editor h4 {
    font-size: 2.4rem
  }
  .editor h5 {
    font-size: 2rem
  }
  .editor h6 {
    font-size: 1.6rem
  }
  .editor ul li::before {
    font-size: 3rem
  }
  .editor ul li>span {
    padding-top: 0
  }
  .editor blockquote {
    padding: 4rem 4.8rem
  }
  .editor blockquote::before, .editor blockquote::after {
    width: 2.2rem
  }
  .editor blockquote::before {
    top: 1.4rem;
    left: 1.4rem
  }
  .editor blockquote::after {
    bottom: 1.4rem;
    right: 1.4rem
  }
  .editor .has-text-align-center {
    text-align: center
  }
  .editor .has-text-align-right {
    text-align: right
  }
  .editor .has-text-align-left {
    text-align: left
  }
  .editor .wp-block-image {
    overflow: hidden
  }
  .editor .wp-block-image::after {
    clear: both
  }
  .editor .wp-block-image .aligncenter, .editor .wp-block-image .alignleft, .editor .wp-block-image .alignright {
    display: table
  }
  .editor .wp-block-image .alignleft {
    float: left;
    margin-right: 1em
  }
  .editor .wp-block-image .aligncenter {
    margin-right: auto;
    margin-left: auto
  }
  .editor .wp-block-image .aligncenter figcaption {
    text-align: center
  }
  .editor .wp-block-image .alignright {
    float: right;
    margin-left: 1em
  }
  .editor .wp-block-image .alignright figcaption {
    text-align: right
  }
}

@media screen and (min-width: 1280px) {
  .article {
    max-width: 98rem
  }
  .editor {
    font-size: 2rem;
	  line-height: 4rem;
    padding: 14.8rem 0
  }
  .editor>*+*:not(.parts-contact) {
    margin-top: 3rem
  }
  .editor h3 {
    font-size: 3.2rem
  }
  .editor h4 {
    font-size: 2.8rem
  }
  .editor h5 {
    font-size: 2.4rem
  }
  .editor h6 {
    font-size: 2rem
  }
  .editor ol li::before, .editor ul li::before {
    width: 3.8rem
  }
  .editor ol li>span, .editor ul li>span {
    width: calc(100% - 3.8rem)
  }
  .editor ul li::before {
    font-size: 3.4rem
  }
}

.sp_only{
	display: none;
}
.pc_only{
	display: block;
}
@media screen and (max-width: 768px) {
	.sp_only{
	display: block;
}
	.pc_only{
	display: none;
}
}
/*# sourceMappingURL=maps/editor.css.map */