@-webkit-keyframes fadeIn {
0% {
opacity: 0
}

100% {
opacity: 1
}
}

@keyframes fadeIn {
0% {
opacity: 0
}

100% {
opacity: 1
}
}

@-webkit-keyframes cluody {
0% {
-webkit-transform: translate(0, 0);
transform: translate(0, 0)
}

50% {
-webkit-transform: translate(0, -6px);
transform: translate(0, -6px)
}

100% {
-webkit-transform: translate(0, 0);
transform: translate(0, 0)
}
}

@keyframes cluody {
0% {
-webkit-transform: translate(0, 0);
transform: translate(0, 0)
}

50% {
-webkit-transform: translate(0, -6px);
transform: translate(0, -6px)
}

100% {
-webkit-transform: translate(0, 0);
transform: translate(0, 0)
}
}

@-webkit-keyframes blank {
0% {
opacity: 0
}

50% {
opacity: 1
}

100% {
opacity: 0
}
}

@keyframes blank {
0% {
opacity: 0
}

50% {
opacity: 1
}

100% {
opacity: 0
}
}

@-webkit-keyframes pulse {
100% {
opacity: 0;
-webkit-transform: scale(2);
transform: scale(2);
background: none
}
}

@keyframes pulse {
100% {
opacity: 0;
-webkit-transform: scale(2);
transform: scale(2);
background: none
}
}

@-webkit-keyframes fukidashi-left-turn {
0% {
opacity: 0;
-webkit-transform: rotate(0) scale(0.6);
transform: rotate(0) scale(0.6)
}

50% {
opacity: 1;
-webkit-transform: rotate(10deg) scale(1);
transform: rotate(10deg) scale(1)
}

100% {
opacity: 0;
-webkit-transform: rotate(0) scale(0.6);
transform: rotate(0) scale(0.6)
}
}

@keyframes fukidashi-left-turn {
0% {
opacity: 0;
-webkit-transform: rotate(0) scale(0.6);
transform: rotate(0) scale(0.6)
}

50% {
opacity: 1;
-webkit-transform: rotate(10deg) scale(1);
transform: rotate(10deg) scale(1)
}

100% {
opacity: 0;
-webkit-transform: rotate(0) scale(0.6);
transform: rotate(0) scale(0.6)
}
}

@-webkit-keyframes people-left-move {
0% {
-webkit-transform: translateX(0);
transform: translateX(0)
}

50% {
-webkit-transform: translateX(-1rem);
transform: translateX(-1rem)
}

100% {
-webkit-transform: translateX(0);
transform: translateX(0)
}
}

@keyframes people-left-move {
0% {
-webkit-transform: translateX(0);
transform: translateX(0)
}

50% {
-webkit-transform: translateX(-1rem);
transform: translateX(-1rem)
}

100% {
-webkit-transform: translateX(0);
transform: translateX(0)
}
}

@-webkit-keyframes fukidashi-right-turn {
0% {
opacity: 0;
-webkit-transform: rotate(0) scale(0.6);
transform: rotate(0) scale(0.6)
}

50% {
opacity: 1;
-webkit-transform: rotate(-10deg) scale(1);
transform: rotate(-10deg) scale(1)
}

100% {
opacity: 0;
-webkit-transform: rotate(0) scale(0.6);
transform: rotate(0) scale(0.6)
}
}

@keyframes fukidashi-right-turn {
0% {
opacity: 0;
-webkit-transform: rotate(0) scale(0.6);
transform: rotate(0) scale(0.6)
}

50% {
opacity: 1;
-webkit-transform: rotate(-10deg) scale(1);
transform: rotate(-10deg) scale(1)
}

100% {
opacity: 0;
-webkit-transform: rotate(0) scale(0.6);
transform: rotate(0) scale(0.6)
}
}

@-webkit-keyframes people-right-move {
0% {
-webkit-transform: translateX(0);
transform: translateX(0)
}

50% {
-webkit-transform: translateX(1rem);
transform: translateX(1rem)
}

100% {
-webkit-transform: translateX(0);
transform: translateX(0)
}
}

@keyframes people-right-move {
0% {
-webkit-transform: translateX(0);
transform: translateX(0)
}

50% {
-webkit-transform: translateX(1rem);
transform: translateX(1rem)
}

100% {
-webkit-transform: translateX(0);
transform: translateX(0)
}
}



.guidelines {
max-width: 102rem;
margin: 0 auto 2.8rem;
padding: 2.8rem 0
}

.guidelines > * + *:not(.parts-contact) {
margin-top: 2.4rem
}
.guidelines article{
margin-bottom: 5rem;
}
.guidelines article p{
padding:1rem 4rem;
margin-bottom: 2.8rem;
}

.guidelines h3 {
font-size: 2rem;
font-weight: bold;
padding-top: .8rem;
padding-bottom: .8rem;
margin-bottom: 3rem;
line-height: 1.4;
border-top: 0.3rem solid #E60000;
border-bottom: 0.3rem solid #E60000
}


.guidelines h4 {
font-size: 1.8rem;
font-weight: bold;
border-left: 0.5rem solid #E60000;
padding: .4rem 1rem;
background: #efece8
}

.guidelines h5 {
position: relative;
font-size: 1.6rem;
font-weight: bold;
padding-bottom: .4rem;
border-bottom: 0.3rem solid #081927
}

.guidelines h5::before {
display: block;
content: "";
position: absolute;
bottom: -.3rem;
left: 0;
width: 8rem;
height: .3rem;
background: #E60000
}

.guidelines h6 {
font-size: 1.4rem;
font-weight: bold;
padding-bottom: .4rem;
border-bottom: 0.2rem dotted #081927
}



.guidelines .parts-contact {
opacity: 1;
-webkit-transform: translateY(0);
transform: translateY(0)
}

.guidelines .parts-contact img {
-webkit-box-shadow: none;
box-shadow: none
}

.guidelines blockquote {
position: relative;
padding: 3rem 2.8rem;
background: #efece8;
border-radius: .3rem
}

.guidelines blockquote::before,
.guidelines blockquote::after {
display: block;
position: absolute;
width: 1.8rem;
line-height: 1
}

.guidelines blockquote::before {
content: url(../img/common/quote-start.svg);
top: 1rem;
left: 1rem
}

.guidelines blockquote::after {
content: url(../img/common/quote-end.svg);
bottom: 1rem;
right: 1rem
}

.guidelines table{
margin:2rem auto
}
.guidelines table caption{
padding-top:2em;
font-weight:bold
}
.guidelines table th,.guidelines table td{
text-align: left;
border:1px solid #999;
padding:1rem;
vertical-align:top
}
.guidelines table th{
font-weight: bold;
width:30%;
background:#faf8f5

}


.guidelines a {
color: #26b7ff;
text-decoration: underline
}

.guidelines .parts-contact a {
color: #000;
text-decoration: none
}

.guidelines .wp-block-image figcaption {
font-size: .8em;
color: #999;
margin-top: .4em
}

@media screen and (min-width: 414px) {
.guidelines {
padding: 4rem 0
}



.guidelines h3 {
font-size: 2rem
}

.guidelines h4 {
font-size: 1.8rem
}

.guidelines h5 {
font-size: 1.6rem;
font-weight: bold
}

.guidelines h6 {
font-size: 1.4rem
}
}

@media screen and (min-width: 768px) {
.article {
max-width: 74rem
}

.guidelines {
font-size: 1.6rem;
padding: 6rem 0
}

.guidelines > * + *:not(.parts-contact) {
margin-top: 2rem
}


.guidelines h3 + *,
.guidelines h4 + *,
.guidelines h5 + *,
.guidelines h6 + * {
margin-top: 4rem
}

.guidelines h3 {
font-size: 2.4rem
}

.guidelines h4 {
font-size: 2rem
}

.guidelines h5 {
font-size: 1.8rem
}

.guidelines h6 {
font-size: 1.6rem
}


}

@media screen and (min-width: 1024px) {
.article {
max-width: 90rem
}

.guidelines {
font-size: 1.8rem;
padding: 10rem 0
}

.guidelines > * + *:not(.parts-contact) {
margin-top: 2.5rem
}

.guidelines h3 {
font-size: 2.8rem
}

.guidelines h4 {
font-size: 2.4rem
}

.guidelines h5 {
font-size: 2rem
}

.guidelines h6 {
font-size: 1.6rem
}



.guidelines blockquote {
padding: 4rem 4.8rem
}

.guidelines blockquote::before,
.guidelines blockquote::after {
width: 2.2rem
}

.guidelines blockquote::before {
top: 1.4rem;
left: 1.4rem
}

.guidelines blockquote::after {
bottom: 1.4rem;
right: 1.4rem
}

.guidelines .has-text-align-center {
text-align: center
}

.guidelines .has-text-align-right {
text-align: right
}

.guidelines .has-text-align-left {
text-align: left
}

.guidelines .wp-block-image {
overflow: hidden
}

.guidelines .wp-block-image::after {
clear: both
}

.guidelines .wp-block-image .aligncenter,
.guidelines .wp-block-image .alignleft,
.guidelines .wp-block-image .alignright {
display: table
}

.guidelines .wp-block-image .alignleft {
float: left;
margin-right: 1em
}

.guidelines .wp-block-image .aligncenter {
margin-right: auto;
margin-left: auto
}

.guidelines .wp-block-image .aligncenter figcaption {
text-align: center
}

.guidelines .wp-block-image .alignright {
float: right;
margin-left: 1em
}

.guidelines .wp-block-image .alignright figcaption {
text-align: right
}
}

@media screen and (min-width: 1280px) {
.article {
max-width: 98rem
}

.guidelines {
font-size: 2rem;
line-height: 4rem;
padding: 14.8rem 0
}

.guidelines > * + *:not(.parts-contact) {
margin-top: 3rem
}

.guidelines h3 {
font-size: 3.2rem
}

.guidelines h4 {
font-size: 2.8rem
}

.guidelines h5 {
font-size: 2.4rem
}

.guidelines h6 {
font-size: 2rem
}


}

.contact-form-box a.link{
padding-left:20px;
margin-top:7px;
font-size:13px;
}
.contact-form-box a.link i{
padding-right:5px;
font-size:10px;
}
.form-required{
color:#f00;
}
.submit-center{
text-align:center;
}

@media screen and (max-width: 768px) {
.trial_spbr{
display: block;

}

.guidelines article p{
padding:1rem;

}
.guidelines table th,.guidelines table td{
display: block;
width: 100%;

}
}

.contact-form-box a.link{
padding-left:20px;
margin-top:7px;
font-size:13px;
}
.contact-form-box a.link i{
padding-right:5px;
font-size:10px;
}
.form-required{
	color:#f00;
}
.submit-center{
	text-align:center;
}

/*table.table-style*/
table.event-table-style{
width:100%;
border-collapse: collapse;
	margin-bottom:2rem;
}
table.event-table-style th{
width:30%;
color:#333;
font-size:1.6rem;
padding:15px 20px;
border-bottom: #c3c3c3 1px solid;
background: #faf8f5;
text-align:left;
font-weight:600;
vertical-align:top;
}

table.event-table-style td{
width:70%;
color:#333;
font-size:1.8rem;
padding:15px 20px;
border-bottom: #c3c3c3 1px solid;
font-weight:400;
vertical-align:top;
}

table.event-table-style th.first {
border-top: #e60000 2px solid;
}

table.event-table-style td.first {
border-top:  #b3b3b3 2px solid;
}
@media screen and (max-width: 640px) {
table.event-table-style th{
    display: block;
    width: 100%;
}

table.event-table-style td{
    display: block;
    width: 100%;
}
	table.event-table-style td.first {
border-top:  none;
}
}

/* フォーム */
.form-width { max-width: 100%;
}
.wpcf7 p { padding:20px 0;
margin:0; 
font-size:1.8rem;
letter-spacing:3px;}
.wpcf7 input[type="text"], .wpcf7 textarea,.wpcf7 input[type="email"],.wpcf7 input[type="tel"] {
border-radius:none;
border:1px solid #fff;
margin-top:5px;
font-size:1.8rem;
width: 100%;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;}
.wpcf7 textarea {height:300px; }

.wpcf7 input[type="submit"],.wpcf7 input[type="confirm"],.wpcf7 input[type="back"]
{width:200px;
padding: 10px;
border-radius:none;
background-color:#eee;
color:#000;
font-size:1.6rem;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
cursor: pointer;
font-size:1.8rem;
letter-spacing:3px;}
.wpcf7-submit{
margin:30px auto;
}
.wpcf7 input[type="submit"],.wpcf7 input[type="confirm"],.wpcf7 input[type="back"]:hover {opacity:0.6 }
.wpcf7-select{width:100%;}


/*# sourceMappingURL=maps/editor.css.map */