@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-webkit-keyframes cluody {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }

    50% {
        -webkit-transform: translate(0, -6px);
        transform: translate(0, -6px)
    }

    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@keyframes cluody {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }

    50% {
        -webkit-transform: translate(0, -6px);
        transform: translate(0, -6px)
    }

    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@-webkit-keyframes blank {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@keyframes blank {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@-webkit-keyframes pulse {
    100% {
        opacity: 0;
        -webkit-transform: scale(2);
        transform: scale(2);
        background: none
    }
}

@keyframes pulse {
    100% {
        opacity: 0;
        -webkit-transform: scale(2);
        transform: scale(2);
        background: none
    }
}

@-webkit-keyframes fukidashi-left-turn {
    0% {
        opacity: 0;
        -webkit-transform: rotate(0) scale(0.6);
        transform: rotate(0) scale(0.6)
    }

    50% {
        opacity: 1;
        -webkit-transform: rotate(10deg) scale(1);
        transform: rotate(10deg) scale(1)
    }

    100% {
        opacity: 0;
        -webkit-transform: rotate(0) scale(0.6);
        transform: rotate(0) scale(0.6)
    }
}

@keyframes fukidashi-left-turn {
    0% {
        opacity: 0;
        -webkit-transform: rotate(0) scale(0.6);
        transform: rotate(0) scale(0.6)
    }

    50% {
        opacity: 1;
        -webkit-transform: rotate(10deg) scale(1);
        transform: rotate(10deg) scale(1)
    }

    100% {
        opacity: 0;
        -webkit-transform: rotate(0) scale(0.6);
        transform: rotate(0) scale(0.6)
    }
}

@-webkit-keyframes people-left-move {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    50% {
        -webkit-transform: translateX(-1rem);
        transform: translateX(-1rem)
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes people-left-move {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    50% {
        -webkit-transform: translateX(-1rem);
        transform: translateX(-1rem)
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@-webkit-keyframes fukidashi-right-turn {
    0% {
        opacity: 0;
        -webkit-transform: rotate(0) scale(0.6);
        transform: rotate(0) scale(0.6)
    }

    50% {
        opacity: 1;
        -webkit-transform: rotate(-10deg) scale(1);
        transform: rotate(-10deg) scale(1)
    }

    100% {
        opacity: 0;
        -webkit-transform: rotate(0) scale(0.6);
        transform: rotate(0) scale(0.6)
    }
}

@keyframes fukidashi-right-turn {
    0% {
        opacity: 0;
        -webkit-transform: rotate(0) scale(0.6);
        transform: rotate(0) scale(0.6)
    }

    50% {
        opacity: 1;
        -webkit-transform: rotate(-10deg) scale(1);
        transform: rotate(-10deg) scale(1)
    }

    100% {
        opacity: 0;
        -webkit-transform: rotate(0) scale(0.6);
        transform: rotate(0) scale(0.6)
    }
}

@-webkit-keyframes people-right-move {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    50% {
        -webkit-transform: translateX(1rem);
        transform: translateX(1rem)
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes people-right-move {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    50% {
        -webkit-transform: translateX(1rem);
        transform: translateX(1rem)
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

.article {
    max-width: 57.2rem;
    margin-right: auto;
    margin-left: auto
}


.event-section {
    max-width: 102rem;
    margin: 0 auto 2.8rem;
	padding: 2.8rem 0
}

.event-section > * + *:not(.parts-contact) {
    margin-top: 2.4rem
}

.event-section h3 {
    font-size: 2rem;
    font-weight: bold;
    padding-top: .8rem;
    padding-bottom: .8rem;
    margin-bottom: 3rem;
    line-height: 1.4;

    border-bottom: 0.3rem solid #E60000
}

.event-section h4 {
    font-size: 1.8rem;
    font-weight: bold;
    border-left: 0.5rem solid #E60000;
    padding: .4rem 1rem;
    background: #efece8
}

.event-section h5 {
    position: relative;
    font-size: 1.6rem;
    font-weight: bold;
    padding-bottom: .4rem;
    border-bottom: 0.3rem solid #081927
}

.event-section h5::before {
    display: block;
    content: "";
    position: absolute;
    bottom: -.3rem;
    left: 0;
    width: 8rem;
    height: .3rem;
    background: #E60000
}

.event-section h6 {
    font-size: 1.4rem;
    font-weight: bold;
    padding-bottom: .4rem;
    border-bottom: 0.2rem dotted #081927
}


.event-section img {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2)
}

.event-section .parts-contact {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.event-section .parts-contact img {
    -webkit-box-shadow: none;
    box-shadow: none
}

.event-section blockquote {
    position: relative;
    padding: 3rem 2.8rem;
    background: #efece8;
    border-radius: .3rem
}

.event-section blockquote::before,
.event-section blockquote::after {
    display: block;
    position: absolute;
    width: 1.8rem;
    line-height: 1
}

.event-section blockquote::before {
    content: url(../img/common/quote-start.svg);
    top: 1rem;
    left: 1rem
}

.event-section blockquote::after {
    content: url(../img/common/quote-end.svg);
    bottom: 1rem;
    right: 1rem
}

.event-section ol li,
.event-section ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.event-section ol li::before,
.event-section ul li::before {
    display: block;
    width: 2.4rem;
    white-space: nowrap;
    color: #E60000
}

.event-section ol li > span,
.event-section ul li > span {
    display: block;
    width: calc(100% - 2.4rem);
    padding-top: .1rem
}

.event-section ol li + li,
.event-section ul li + li {
    margin-top: .7rem
}

.event-section ol li::before {
    content: counter(number) " . ";
    counter-increment: number 1;
    font-family: 'Mkinas 4 Square'
}

.event-section ul li::before {
    content: "・";
    font-size: 2.4rem;
    line-height: 1;
    margin-left: -.3rem
}

.event-section a {
    color: #26b7ff;
    text-decoration: underline
}

.event-section .parts-contact a {
    color: #000;
    text-decoration: none
}

.event-section .wp-block-image figcaption {
    font-size: .8em;
    color: #999;
    margin-top: .4em
}

@media screen and (min-width: 414px) {
    .event-section {
        padding: 4rem 0
    }

    .event-section h3 {
        font-size: 2rem
    }

    .event-section h4 {
        font-size: 1.8rem
    }

    .event-section h5 {
        font-size: 1.6rem;
        font-weight: bold
    }

    .event-section h6 {
        font-size: 1.4rem
    }
}

@media screen and (min-width: 768px) {
    .article {
        max-width: 74rem
    }

    .event-section {
        font-size: 1.6rem;
        padding: 6rem 0
    }

    .event-section > * + *:not(.parts-contact) {
        margin-top: 2rem
    }

    .event-section h3 + *,
    .event-section h4 + *,
    .event-section h5 + *,
    .event-section h6 + * {
        margin-top: 4rem
    }

    .event-section h3 {
        font-size: 2.4rem
    }

    .event-section h4 {
        font-size: 2rem
    }

    .event-section h5 {
        font-size: 1.8rem
    }

    .event-section h6 {
        font-size: 1.6rem
    }

    .event-section ol li::before,
    .event-section ul li::before {
        width: 3rem
    }

    .event-section ol li > span,
    .event-section ul li > span {
        width: calc(100% - 3rem)
    }

    .event-section ol li + li,
    .event-section ul li + li {
        margin-top: 1rem
    }
}

@media screen and (min-width: 1024px) {
    .article {
        max-width: 90rem
    }

    .event-section {
        font-size: 1.8rem;
        padding: 10rem 0
    }

    .event-section > * + *:not(.parts-contact) {
        margin-top: 2.5rem
    }

    .event-section h3 {
        font-size: 2.8rem
    }

    .event-section h4 {
        font-size: 2.4rem
    }

    .event-section h5 {
        font-size: 2rem
    }

    .event-section h6 {
        font-size: 1.6rem
    }

    .event-section ul li::before {
        font-size: 3rem
    }

    .event-section ul li > span {
        padding-top: 0
    }

    .event-section blockquote {
        padding: 4rem 4.8rem
    }

    .event-section blockquote::before,
    .event-section blockquote::after {
        width: 2.2rem
    }

    .event-section blockquote::before {
        top: 1.4rem;
        left: 1.4rem
    }

    .event-section blockquote::after {
        bottom: 1.4rem;
        right: 1.4rem
    }

    .event-section .has-text-align-center {
        text-align: center
    }

    .event-section .has-text-align-right {
        text-align: right
    }

    .event-section .has-text-align-left {
        text-align: left
    }

    .event-section .wp-block-image {
        overflow: hidden
    }

    .event-section .wp-block-image::after {
        clear: both
    }

    .event-section .wp-block-image .aligncenter,
    .event-section .wp-block-image .alignleft,
    .event-section .wp-block-image .alignright {
        display: table
    }

    .event-section .wp-block-image .alignleft {
        float: left;
        margin-right: 1em
    }

    .event-section .wp-block-image .aligncenter {
        margin-right: auto;
        margin-left: auto
    }

    .event-section .wp-block-image .aligncenter figcaption {
        text-align: center
    }

    .event-section .wp-block-image .alignright {
        float: right;
        margin-left: 1em
    }

    .event-section .wp-block-image .alignright figcaption {
        text-align: right
    }
}

@media screen and (min-width: 1280px) {
    .article {
        max-width: 98rem
    }

    .event-section {
        font-size: 2rem;
        line-height: 4rem;
        padding: 14.8rem 0
    }

    .event-section > * + *:not(.parts-contact) {
        margin-top: 3rem
    }

    .event-section h3 {
        font-size: 3.2rem
    }

    .event-section h4 {
        font-size: 2.8rem
    }

    .event-section h5 {
        font-size: 2.4rem
    }

    .event-section h6 {
        font-size: 2rem
    }

    .event-section ol li::before,
    .event-section ul li::before {
        width: 3.8rem
    }

    .event-section ol li > span,
    .event-section ul li > span {
        width: calc(100% - 3.8rem)
    }

    .event-section ul li::before {
        font-size: 3.4rem
    }
}

.contact-form-box a.link{
padding-left:20px;
margin-top:7px;
font-size:13px;
}
.contact-form-box a.link i{
padding-right:5px;
font-size:10px;
}
.form-required{
	color:#f00;
}
.submit-center{
	text-align:center;
}

/*table.table-style*/
table.event-table-style{
width:100%;
border-collapse: collapse;
	margin-bottom:2rem;
}
table.event-table-style th{
width:30%;
color:#333;
font-size:1.6rem;
padding:15px 20px;
border-bottom: #c3c3c3 1px dotted;
background: #faf8f5;
text-align:left;
font-weight:600;
vertical-align:top;
}

table.event-table-style td{
width:70%;
color:#333;
font-size:1.8rem;
padding:15px 20px;
border-bottom: #c3c3c3 1px dotted;
font-weight:400;
vertical-align:top;
}

table.event-table-style th.first {
border-top: #e60000 2px solid;
}

table.event-table-style td.first {
border-top:  #b3b3b3 2px solid;
}
@media screen and (max-width: 640px) {
table.event-table-style th{
    display: block;
    width: 100%;
}

table.event-table-style td{
    display: block;
    width: 100%;
}
	table.event-table-style td.first {
border-top:  none;
}
}
/* フォーム */
.form-width { max-width: 100%;
}
.wpcf7 p { padding:20px 0;
margin:0; 
font-size:1.8rem;
letter-spacing:3px;}
.wpcf7 input[type="text"], .wpcf7 textarea,.wpcf7 input[type="email"],.wpcf7 input[type="tel"] {
border-radius:none;
border:1px solid #fff;
margin-top:5px;
font-size:1.8rem;
width: 100%;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;}
.wpcf7 textarea {height:300px; }

.wpcf7 input[type="submit"],.wpcf7 input[type="confirm"],.wpcf7 input[type="back"]
{width:200px;
padding: 10px;
border-radius:none;
background-color:#eee;
color:#000;
font-size:1.6rem;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
cursor: pointer;
font-size:1.8rem;
letter-spacing:3px;}
.wpcf7-submit{
margin:30px auto;
}
.wpcf7 input[type="submit"],.wpcf7 input[type="confirm"],.wpcf7 input[type="back"]:hover {opacity:0.6 }
.wpcf7-select{width:100%;}



/*# sourceMappingURL=maps/editor.css.map */