.kosugi {
  font-family: 'Kosugi Maru', sans-serif;
  font-weight: bold;
  font-size: 3.4rem;
  padding: 1rem;
}
.sp_title {
  font-family: 'Kosugi Maru', sans-serif;
  font-weight: bold;
  color: #e60000;
  font-size: 2.4rem;
  padding: 1rem;
}
.text_red {
  color: #f00;
}
.text_none {
  display: inline-block;
}
h1.top_logo {
  margin-top: 80px;
}
h1.top_logo img {
  max-width: 1920px;
  width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden;
  margi-top: 10px;
}
.pc {
  display: block;
}
.sp {
  display: none;
}
.section_title {
  margin: 0 auto 30px;
  text-align: center;
  position: relative;
  max-width: 1080px;
}
.section_title h2 img {
  max-width: 1080px;
  width: 100%;
  height: auto;
  -webkit-filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.4));
  -moz-filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.4));
  -ms-filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.4));
  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.4));
  -webkit-backface-visibility: hidden;
}
.section_bc {
  min-height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  background-image: url("https://www.udkya.com/online/images/bc.png");
  background-blend-mode: lighten;
  text-align: center;
}
.section_bc img {
  -webkit-backface-visibility: hidden;
}
@media only screen and (max-width: 768px) {
  .kosugi {
    font-size: 1.8rem;
    padding: 1rem;
    line-height: 2.4rem;
  }
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
  .section_bc {
    background-image: none;
  }
}
/* Animation */
.movetext {
  opacity: 0;
}
.movetext span {
  opacity: 0;
}
.fluffy {
  -webkit-animation: fluffy 0.8s linear 0s 1;
  animation: fluffy 0.8s linear 0s 1;
}
@-webkit-keyframes fluffy {
  0% {
    -webkit-transform: scale(1.0, 1.0) translate(0%, 0%);
  }
  15% {
    -webkit-transform: scale(0.9, 0.9) translate(0%, 5%);
  }
  30% {
    -webkit-transform: scale(1.3, 0.8) translate(0%, 10%);
  }
  50% {
    -webkit-transform: scale(0.8, 1.3) translate(0%, -10%);
  }
  70% {
    -webkit-transform: scale(1.1, 0.9) translate(0%, 5%);
  }
  100% {
    -webkit-transform: scale(1.0, 1.0) translate(0%, 0%);
  }
}
@keyframes fluffy {
  0% {
    transform: scale(1.0, 1.0) translate(0%, 0%);
  }
  15% {
    transform: scale(0.9, 0.9) translate(0%, 5%);
  }
  30% {
    transform: scale(1.3, 0.8) translate(0%, 10%);
  }
  50% {
    transform: scale(0.8, 1.3) translate(0%, -10%);
  }
  70% {
    transform: scale(1.1, 0.9) translate(0%, 5%);
  }
  100% {
    transform: scale(1.0, 1.0) translate(0%, 0%);
  }
}
.balloons_l {
  animation: fluffy 2.3s linear infinite;
  position: absolute;
  top: 30%;
  left: 3%;
}
.balloons_r {
  animation: fluffy 1.8s linear infinite;
  position: absolute;
  top: 30%;
  right: 3%;
}
.balloons_l img, .balloons_r img {
  max-width: 80px;
  width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden;
}
@media only screen and (max-width: 768px) {
  .balloons_l {
    top: 20%;
    left: 3%;
  }
  .balloons_r {
    top: 20%;
    right: 3%;
  }
}
@media only screen and (max-width: 640px) {
  .balloons_l img, .balloons_r img {
    max-width: 35px;
  }
}
@keyframes skew {
  0% {
    transform: skew(0deg, 0deg);
  }
  5% {
    transform: skew(5deg, 4.2deg);
  }
  10% {
    transform: skew(-4deg, -3deg);
  }
  15% {
    transform: skew(3deg, 2.2deg);
  }
  20% {
    transform: skew(-2deg, -1.5deg);
  }
  25% {
    transform: skew(0.9deg, 0.9deg);
  }
  30% {
    transform: skew(-0.6deg, -0.6deg);
  }
  35% {
    transform: skew(0.3deg, 0.3deg);
  }
  40% {
    transform: skew(-0.2deg, -0.2deg);
  }
  45% {
    transform: skew(0.1deg, 0.1deg);
  }
  50% {
    transform: skew(0deg, 0deg);
  }
}
.puru {
  animation-duration: 1.4s;
  animation-name: purupuru;
  animation-iteration-count: infinite;
}
@keyframes purupuru {
  0% {
    transform: skewX(9deg);
  }
  10% {
    transform: skewX(-8deg);
  }
  20% {
    transform: skewX(7deg);
  }
  30% {
    transform: skewX(-6deg);
  }
  40% {
    transform: skewX(5deg);
  }
  50% {
    transform: skewX(-4deg);
  }
  60% {
    transform: skewX(3deg);
  }
  70% {
    transform: skewX(-2deg);
  }
  80% {
    transform: skewX(1deg);
  }
  90% {
    transform: skewX(0deg);
  }
  100% {
    transform: skewX(0deg);
  }
}
.ab_run1 {
  animation: anim2 2s infinite;
}
@keyframes anim2 {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0px);
  }
}
.ab_run2 {
  animation: anim1 2.5s infinite;
}
@keyframes anim1 {
  0% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0px);
  }
}
.animation1 {
  opacity: 0;
  visibility: hidden;
  transform: translateY(60px);
  transition: all 1s;
}
.animation1.is-show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}
.fade_off {
  opacity: 0;
  -webkit-transition: all 2.5s;
  -moz-transition: all 2.5s;
  -o-transition: all 2.5s;
  -ms-transition: all 2.5s;
  transition: all 2.5s;
}
.fade_on {
  opacity: 1;
}
.bottom_nav {
  z-index: -1;
  position: static;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
}
.inner {
  float: right;
}
.inner img {
  width: 240px;
}
.inner a:hover img {
  opacity: 0.5;
  filter: alpha(opacity=50);
  -ms-filter: "alpha( opacity=50 )";
}
.is-fixed {
  display: none !important;
}
@media only screen and (max-width: 768px) {
  .bottom_nav {
    z-index: 10000;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: rgba(0, 0, 0, 0.2);
  }
}
.youtube{
	max-width: 720px;
	margin: 0 auto;
}
.ytmovie {
  text-align: center;
  margin: 0px auto 10px auto;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;

}
.ytmovie iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 750px) {
  .ytmovie iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


/* solve */
.solve {
  max-width: 100%;
  margin: 0 auto 80px;
}
.solve_bc {
  min-height: 100%;
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-image: url("https://www.udkya.com/online/images/solve_bc.jpg");
  background-blend-mode: lighten;
  text-align: center;
}
.solve_bc img {
  -webkit-backface-visibility: hidden;
}
.solve h2 img {
  max-width: 1920px;
  width: 100%;
  height: auto;
}
.solve_content {
  max-width: 1080px;
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
}
.solve_content p {
    font-size: 2.2rem;
  padding: 1.5rem 0;
  line-height: 4rem;
}
@media only screen and (max-width: 768px) {
  .solve_content p {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
}
/* about */
.about {
  max-width: 100%;
  margin: 60px auto 80px;
}
.about_area {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5px;
}
.about_box1 {
  display: table-cell;
  width: 50%;
  width: -webkit-calc(100% / 2);
  width: calc(100% / 2);
  padding: 10px;
  text-align: center;
}
.about_box1 img {
  max-width: 600px;
  width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden;
}
.about_box2 {
  display: table-cell;
  width: 50%;
  width: -webkit-calc(100% / 2);
  width: calc(100% / 2);
  padding: 10px;
  text-align: left;
}
.about_box2 ul {
  padding: 0.5em 0;
  list-style-type: none;
  font-size: 2.2rem;
}
.about_box2 li {
  position: relative;
  padding: 0em 0.3em 0.8em 1.3em;
  line-height: 2.4rem;
}
.about_box2 li:before {
  position: absolute;
  content: '';
  top: 0.5em;
  left: 0.2em;
  width: 0.8rem;
  height: 0.6rem;
  background: #ff1e26;
  transform: skewX(-20deg);
}
.about_box2 dl {
  font-size: 2.2rem;
  color: #c1272d;
  margin: 4rem 0 1rem;
}
.about_box2 dd {
  padding-left: 1.7rem;
}
.about_box2 dt {
  padding-left: 1.7rem;
  line-height: 2.4rem;
}
.about_box2 p {
  font-size: 2rem;
  text-indent: -2.2rem;
  padding-left: 3.0rem;
}
@media only screen and (max-width: 768px) {
  .about_title {
    height: 120px;
    margin-bottom: 30px;
  }
  .about_area {
    display: block;
  }
  .about_box1 {
    display: block;
    width: 100%;
    padding: 10px 0;
  }
  .about_box2 {
    display: block;
    width: 100%;
    padding: 10px 0;
  }
  .about_box2 dd {
    padding-left: 0;
  }
  .about_box2 dt {
    padding-left: 0;
  }
  .about_box2 p {
    padding-left: 1.3rem;
  }
}
/* merit */
.merit {
  max-width: 100%;
  margin: 60px auto 80px;
}
.merit_t_bc {
  min-height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  background-image: url("https://www.udkya.com/online/images/merit_t_bc.jpg");
  background-blend-mode: lighten;
  text-align: center;
}
.merit_t_bc img {
  -webkit-backface-visibility: hidden;
}
.merit_bc {
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-image: url("https://www.udkya.com/online/images/bc2.png");
  background-blend-mode: lighten;
  text-align: center;
}
.merit_bc img {
  -webkit-backface-visibility: hidden;
}
.merit_area {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0;
}
.merit_box {
  display: table-cell;
  width: 33.33333%;
  width: -webkit-calc(100% / 3);
  width: calc(100% / 3);
  padding: 10px;
}
.merit_box img {
  max-width: 360px;
  width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden;
}
.merit_content {
  max-width: 1200px;
  margin: 30px auto;
  padding: 0 0 30px;
}
.merit_cont_box {
  background-color: #fff;
  border: 4px solid #ff0000;
  border-radius: 10px;
  position: relative;
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.merit_cont_box h3 {
  display: inline-block;
  position: absolute;
  top: -17%;
  left: 3%;
  padding: 0.5rem 2rem;
  background: #ff0000;
  font-size: 2.2rem;
  color: #fff;
  border-radius: 0px 50px 50px 0px;
}
.merit_cont_box h3::before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px rgb(121, 44, 45);
}
.box_inner {
  padding: 0;
}
.inner_text {
  width: 70%;
  padding: 3rem 0 0.5rem 1.2rem;
}
.inner_text a {
  float: right;
  color: #00f;
  font-size: 2.2rem;
}
.inner_text p {
  text-align: left;
  font-size: 2.2rem;
}
.box_pict {
  width: 30%;
  text-align: right;
  margin-right: 1rem;
  position: absolute;
  bottom: 0;
  right: 0;
}
.box_pict img {
  max-width: 200px;
  width: 100%;
  height: auto;
  filter: drop-shadow(5px 5px 5px #aaa);
  -webkit-backface-visibility: hidden;
  animation: skew 2.3s linear infinite;
}
@media only screen and (max-width: 768px) {
  .merit_area {
    display: block;
    padding: 0 5px;
  }
  .merit_box {
    display: block;
    width: 100%;
    padding: 10px 0;
    text-align: center;
  }
  .merit_content {
    padding: 0 5px 30px;
  }
  .merit_cont_box h3 {
    top: -5%;
    padding: 0.5rem 1.2rem;
    font-size: 2rem;
  }
  .box_inner {
    padding: 0 0.5rem;
  }
  .inner_text {
    width: 100%;
    padding: 3rem 0 0;
  }
  .inner_text a {
    float: none;
  }
}
/* program */
.program {
  max-width: 100%;
  margin: 60px auto 80px;
}
.program_bc {
  min-height: 100%;
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center top;
  background-image: url("https://www.udkya.com/online/images/program_bc.png");
  background-blend-mode: lighten;
  text-align: center;
}
.program_bc img {
  -webkit-backface-visibility: hidden;
}
.program_intro {
  max-width: 640px;
  text-align: center;
  margin: 30px auto;
  padding: 0 10px;
}
.program_intro h3 {
  display: inline-block;
  position: relative;
  padding: 0.5rem 2rem;
  background: #ff0000;
  font-size: 3rem;
  color: #fff;
  border-radius: 0px 50px 50px 0px;
}
.program_intro h3::before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px rgb(121, 44, 45);
}
.program_area {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}
.program_box1 {
  display: table-cell;
  width: 50%;
  width: -webkit-calc(100% / 2);
  width: calc(100% / 2);
  padding: 10px;
  text-align: center;
}
.program_box1 img {
  max-width: 400px;
  width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden;
}
.program_box2 {
  display: table-cell;
  width: 50%;
  width: -webkit-calc(100% / 2);
  width: calc(100% / 2);
  padding: 10px;
}
.pg_content1 {
  width: 90%;
  margin: 0 auto 20px;
  text-align: center;
  border-bottom: dotted 4px;
}
.pg_content1 dl {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.pg_content1 dt {
  float: left;
  width: 100%;
  margin-right: -110px;
  padding-right: 110px;
  box-sizing: border-box;
  font-size: 2.4rem;
}
.pg_content1 dd {
  float: right;
  width: 100px;
  text-align: center;
}
.pg_content2 {
  width: 90%;
  margin: 0 auto 20px;
  text-align: center;
  border-bottom: dotted 4px;
}
.pg_content2 dl {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 0 5px;
  display: flex;
  flex-wrap: wrap;
}
.pg_content2 dt {
  float: left;
  width: 100px;
  text-align: center;
}
.pg_content2 dd {
  float: right;
  width: 100%;
  margin-left: -110px;
  padding-left: 110px;
  box-sizing: border-box;
  font-size: 2.4rem;
  text-align: center;
}
.pg_content3 {
  width: 90%;
  margin: 0 auto 20px;
  text-align: left;
  border-bottom: dotted 4px;
}
.pg_content3 p {
  font-size: 2.4rem;
}
@media only screen and (max-width: 768px) {
  .program_title {
    height: 120px;
    margin-bottom: 30px;
  }
  .program_intro h3 {
    padding: 0.5rem 1.2rem;
    font-size: 2.5rem;
  }
  .program_area {
    display: block;
    padding: 0 5px;
  }
  .program_box1 {
    display: block;
    width: 100%;
    padding: 10px 0;
  }
  .program_box2 {
    display: block;
    width: 100%;
    padding: 10px 0;
  }
  .pg_content1 dt {
    font-size: 2.2rem;
  }
  .pg_content2 dd {
    font-size: 2.2rem;
  }
  .pg_content3 p {
    font-size: 2.2rem;
  }
}
/* event */
.event {
  width: 100%;
  margin: 60px auto 80px;
}
.event_intro {
  max-width: 640px;
  text-align: center;
  margin: 30px auto;
  padding: 0 10px;
}
.event_intro h3 {
  display: inline-block;
  position: relative;
  padding: 0.5rem 2rem;
  background: #ff0000;
  font-size: 3rem;
  color: #fff;
  border-radius: 0px 50px 50px 0px;
}
.event_intro h3::before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px rgb(121, 44, 45);
}
.event_bc {
  min-height: 100%;
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("https://www.udkya.com/online/images/event_bc.jpg");
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
  text-align: center;
}
.event_bc img {
  -webkit-backface-visibility: hidden;
}
.event_flag {
  display: flex;
  justify-content: space-between;
  max-width: 95%;
  margin: 0 auto;
}
.event_flag img {
  max-width: 400px;
  width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden;
}
.event_ab {
  display: flex;
  justify-content: space-between;
  max-width: 95%;
  text-align: center;
  margin: 0 auto;
}
.event_ab img {
  max-width: 320px;
  max-height: 320px;
  width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden;
}
.event_area {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
}
.event_box1, .event_box2 {
  display: table-cell;
  width: 50%;
  width: -webkit-calc(100% / 2);
  width: calc(100% / 2);
  padding: 10px;
}
.event_box3 {
  margin: 0 auto;
  text-align: center;
  width: 50%;
}
.event_box1 img, .event_box2 img, .event_box3 img {
  max-width: 560px;
  width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden;
}
@media only screen and (max-width: 1024px) {
  .event_flag img {
    max-width: 320px;
  }
}
@media only screen and (max-width: 768px) {
  .event_intro h3 {
    font-size: 2.5rem;
    padding: 0.5rem 1.2rem;
  }
  .event_flag {
    justify-content: center;
  }
  .event_flag img {
    max-width: 750px;
    width: 100%;
    height: auto;
    -webkit-backface-visibility: hidden;
  }
  .event_area {
    display: block;
  }
  .event_box1, .event_box2 {
    display: block;
    width: 100%;
    padding: 10px 0;
    text-align: center;
  }
  .event_box3 {
    width: 100%;
  }
  .event_ab {
    justify-content: center;
  }
  .event_ab img {
    max-width: 750px;
    width: 100%;
    height: auto;
    -webkit-backface-visibility: hidden;
  }
}
/* appilcation */
.application {
  max-width: 100%;
  margin: 60px auto 80px;
}
.application_bc {
  min-height: 100%;
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("https://www.udkya.com/online/images/appli_bc.png");
  background-blend-mode: lighten;
  text-align: center;
}
.application_bc img {
  -webkit-backface-visibility: hidden;
}
.application_area {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}
.application_box {
  display: table-cell;
  width: 33.33333%;
  width: -webkit-calc(100% / 3);
  width: calc(100% / 3);
  padding: 10px;
  text-align: center;
}
.application_box img {
  max-width: 320px;
  width: 100%;
  height: auto;
}
.appli_content {
  position: relative;
  width: 100%;
  margin: 2rem auto 0;
  padding: 1rem 2rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
.appli_content::before, .appli_content::after {
  position: absolute;
  position: absolute;
  top: 0;
  content: '';
  width: 20px;
  height: 100%;
  border-top: 5px solid #000;
  border-bottom: 5px solid #000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.appli_content::before {
  left: 0;
  border-left: 5px solid #000;
}
.appli_content::after {
  right: 0;
  border-right: 5px solid #000;
}
.appli_content ul {
  padding-left: 2rem;
  list-style: disc;
  text-align: left;
}
.appli_content p {
  text-align: left;
}
@media only screen and (max-width: 768px) {
  .aapplication_title {
    height: 120px;
    margin-bottom: 30px;
  }
  .application_area {
    display: block;
  }
  .application_box {
    display: block;
    width: 100%;
    padding: 10px 0;
  }
  .appli_content {
    width: 80%;
    margin: 2rem auto;
  }
}
/* flow */
.flow {
  width: 100%;
  margin: 60px auto 80px;
}
.flow_content {
  max-width: 1200px;
  margin: 40px auto 0;
}
.flow_content img {
  max-width: 1200px;
  width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden;
}
/* plan */
.plan {
  width: 100%;
  margin: 60px auto 80px;
}
.plan_intro {
  max-width: 640px;
  text-align: center;
  margin: 30px auto;
  padding: 0 10px;
}
.plan_intro h3 {
  display: inline-block;
  position: relative;
  padding: 0.5rem 2rem;
  background: #00f;
  font-size: 3rem;
  color: #fff;
  border-radius: 0px 50px 50px 0px;
}
.plan_intro h3::before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px rgb(64, 44, 155);
}
.plan_content {
  max-width: 1200px;
  margin: 40px auto 0;
  padding: 0;
  text-align: center;
}
.plan_content a {
  margin: 0 auto;
  text-align: center;
}
.plan_content img {
  max-width: 1200px;
  width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden;
}

@media only screen and (max-width: 768px) {
  .plan_intro h3 {
    padding: 0.5rem 1.2rem;
    font-size: 2.5rem;
  }
  .plan_content {
    padding: 0 5px;
  }
}
/* option */
.option {
  max-width: 100%;
  margin: 200px auto 80px;
}
.option_area {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 1rem 1rem;
  position: relative;
  border: dashed 5px #000;
  border-radius: 10px;
}
.option_area .option_tittle {
  position: absolute;
  top: -10%;
  left: 10%;
  display: inline-block;
}
.option_tittle img {
  max-width: 240px;
  width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden;
}
.op_wrap {
  display: flex;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.opwrap_box1 {
  display: table-cell;
  width: 33.33333%;
  width: -webkit-calc(100% / 3);
  width: calc(100% / 3);
  padding: 30px 10px 10px;
  margin: 5px 10px 15px;
  text-align: left;
  border: solid 1px #ddd;
}
.opwrap_box2 {
  display: table-cell;
  width: 25%;
  width: -webkit-calc(100% / 4);
  width: calc(100% / 4);
  text-align: left;
  margin: 30px auto 10px;
  padding: 30px 10px 10px;
  text-align: left;
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
  border-left: solid 1px #ddd;
}
.opwrap_box3 {
  display: table-cell;
  width: 25%;
  width: -webkit-calc(100% / 4);
  width: calc(100% / 4);
  text-align: left;
  margin: 30px auto 10px;
  padding: 30px 10px 10px;
  text-align: left;
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
  border-right: solid 1px #ddd;
}
.opwrap_box4 {
  display: table-cell;
  width: 25%;
  width: -webkit-calc(100% / 4);
  width: calc(100% / 4);
  text-align: left;
  margin: 30px auto 10px;
  padding: 30px 10px 10px;
  text-align: left;
}
.op_wrap p {
  font-size: 2.2rem;
}
.opwrap_img, .opwrap_img2 {
  text-align: center;
  margin: 1rem auto;
}
.opwrap_img1 {
  text-align: center;
  margin: 0 auto;
}
.opwrap_img img {
  max-width: 360px;
  width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden;
}
.opwrap_img2 img {
  max-width: 160px;
  width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden;
}
.opwrap_img1 img {
  max-width: 120px;
  width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden;
}
.option_area h3 {
  color: #000;
  font-size: 2.3rem;
  font-weight: bold;
  margin: 0 0 30px 2rem;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.option_area h3:before {
  content: "";
  display: inline-block;
  line-height: 40px;
  position: absolute;
  padding: 0em;
  background: #0f0;
  font-weight: 900;
  width: 60px;
  text-align: center;
  height: 60px;
  line-height: 40px;
  left: -2rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border: solid 3px white;
  border-radius: 50%;
  -webkit-filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.3));
  -moz-filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.3));
  -ms-filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.3));
  z-index: -1;
}
@media only screen and (max-width: 768px) {
  .option {
    padding: 0 5px;
  }
  .option_area .option_tittle {
    top: -3%;
  }
  .option_tittle img {
    max-width: 160px;
  }
  .op_wrap {
    display: block;
  }
  .opwrap_box1 {
    display: block;
    width: 100%;
    padding: 30px 0 0;
    margin: 30px 0 0;
    border: solid 1px #ddd;
    border-bottom: none;
    border-left: none;
    border-right: none;
  }
  .opwrap_box2 {
    display: block;
    width: 100%;
    padding: 30px 0 0;
    margin: 30px 0 0;
    border-top: solid 1px #ddd;
    border-bottom: none;
    border-left: none;
  }
  .opwrap_box3 {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0 0 10px;
    border-top: none;
    border-bottom: none;
    border-right: none;
  }
  .opwrap_box4 {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
/* voice */
.voice {
  max-width: 100%;
  margin: 60px auto 80px;
}
.voice_intro {
  max-width: 640px;
  text-align: center;
  margin: 30px auto;
  padding: 0 10px;
}
.voice_intro h3 {
  display: inline-block;
  position: relative;
  padding: 0.5rem 2rem;
  background: #ff0000;
  font-size: 3rem;
  color: #fff;
  border-radius: 0px 50px 50px 0px;
}
.voice_intro h3::before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px rgb(121, 44, 45);
}
.voice_main {
  border: solid 3px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 0;
}
.voice_area {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}
.voice_box1 {
  display: table-cell;
  width: 50%;
  width: -webkit-calc(100% / 2);
  width: calc(100% / 2);
  padding: 10px;
  text-align: center;
}
.voice_box1 img {
  max-width: 600px;
  width: 100%;
  height: auto;
  margin-top: 5rem;
  -webkit-backface-visibility: hidden;
}
.voice_box2 {
  display: table-cell;
  width: 50%;
  width: -webkit-calc(100% / 2);
  width: calc(100% / 2);
  padding: 10px;
  text-align: left;
}
.voice_box2 dl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: bottom;
  border-bottom: dotted 5px;
}
.voice_box2 dt {
  font-size: 2.4rem;
}
.voice_box2 dd {}
.voice_box2 p {
  font-size: 2.2rem;
  text-align: left;
  color: #2e3195;
  padding: 20px 10px;
}
.voice_box2 img {
  max-width: 360px;
  width: 100%;
  height: auto;
  margin: 0 0 1rem 2rem;
}
.voice_content {
  max-width: 1080px;
  margin: 0 auto;
  font-size: 2.2rem;
  padding: 20px 10px;
}
.voice_content p {
  text-align: left;
}
.voice_index {
  position: relative;
  padding: 1rem 0 1rem 1.5rem;
  font-size: 2.4rem;
  margin-left: 1.2rem;
}
.voice_index:before {
  position: absolute;
  content: '';
  top: 25%;
  left: 0;
  width: 0.8rem;
  height: 0.6rem;
  background: #ff1e26;
  transform: skewX(-20deg);
}
.voice_text {
  text-align: left;
  padding: 15px;
  background: #f7f7f7;
  -webkit-filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.2));
  -moz-filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.2));
  -ms-filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.2));
}
.voice_end {
  text-align: left;
  color: #2e3195;
  margin-top: 2.4rem;
}
@media only screen and (max-width: 768px) {
  .voice_title {
    height: 120px;
    margin-bottom: 30px;
  }
  .voice_intro h3 {
    padding: 0.5rem 1.2rem;
    font-size: 2.5rem;
  }
  .voice_main {
    margin: 0 5px;
  }
  .voice_area {
    display: block;
    padding: 0 5px;
  }
  .voice_box1 {
    display: block;
    width: 100%;
    padding: 10px 0;
  }
  .voice_box1 img {
    margin-top: 0;
  }
  .voice_box2 {
    display: block;
    width: 100%;
    padding: 10px 0;
    text-align: center;
  }
  .voice_box2 dl {
    display: block;
  }
  .voice_box2 img {
    max-width: 640px;
    margin: 0 auto 1rem;
  }
}
/* faq */
.faq {
  max-width: 100%;
  margin: 60px auto 80px;
}
.faq_intro {
  max-width: 640px;
  text-align: center;
  margin: 30px auto;
  padding: 0 10px;
}
.faq_intro h3 {
  display: inline-block;
  position: relative;
  padding: 0.5rem 2rem;
  background: #ff0000;
  font-size: 3rem;
  color: #fff;
  border-radius: 0px 50px 50px 0px;
}
.faq_intro h3::before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px rgb(121, 44, 45);
}
.faq_content {
    max-width: 1200px;
    text-align: left;
    margin: 0 auto;
    padding: 10px 1rem 10px 3rem;
}

.faq_content dl dt {
    font-size: 1.8rem;
    font-weight: bold;
    text-indent: -1.5em;
    padding: 0.5rem 0 0.5rem 1.5em;
}

.faq_content dl dt:before {
    content: "";
    display: inline-block;
    width: 1.9rem;
    height: 1.9rem;
    background: url('https://online.udkya.com/images/q_icon.png') no-repeat;
    background-size: contain;
    padding-right: 1.5rem;
}

.faq_content dl dd {
    color: #f00;
    font-size: 1.5rem;
    text-indent: -1.5em;
    padding: 0.5rem 0 2.5rem 1.5em;
}

.faq_content dl dd:before {
    content: "";
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
    background: url('https://online.udkya.com/images/a_icon.png') no-repeat;
    background-size: contain;
    padding-right: 1.5rem;
}

@media only screen and (max-width: 768px) {
    .faq_intro h3 {
        padding: 0.5rem 1.2rem;
        font-size: 1.5rem;
    }

    .faq_content {
        font-size: 1.2rem;
        padding: 10px 5px 10px 2rem;
    }
}

.qa-list {
    max-width: 1200px;
    margin: 40px auto 0;
    padding: 0 10px 40px;
    text-align: left;
}
.qa-list dl {
    position: relative;
    margin: 20px 0 0;
    cursor: pointer;
    border: 1px solid #DDD;
    font-size: 1.3em;
}
.qa-list dl:first-child {
    margin-top: 0;
}
.qa-list dl::after {
    position: absolute;
    top: 27px;
    right: 26px;
    display: block;
    width: 7px;
    height: 7px;
    margin: auto;
    content: '';
    transform: rotate(135deg);
    border-top: 2px solid #000;
    border-right: 2px solid #000;
}
.qa-list .open::after {
    transform: rotate(-45deg);
}
.qa-list dl dt {
    position: relative;
    margin: 0;
    padding: 20px 20px 20px 3em;
    font-weight: bold;
    background: #eee;
}
.qa-list dl dt::before {
    font-size: 1.4em;
    line-height: 1;
    position: absolute;
    top: 20px;
    left: 20px;
    content: "";
    display: inline-block;
    width: 1.9rem;
    height: 1.9rem;
    background: url('https://online.udkya.com/images/q_icon.png') no-repeat;
    background-size: contain;
    padding-right: 1.5rem;
}
.qa-list dl dd::before {
    font-size: 1.4em;
    line-height: 1;
    position: absolute;
    top: 20px;
    left: 20px;
    content: "";
    display: inline-block;
    width: 1.9rem;
    height: 1.9rem;
    background: url('https://online.udkya.com/images/a_icon.png') no-repeat;
    background-size: contain;
    padding-right: 1.5rem;
}
.qa-list dl dd {
    position: relative;
    margin: 0;
    padding: 20px 20px 20px 3em;
    background-color: #fff;
    color: #e60000;
}
.qa-list dl dd p {
    margin: 30px 0 0;
}
.qa-list dl dd p:first-child {
    margin-top: 0;
}
@media screen and (max-width: 768px) {
    #faq {
        padding: 60px 0 0;
    }
    .qa-list dl {
        margin: 10px 0 0;
        font-size: 1.1em
    }
    .qa-list dl:after {
        top: 20px;
        right: 20px;
        width: 7px;
        height: 7px;
    }
    .qa-list dl dt {
        padding: 16px 2em 16px 50px;
    }
    .qa-list dl dt::before {
        font-size: 1.2em;
        top: 15px;
        left: 10px;
    }
    .qa-list dl dd::before {
        font-size: 1.2em;
        top: 15px;
        left: 10px;
        margin-top: 5px;
    }
    .qa-list dl dd {
        margin: 0;
        padding: 16px 16px 16px 50px;
    }
    .qa-list dl dd p {
        margin: 30px 0 0;
    }
    .qa-list dl dd p:first-child {
        margin-top: 0;
    }
}
