@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-webkit-keyframes cluody {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }

    50% {
        -webkit-transform: translate(0, -6px);
        transform: translate(0, -6px)
    }

    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@keyframes cluody {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }

    50% {
        -webkit-transform: translate(0, -6px);
        transform: translate(0, -6px)
    }

    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@-webkit-keyframes blank {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@keyframes blank {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@-webkit-keyframes pulse {
    100% {
        opacity: 0;
        -webkit-transform: scale(2);
        transform: scale(2);
        background: none
    }
}

@keyframes pulse {
    100% {
        opacity: 0;
        -webkit-transform: scale(2);
        transform: scale(2);
        background: none
    }
}

@-webkit-keyframes fukidashi-left-turn {
    0% {
        opacity: 0;
        -webkit-transform: rotate(0) scale(0.6);
        transform: rotate(0) scale(0.6)
    }

    50% {
        opacity: 1;
        -webkit-transform: rotate(10deg) scale(1);
        transform: rotate(10deg) scale(1)
    }

    100% {
        opacity: 0;
        -webkit-transform: rotate(0) scale(0.6);
        transform: rotate(0) scale(0.6)
    }
}

@keyframes fukidashi-left-turn {
    0% {
        opacity: 0;
        -webkit-transform: rotate(0) scale(0.6);
        transform: rotate(0) scale(0.6)
    }

    50% {
        opacity: 1;
        -webkit-transform: rotate(10deg) scale(1);
        transform: rotate(10deg) scale(1)
    }

    100% {
        opacity: 0;
        -webkit-transform: rotate(0) scale(0.6);
        transform: rotate(0) scale(0.6)
    }
}

@-webkit-keyframes people-left-move {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    50% {
        -webkit-transform: translateX(-1rem);
        transform: translateX(-1rem)
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes people-left-move {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    50% {
        -webkit-transform: translateX(-1rem);
        transform: translateX(-1rem)
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@-webkit-keyframes fukidashi-right-turn {
    0% {
        opacity: 0;
        -webkit-transform: rotate(0) scale(0.6);
        transform: rotate(0) scale(0.6)
    }

    50% {
        opacity: 1;
        -webkit-transform: rotate(-10deg) scale(1);
        transform: rotate(-10deg) scale(1)
    }

    100% {
        opacity: 0;
        -webkit-transform: rotate(0) scale(0.6);
        transform: rotate(0) scale(0.6)
    }
}

@keyframes fukidashi-right-turn {
    0% {
        opacity: 0;
        -webkit-transform: rotate(0) scale(0.6);
        transform: rotate(0) scale(0.6)
    }

    50% {
        opacity: 1;
        -webkit-transform: rotate(-10deg) scale(1);
        transform: rotate(-10deg) scale(1)
    }

    100% {
        opacity: 0;
        -webkit-transform: rotate(0) scale(0.6);
        transform: rotate(0) scale(0.6)
    }
}

@-webkit-keyframes people-right-move {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    50% {
        -webkit-transform: translateX(1rem);
        transform: translateX(1rem)
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes people-right-move {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    50% {
        -webkit-transform: translateX(1rem);
        transform: translateX(1rem)
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

.article {
    max-width: 57.2rem;
    margin-right: auto;
    margin-left: auto
}


.event-section {
    max-width: 102rem;
    margin: 0 auto 2.8rem;
    padding: 2.8rem 0
}

.event-section > * + *:not(.parts-contact) {
    margin-top: 2.4rem
}





.event-section h5 {
    position: relative;
    font-size: 1.6rem;
    font-weight: bold;
    padding-bottom: .4rem;
    border-bottom: 0.3rem solid #081927
}

.event-section h5::before {
    display: block;
    content: "";
    position: absolute;
    bottom: -.3rem;
    left: 0;
    width: 8rem;
    height: .3rem;
    background: #E60000
}

.event-section h6 {
    font-size: 1.4rem;
    font-weight: bold;
    padding-bottom: .4rem;
    border-bottom: 0.2rem dotted #081927
}




.event-section .parts-contact {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.event-section .parts-contact img {
    -webkit-box-shadow: none;
    box-shadow: none
}

.event-section blockquote {
    position: relative;
    padding: 3rem 2.8rem;
    background: #efece8;
    border-radius: .3rem
}

.event-section blockquote::before,
.event-section blockquote::after {
    display: block;
    position: absolute;
    width: 1.8rem;
    line-height: 1
}

.event-section blockquote::before {
    content: url(../img/common/quote-start.svg);
    top: 1rem;
    left: 1rem
}

.event-section blockquote::after {
    content: url(../img/common/quote-end.svg);
    bottom: 1rem;
    right: 1rem
}

.event-section table{
    margin:2rem auto
}
.event-section table caption{
    padding-top:2em;
    font-weight:bold
}
.event-section table th,.event-section table td{
    text-align: left;
    border:1px solid #999;
    padding:1rem;
    vertical-align:top
}
.event-section table th{
    font-weight: bold;
    width:30%;
    background:#faf8f5

}
.event-section ol li,
.event-section ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.event-section ol li::before,
.event-section ul li::before {
    display: block;
    width: 2.4rem;
    white-space: nowrap;
    color: #E60000
}

.event-section ol li > span,
.event-section ul li > span {
    display: block;
    width: calc(100% - 2.4rem);
    padding-top: .1rem
}

.event-section ol li + li,
.event-section ul li + li {
    margin-top: .7rem
}

.event-section ol li::before {
    content: counter(number) " . ";
    counter-increment: number 1;
    font-family: 'Mkinas 4 Square'
}

.event-section ul li::before {
    content: "・";
    font-size: 2.4rem;
    line-height: 1;
    margin-left: -.3rem
}

.event-section a {
    color: #26b7ff;
    text-decoration: underline
}

.event-section .parts-contact a {
    color: #000;
    text-decoration: none
}

.event-section .wp-block-image figcaption {
    font-size: .8em;
    color: #999;
    margin-top: .4em
}



@media screen and (min-width: 414px) {
    .event-section {
        padding: 4rem 0
    }





    .event-section h5 {
        font-size: 1.6rem;
        font-weight: bold
    }

    .event-section h6 {
        font-size: 1.4rem
    }
}

@media screen and (min-width: 768px) {
    .article {
        max-width: 74rem
    }

    .event-section {
        font-size: 1.6rem;
        padding: 6rem 0
    }

    .event-section > * + *:not(.parts-contact) {
        margin-top: 2rem
    }


    .event-section h5 + *,
    .event-section h6 + * {
        margin-top: 4rem
    }





    .event-section h5 {
        font-size: 1.8rem
    }

    .event-section h6 {
        font-size: 1.6rem
    }

    .event-section ol li::before,
    .event-section ul li::before {
        width: 3rem
    }

    .event-section ol li > span,
    .event-section ul li > span {
        width: calc(100% - 3rem)
    }

    .event-section ol li + li,
    .event-section ul li + li {
        margin-top: 1rem
    }
}

@media screen and (min-width: 1024px) {
    .article {
        max-width: 90rem
    }

    .event-section {
        font-size: 1.8rem;
        padding: 10rem 0
    }

    .event-section > * + *:not(.parts-contact) {
        margin-top: 2.5rem
    }





    .event-section h5 {
        font-size: 2rem
    }

    .event-section h6 {
        font-size: 1.6rem
    }

    .event-section ul li::before {
        font-size: 3rem
    }

    .event-section ul li > span {
        padding-top: 0
    }

    .event-section blockquote {
        padding: 4rem 4.8rem
    }

    .event-section blockquote::before,
    .event-section blockquote::after {
        width: 2.2rem
    }

    .event-section blockquote::before {
        top: 1.4rem;
        left: 1.4rem
    }

    .event-section blockquote::after {
        bottom: 1.4rem;
        right: 1.4rem
    }

    .event-section .has-text-align-center {
        text-align: center
    }

    .event-section .has-text-align-right {
        text-align: right
    }

    .event-section .has-text-align-left {
        text-align: left
    }

    .event-section .wp-block-image {
        overflow: hidden
    }

    .event-section .wp-block-image::after {
        clear: both
    }

    .event-section .wp-block-image .aligncenter,
    .event-section .wp-block-image .alignleft,
    .event-section .wp-block-image .alignright {
        display: table
    }

    .event-section .wp-block-image .alignleft {
        float: left;
        margin-right: 1em
    }

    .event-section .wp-block-image .aligncenter {
        margin-right: auto;
        margin-left: auto
    }

    .event-section .wp-block-image .aligncenter figcaption {
        text-align: center
    }

    .event-section .wp-block-image .alignright {
        float: right;
        margin-left: 1em
    }

    .event-section .wp-block-image .alignright figcaption {
        text-align: right
    }
}

@media screen and (min-width: 1280px) {
    .article {
        max-width: 98rem
    }

    .event-section {
        font-size: 2rem;
        line-height: 4rem;
        padding: 14.8rem 0
    }

    .event-section > * + *:not(.parts-contact) {
        margin-top: 3rem
    }





    .event-section h5 {
        font-size: 2.4rem
    }

    .event-section h6 {
        font-size: 2rem
    }

    .event-section ol li::before,
    .event-section ul li::before {
        width: 3.8rem
    }

    .event-section ol li > span,
    .event-section ul li > span {
        width: calc(100% - 3.8rem)
    }

    .event-section ul li::before {
        font-size: 3.4rem
    }
}
@media screen and (max-width: 768px) {

    .event-section table th,.event-section table td{
        display: block;
        width: 100%;

    }
}
.contact-form-box a.link{
    padding-left:20px;
    margin-top:7px;
    font-size:13px;
}
.contact-form-box a.link i{
    padding-right:5px;
    font-size:10px;
}
.form-required{
    color:#f00;
}
.submit-center{
    text-align:center;
}

/*table.table-style*/
table.event-table-style{
    width:100%;
    border-collapse: collapse;
    margin-bottom:2rem;
}
table.event-table-style th{
    width:30%;
    color:#333;
    font-size:1.6rem;
    padding:15px 20px;
    border-bottom: #c3c3c3 1px solid;
    background: #faf8f5;
    text-align:left;
    font-weight:600;
    vertical-align:top;
}

table.event-table-style td{
    width:70%;
    color:#333;
    font-size:1.8rem;
    padding:15px 20px;
    border-bottom: #c3c3c3 1px solid;
    font-weight:400;
    vertical-align:top;
}

table.event-table-style th.first {
    border-top: #e60000 2px solid;
}

table.event-table-style td.first {
    border-top:  #b3b3b3 2px solid;
}


@media screen and (max-width: 640px) {
    table.event-table-style th{
        display: block;
        width: 100%;
    }

    table.event-table-style td{
        display: block;
        width: 100%;
    }
    table.event-table-style td.first {
        border-top:  none;
    }
}

.main_title{

    width: 100%;
}

.main_title img{


    max-width: 1920px;
    width: 100%;
    height: auto;
}
.yp_intro{
    background:
        url("https://www.udkya.com/wordpress/wp-content/uploads/2020/12/online-nomikai.png");
    background-repeat:
        no-repeat;
    background-position:
        top center;
    background-size: 100%;
    text-align: left;

    font-weight: normal;
    padding: 4em 1em 2em;
}
.yp_intro p{
    color: #fff;
    font-size: 1.3em;
    line-height:1.8em;
    padding: 0;
}
.yp_intro p span{
    color: #e60000;
    font-size:1.1em;
    font-weight: bold;
}
p.b1{
    font-weight: bold;
    font-size:2.5em;
    padding: 0 1em;
    line-height: 1.5em;

}


.yp_intro p span{
    padding-left: 1em;

}
.yp_intro ul{
    padding: 1em 10px 1em 5em;
    font-size:1em;
}
.yp_intro ul li{
    padding: 0;
    line-height:1.5em;
}

.kanji_intro {
    text-align: center;

}
.kanji_intro p{
    text-align: center;
    color: #000;
    font-size: 1.4em;
    font-weight: bold;
    line-height:1.8em;
    letter-spacing: .1em;
    padding: 0;
}

.kanji_intro span{

    color: #e60000;
}
.kanji_intro img {
    max-width: 360px;
    width: 100%;
    height: auto;
    -webkit-backface-visibility: hidden;
}
.kanji_area {
    display: flex;
    max-width: initial;
    margin: 80px auto;
    padding: 0;
}
.kanji_txt {
    display: table-cell;
    width: 50%;
    width: -webkit-calc(100% / 2);
    width: calc(100% / 2);
    padding: 10px;

}
.kanji_txt ul{

    font-size: 1em;
}
.kanji_txt ul li{

    padding: 0;
}

.kanji_img {
    display: table-cell;
    width: 50%;
    width: -webkit-calc(100% / 2);
    width: calc(100% / 2);
    padding: 10px;

}
.kanji_img img {
    max-width: 960px;
    width: 100%;
    height: auto;
    -webkit-backface-visibility: hidden;
}
@media only screen and (max-width: 768px) {
    .yp_intro{
        background:
            url("https://www.udkya.com/wordpress/wp-content/uploads/2020/12/online-nomikai-sp.png");
        background-size: cover;
        padding: 2em 1em 2em;
    }
    .yp_intro p{
        text-align:left;
        font-size: 1.2em;
        line-height:1.5em;
    }
    p.b1{

        font-size:1.4em;
        padding: 1em 20px;
        line-height: 1.5em;

    }
    .kanji_intro img {

        width: 60%;

    }
    .yp_intro ul{
        padding: 1em 10px 1em 1em;

    }
    .kanji_intro p{
        text-align: left;
        color: #000;
        font-size: 1.2em;

    }
    .kanji_area {
        display: block;
        margin: 80px auto;
        padding: 0;
    }
    .kanji_txt {
        display: block;
        width: 100%;
        padding: 10px;

    }

    .kanji_img {
        display: block;
        width: 100%;
        padding: 10px;

    }
}

.yp_merit{

    margin: 60px auto 0;
    background: rgba(200, 0, 0, .1);
    padding: 1em;
}

}
.yp_merit_txt h3{
    font-weight: normal;
    font-size: .8em;

    color: #000;
    padding: 0;
    margin: 0;

}
.yp_merit_txt h3 span{

    font-weight: bold;
    font-size: 1.3em;
    padding: 0;
}
.yp_merit_area {
    display: flex;
    margin: 0 auto 60px;
    padding: 0;
}
.yp_merit_txt {
    display: table-cell;
    width: 65%;

    padding: 10px;

}
.yp_merit_txt p{
    text-align: left;
    color: #000;
    font-size: 1em;
    font-weight: normal;
    line-height:1.2em;
    padding:20px 0;
}

.yp_merit_img {
    display: table-cell;
    width: 35%;
    padding: 2em 10px 0;

}

.yp_merit_img img {
    max-width: 960px;
    width: 100%;
    height: auto;
    -webkit-backface-visibility: hidden;
}
.yp-contact{
    background: url("https://www.udkya.com/wordpress/wp-content/uploads/2020/12/contact-bc.png");
    background-repeat:
        no-repeat;
    background-position:
        top center;
    background-size: 100%;
    text-align: center;
    font-size: 1.3em;
    font-weight: normal;
    padding: 1.5em 2em 1em;
    margin: 0 auto 100px;
}

.yp-contact p{
    font-size: 1.2em;
    font-weight: bold;
    color: #fff;
    padding-bottom:1em;
}
.yp-contact a{

    text-decoration: none;
    color: #fff;
}
.yp-contact a:hover{
    opacity: 0.6;
    filter: alpha(opacity=60);
    -ms-filter: "alpha( opacity=60 )";
}
.btn-gradient-3d-orange {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 4px;
    color: #ffffff;
    background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #c58668;
}

.btn-gradient-3d-orange:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
}
.kanji_intro{
    margin: 0 auto;


    padding: 0 10px;
}
.yp_program_area {
    display: flex;

    margin: 20px auto 100px;
    padding: 0;
    text-align: center;
}
.yp_program_area h4{
    position: relative;
    font-weight: bold;
    font-size: 1.2em;

    color: #000;
    padding: 0;
    margin: 20px auto 60px;

}
.yp_program_area h4:before {
    position: absolute;
    bottom: -10px;
    left: calc(50% - 30px);
    width: 60px;
    height: 5px;
    content: '';
    border-radius: 3px;
    background: #e60000;
}

.yp_program_img {
    display: table-cell;
    width: 50%;
    width: -webkit-calc(100% / 2);
    width: calc(100% / 2);
    padding: 0 10px ;

}


.yp_program_img img {
    max-width: 640px;
    width: 100%;
    height: auto;
    -webkit-backface-visibility: hidden;
}
.yp_game_img {
    display: table-cell;
    width: 50%;
    width: -webkit-calc(100% / 2);
    width: calc(100% / 2);
    padding: 2em 10px 0;

}
.yp_game_img figure{

}

.yp_game_img img {
    max-width: 460px;
    width: 100%;
    height: auto;
    -webkit-backface-visibility: hidden;
}
@media only screen and (max-width: 768px) {
    .yp_merit_area {
        display: block;
        margin: 40px auto;
    }
    .yp_merit_txt {
        display: block;
        width: 100%;

        padding: 0px;

    }


    .yp_merit_img {
        display: block;
        width: 100%;
        padding: 1em 0;

    }
    .yp_program_area {
        display: block;

        margin: 20px auto 80px;

    }



    .yp_program_img {
        display: block;
        width: 100%;

        padding: 0;

    }



    .yp_game_img {
        display: block;
        width: 100%;
        padding: 1em 0 ;

    }	
    .yp-contact{
        background: url("https://www.udkya.com/wordpress/wp-content/uploads/2020/12/contact-bc-sp.png");

        background-size: cover;

        font-size: 1.2em;
        padding: 1.5em 10px 1em;
    }
}
.konshinkai{

    margin: 40px auto;

}
.konshinkai h3{
    text-align: center;
    margin: 0 auto;

}
.konshinkai h3 img{
    max-width: 1200px;
    width: 100%;
    height: auto;
    -webkit-backface-visibility: hidden;
}

.konshinkai_area {
    display: flex;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
.konshinkai_area h4{
    font-weight: bold;
    font-size: 1.2em;

    color: #000;
    padding: 0;
    margin: 20px auto;

}


.konshinkai_wrap {
    display: table-cell;
    width: 50%;
    width: -webkit-calc(100% / 2);
    width: calc(100% / 2);
    padding: 0 10px ;

}

.konshinkai_wrap img{
    max-width: 9600px;
    width: 100%;
    height: auto;
    -webkit-backface-visibility: hidden;

}
.konshinkai_img {


    z-index:0;
}
.konshinkai_content {
    position:relative;
    background-color: #fff;
    border-radius: 10px;
    padding: 1em 20px;
    margin: -120px auto 120px;
    width: 75%;
    z-index:1;
    -webkit-filter:drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
    -moz-filter:drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
    -ms-filter:drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
    filter:drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
}
.konshinkai_wrap h4{
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;


}
.konshinkai_wrap p{
    font-size: 1em;
    font-weight: normal;
    text-align: left;


}
.yp-campaign{

    margin: 40px auto;
    text-align: center;
}

.yp-campaign img{
    max-width: 800px;
    width: 100%;
    height: auto;
    -webkit-backface-visibility: hidden;
}
.yp-campaign p{
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 40px;
}
.yp-campaign p span{
    font-size: 1.1em;
    color:#e60000;
}

@media only screen and (max-width: 768px) {
    .konshinkai_area {
        display: block;


    }



    .konshinkai_wrap {
        display: block;
        width: 100%;

        padding: 0;

    }



    .konshinkai_content {
        font-size:1.1em;
        padding: 1em 15px;
        margin: -100px auto 80px;
        width: 85%;

    }
    .yp-campaign p{
        text-align: left;
    }
}