@-webkit-keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@-webkit-keyframes cluody {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
  }
  50% {
    -webkit-transform: translate(0, -6px);
    transform: translate(0, -6px)
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
  }
}

@keyframes cluody {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
  }
  50% {
    -webkit-transform: translate(0, -6px);
    transform: translate(0, -6px)
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
  }
}

@-webkit-keyframes blank {
  0% {
    opacity: 0
  }
  50% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

@keyframes blank {
  0% {
    opacity: 0
  }
  50% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

@-webkit-keyframes pulse {
  100% {
    opacity: 0;
    -webkit-transform: scale(2);
    transform: scale(2);
    background: none
  }
}

@keyframes pulse {
  100% {
    opacity: 0;
    -webkit-transform: scale(2);
    transform: scale(2);
    background: none
  }
}

@-webkit-keyframes fukidashi-left-turn {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
    transform: rotate(0) scale(0.6)
  }
  50% {
    opacity: 1;
    -webkit-transform: rotate(10deg) scale(1);
    transform: rotate(10deg) scale(1)
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
    transform: rotate(0) scale(0.6)
  }
}

@keyframes fukidashi-left-turn {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
    transform: rotate(0) scale(0.6)
  }
  50% {
    opacity: 1;
    -webkit-transform: rotate(10deg) scale(1);
    transform: rotate(10deg) scale(1)
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
    transform: rotate(0) scale(0.6)
  }
}

@-webkit-keyframes people-left-move {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  50% {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem)
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
}

@keyframes people-left-move {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  50% {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem)
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
}

@-webkit-keyframes fukidashi-right-turn {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
    transform: rotate(0) scale(0.6)
  }
  50% {
    opacity: 1;
    -webkit-transform: rotate(-10deg) scale(1);
    transform: rotate(-10deg) scale(1)
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
    transform: rotate(0) scale(0.6)
  }
}

@keyframes fukidashi-right-turn {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
    transform: rotate(0) scale(0.6)
  }
  50% {
    opacity: 1;
    -webkit-transform: rotate(-10deg) scale(1);
    transform: rotate(-10deg) scale(1)
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0.6);
    transform: rotate(0) scale(0.6)
  }
}

@-webkit-keyframes people-right-move {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  50% {
    -webkit-transform: translateX(1rem);
    transform: translateX(1rem)
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
}

@keyframes people-right-move {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  50% {
    -webkit-transform: translateX(1rem);
    transform: translateX(1rem)
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  background: rgba(28, 46, 80, 0.9)
}

.modal__close-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer
}

.modal__inner {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 90%;
  max-width: 44rem;
  max-height: 75%;
  background: #fff;
  padding: 1rem;
  overflow-y: scroll;
  border-radius: 1rem;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0)
}

.modal__box {
  display: none
}

.modal__close-button {
  position: absolute;
  right: 1rem;
  width: 2.4rem;
  height: 2.2rem;
  z-index: 101;
  margin-left: auto;
  background: transparent;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none
}

.modal__close-button::before, .modal__close-button::after {
  display: block;
  content: " ";
  position: absolute;
  width: 100%;
  height: .3rem;
  left: 0;
  background: #081927;
  border-radius: .3rem;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-transition: .6s;
  transition: .6s
}

.modal__close-button::before {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg) scale(-1);
  transform: translateY(-50%) rotate(45deg) scale(-1)
}

.modal__close-button::after {
  bottom: 50%;
  -webkit-transform: translateY(50%) rotate(-45deg) scale(-1);
  transform: translateY(50%) rotate(-45deg) scale(-1)
}

.modal__title {
  text-align: center;
  padding-top: 2.8rem;
  padding-bottom: 1.4rem
}

.modal__title span {
  font-size: 2rem;
  font-weight: bold;
  padding: 0 2rem .4rem;
  border-bottom: 0.2rem solid #E60000
}

.modal__overview {
  width: 65%;
  margin-left: 17.5%
}

.modal__overview dl+dl {
  margin-top: .4rem
}

.modal__overview dt {
  background: #fff03e;
  font-weight: bold;
  padding: .2rem .7rem 0
}

.modal__overview dd {
  padding-left: .7rem
}

.modal__content {
  margin-top: 1.4rem;
  border-top: .1rem solid #000;
  border-bottom: .1rem solid #000;
  padding: 1rem 0
}

.modal__section+.modal__section {
  margin-top: 2rem
}

.modal__section-title {
  font-size: 1.6rem;
  font-weight: bold
}

.modal__section-content {
  font-size: 1.2rem;
  padding-left: 1em
}

.modal__price {
  font-size: 2rem;
  text-align: center;
  line-height: 1;
  padding: 2rem 0 1rem
}

.anchor {
  position: absolute;
  top: -10rem;
  left: 0;
  width: 100%;
  height: 4rem;
  z-index: -1
}

.service-price-section {
  position: relative
}

.service-price-section+.service-price-section {
  margin-top: 4.8rem
}

.online-section, .trial-section, .neo-section, .soshikilab-section {
  margin-top: 16.4rem
}

.both-circle {
  display: inline-block;
  position: relative;
  padding: 0 1.6rem
}

.both-circle::before, .both-circle::after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  width: .6rem;
  height: .6rem;
  background: currentColor;
  border-radius: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: -.1rem
}

.both-circle::before {
  left: 0
}

.both-circle::after {
  right: 0
}

.reason, .flow, .example, .event_trial {
  max-width: 35rem;
  margin-right: auto;
  margin-left: auto
}

.reason {
  background: url(../img/service-price/bg-reason.png) no-repeat center 3rem;
  background-size: 100%
}

.reason__title {
  font-size: 2.2rem;
  text-align: center;
  font-weight: bold;
  padding-top: 4.8rem
}

.reason__title span:not(.fc-red) {
  font-size: 2rem
}

.reason__title .fc-red {
  color: #E60000
}

.reason__lead {
  padding-top: 2rem
}

.reason__lead p {
  text-indent: 1em
}

.reason__lead p+p {
  padding-top: 1.4rem
}

.reason__data, .reason__catchcopy {
  padding-top: 6rem
}

.reason__data {
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all .68s .4s;
  transition: all .68s .4s;
  will-change: contents
}

.reason__data.lazyloaded {
  -webkit-transform: scale(1);
  transform: scale(1)
}

.reason__catchcopy {
  text-align: center;
  font-weight: bold;
  line-height: 1
}

.reason__catchcopy p+p {
  margin-top: .4rem
}

.reason__catchcopy b {
  display: inline-block;
  -webkit-transform: skew(-25deg);
  transform: skew(-25deg)
}

.reason__catchcopy span {
  display: inline-block;
  -webkit-transform: skew(25deg);
  transform: skew(25deg)
}

.reason__catchcopy .-red b, .reason__catchcopy .-yellow b {
  background-position: 100% 50%;
  background-size: 200% 100%;
  background-repeat: no-repeat;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  color: transparent
}

.reason__catchcopy .-red b {
  font-size: 1.8rem;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #E60000), color-stop(50%, transparent));
  background-image: linear-gradient(90deg, #E60000 50%, transparent 50%);
  padding: .4rem 2rem
}

.reason__catchcopy .-yellow b {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #fff03e), color-stop(50%, transparent));
  background-image: linear-gradient(90deg, #fff03e 50%, transparent 50%);
  padding: .6rem 1.4rem .4rem
}

.reason__catchcopy.lazyloaded .-red b {
  color: #fff;
  background-position: 0 0
}

.reason__catchcopy.lazyloaded .-yellow b {
  color: #000;
  background-position: 0 0
}

.reason__hero-image {
  display: none
}

.reason__content-label {
  display: none
}

.reason__content {
  margin-top: 2.8rem;
  background: #faf8f5;
  padding: 2rem 1rem
}

.reason__content-box {
  border-style: solid;
  border-width: .3rem;
  padding-right: 1.4rem;
  padding-left: 1.4rem
}

.reason__content-box+.reason__content-box {
  margin-top: 2.2rem
}

.reason__content-box.-blue {
  border-color: #0873d0
}

.reason__content-box.-blue .reason__content-box-title-set, .reason__content-box.-blue .reason__content-box-appeal .reason__content-box-text {
  color: #0873d0
}

.reason__content-box.-green {
  border-color: #198b52
}

.reason__content-box.-green .reason__content-box-title-set, .reason__content-box.-green .reason__content-box-appeal .reason__content-box-text {
  color: #198b52
}

.reason__content-box.-orange {
  border-color: #eb6d00
}

.reason__content-box.-orange .reason__content-box-title-set, .reason__content-box.-orange .reason__content-box-appeal .reason__content-box-text {
  color: #eb6d00
}

.reason__content-box-description, .reason__content-box-appeal {
  width: 100%;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem
}

.reason__content-box-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 11.8rem;
  height: 11.8rem;
  margin-right: auto;
  margin-left: auto;
  background: #fff;
  border-radius: 50%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: .2rem;
  padding: 2rem;
  margin-bottom: 1.4rem
}

.reason__content-box-title-set {
  text-align: center;
  padding-bottom: 1.4rem;
  font-weight: bold
}

.reason__content-box-title-set dt {
  font-size: 1.8rem
}

.reason__content-box-title-set dd {
  font-size: 1.2rem;
  line-height: 1
}

.reason__content-box-description {
  border-bottom: 0.1rem solid #081927
}

.reason__content-box-description .reason__content-box-image {
  border-color: #E60000
}

.reason__content-box-description .reason__content-box-text {
  font-size: 1.8rem;
  text-align: justify
}

.reason__content-box-appeal .reason__content-box-image {
  border-color: #333
}

.reason__content-box-appeal .reason__content-box-text {
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center
}

.reason__content-box-appeal .reason__content-box-text p {
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all .6s;
  transition: all .6s
}

.reason__content-box-appeal .reason__content-box-text br {
  display: none
}

.reason__content-box-appeal .reason__content-box-text.lazyloaded p {
  -webkit-transform: scale(1);
  transform: scale(1)
}

.reason__content-goals {
  margin-top: 6rem;
  background: #faf8f5;
  border: 0.3rem solid #081927;
  border-radius: .8rem;
  -webkit-transform: translateY(10rem);
  transform: translateY(10rem);
  opacity: 0;
  -webkit-transition: all .4s;
  transition: all .4s
}

.reason__content-goals-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 12rem;
  height: 12rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fff;
  border-radius: 50%;
  margin: 2.8rem 0 2rem;
  -webkit-box-shadow: 0 0 1.4rem 0 rgba(0, 0, 0, 0.36);
  box-shadow: 0 0 1.4rem 0 rgba(0, 0, 0, 0.36);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform .6s .2s;
  transition: -webkit-transform .6s .2s;
  transition: transform .6s .2s;
  transition: transform .6s .2s, -webkit-transform .6s .2s
}

.reason__content-goals-text {
  width: 100%;
  font-size: 2.2rem;
  text-align: center;
  line-height: 1.4;
  color: transparent;
  padding-bottom: 2.8rem;
  -webkit-transition: all .6s .2s;
  transition: all .6s .2s
}

.lazyloaded {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1
}

.lazyloaded .reason__content-goals-image {
  -webkit-transform: scale(1);
  transform: scale(1)
}

.lazyloaded .reason__content-goals-text {
  color: #000
}

.flow {
  padding-top: 8rem
}

.flow__image01, .flow__image02 {
  display: none
}

.flow__box {
  -webkit-transform: translateY(20rem);
  transform: translateY(20rem);
  font-weight: bold;
  opacity: 0;
  -webkit-transition: all .6s;
  transition: all .6s
}

.flow__box.lazyloaded {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1
}

.flow__box:not(.flow__recommended) {
  background: #faf8f5;
  padding: 2rem 1rem;
  border-radius: 1rem;
  text-align: center
}

.flow__section+.flow__section {
  margin-top: 4.8rem
}

.flow__section.-yellow {
  background: #fff03e;
  border-radius: 1rem;
  padding-right: 1.4rem;
  padding-left: 1.4rem
}

.flow__label {
  display: inline-block;
  font-size: 1.2rem;
  background: #fff03e;
  padding: .4rem .4rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
  -webkit-transform: translate(0, -1.2rem);
  transform: translate(0, -1.2rem)
}

.flow__label span {
  padding: .2rem 1.2rem;
  white-space: nowrap;
  line-height: 1;
  background: #fff;
  border-radius: 2rem
}

.flow__title {
  font-size: 2rem;
  padding-bottom: 2rem
}

.flow__title .both-circle::before, .flow__title .both-circle::after {
  background: #E60000
}

.flow__subtitle {
  font-size: 1.6rem;
  margin-bottom: 2rem
}

.flow__subtitle span {
  border-bottom: 0.1rem solid #E60000;
  padding-bottom: .4rem
}

.flow__description {
  padding-bottom: 2rem
}

.flow__notice {
  font-size: 1.2rem;
  font-weight: normal;
  padding-bottom: 2rem;
  line-height: 1.2
}

.flow__box.flow__today {
  background: transparent;
  border: 0.3rem solid #E60000
}

.flow__box.flow__today .flow__title span {
  display: inline-block;
  background-image: url(../img/service-price/flag-left.svg), url(../img/service-price/flag-right.svg);
  background-repeat: no-repeat;
  background-position: left top, right top;
  background-size: 4rem;
  padding: 0 4.8rem
}

.flow__after .flow__title {
  padding-bottom: 4rem
}

.flow__recommended {
  padding-top: 4rem;
  text-align: center
}

.flow__recommended .flow__title {
  font-size: 1.6rem
}

.flow__box.flow__recommended .flow__title {
  padding-bottom: 0
}

.flow__arrow {
  padding: 4rem 0;
  text-align: center
}

.flow__arrow img {
  width: 4rem;
  height: 4rem
}

.flow__program {
  margin-top: 2rem;
  padding-top: 2.8rem;
  padding-bottom: 2.8rem;
  color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #fff03e), color-stop(50%, transparent));
  background-image: linear-gradient(90deg, #fff03e 50%, transparent 50%);
  background-position: 100% 50%;
  background-size: 200% 100%;
  background-repeat: no-repeat;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out
}

.flow__program.lazyloaded {
  color: #000;
  background-position: 0 0
}

.flow__program-title {
  font-size: 2.2rem;
  text-align: center;
  font-weight: bold;
  padding-bottom: 2rem
}

.flow__program-content {
  font-weight: normal;
  text-align: justify;
  padding-bottom: 2.8rem
}

.flow__program-detail p {
  width: 100%;
  padding-top: 1.4rem;
  line-height: 1;
  text-align: center
}

.flow__program-detail img {
  display: none
}

.plan, .detail, .example, .event_trial {
  padding-top: 4.8rem
}

.plan__title {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  padding-bottom: 2rem
}

.plan__title .both-circle::before, .plan__title .both-circle::after {
  background: #E60000
}

.plan__content.-large {
  display: none
}

.plan__lead {
  font-size: 1.5rem;
  text-align: center
}

.plan__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.plan__list a {
  display: block;
  width: 23rem
}

.plan__info {
  font-size: 1.8rem;
  text-align: center;
  border: 0.2rem solid #E60000;
  border-radius: .4rem;
  margin-top: 2.4rem;
  padding: 1.2rem 0 .8rem;
  line-height: 1
}

.plan__info dd {
  margin-top: .6rem
}

.plan__image {
  display: none
}

.detail {
  overflow: hidden
}

.detail__box-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center
}

.detail__box-group+.detail__box-group, .detail__box+.detail__box {
  margin-top: 4.8rem
}

.detail__box {
  -webkit-transform: translateY(10rem);
  transform: translateY(10rem);
  opacity: 0;
  -webkit-transition: all .6s;
  transition: all .6s
}

.detail__box.lazyloaded {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1
}

.detail__box-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding: 2rem 0;
  line-height: 1.4
}

.detail__box-list {
  width: 18rem;
  text-align: left
}

.detail__box-list li {
  font-size: 1.6rem;
  white-space: nowrap
}

.detail__box-list li::before {
  content: "・"
}

.example {
  padding-bottom: 2rem
}

.example__box {
  -webkit-transform: translateY(10rem);
  transform: translateY(10rem);
  opacity: 0;
  -webkit-transition: all .6s;
  transition: all .6s
}

.example__box.lazyloaded {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1
}

.example__box+.example__box {
  margin-top: 4.8rem
}

.example__text {
  background: #faf8f5;
  margin: 1.4rem .7rem 0;
  padding: 1.4rem;
  border-radius: 1rem
}

.example__title {
  font-size: 1.8rem;
  border-bottom: 0.1rem solid #E60000;
  padding-bottom: .2rem
}

.example__list {
  padding-top: .7rem
}

.example__list dd {
  font-weight: bold
}

.example__rental {
  font-size: 1.6rem;
  padding-top: 1.4rem;
  text-align: center
}

.example__rental span {
  text-decoration: underline
}

.example__rental img {
  width: 21.6rem
}

.event_trial {
  padding-bottom: 2rem
}


.event_trial img{
  padding-top: 2rem
}

@media screen and (min-width: 414px) {
  .modal__title {
    padding-bottom: 2rem
  }
  .modal__title span {
    font-size: 2rem
  }
  .modal__overview {
    font-size: 1.6rem
  }
  .modal__content {
    margin-top: 2rem;
    padding: 2rem 2rem
  }
  .modal__section-content {
    font-size: 1.4rem
  }
  .service-price-section+.service-price-section {
    margin-top: 6.8rem
  }
  .reason__title {
    font-size: 2.4rem;
    padding-top: 6rem
  }
  .reason__lead {
    font-size: 1.6rem
  }
  .reason__lead p+p {
    padding-top: 2.4rem
  }
  .reason__catchcopy .-red b {
    font-size: 2rem
  }
  .reason__catchcopy .-yellow b {
    font-size: 1.6rem
  }
  .reason__content {
    margin-top: 4.8rem
  }
  .reason__content-box {
    padding-right: 2rem;
    padding-left: 2rem
  }
  .reason__content-box+.reason__content-box {
    margin-top: 2.4rem
  }
  .reason__content-box-description, .reason__content-box-appeal {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem
  }
  .reason__content-box-title-set {
    padding-bottom: 2.4rem
  }
  .reason__content-box-appeal .reason__content-box-text {
    font-size: 2rem
  }
  .flow__box:not(.flow__recommended) {
    padding: 4rem 1.2rem
  }
  .flow__title {
    font-size: 2.2rem;
    padding-bottom: 2.2rem
  }
  .flow__description {
    font-size: 1.6rem;
    padding-bottom: 2rem
  }
  .flow__program {
    padding-top: 4rem;
    padding-bottom: 4rem
  }
  .flow__program-title {
    padding-bottom: 2.8rem
  }
  .flow__program-content {
    font-size: 1.6rem
  }
  .plan__lead {
    font-size: 1.6rem
  }
  .detail {
    padding-top: 6.8rem
  }
  .example__list {
    font-size: 1.6rem
  }
  .example__list dt br {
    display: none
  }

}

@media screen and (min-width: 768px) {
  .modal__inner {
    max-width: 66rem;
    padding: 3.6rem
  }
  .modal__close-button {
    top: 1rem;
    right: 1rem
  }
  .modal__title {
    padding-bottom: 2.4rem
  }
  .modal__title span {
    font-size: 2.4rem
  }
  .modal__content {
    margin-top: 2.4rem;
    padding: 2.4rem 4rem
  }
  .modal__overview {
    font-size: 2rem;
    width: 50%;
    margin-left: 25%
  }
  .modal__section+.modal__section {
    margin-top: 2.4rem
  }
  .modal__section-title {
    font-size: 2rem
  }
  .modal__section-content {
    font-size: 1.8rem
  }
  .modal__price {
    font-size: 2.4rem;
    padding: 3.6rem 0 0
  }
  .wrapper .service-price-section+.service-price-section {
    margin-top: 12rem
  }
  .wrapper .reason {
    max-width: 100%;
    background-size: 74rem
  }
  .wrapper .reason__title {
    font-size: 5rem;
    padding-top: 8rem
  }
  .wrapper .reason__title span:not(.fc-red) {
    font-size: 4.2rem
  }
  .wrapper .reason__lead {
    width: 71rem;
    font-size: 2rem;
    margin-right: auto;
    margin-left: auto
  }
  .wrapper .reason__lead p+p {
    padding-top: 5.4rem
  }
  .wrapper .reason__data {
    text-align: center
  }
  .wrapper .reason__data img {
    width: 55.8rem
  }
  .wrapper .reason__catchcopy {
    padding-top: 10rem
  }
  .wrapper .reason__catchcopy p+p {
    margin-top: 1rem
  }
  .wrapper .reason__catchcopy .-red b {
    font-size: 4rem;
    padding: 1rem 4rem .8rem
  }
  .wrapper .reason__catchcopy .-yellow b {
    font-size: 2.8rem;
    padding: 1rem 2.8rem .8rem
  }
  .wrapper .reason__hero-image {
    display: block;
    text-align: center;
    padding-top: 6rem;
    -webkit-transform: translateY(20rem);
    transform: translateY(20rem);
    opacity: 0;
    -webkit-transition: all .68s .2s;
    transition: all .68s .2s
  }
  .wrapper .reason__hero-image img {
    width: 90%;
    max-width: 84rem
  }
  .wrapper .reason__hero-image.lazyloaded {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1
  }
  .wrapper .reason__content {
    max-width: 106rem;
    margin-right: auto;
    margin-left: auto;
    padding: 4rem 1.8rem
  }
  .wrapper .reason__content-box {
    padding-top: 2rem;
    padding-bottom: 2rem
  }
  .wrapper .reason__content-box+.reason__content-box {
    margin-top: 2.8rem
  }
  .wrapper .reason__content-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 3rem;
    padding-bottom: 2.8rem;
    line-height: 1;
    font-weight: bold
  }
  .wrapper .reason__content-label dt, .wrapper .reason__content-label dd {
    width: 50%;
    text-align: center
  }
  .wrapper .reason__content-label dt {
    color: #E60000
  }
  .wrapper .reason__content-box-image {
    display: none
  }
  .wrapper .reason__content-box-description, .wrapper .reason__content-box-appeal {
    width: 50%
  }
  .wrapper .reason__content-box-title-set {
    padding-bottom: .6rem
  }
  .wrapper .reason__content-box-title-set dt {
    font-size: 2rem
  }
  .wrapper .reason__content-box-title-set dd {
    font-size: 1.6rem;
    line-height: 1.4
  }
  .wrapper .reason__content-box-description {
    border-bottom: none;
    border-right: 0.1rem solid #081927;
    padding: 0 1.4rem 0 0
  }
  .wrapper .reason__content-box-description .reason__content-box-text {
    font-size: 1.4rem;
    line-height: 1.4
  }
  .wrapper .reason__content-box-appeal .reason__content-box-text {
    text-indent: 1em
  }
  .wrapper .reason__content-box-appeal .reason__content-box-text br {
    display: block
  }
  .wrapper .reason__content-goals {
    width: 90%;
    max-width: 80.6rem;
    margin: 8rem auto 0
  }
  .wrapper .reason__content-goals-image {
    width: 14rem;
    height: 14rem;
    margin: 3rem 3rem 3rem
  }
  .wrapper .reason__content-goals-text {
    width: auto;
    font-size: 3rem;
    padding-top: 2rem;
    padding-bottom: 0
  }
  .wrapper .flow, .wrapper, .example,.event_trial {
    max-width: 90.6rem;
    margin-right: auto;
    margin-left: auto
  }
  .wrapper .flow__box:not(.flow__recommended) {
    padding: 5rem 1rem
  }
  .wrapper .flow__box.flow__today .flow__title span {
    background-size: 6rem;
    padding: 0 8.8rem
  }
  .wrapper .flow__after .flow__title {
    padding-bottom: 6rem
  }
  .wrapper .flow__section+.flow__section {
    margin-top: 6.8rem
  }
  .wrapper .flow__section.-yellow {
    max-width: 71.2rem;
    margin-right: auto;
    margin-left: auto
  }
  .wrapper .flow__label {
    padding: .8rem .4rem 0;
    -webkit-transform: translate(0, -1.4rem);
    transform: translate(0, -1.4rem)
  }
  .wrapper .flow__label span {
    padding: .6rem 2.4rem
  }
  .wrapper .flow__title {
    font-size: 3.4rem;
    padding-bottom: 3.4rem
  }
  .wrapper .flow__subtitle {
    font-size: 2rem
  }
  .wrapper .flow__description {
    font-size: 2.4rem
  }
  .wrapper .flow__notice {
    font-size: 1.4rem;
    line-height: 1.4
  }
  .wrapper .flow__today {
    border-width: .6rem
  }
  .wrapper .flow__today .flow__title span {
    background-size: 8rem
  }
  .wrapper .flow__recommended {
    padding-top: 6rem
  }
  .wrapper .flow__recommended .flow__title {
    font-size: 2.4rem
  }
  .wrapper .flow__program {
    margin-top: 4rem;
    padding-top: 6rem;
    padding-bottom: 6rem
  }
  .wrapper .flow__program-content {
    font-size: 2rem;
    padding: 0 2rem 4rem
  }
  .wrapper .plan__title {
    font-size: 3.4rem
  }
  .wrapper .detail {
    padding-top: 12.8rem
  }
  .wrapper .detail__box {
    width: 20rem
  }
  .wrapper .detail__box+.detail__box {
    margin-left: 4rem
  }
  .wrapper .example .event_trila{
    padding-bottom: 32rem
  }
  .wrapper .example__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
  }
  .wrapper .example__box+.example__box {
    margin-top: 6.8rem
  }
  .wrapper .example__image {
    width: 38rem
  }
  .wrapper .example__text {
    width: calc(100% - 38rem);
    margin: 0 0 0 2rem
  }
  .wrapper .example__title {
    font-size: 1.8rem
  }
  .wrapper .example__list {
    font-size: 1.6rem
  }
  .wrapper .example__rental {
    padding-top: 0
  }
		  .event_trial br {
    display: none
  }
}

@media screen and (min-width: 600px) {
  .service-price-section+.service-price-section {
    margin-top: 10rem
  }
  .reason, .flow {
    max-width: 54.6rem
  }
  .reason__content {
    margin-top: 5rem
  }
  .reason__content-box+.reason__content-box {
    margin-top: 4rem
  }
  .reason__content-box-image {
    width: 12.8rem;
    height: 12.8rem
  }
  .flow__title {
    font-size: 2.6rem;
    padding-bottom: 2.6rem
  }
  .flow__after .flow__title {
    padding-bottom: 4.8rem
  }
  .flow__subtitle {
    font-size: 1.8rem
  }
  .flow__arrow {
    padding: 6rem 0
  }
  .flow__arrow img {
    width: 6rem;
    height: 6rem
  }
  .plan {
    padding-top: 6.8rem
  }
  .plan__title {
    font-size: 2.6rem;
    padding-bottom: 4rem
  }
  .plan__lead {
    font-size: 2rem
  }
  .plan__list {
    width: 48.4rem;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 2.4rem
  }
  .plan__list a:nth-of-type(even) {
    margin-left: 2.4rem
  }
  .detail {
    padding-top: 10.8rem
  }
  .detail__content {
    padding-top: 4rem
  }
  .detail__box-group {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }
  .detail__box-group+.detail__box-group {
    margin-top: 6.8rem
  }
  .detail__box {
    width: 18rem
  }
  .detail__box+.detail__box {
    margin-top: 0;
    margin-left: 2rem
  }
}

@media screen and (min-width: 1024px) {
  .wrapper .service-price-section+.service-price-section {
    margin-top: 20rem
  }
  .wrapper .both-circle {
    padding: 0 2.4rem
  }
  .wrapper .both-circle::before, .wrapper .both-circle::after {
    width: 1rem;
    height: 1rem
  }
  .wrapper .reason {
    background-position: center 5rem;
    background-size: 80.2rem
  }
  .wrapper .reason__title {
    font-size: 5.6rem;
    padding-top: 10rem
  }
  .wrapper .reason__data {
    padding-top: 10rem
  }
  .wrapper .reason__catchcopy {
    padding-top: 14rem
  }
  .wrapper .reason__catchcopy p+p {
    margin-top: 1.7rem
  }
  .wrapper .reason__catchcopy .-red b {
    font-size: 4.8rem;
    padding: 1rem 4.8rem .8rem
  }
  .wrapper .reason__catchcopy .-yellow b {
    font-size: 3.8rem;
    padding: 1.2rem 3.8rem .8rem
  }
  .wrapper .reason__hero-image {
    padding-top: 7rem
  }
  .wrapper .reason__content {
    margin-top: 7rem
  }
  .wrapper .reason__content-box {
    padding-top: 2.8rem;
    padding-bottom: 2.8rem
  }
  .wrapper .reason__content-label {
    font-size: 3.5rem;
    padding-bottom: 3.6rem
  }
  .wrapper .reason__content-box-title-set {
    padding-bottom: 1rem
  }
  .wrapper .reason__content-box-title-set dt {
    font-size: 2.4rem
  }
  .wrapper .reason__content-box-title-set dd {
    font-size: 2rem
  }
  .wrapper .reason__content-box-description {
    padding-right: 2rem
  }
  .wrapper .reason__content-box-description .reason__content-box-text {
    font-size: 1.8rem
  }
  .wrapper .reason__content-box-appeal .reason__content-box-text {
    font-size: 2.6rem
  }
  .wrapper .reason__content-goals {
    margin-top: 10rem
  }
  .wrapper .reason__content-goals-text {
    font-size: 3.6rem;
    padding-top: .8rem
  }
  .wrapper .flow {
    padding-top: 12rem
  }
  .wrapper .flow__image01, .wrapper .flow__image02 {
    display: block;
    position: absolute
  }
  .wrapper .flow__box {
    position: relative
  }
  .wrapper .flow__preparation .flow__image01 {
    width: 21.4rem;
    top: -6rem;
    right: 4rem
  }
  .wrapper .flow__box.flow__today {
    border-width: 1rem;
    padding-top: 0
  }
  .wrapper .flow__box.flow__today .flow__title span {
    background-size: 10.8rem;
    padding: 2.8rem 14rem 0;
    color: #E60000
  }
  .wrapper .flow__box.flow__today .flow__image01 {
    width: 14rem;
    top: -10.4rem;
    left: -5.6rem
  }
  .wrapper .flow__box.flow__today .flow__image02 {
    width: 31rem;
    bottom: -5.6rem;
    right: -6rem
  }
  .wrapper .flow__after .flow__image01 {
    width: 56rem;
    bottom: -19rem;
    left: 14rem
  }
  .wrapper .flow__recommended {
    padding-top: 24rem
  }
  .wrapper .flow__section+.flow__section {
    margin-top: 8.8rem
  }
  .wrapper .flow__arrow {
    padding: 7.5rem 0
  }
  .wrapper .flow__arrow img {
    width: 7.5rem;
    height: 7.5rem
  }
  .wrapper .flow__program {
    margin: 12rem auto 0;
    padding: 6rem 0;
    border-radius: 22rem
  }
  .wrapper .flow__program-title {
    font-size: 3rem;
    padding-bottom: 2rem
  }
  .wrapper .flow__program-content {
    width: 75.6rem;
    margin-right: auto;
    margin-left: auto;
    padding: 0 0 4rem
  }
  .wrapper .flow__program-detail {
    position: relative
  }
  .wrapper .flow__program-detail img {
    display: block;
    position: absolute;
    top: -1rem;
    left: 64rem;
    width: 7.8rem
  }
  .wrapper .plan, .wrapper .detail, .wrapper .example .event_trial {
    padding-top: 12rem
  }
  .wrapper .plan__title {
    font-size: 3.4rem;
    padding-bottom: 4rem
  }
  .wrapper .plan__content.-small {
    display: none
  }
  .wrapper .plan__content.-large {
    display: block
  }
  .wrapper .plan__content.-large span {
    border-bottom: 0.3rem solid #E60000
  }
  .wrapper .plan__graph, .wrapper .plan__graph-notice, .wrapper .plan__image {
    width: 100rem;
    margin-right: auto;
    margin-left: auto
  }
  .wrapper .plan__graph {
    position: relative;
    height: 61.3rem;
    margin-top: 2.4rem
  }
  .wrapper .plan__graph-data {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
  }
  .wrapper .plan__graph-content {
    display: inline-block;
    min-width: 9.6rem;
    position: absolute;
    opacity: 0
  }
  .wrapper .lazyloaded .plan__graph-content {
    opacity: 1
  }
  .wrapper .plan__info {
    display: block;
    position: absolute;
    top: -6rem;
    left: 50%;
    font-size: 1.6rem;
    z-index: 2;
    background: #fff;
    margin-top: 0;
    white-space: nowrap;
    padding: 1rem 1rem .6rem;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-transform: translateX(-50%) scale(0);
    transform: translateX(-50%) scale(0);
    opacity: 0;
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out
  }
  .wrapper .plan__info::before, .wrapper .plan__info::after {
    display: block;
    content: "";
    position: absolute;
    left: 50%;
    border-style: solid;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
  }
  .wrapper .plan__info::before {
    bottom: -1rem;
    border-width: 1rem 1rem 0 1rem;
    border-color: #E60000 transparent transparent transparent
  }
  .wrapper .plan__info::after {
    bottom: -.8rem;
    border-width: 1rem 1rem 0 1rem;
    border-color: #fff transparent transparent transparent
  }
  .wrapper .plan__circle {
    background: #E60000;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    border-radius: 100%
  }
  .wrapper .plan__graph-content[href="modal01"] {
    top: 51.5rem;
    left: 12rem;
    -webkit-transition: all 1s 1s;
    transition: all 1s 1s
  }
  .wrapper .plan__graph-content[href="modal01"] .plan__circle {
    width: 3.5rem;
    height: 3.5rem
  }
  .wrapper .plan__graph-content[href="modal02"] {
    top: 33.2rem;
    left: 19.9rem;
    -webkit-transition: all 1s .4s;
    transition: all 1s .4s
  }
  .wrapper .plan__graph-content[href="modal02"] .plan__circle {
    width: 17rem;
    height: 17rem
  }
  .wrapper .plan__graph-content[href="modal03"] {
    top: 22.4rem;
    left: 46.2rem;
    -webkit-transition: all 1s .8s;
    transition: all 1s .8s
  }
  .wrapper .plan__graph-content[href="modal03"] .plan__circle {
    width: 2.9rem;
    height: 2.9rem
  }
  .wrapper .plan__graph-content[href="modal04"] {
    top: 1.5rem;
    left: 84.1rem;
    -webkit-transition: all 1s .2s;
    transition: all 1s .2s
  }
  .wrapper .plan__graph-content[href="modal04"] .plan__circle {
    width: 2.4rem;
    height: 2.4rem
  }
  .wrapper .plan__graph-notice {
    font-size: 2rem;
    text-align: right;
    padding-top: 4.8rem
  }
  .wrapper .plan__image {
    display: block;
    padding-top: 4.8rem
  }
  .wrapper .plan__image img {
    width: 24.6rem
  }
  .wrapper .detail__title {
    padding-bottom: 8.4rem
  }
  .wrapper .detail__box-group {
    width: 94rem;
    margin-right: auto;
    margin-left: auto
  }
  .wrapper .detail__box-group+.detail__box-group {
    margin-top: 10.8rem
  }
  .wrapper .detail__box {
    width: 24rem
  }
  .wrapper .detail__box+.detail__box {
    margin-left: auto
  }
  .wrapper .detail__box-image img {
    width: 15.4rem
  }
  .wrapper .detail__box-title {
    font-size: 2.6rem;
    padding-top: 3rem
  }
  .wrapper .detail__box-list {
    display: inline-block;
    width: auto;
    max-width: 100%
  }
  .wrapper .detail__box-list li {
    font-size: 2rem
  }
  .wrapper .example .event_trial{
    max-width: 98.6rem
  }
  .wrapper .example__content {
    padding-top: 6rem
  }
  .wrapper .example__box+.example__box {
    margin-top: 12.8rem
  }
  .wrapper .example__image {
    width: 51rem
  }
  .wrapper .example__text {
    width: 44.6rem;
    margin: 0 0 0 auto;
    padding: 2.8rem
  }
  .wrapper .example__title {
    font-size: 2.4rem
  }
  .wrapper .example__list {
    font-size: 2rem
  }
  .wrapper .example__rental {
    padding-top: 0
  }
  .wrapper .example__rental {
    font-size: 1.6rem;
    padding-top: 1rem
  }
  .wrapper .example__rental-logo {
    width: 21.8rem
  }
}

@media screen and (min-width: 1024px) and (hover) {
  a.plan__graph-content:hover {
    opacity: 1
  }
  .plan__circle:hover+.plan__info {
    -webkit-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
    opacity: 1
  }
}

@media screen and (min-width: 1080px) {
  .wrapper .plan__graph, .wrapper .plan__graph-notice, .wrapper .plan__image {
    width: 104rem
  }
  .wrapper .plan__graph {
    height: 63.8rem
  }
  .wrapper .plan__graph-content[href="modal01"] {
    top: 53.6rem;
    left: 12.8rem
  }
  .wrapper .plan__graph-content[href="modal01"] .plan__circle {
    width: 3.6rem;
    height: 3.6rem
  }
  .wrapper .plan__graph-content[href="modal02"] {
    top: 34.6rem;
    left: 20.7rem
  }
  .wrapper .plan__graph-content[href="modal02"] .plan__circle {
    width: 17.7rem;
    height: 17.7rem
  }
  .wrapper .plan__graph-content[href="modal03"] {
    top: 23.4rem;
    left: 48.2rem
  }
  .wrapper .plan__graph-content[href="modal03"] .plan__circle {
    width: 2.9rem;
    height: 2.9rem
  }
  .wrapper .plan__graph-content[href="modal04"] {
    top: 1.6rem;
    left: 87.7rem
  }
}

@media screen and (min-width: 1280px) {
  .wrapper .service-price-section+.service-price-section {
    margin-top: 24rem
  }
  .wrapper .reason__content-box-appeal .reason__content-box-text {
    font-size: 2.8rem
  }
  .wrapper .flow__program-detail img {
    left: 68rem
  }
}

.online-section h4 {
    font-size: 1.8rem;
    font-weight: bold;
    border-left: 0.5rem solid #E60000;
    padding: .4rem 1rem;
	margin:3rem auto;
    background: #efece8
}

@media screen and (min-width: 414px) {

   .online-section h4 {
        font-size: 1.8rem
    }
}
@media screen and (min-width: 768px) {
    .online-section h4 {
        font-size: 2rem
    }
	}
@media screen and (min-width: 1024px) {
    .online-section h4 {
        font-size: 2.4rem
    }
	    }
@media screen and (min-width: 1280px) {
    .online-section h4 {
        font-size: 2.8rem
    }
}

/*# sourceMappingURL=maps/service-price.css.map */