@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-webkit-keyframes cluody {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }

    50% {
        -webkit-transform: translate(0, -6px);
        transform: translate(0, -6px)
    }

    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@keyframes cluody {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }

    50% {
        -webkit-transform: translate(0, -6px);
        transform: translate(0, -6px)
    }

    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@-webkit-keyframes blank {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@keyframes blank {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@-webkit-keyframes pulse {
    100% {
        opacity: 0;
        -webkit-transform: scale(2);
        transform: scale(2);
        background: none
    }
}

@keyframes pulse {
    100% {
        opacity: 0;
        -webkit-transform: scale(2);
        transform: scale(2);
        background: none
    }
}

@-webkit-keyframes fukidashi-left-turn {
    0% {
        opacity: 0;
        -webkit-transform: rotate(0) scale(0.6);
        transform: rotate(0) scale(0.6)
    }

    50% {
        opacity: 1;
        -webkit-transform: rotate(10deg) scale(1);
        transform: rotate(10deg) scale(1)
    }

    100% {
        opacity: 0;
        -webkit-transform: rotate(0) scale(0.6);
        transform: rotate(0) scale(0.6)
    }
}

@keyframes fukidashi-left-turn {
    0% {
        opacity: 0;
        -webkit-transform: rotate(0) scale(0.6);
        transform: rotate(0) scale(0.6)
    }

    50% {
        opacity: 1;
        -webkit-transform: rotate(10deg) scale(1);
        transform: rotate(10deg) scale(1)
    }

    100% {
        opacity: 0;
        -webkit-transform: rotate(0) scale(0.6);
        transform: rotate(0) scale(0.6)
    }
}

@-webkit-keyframes people-left-move {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    50% {
        -webkit-transform: translateX(-1rem);
        transform: translateX(-1rem)
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes people-left-move {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    50% {
        -webkit-transform: translateX(-1rem);
        transform: translateX(-1rem)
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@-webkit-keyframes fukidashi-right-turn {
    0% {
        opacity: 0;
        -webkit-transform: rotate(0) scale(0.6);
        transform: rotate(0) scale(0.6)
    }

    50% {
        opacity: 1;
        -webkit-transform: rotate(-10deg) scale(1);
        transform: rotate(-10deg) scale(1)
    }

    100% {
        opacity: 0;
        -webkit-transform: rotate(0) scale(0.6);
        transform: rotate(0) scale(0.6)
    }
}

@keyframes fukidashi-right-turn {
    0% {
        opacity: 0;
        -webkit-transform: rotate(0) scale(0.6);
        transform: rotate(0) scale(0.6)
    }

    50% {
        opacity: 1;
        -webkit-transform: rotate(-10deg) scale(1);
        transform: rotate(-10deg) scale(1)
    }

    100% {
        opacity: 0;
        -webkit-transform: rotate(0) scale(0.6);
        transform: rotate(0) scale(0.6)
    }
}

@-webkit-keyframes people-right-move {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    50% {
        -webkit-transform: translateX(1rem);
        transform: translateX(1rem)
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes people-right-move {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    50% {
        -webkit-transform: translateX(1rem);
        transform: translateX(1rem)
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

.trial_top_bnr{
max-width: 960px;
margin: 0 auto;
	text-align: center;
}

.trial_top_bnr img{
max-width: 960px;
width:100%;
height:auto;
	margin-bottom:1rem;
}
	.trial_spbr{
	    display: none;

}

.event_trial {
    max-width: 102rem;
    margin: 0 auto 2.8rem;
	padding: 2.8rem 0
}

.event_trial > * + *:not(.parts-contact) {
    margin-top: 2.4rem
}
.event_trial article{
    margin-bottom: 5rem;
}
.event_trial article p{
	padding:1rem 4rem;
    margin-bottom: 2.8rem;
}

.event_trial h3 {
  font-size: 2rem;
  font-weight: bold;
	  padding-top: .8rem;
  padding-bottom: .8rem;
	margin-bottom: 3rem;
  line-height: 1.4;
    border-top: 0.3rem solid #E60000;
  border-bottom: 0.3rem solid #E60000
}


.event_trial h4 {
    font-size: 1.8rem;
    font-weight: bold;
    border-left: 0.5rem solid #E60000;
    padding: .4rem 1rem;
    background: #efece8
}

.event_trial h5 {
    position: relative;
    font-size: 1.6rem;
    font-weight: bold;
    padding-bottom: .4rem;
    border-bottom: 0.3rem solid #081927
}

.event_trial h5::before {
    display: block;
    content: "";
    position: absolute;
    bottom: -.3rem;
    left: 0;
    width: 8rem;
    height: .3rem;
    background: #E60000
}

.event_trial h6 {
    font-size: 1.4rem;
    font-weight: bold;
    padding-bottom: .4rem;
    border-bottom: 0.2rem dotted #081927
}



.event_trial .parts-contact {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.event_trial .parts-contact img {
    -webkit-box-shadow: none;
    box-shadow: none
}

.event_trial blockquote {
    position: relative;
    padding: 3rem 2.8rem;
    background: #efece8;
    border-radius: .3rem
}

.event_trial blockquote::before,
.event_trial blockquote::after {
    display: block;
    position: absolute;
    width: 1.8rem;
    line-height: 1
}

.event_trial blockquote::before {
    content: url(../img/common/quote-start.svg);
    top: 1rem;
    left: 1rem
}

.event_trial blockquote::after {
    content: url(../img/common/quote-end.svg);
    bottom: 1rem;
    right: 1rem
}

.event_trial table{
	margin:2rem auto
}
.event_trial table caption{
	padding-top:2em;
	font-weight:bold
}
.event_trial table th,.event_trial table td{
	text-align: left;
	border:1px solid #999;
	padding:1rem;
	vertical-align:top
}
.event_trial table th{
	font-weight: bold;
	width:30%;
	background:#faf8f5
	
}

.event_trial ul{
	  list-style: none;
	margin:16px 0;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	justify-content: center;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
}
.event_trial ul li{
	margin:5px;
}

.event_trial ul li img{
	vertical-align:middle
}
.event_trial a {
    color: #26b7ff;
    text-decoration: underline
}

.event_trial .parts-contact a {
    color: #000;
    text-decoration: none
}

.event_trial .wp-block-image figcaption {
    font-size: .8em;
    color: #999;
    margin-top: .4em
}

@media screen and (min-width: 414px) {
    .event_trial {
        padding: 4rem 0
    }
	


    .event_trial h3 {
        font-size: 2rem
    }

    .event_trial h4 {
        font-size: 1.8rem
    }

    .event_trial h5 {
        font-size: 1.6rem;
        font-weight: bold
    }

    .event_trial h6 {
        font-size: 1.4rem
    }
}

@media screen and (min-width: 768px) {
    .article {
        max-width: 74rem
    }

    .event_trial {
        font-size: 1.6rem;
        padding: 6rem 0
    }

    .event_trial > * + *:not(.parts-contact) {
        margin-top: 2rem
    }
	

    .event_trial h3 + *,
    .event_trial h4 + *,
    .event_trial h5 + *,
    .event_trial h6 + * {
        margin-top: 4rem
    }

    .event_trial h3 {
        font-size: 2.4rem
    }

    .event_trial h4 {
        font-size: 2rem
    }

    .event_trial h5 {
        font-size: 1.8rem
    }

    .event_trial h6 {
        font-size: 1.6rem
    }

    .event_trial ol li::before,
    .event_trial ul li::before {
        width: 3rem
    }

    .event_trial ol li > span,
    .event_trial ul li > span {
        width: calc(100% - 3rem)
    }

    .event_trial ol li + li,
    .event_trial ul li + li {
        margin-top: 1rem
    }
}

@media screen and (min-width: 1024px) {
    .article {
        max-width: 90rem
    }

    .event_trial {
        font-size: 1.8rem;
        padding: 10rem 0
    }

    .event_trial > * + *:not(.parts-contact) {
        margin-top: 2.5rem
    }

    .event_trial h3 {
        font-size: 2.8rem
    }

    .event_trial h4 {
        font-size: 2.4rem
    }

    .event_trial h5 {
        font-size: 2rem
    }

    .event_trial h6 {
        font-size: 1.6rem
    }

    .event_trial ul li::before {
        font-size: 3rem
    }

    .event_trial ul li > span {
        padding-top: 0
    }

    .event_trial blockquote {
        padding: 4rem 4.8rem
    }

    .event_trial blockquote::before,
    .event_trial blockquote::after {
        width: 2.2rem
    }

    .event_trial blockquote::before {
        top: 1.4rem;
        left: 1.4rem
    }

    .event_trial blockquote::after {
        bottom: 1.4rem;
        right: 1.4rem
    }

    .event_trial .has-text-align-center {
        text-align: center
    }

    .event_trial .has-text-align-right {
        text-align: right
    }

    .event_trial .has-text-align-left {
        text-align: left
    }

    .event_trial .wp-block-image {
        overflow: hidden
    }

    .event_trial .wp-block-image::after {
        clear: both
    }

    .event_trial .wp-block-image .aligncenter,
    .event_trial .wp-block-image .alignleft,
    .event_trial .wp-block-image .alignright {
        display: table
    }

    .event_trial .wp-block-image .alignleft {
        float: left;
        margin-right: 1em
    }

    .event_trial .wp-block-image .aligncenter {
        margin-right: auto;
        margin-left: auto
    }

    .event_trial .wp-block-image .aligncenter figcaption {
        text-align: center
    }

    .event_trial .wp-block-image .alignright {
        float: right;
        margin-left: 1em
    }

    .event_trial .wp-block-image .alignright figcaption {
        text-align: right
    }
}

@media screen and (min-width: 1280px) {
    .article {
        max-width: 98rem
    }

    .event_trial {
        font-size: 2rem;
        line-height: 4rem;
        padding: 14.8rem 0
    }

    .event_trial > * + *:not(.parts-contact) {
        margin-top: 3rem
    }

    .event_trial h3 {
        font-size: 3.2rem
    }

    .event_trial h4 {
        font-size: 2.8rem
    }

    .event_trial h5 {
        font-size: 2.4rem
    }

    .event_trial h6 {
        font-size: 2rem
    }

    .event_trial ol li::before,
    .event_trial ul li::before {
        width: 3.8rem
    }

    .event_trial ol li > span,
    .event_trial ul li > span {
        width: calc(100% - 3.8rem)
    }

    .event_trial ul li::before {
        font-size: 3.4rem
    }
}

.contact-form-box a.link{
padding-left:20px;
margin-top:7px;
font-size:13px;
}
.contact-form-box a.link i{
padding-right:5px;
font-size:10px;
}
.form-required{
	color:#f00;
}
.submit-center{
	text-align:center;
}

@media screen and (max-width: 768px) {
	.trial_spbr{
	    display: block;

}

.event_trial article p{
	padding:1rem;

}
	.event_trial table th,.event_trial table td{
	    display: block;
    width: 100%;

}
}

/* フォーム */
.form-width { max-width: 100%;
}
.wpcf7 p { padding:20px 0;
margin:0; 
font-size:1.8rem;
letter-spacing:3px;}
.wpcf7 input[type="text"], .wpcf7 textarea,.wpcf7 input[type="email"],.wpcf7 input[type="tel"] {
border-radius:none;
border:1px solid #fff;
margin-top:5px;
font-size:1.8rem;
width: 100%;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;}
.wpcf7 textarea {height:300px; }

.wpcf7 input[type="number"] {
width: 50px;
}

.wpcf7 input[type="submit"],.wpcf7 input[type="confirm"],.wpcf7 input[type="back"]
{width:200px;
padding: 10px;
border-radius:none;
background-color:#eee;
color:#000;
font-size:1.6rem;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
cursor: pointer;
font-size:1.8rem;
letter-spacing:3px;}
.wpcf7-submit{
margin:30px auto;
}
.wpcf7 input[type="submit"],.wpcf7 input[type="confirm"],.wpcf7 input[type="back"]:hover {opacity:0.6 }
.wpcf7-select{width:100%;}


p.caution {
	color: #666;
padding-left:1em;
text-indent:-1em;
}

/*# sourceMappingURL=maps/editor.css.map */